#upload-listing-errors {
    color: #805E14;
    background-color: #FFF0CF;
    border: 1px solid #E5D5A2;
    
    margin: 0.5em;
    margin-left: 0;
    padding: 0.5em;
    
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#upload-listing-errors-content {
    display: none;
}

#upload-listing-errors em,
#upload-listing-errors strong {
    font-weight: bold;
    font-style: normal;
}

#upload-listing-errors ul,
#upload-listing-errors ul li {
    list-style-type: circle;
    margin: 0.5em;
    padding-left: 1em;
}