body.bgg {
    background: #F2F2F2;
    font-size: 14px;
}

.container {
    padding: 10px;
    position: relative;
}

.container .b {
    font-weight: bold;
}

.container p,
.container div {
    font-size: 14px;
}

.hm-logo {
    position: absolute;
}

.container h2 {
    font-size: 24px;
    padding: 0 0 0 70px;
    margin: 0 0 1em 0;
}

.container .boxshadow {
    background: #FFFFFF;
    
    -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
}

.container .features p {
    margin: 0;
    padding: 10px;
}

.container .represntatives {
    font-size: 20px;
}

.container .coming-soon {
    padding: 10px;
}

.container .coming-soon .fan-page {
    padding: 0 0 0 60px;
}

.container .coming-soon .fan-page h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container .coming-soon .fan-page p {
    margin: 0.5em 0 0;
}

.pbcontainer {
    padding: 0 10px;
}