.country-name {
    font-weight: bold;
}

venta_alquiler p,
venta_alquiler div {
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.why-currency {
    position: relative;
    font-weight: normal;
}

.why-currency-text {
    margin: 0;
    border-bottom: 1px dotted;
    cursor: help;
}

.explanation-currency em {
    font-weight: bold;
    font-style: normal;
}

table#currencies-by-country {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table#currencies-by-country th {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.22em;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#3681C3;
    padding: 15px;
    border-right: 1px solid #3C8FD8;
}

table#currencies-by-country td {
    border-right: 1px solid #D4D2D2;
    font-size: 13px;
    padding: 10px;
    line-height: 1.22em;
}

table#currencies-by-country tr.even td {
    background-color: #F4F4F4;
}

table#currencies-by-country th:last-child,
table#currencies-by-country td:last-child {
    border-right: none;
}

.currency-message {
    font-size: 13px;
}