.grid_mode { border: 1px solid #000;
            border-collapse: collapse;
            }
.grid_mode tbody td{border: 1px solid #000;}
.grid_mode td{padding: .4em}
.grid_mode caption { border:1px solid #5C443A;
         font-weight:bold;
         padding:6px 4px 8px 0px;
         text-align:center;
}

