/*
    Document   : layout
    Description:
    common styles for the site
	Improved By: Xolo, S.A. | 2010
*/
body {margin: 0;padding: 0;color: #333333;font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px; overflow:hidden}
#wrap {width: 760px;margin: auto; overflow:hidden}
#desc, #enlistar, #search_prop, #prop, #fav, #help, #tos {margin-bottom: 10px;}
#logo {background-image:url(../img/hb_logo.gif);background-repeat:no-repeat;background-color:#FFFFFF;border:0 none;height:60px;width:306px;padding-right:15px;}

.logo_right{float:right;padding-top:14px;width:420px;text-align:right;}
.logo_right ul{list-style-type:none; font-family: "lucida grande",tahoma,verdana,arial,sans-serif;font-size: 11px; text-align:right; padding-right: 10px;}
.logo_right ul li{ display:inline-block; vertical-align:middle; margin-left:16px; float:right; display:block}
.logo_right ul li a{ text-decoration:none; color: #3b5998}
.logo_right ul li img{ padding-right:2px;}

.gralinfo {height:25px;padding-top:8px;margin-top:4px;margin-left:auto;margin-right:auto;width:760px;text-align:left;color:#3b5998;border-top:1px solid #E5E5E5;}
.gralinfo a {color:#666;}
.gralinfo a:hover {color:#3b5998;}
.box_title {padding: 3px;}
.box_title2 {padding: 3px;}
.box_title a, .box_title2 a {color:#333333;font-size:11px;text-decoration:none;}
.box_title a:hover, .box_title2 a:hover {text-decoration:underline;}
.box_title3 {background:#ECEFF5 url(../img/favoritos.jpg) repeat scroll 0 0;padding: 3px;}
#main {display: block;position: relative;min-height: 700px; overflow:hidden}
#main table{font-size: 11px;}
#tab_menu {width: 740px;margin: 10px 10px 10px 5px;height: 25px;}
#fotostream {padding-top:4px;}
#fotostream td {padding: 5px;}
.linetitle table{width:100%}
.linetitle span, .linetitle a {font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size:14px;font-weight:bold;color:#333;margin:0px;	}
.linetitle a:hover {color:#3b5998;}
.line {width: 100%;height: 1px;display: block;background: #ccc;}
#name_top {width:72px;height:17px;margin-left:-1px;background-repeat:no-repeat ;background-image:url(/img/btn_go.png?v=3);color: #FFFFFF;line-height: 16px;margin-top: 2px;}
#button_r  {width:59px;height: 60px;background-color: #F9F9F9;float: right;font-size: 10px;border: 1px solid #EAEAEA;text-decoration: none;}
.friendApp div {padding-left: 4px;float:left;width:129px;font-size: 10px;}
#destacados_roommate{padding-top: 5px;}
#destacados_roommate div{width: 90px;}
.friendApp2 div {padding: 5px 5px;float:left;width:80px;font-size: 11px;}
.friendApp td {padding-bottom:10px;padding-right:6px;}
.friendApp img {padding: 5px 5px;display: block;border: 1px solid #eaeaea;width:50px;height:50px;}
.friendApp a {color: #3b5998;text-decoration: none;}
.friendApp span {display: block;}
.friendApp .column_representative{width:220px; float:left}
.friendApp2 td {padding-bottom:10px;padding-right:6px;}
.friendApp2 img {padding: 5px 5px;display: block;border: 1px solid #eaeaea;width:50px;height:50px;}
.friendApp2 a {color: #3b5998;text-decoration: none;}
.friendApp2 span {display: block;}
.friendApp2 .column_representative{width:220px; float:left}
#data {margin-top: 2px;}
ul.nav {margin: 0;list-style-type: none;padding: 5px 0px 4px 0px;border-bottom: 1px solid #d8dfea;}
.nav li {display: inline;margin: 0;padding: 0px;}
.nav a {text-decoration: none;margin-right: 2px;padding: 5px;color: #333;background: #d8dfea;}
.nav a:hover {background: #3b5998;color: white;}
.fb_button {padding: 4px 4px;display: block;background: #3b5998;color: white;text-align: center;}
.linetitle a, a.fb_button {text-decoration: none;}
a img {border: none;}
.photo_wrapper {position: relative;}
.section {border-top-width: 1px;border-top-style: solid;border-top-color: #b3b3b3;margin-top: 0pt;margin-right: auto;margin-bottom: 0pt;margin-left: auto;overflow-x: hidden;overflow-y: hidden;padding: 5px 5px;}
.column {float: left;padding-right: 5px;padding-top: 5px;}
.fleft {float: left;}
.fright {float: right;}
#direccion, #locacion {padding-bottom:5px;}
.clear {clear:both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0; padding:0; margin:0}
.hide {display: none;}
.frame_wide .canvas_iframe_util {height:1000px!important;}
.fbbluebox {color:#333333;font-size:13px;font-weight:bold;}
#tos a {color:#333333;text-decoration:none;}
#tos a:hover {text-decoration:underline;}
#main h1 {font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size:14px;width:100%;font-weight:bold;border-bottom:1px solid #cccccc;padding:10px 0px 2px 0px;color:#333;margin:0px;}
#main h2 {font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size:12px;width:90%;font-weight:bold;padding:10px 0px 2px 0px;color:#666;margin:0px;display: block;}
#main h3 {font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size:16px;width:100%;font-weight:bold;padding:10px 0px 2px 0px;margin-bottom:10px;display: block;color:#666;}
#main h4 {font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size:12px;width:100%;font-weight:bold;margin:0px;padding:0px;display: block;color:#333;}
select{font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;padding-top:2px;}
input{	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;padding:2px;}
ul.normal_list{display:block;margin:auto;}
ul.normal_list li{margin:auto;list-style-type:disc;padding-left:14px;}
#add_top{ text-align:right; padding-right:6px;}
.preloader{ text-align:center;}
#main a.listing_button{background: url(../img/listing_button.gif) no-repeat 50% 50%;text-align:center;width:300px;padding-top:20px;padding-bottom:20px;font-size:18px;font-weight:bold;color:#264d01;text-decoration:none;cursor:pointer;margin:auto;display:block}
#main a.listing_button:hover{color:#408201;}
input, select { background: #fff url("../img/validationInputBg.png") repeat-x top left; border: 1px solid #b3b3b3;}
#hb span { float: left; width: 50px; padding-right: 10px;}

#buttons{height:20px; text-align:center; margin-top: 0px;}
.button{margin-top: 0px;padding: 3px 6px;color: #fff;font-size: 11px;background:url("../img/sprite.gif") 0 -96px;border-left: 1px solid #3b6e22;border-right: 1px solid #3b6e22;border-top: 1px solid #3b6e22;border-bottom: 1px solid #2c5115;font-weight: bold;text-align:center;text-decoration:none;display:inline-block;cursor: pointer;}
.button:hover{text-decoration: none;}
a.button:visited{ color:#FFF}
/*a.button {padding: 3px 10px; color: #fff;font-size: 10px;background:url("../img/sprite.gif") 0 -48px;border: 1px solid #3b5998;font-weight: bold;    text-align:center;text-decoration:none;display:inline-block;}*/

input.labelHighlight { color: #999; }

.eligirbox{
	background-color: #F2F2F2;
}

.blockbtn {
	display:block;
}

.blockbtn .btn{
	float:left;
	margin: 0 40px;
}

.rg {margin-left: 190px;}
.block_right { margin-left: 380px;}
#sb1 {float:left;}
#sb2 {margin-left: 75px; }
a:visited{color:#3b5998}
.block{display: block!important;position: relative;}
.left{float: left;}
.right{float: right;}
#like{float: left;}

#main abbr {
    border-bottom: 1px dotted;
    cursor: help;
} 

.pestana{
	float: left;
	background-image: url(/img/pestana.png);
	background-repeat:no-repeat;
	color: #cccccc;
	font-weight:bold;
	display: block;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 30px;
    width: 160px;
    margin: 3px 0 0 -40px;
}

.pestanaactivo{
	background-image: url(/img/pestanaactiva.png);
	color: #000000;
    z-index: 3;
    position: relative;
}

.pestanafirst{
    margin: 3px 0 0 0;
}

.detail-favorito {
	padding: 0 0 0 20px;
	margin: 5px 0 0 0;
	display: block;
	float:left;
}

.isfavorito {
	background: url(/img/estrella_llena.png) bottom left no-repeat;
}

.isnotfavorito {
	background: url(/img/estrella_vacia.png) bottom left no-repeat;
}