#tab_menu .menu{
left:163px;
list-style-type:none;
position:relative;
width:450px;
}

#tab_menu .menu li{
display:inline;
margin-left:12px;
}


#mapsearch {
      width : 496px;
      margin:  0px;
      padding: 0px;
}


/* Idle and Active Maps are the same size */
#mapsearch .gsmsc-idleMapDiv,#mapsearch .gsmsc-mapDiv {

              
      height : 302px;
}

div.hotspot {
    	background:#ECEEF4 none repeat scroll 0 0;
		border-bottom:1px solid;
		border-top:1px solid;
		color:#676767;
		cursor:pointer;
		display:inline;
		font-size:100%;
		font-weight:normal;
		line-height:2.8em;
		text-decoration:none;
}

div.hotspot-sep {
      display : inline;
      font-size : 100%;
      font-weight : normal;
      line-height : 1.8em;
}

h3.hotspot-header {
      font-size : 100%;
      margin-top : .5em;
      margin-bottom : .25em;
}


#hotspots {
    padding-left : 8px;
    margin-bottom : 8px;
  }

  #hotspots ul.hotspots {
    margin : 0px;
    margin-bottom : 4px;
    padding : 0px;
  }

  #hotspots ul.hotspots li {
    text-indent : 0px;
    text-transform:lowercase;
    display : inline;
    padding : 0px;
    margin-right : 8px;
    color : rgb(153, 170, 221);
    cursor : pointer;
  }

  #hotspots ul.hotspots li:hover {
    text-decoration : underline;
    color : rgb(255, 153, 51);
  }

#foto{
height:200px;
}

.ui-accordion-content{
height:auto!important;
} 
/*Estilo al formulario de enlistar*/
.etiqueta{
text-align:right;
width:150px;
}


.stilo1{
width:242px;
}

/*Agregando Estilo a los resultados*/
.gsmsc-resultsBox {
border:1px solid #3B5998;
}


.gsmsc-resultsBox div.gsmsc-selected, .gmls-selected {
background-color:#3B5998;
}

.gsmsc-resultsBox .gsmsc-selected .gs-title {
color:#FFFFFF!important;
text-decoration:none;
font-weight:bold;
}

.gsmsc-resultsBox .gsmsc-result-list-item .gs-title {
color:#6D84B4;

text-decoration:none;
}

.gsmsc-resultsBox .gsmsc-result-list-item .gs-street {
font-size:14px;
font-weight:bold;
}
.gsmsc-result-list-item:hover,.gs-title:hover,.gs-street:hover{
background-color:#ECEEF4;

}


.gsmsc-resultsBox .gsmsc-result-list-item {
border-bottom:1px solid #7777CC;

}

.gsmsc-result-list-more-results{
display:none!important;
visible:hidden;
}
.gmls-more-results{
display:none!important;
visible:hidden;

}
.gsmsc-result-list-clear-results,.gsmsc-result-list-clear-resultsHovered{
background:transparent url(../img/sprite.gif) repeat scroll 0 -48px!important;
border:1px solid #3B5998!important;
color:#FFFFFF !important;
cursor:pointer;
font-size:10px;
font-weight:bold;
margin-top:10px;
text-align:center;
text-decoration:none !important;
}

.gs-directions,.gs-directions-to-from{
visible:hidden!important;
display:none!important;
}

/*Redefiniendo estilo del Acordion*/
.ui-accordion .ui-accordion-header a {
padding:3px 0.5em 3px 2.2em!important;
}

.ui-widget {
font-family:lucida grande,tahoma,verdana,arial,sans-serif!important;
font-size:13px!important;
}

/*Redefiniendo algunos estilos de facebook*/


/* MESSAGES
*******************************************************************************/
.error,a.error span,.required,.validation-advice{
 color:#D40707 !important; font-style:bold !important;
  }
.notice				 { color:#ea7601}
.messages ul			{ border:0 !important; }
.messages li {
	min-height:23px !important;
	margin-bottom:11px !important;
	padding:11px 8px 0 23px !important;
	font-size:.95em !important;
	font-weight:bold !important;
	list-style:none;
	}
.messages ul li {
	margin:0 0 3px 0 !important;
	border:0 !important;
	padding:0 !important;
	}
.error-msg {
	border:1px solid #f16048 !important;
	color:#df280a !important;
	background:#faebe7 url(../img/error_msg_icon.gif) no-repeat 10px 10px !important;
	}
.success-msg {
    background:transparent url(../img/success_msg_icon.gif) no-repeat scroll 0px 10px !important;
    border:0px solid #F7BFB2 !important;
    color:#333333 !important;
	}
.notice-msg {
	border:1px solid #ffd967 !important;
	background:#fffbf0 url(../img/note_msg_icon.gif) no-repeat 10px 10px !important;
	color:#3d6611 !important;
	}
.warning-msg {
	border:1px solid #666e73 !important;
	background:#e6e6e6 url(../img/warning_msg_icon.gif) no-repeat 10px 10px !important;
	color:#000000 !important;
	}

.texto_perfil{
display:inline;
position:relative;
top:-8px;
}

.editar_property {
color:#3B5998;
display:inline;
height:27px;
position:relative;
text-decoration:none;
}
.descrip_propiedad{
border:1px solid #CCCCCC;
height:130px;
width:165px;

}

.bg_editar{
background-color:transparent !important;
background-image:url(../img/textarea.gif) !important;
background-position:left top !important;
background-repeat:no-repeat;
width:160px !important;
position:absolute;
z-index:1;
}

.sbg_editar{
background:none!important;
}

.edit_descrip{
cursor:pointer;
float:right;
height:23px;
position:relative;
right:8px;
top:6px;
width:20px;
z-index:2;
}

#type_property{
width:114px !important;
}

#ext-gen12{
    width:502px!important;
}

#input_up_wrap_list{
   margin-bottom:5px;
}