/*
    Document   : Listado de propiedades de un usuario determinado
    Created on : 20-Julio-2010, 5:30:25 PM
    Author     : Xolo, S.A. - Anallancy Lanuza
    Modified   : Sol Investment - Irving Medina

*/
#perfil{
    display: block;
    position: relative;
}
#listado_propiedades{width:530px; font-size:12px; padding-left:10px; margin:auto;  margin-top:0px;}
#fb_right-column h1{font-size:16px; color:#333333; font-weight:bold; margin-top:0px; margin-bottom:6px; padding-top:0px; border:none}
#listado_propiedades #listado_items{ height:auto; color:#000; padding-top:4px;}
#listado_propiedades #listado_header{ border-bottom:1px solid #CCC; padding:4px; text-align:center}
#listado_propiedades #listado_footer{ border-top:1px solid #CCC; padding:4px; text-align:center}
#listado_propiedades  a{ text-decoration:none; }
#listado_propiedades  div.detalle_propiedad {padding-left:6px; float: left; line-height: 1.3em; width:350px; text-align:left}

#listado_propiedades  div.propiedad_item {border-bottom:1px solid #ececec; margin:0px auto 6px auto; padding-top:10px; padding-bottom:10px; }
#listado_propiedades  div.propiedad_item a.titulo,#listado_propiedades  div.propiedad_item span.direccion,#listado_propiedades  div.propiedad_item span.precio,#listado_propiedades  div.propiedad_item span.detalles,#listado_propiedades  div.propiedad_item span.descripcion{display:block; font-size:11px;}
#listado_propiedades  div.propiedad_item a.titulo{padding:0px 0px 2px 0px; font-size:12px; margin-bottom:6px; color: #3b5998}
#listado_propiedades  div.propiedad_item span.precio{ font-weight:bold; color:#333333; padding-bottom:4px;}
#listado_propiedades  div.propiedad_item a.titulo:hover{ text-decoration:underline}
#listado_propiedades  div.propiedad_item a.titulo:active{ color: #3b5998}
#listado_propiedades  div.propiedad_item span.descripcion, #listado_propiedades  div.propiedad_item span.detalles{color:#666666}
#listado_propiedades  div.propiedad_item span.descripcion{ margin-top:10px;}
#listado_propiedades  div.propiedad_item div.imagen_propiedad{float: left; width: 120px; height: 90px; overflow: hidden; border:1px solid #999; padding:1px}
#listado_propiedades  div.propiedad_item {
    display: block;
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin:0px auto 6px auto; 
    padding:10px 7px;
}
#listado_propiedades .fpOver {position: relative; display: block; width: 530px; float: left; margin-top: -0px; margin-right: 0pt; margin-bottom: 0pt;}
#listado_propiedades  div.propiedad_item div.logo_right{ padding-top:0px; padding-bottom:4px; margin-top:0px; }

#paginacion_inferior, #paginacion_superior{text-align:right; padding:4px 0px 8px 0px; height:24px; color:#3b5998;}
#paginacion_superior { border-bottom:1px solid #ececec; padding-top:0;}
#paginacion_inferior .sort_by, #paginacion_superior .sort_by {float:left; padding-top:8px; text-align:left}
.paginacion_cont{margin:0; padding-top: 2px; float:right}
.paginacion_cont .paginacion_cont_li{display:inline}
.paginacion_cont .paginacion_cont_a{padding:3px;padding-bottom:2px; color:#3b5998}
.paginacion_cont .paginacion_cont_a:hover{background-color:#3b5998; border-bottom:1px solid #3b5998;color:#fff;text-decoration:none}
.paginacion_cont .current .paginacion_cont_a{ border-bottom:2px solid #3b5998;color:#3b5998;font-weight:bold;padding-left:2px; padding-right:2px}
.paginacion_cont .current .paginacion_cont_a:hover{background-color:#3b5998;color:#fff}
.paginacion_cont .current .paginacion_cont_a:visited{color:#3b5998}
.paginacion_cont .disabled{color:#999;cursor:default;background:transparent;border:none}

#perfil #fb_right-column{ height:auto; text-align:left}
#listado_items .likedvu{
    position: absolute;
    left: 423px;
    top: 10px;
}