/* 
    Created on : 05-19-2010, 10:19:54 AM
        Mantiene los estilos a aplicar de acuerdo al tipo de mensaje de usuario
*/

/*Mensajes*/
.notice {border:solid 1px #85aff9; background:#d7e5ff url(../img/msg_info.png) 10px 50% no-repeat; color:#444;
	padding:4px 4px 4px 40px; text-align:left;}
.warning {border:solid 1px #e9d84c; background:#FFFFCC url(../img/msg_warning.png) 10px 50% no-repeat; color:#444;
        padding:4px 4px 4px 40px; text-align:left; }
.success {border:solid 1px #98d88a; background:#d4f9cd url(../img/msg_success.png) 10px 50% no-repeat; color:#167a00;
	padding:4px 4px 4px 40px; text-align:left;}
.error h4{color:#990000!important;}
ul.error,label.error,div.error {border:solid 1px #e6938b; background:#ffd0cc url(../img/msg_error.png) 10px 50% no-repeat;
	color:#990000; padding:4px 4px 4px 40px; text-align:left;}
input.error,select.error,textarea.error {border: 1px solid #cc0000;}
.errorIcon {background:transparent url(../img/msg_error.png) no-repeat top left; width: 20px;}


