body{
	font-family : Helvetica, Arial, Verdana, Geneva , sans-serif;
	margin: 0;
	background-color: #E4E7EA;
}

a {
	text-decoration: none;
}

.clear{
	clear: both;
}

img{
	border: 0px;
}

.box{
	display:block;
	background-color: #ffffff;
	border:2px #eeeeee solid;
	padding: 5px 5px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: -5px 5px 5px #888;
}

.box-border{
	float: left;
	display:block;
	background-image: url("../img/box-border.png");
	height: 200px;
	width: 2px;
}

.box-light{
	float: left;
	background-repeat: no-repeat;
	margin: 24px 27px 0px 28px;
	width: 213px;
	height: 72px;
	display: block;
}

.box-light h2{
	margin: 80px 0px 0px 0px;
	font-size: 16px;
	color: #316cc5;
	font-family: HelveticaCyr, HelveticaNeueCE, Helvetica, Verdana;
	font-weight:bold;
	text-transform:uppercase;
}

.box-light span{
	display: block;
	margin: 10px 0px 0px 0px;
	font-size: 14px;
	color: #706f6f;
	font-family: HelveticaCyr, HelveticaNeueCE, Helvetica, Verdana;
	/*font-weight: bold;*/
}

.powered-by a{
	display:block;
	width: 228px;
	height: 70px;
	font-size: 0px;
	background: url("../img/powered-by.png") no-repeat scroll -1px 0 transparent;
	margin: 15px 0 0 -8px;
}

.content{
	display:block;
	background-color: #e4e7ea;
	margin: 0 auto;
	width: 787px;
	padding: 5px 0 0 2px;
}

.head{
	background: url("https://tab.hmapp.com/img/header-top-pub.png") no-repeat scroll 0 0 transparent;
	display: block;
	width: 770px;
	height: 139px;
	padding: 10px 0px 5px 20px;
}

.message{
	display:block;
	background: url("https://tab.hmapp.com/img/cuadrado-bg.png") repeat scroll 0 0 transparent;
	border: 1px #d5d3d3 solid;
	padding: 5px 5px;
	border-radius:8px;
	-moz-border-radius:8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.message .logo{
	display:block;
	float: left;
	margin: 10px;
	width: 100px;
}

.message .text{
	display:block;
	margin: 10px;
	float: left;
	width: 600px;
	color: #828282;
}

.agregar-propiedad-button{
	display:block;
	float: right;
	background: url("https://tab.hmapp.com/img/buton-agregar-propiedad.png") no-repeat scroll 0 0 transparent;
	width: 255px;
	height: 48px;
	font-size: 0px;
}

.realizar-pago-button{
	display:block;
	float: right;
	background: url("https://tab.hmapp.com/img/buton-realizar-pago.png") no-repeat scroll 0 0 transparent;
	width: 214px;
	height: 48px;
	font-size: 0px;
}

.instalar-tab{
	display: block;
	float: right;
	background: url("https://tab.hmapp.com/img/install.png") no-repeat scroll 0 0 transparent;
	width: 141px;
	height: 45px;
	font-size: 0px;
	margin: 10px;
}

.ir-aplicacion-tab{
	display: block;
	float: right;
	background: url("https://tab.hmapp.com/img/aplicacion.png") no-repeat scroll 0 0 transparent;
	width: 158px;
	height: 45px;
	font-size: 0px;
	margin: 10px;
}
