/*##########################################
Name: Default styling for Niceforms v.0.9
Author: Lucian Slatineanu
URL: http://www.badboy.ro/
##########################################*/

/*General styles not really related to the forms*/


dd{
width:185px;
}
dl dd{
float:left;
}

img {
	border:0;
margin:0;
}
#container {
	padding:20px;
}

/*Forms defaults*/
input, textarea {
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;*/
	color:#404040;
}
label {
	color:#3E3E3E;
	font-weight:bold;
	line-height:15px;
	padding-left:2px;
	vertical-align:top;
}
label.chosen {
	color:#333;
}

/*Transparent items*/
.transparent {
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity: 0;
	border:0px solid #FFF;
	background:#FFF;
	z-index:10;
	cursor:pointer;
}
.transparentFake {
	background:none;
	border:none;
}
.transparent2 {
	z-index:10;
}

/*Radio buttons*/
.radioAreaUnchecked, .radioAreaChecked {
	z-index:5;
	position:absolute;
	width:15px;
	height:15px;
	cursor:pointer;
	top: 296px;
	left: 280px;
}
.radioAreaUnchecked {
	background:url(../img/radio.gif) no-repeat left top;
}
.radioAreaChecked {
	background:url(../img/radio.gif) no-repeat left bottom;
}

/*Checkboxes*/
.checkboxAreaUnchecked, .checkboxAreaChecked {
	z-index:5;
	position:absolute;
	width:14px;
	height:14px;
	cursor:pointer;
}
.checkboxAreaUnchecked {
	background:url(../img/checkbox.gif) no-repeat left top;
}
.checkboxAreaChecked {
	background:url(../img/checkbox.gif) no-repeat left bottom;
}

/*Text inputs*/

.textinput4, .textinputHovered {
	width:121px;
	height:20px;
	background:url(../img/input4.png) no-repeat left top;
	border:none;
	padding:2px 8px;
	
}

.textinput3, .textinputHovered {
	width:21px;
	height:14px;
	background:url(../img/input3.gif) no-repeat left top;
	border:none;
	
}

.textinput2, .textinputHovered {
	height:16px;
	padding:2px 0 2px 2px;
        width:110px;
}


.textinput, .textinputHovered,.inputbox {
	width:270px;
	height:24px;
	background:url(../img/input.png) no-repeat left top;
	border:none;
	padding:2px 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.textinputHovered {
	background-position:left bottom;
}

/*Text areas*/
.textarea, .textareaHovered,textarea  {
	background:transparent url(textarea.gif) no-repeat scroll left top !important;
border:medium none;
height:123px !important;
padding:4px 8px !important;
width:155px !important;
}
.textareaHovered {
	background-position:left bottom;
}

/*Selects*/

.selectArea {
        height:21px;
        width:142px;
}
.selectArea .left {
	width:5px;
	height:28px;
	float:left;
	background:url(../img/select_left.gif) no-repeat left top;
}
.selectArea .right {
	width:18px;
	height:28px;
	float:right;
	background:url(../img/select_right.gif) no-repeat left top;
}
.selectArea .right a {
	display:block;
	width:21px;
	height:21px;
}
.selectArea .right i {
	display:none;
}
.selectArea .center {
	width:160px;
	margin-left:5px;
	margin-right:20px;
	color:#FFF;
	padding-top:3px;
}

/*Selects drop-down*/
.optionsDivInvisible, .optionsDivVisible {
	position:absolute;
	margin-top:-1px;
	margin-left:3px;
	width:172px;
	background:#6f7074;
	padding:2px;
	font-size:11px;
	z-index:20;
}
.optionsDivInvisible {
	display:none;
}
.optionsDivVisible {
	display:block;
}
.optionsDivVisible p {
	margin:0;
	padding:0;
}
.optionsDivVisible a {
	color:#F2F2F2;
	text-decoration:none;
	display:block;
	padding:1px 4px;
	border:1px solid #6f7074;
}
.optionsDivVisible a:hover {
	color:#FFF;
	background:#5F6062;
	border-color:#cfd0d6;
}

/*Button*/
.buttonSubmit, .buttonSubmitHovered {
background:transparent url(../img/button.png) no-repeat scroll left top;
border:medium none;
color:#967432;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
font-weight:bold;
height:24px;
text-align:left;
width:94px;
padding-left:2px;
}

.form-login p{
left:10px;
margin-bottom:0;
margin-top:0;
position:relative;
}

.buttonSubmit2, .buttonSubmitHovered2 {
	width:108px;
	height:37px;
	color:#686868;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	background:url(../img/button2.gif) no-repeat left top;
	cursor:pointer;
	border:none;
}


.buttonSubmit3, .buttonSubmitHovered3 {
	width:108px;
	height:37px;
	color:#686868;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	background:url(../img/button3.gif) no-repeat left top;
	cursor:pointer;
	border:none;
}

.buttonSubmitHovered {
	background-position:left bottom;
}

/*Test div - testing if stylesheets are enabled*/
#stylesheetTest {
	position:absolute;
	left:-999px;
	width:10px;
	height:10px;
}
