div.propiedad_item {
	float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    margin: 5px 5px;
    padding: 10px 7px;
    width: 350px;
}

div.cuerpo {
	background-color: #ffffff;
}

.messageprincipal {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-top:10px;
}
.propiedad_item .detalle_propiedad {
	display: block;
}

.propiedad_item .titulo {
	display: block;
	margin: 0 0 5px 0;
}

.cabesado {
    background-color: #ecebec;
    color: #3B5998;
    font-weight: bold;
    padding: 3px;

}

.propiedad_item .amigo{
	float:left;
}

.cuerpofavorito {
    border: 1px solid #CCCCCC;
    border-top: none;
}

div.detalle_propiedad {
    float: left;
    line-height: 1.3em;
    overflow: hidden;
    padding-left: 6px;
    text-align: left;
    width: 220px;
}

div.imagen_propiedad {
    border: 1px solid #999999;
    float: left;
    height: 90px;
    overflow: hidden;
    padding: 1px;
    width: 120px;
}

.comprtirfavorito {
	float: right;
}
