
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
#destacados {
	margin: 0px 0;
	border:1px solid #CCC;
	padding:0px 4px 20px 4px;
	border:1px solid #ccc;
	background:url(../img/h300.png) repeat-x;
	height:170px;
}

.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 684px;
	height:160px;	
	/* custom decorations */
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}
/* single scrollable item */
.scrollable .items div
{
	float:left;
	margin:10px 5px 0px 10px;
	width:120px;
	text-align:left;
	border-right:1px solid #CCC;
}
.scrollable .items strong
{
	color:#666666;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
.scrollable .items span
{
	color:#333;
	font-weight:normal;
	display:inline-block;
	cursor:pointer;
}
.scrollable .items em
{
	color:#3b5998;
	display:block;
	padding-top:6px;
}
.scrollable img {
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	cursor:pointer;
	width:100px;
	height:75px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
/* active item */
.scrollable .active {
	border:0px solid #09C;
	z-index:9999;
	position:relative;
}
.scrollable .active img {
	background-color:#c2c2c2;
	padding:2px;
	border:1px solid #888888;
}