/*
    Document   : search
    Created on : 12-11-2009, 09:12:25 AM
    Author     : Jeronimo Martinez Sanchez
    Description:
        style search form.
*/
/*

#dir, #cat, #min_price, #max_price, #area, #beds, #baths {
    border: 1px solid #ccc;
}
#panel1, #panel2 {
    font-size: 11px;
    background:#f7f7f7;
    padding: 0px 0;
}
.hide {
    display: none;
}
#panel2 label, #panel1 label {
    font-weight:bold;
    color:#666666;
}
#form1 {
    width: 520px;
    border: 1px solid #eaeaea;
}
#form1 td {
    padding: 5px 5px;
}
a.button {
    display: block;
    padding: 5px 5px 5px 16px;
    background: #3b5998 url(/img/search.png) left center no-repeat;
    color: #fff;
    text-align:center;
    text-decoration:none;
    border: 1px solid #ccc;
    width: 130px;
    font-weight:bold;
}
#slide {
    display: block;
    background: #3b5998 url(/img/search_page.png) left center no-repeat;
    color: #fff;
    font-size:11px;
    padding: 5px 5px 5px 20px;
    font-weight:bold;
}
.error {
    background:  #f04b4b;
    color: white;
}
.ok {
    border: 1px solid #ccc;
}
#precios, #cb, #ar {
    margin-bottom: 5px;
}
*/
form#hb {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}
#hb input, #hb select{font-size: 11px;}
#hb span { float: left; width: 50px; padding-right: 10px;}
.block {display: block; padding-bottom: 5px;}
a.button {
                margin-top: 10px;
                padding: 3px 10px;
                color: #fff;
                font-size: 10px;
                background:url("../img/sprite.gif") 0 -48px;
                /* background: #3b5998 ; */
                border: 1px solid #3b5998;
                font-weight: bold;
                text-align:center;
                text-decoration:none;
        }
#buttons {margin-top: 10px; margin-bottom: 5px;}

input.labelHighlight { color: #999; font-size: 9px}


/* Menu prueba */
#demo-container{
        /* padding:25px 15px 0 15px; */
        /* background:#67A897; */
        border-bottom: 1px solid #ccc;
        padding-bottom: 2px;
        }

ul#simple-menu{
        list-style-type:none;
        width:100%;
        position:relative;
        height:22px;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 11px;
        font-weight:bold;
        margin:0;
        padding: 11px 0 0 0;
        }

ul#simple-menu li{
        display:block;
        float:left;
        margin:0 0 0 1px;
        height:22px;
        }

ul#simple-menu li.left{
        margin:0;
        }

ul#simple-menu li a{
        display:block;
        float:left;
        color:#fff;
        background:url("../img/sprite.gif") 0 -48px;
        line-height:22px;
        text-decoration:none;
        padding:0 17px 0 18px;
        height:22px;
        border: 1px solid #3b5998;

        }

ul#simple-menu li a.right{
        padding-right:19px;
        }

ul#simple-menu li a:hover{
        background:url("../img/sprite.gif");
        color: #3b5998;
        border: 1px solid #ccc;

        }

ul#simple-menu li a.current{
        color:#3b5998;
        background:url("../img/sprite.gif");
        border: 1px solid #ccc;
        }

ul#simple-menu li a.current:hover{
        color:#3b5998;
        background:url("../img/sprite.gif");
        }

