/*
    Document   : search
    Created on : 12-11-2009, 09:12:25 AM
    Author     : Jeronimo Martinez Sanchez
    Description:
    style search home form.
	Improved By: Xolo, S.A. | 2010
*/
.element {
    display: block;
    position: relative;
    padding: 2px 3px;
}
#contenedor {margin: 5px 0;display: inline-block;}

#destacadas {margin: 4px auto 0px auto; padding:0px 0px 10px 0px; height:auto; height:82px; width:760px;overflow: hidden;}
#destacadas div.destacadas_item, #destacadas div.first_one, #destacadas div.last_one
{ float:left; margin:0px 5px 0px 0px; text-align:left; height:90px}
#destacadas div.destacadas_item{margin:0px 4px 0px 0px;}
#destacadas div.first_one { padding: 0px; }
#destacadas div.last_one { text-align:right; margin-right:0px; padding:0px}
#destacadas a {border: 1px solid #ccc; display:block; margin-bottom:4px;}
#destacadas div.destacadas_item_detalle{ background-color:#ededed; width:120px; height:30px;}
#destacadas div.destacadas_item a img {text-decoration: none;}
#destacadas .fpOver {position: relative;display: block;width: 122px;height: 90px;text-indent: -9999px;float: left;margin-top: -95px;margin-right: 0pt;margin-bottom: 0pt;background-color: transparent;background-repeat: no-repeat;background-attachment: scroll;background-position:100% 0%;border:0;}
#destacadas div.dest_item{margin-left: 0.6px ;width: 122px; float:left; padding:0px 4px 0px 0px; text-align:left; height:92px;overflow: hidden;}

 
#filter {border: 1px solid #ccc; background-color:#eceff5; padding:4px; width:750px; margin-bottom:4px; height:auto}
#filter .fila1{ height:30px; clear:both}
#filter label{	display:inline-block;	width:58px;	padding-bottom:4px;}
#filter input.ubicacion { font-size:11px; width:265px;}
#right_search_fields{float:left; height: 44px;}

#filter select{ padding:2px; font-size:11px; width:130px; }
#filter input { padding:2px; height:15px; font-size:11px}
#filter input #min_num_beds, #min_num_baths, #min_size {float: left;padding:0 10px 0 15px;}

#filter #optional_filter form { background:#F00; padding:0px; margin:0px}
#filter #optional_filter div.show{float:left; padding-right:18px; }
#filter #optional_filter div.hide{width:1px; float:left; height:44px; visibility:hidden; display:none}
#filter #optional_filter #buttons{height:20px; text-align:center}

#filter #buttons a.button{margin-top: 0px;padding: 3px 6px;color: #fff;font-size: 10px;background:url("../img/sprite.gif") 0 -96px;border-left: 1px solid #3b6e22;border-right: 1px solid #3b6e22;border-top: 1px solid #3b6e22;border-bottom: 1px solid #2c5115;font-weight: bold;text-align:center;text-decoration:none;display:inline-block;}

#map {	width:507px; height: 480px;	border: 1px solid #ccc;	margin-bottom:2px;	float:right;}
#listado_propiedades{float:left; height:480px; width:250px; border-left: 1px solid #ccc; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size:10px;}
#listado_propiedades #listado_header{ border-bottom:1px solid #CCC; padding:4px; text-align:center}
#listado_propiedades #listado_footer{ border-top:1px solid #CCC; padding:4px; text-align:center}

#listado_propiedades  div.propiedad_item {border:1px solid #ececec; margin:0px auto 6px auto; padding:4px; width:94%; }
#listado_propiedades  div.propiedad_item div.imagen_propiedad{float: left; width: 75px; height: 56px; border: 1px solid rgb(221, 221, 221); overflow: hidden;}
#listado_propiedades  div.propiedad_item img {border:1px solid #ececec;}
#listado_propiedades  div.propiedad_item:hover {background-color:#d7edbc; cursor: pointer}
#listado_propiedades  div.detalle_propiedad { padding-left:6px; float: left; line-height: 1.3em;}
#listado_propiedades  div.detalle_propiedad a {color: #3b5998}
#listado_propiedades  div.detalle_propiedad a:hover {color: #3b5998; text-decoration: underline;}
#listado_propiedades  a{ text-decoration:none; }

#paginacion_inferior, #paginacion_superior{text-align:right; padding:4px 4px 8px 4px}
#paginacion_superior strong{ font-weight: bold}
.paginacion_cont{margin:0; padding-top: 2px;}
.paginacion_cont .paginacion_cont_li{display:inline}
.paginacion_cont .paginacion_cont_a{padding:3px; padding-bottom:2px; color:#3b5998}
.paginacion_cont .paginacion_cont_a:hover{background-color:#3b5998; border-bottom:1px solid #3b5998;color:#fff;text-decoration:none}
.paginacion_cont .current .paginacion_cont_a{ border-bottom:2px solid #3b5998;color:#3b5998;font-weight:bold;padding-left:2px; padding-right:2px}
.paginacion_cont .current .paginacion_cont_a:hover{background-color:#3b5998;color:#fff}
.paginacion_cont .current .paginacion_cont_a:visited{color:#3b5998}
.paginacion_cont .disabled{color:#999;cursor:default;background:transparent;border:none}
.paginacion_cont img {padding-left:4px; padding-right: 2px}