.hidden {
    display: none;
}

body {
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    line-height: 1.28;
    text-align: left;
}

#main {
    min-height: 710px;
}

#holderinquiry {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

/* corrects safari error */
#inquiry .infotext{
    vertical-align: text-bottom;
}

/* corrects safari error */
#inquiry .infotext strong{
    font-weight: bold;
}

.hmlogo {
    display: inline-block;
    position: relative;
    top: 3px;
}

#fields {
    margin: 20px 0 18px;
}

#fields .element,
#requestFriendsComments {
    margin: 1em auto;
    width: 75%;
}

#fields .column {
    width: 50%;
    float: left;
    padding: 0;
}

#fields .row {
    clear: both;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#fields label
{
	display:inline-block;
        font-weight: bold;
        padding-right: 10px;
	line-height:11px;
	text-align:right;
	color: #666;
}

#fields input {
    width: 100%;
}

#fields textarea {
    height: 9em;
    width: 100%;
}

#fields .submit {
    display: inline-block;
    padding: 2px 20px;
}

#fields .submit input {
    width: 55px;
    font-size: 13px;
}

#requestFriendsComments {
    margin-top: 40px;
    padding: 20px;
}

#requestFriendsComments .title {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 60px;
    text-align: left;
}

#requestFriendsComments .description {
    font-size: 12px;
    margin: 0 0 0 60px;
    text-align: left;
}

#requestFriendsComments .buttons {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

#requestFriendsComments .submit {
    padding: 2px 20px;
}

#requestFriendsComments .submit input {
    font-size: 12px;
}