/* 
    Document   : fanpage
    Created on : 05-11-2011, 10:31:12 AM
    Author     : Irving Medina
    Description:
        Estilizar el contenedor y los elementos necesarios para cargar la aplicacion en
        el espacio de 560px proporcionado por un fan page.
*/

em {
    color: #C00;
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 10px;
    text-decoration: none;
}
textarea {
    resize: none;
    color: #666;  

}
.midiv{height: 31px;width: 150px;}
#table_send td,label{font-size: 10px;font-weight: bold;}
#minput{color: #666;}
.minputs{color: #666;width: 150px;height: 10px;padding: 3px;}
.mitext{border: 1px solid #B3B3B3;height:73px;width: 220px;float: right;}
html { overflow:hidden; }
body { 
    margin:0px; 
    padding:0px; 
    border:none;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    overflow: hidden;
}
a{
    color:#3B5998;
}
.oculta {
    display: none;
}
.dinamic_filter{
    padding: 2px;
    font-size: 10px;
    color:#555;
    background-color: #F9F9F9;
    border: 1px solid #EAEAEA;
    display: block;
    position: relative;
    margin: auto;
}
#mierror{
    display:none;font-weight: bold;margin-left: -2px;
}
.linline{
    display: block;
    position: relative;
    width: 60px;
    padding: 4px 0px;
}

#holderinquiry{
    width: 320px;
    margin: 1px auto 3px auto;
    padding: 10px;
}
.container{
    display: block;
    position: relative;
    padding: 0px;
    margin: 5px auto;

    color: #333333;

}
.main{
    display: block;
    position: relative;
    background-color: #F7F7F7;
    border: 1px solid #B7B7B7;
    padding: 8px;
    border-top: 0px;
}
.miform{font-size: 11px;padding:5px;}
#perfil{
    display: block;
    position: relative;
}
.iconlogo{
    position: absolute;
    right: 10px;
    top: 10px;
}
.likedv{
    position: absolute;
    left: 418px;
    top: 10px;
}
.seeall{
    text-align: right;
    float: right;
    margin-right: 25px;
    margin-top: 2px;
}
#informaciongral {
    border-top: 1px solid #E5E5E5;
    color: #3B5998;
    margin: 8px auto 0px auto;
    padding-top: 4px; 
    display: block;
}
#informaciongral .about{
    position: absolute;
    right: 10px;
}
#informaciongral .powerby{
    width: 200px;
}


/* Codigo rescatodo de fbml.phtml */

#listado_propiedades{ font-size:12px; margin:0px;}
#fb_right-column h1{ color:#333333; font-weight:bold; margin-top:0px; margin-bottom:6px; padding-top:0px; border:none;}
#listado_propiedades #listado_items{ color:#000; padding-top:4px;}
#listado_propiedades #listado_header{ border-bottom:1px solid #CCC; padding:4px; text-align:center}
#listado_propiedades #listado_footer{ border-top:1px solid #CCC; padding:4px; text-align:center}
#listado_propiedades  a{ text-decoration:none; }
#listado_propiedades  div.detalle_propiedad {padding-left:6px; float: left; line-height: 1.3em; text-align:left;width: 240px;overflow: hidden;}
/*Para corregir alineacion de cuadros en ie7*/
#galery{
    display: block;
    position: relative;
    overflow: hidden;
}
#listado_propiedades  div.propiedad_item a.titulo,#listado_propiedades  div.propiedad_item span.direccion,#listado_propiedades  div.propiedad_item span.precio,#listado_propiedades  div.propiedad_item span.detalles,#listado_propiedades  div.propiedad_item span.descripcion{display:block; font-size:11px;}
#listado_propiedades  div.propiedad_item a.titulo{padding:0px 0px 2px 0px; font-size:12px; margin-bottom:6px;}
#listado_propiedades  div.propiedad_item span.precio{ font-weight:bold; color:#333333; padding-bottom:4px;}
#listado_propiedades  div.propiedad_item a.titulo:hover{ text-decoration:underline}
#listado_propiedades  div.propiedad_item span.descripcion, #listado_propiedades  div.propiedad_item span.detalles{color:#666666;display: block;   height: 30px;}
#listado_propiedades  div.propiedad_item span.descripcion{ margin-top:3px;}
#listado_propiedades  div.propiedad_item div.imagen_propiedad{float: left; width: 120px; height: 90px; overflow: hidden; border:1px solid #999; padding:1px}
#listado_propiedades  div.propiedad_item {
    display: block;
    position: relative;
    border: 1px solid #CCCCCC;
    background: none repeat scroll 0 0 #FFFFFF;
    margin:0px 0px 6px 0px; 
    padding:10px 7px; 

}

#listado_propiedades  div.propiedad_item div.logo_right{ padding-top:0px; padding-bottom:4px; margin-top:0px; }

#paginacion_inferior, #paginacion_superior{text-align:right; padding:4px 0px 8px 0px; height:20px; color:#3b5998;}
#paginacion_superior { border-bottom:1px solid #ececec; padding-top:4px;}
#paginacion_inferior .sort_by, #paginacion_superior .sort_by {float: left;text-align:left;line-height: 20px;font-size: 13px;}
.paginacion_cont{margin:0; padding: 3px; float:right;}
.paginacion_cont .paginacion_cont_li {display:inline}
.pag_desac {display:inline}
.paginacion_cont .paginacion_cont_a{padding:2px; color:#3b5998}
.paginacion_cont .paginacion_cont_a:hover{background-color:#3b5998; border-bottom:1px solid #3b5998;color:#fff;text-decoration:none}
.paginacion_cont .current .paginacion_cont_a{ border-bottom:2px solid #3b5998;color:#3b5998;font-weight:bold;padding-left:2px; padding-right:2px}
.paginacion_cont .current .paginacion_cont_a:hover{background-color:#3b5998;color:#fff}
.paginacion_cont .current .paginacion_cont_a:visited{color:#3b5998}
.paginacion_cont .disabled{color:#999;cursor:default;background:transparent;border:none}
.fet{position: relative;display: block;width: 122px;height: 90px;text-indent: -9999px;float: left;margin-top: -95px;margin-right: 0pt;margin-bottom: 0pt;background-color: transparent;background-repeat: no-repeat;background-attachment: scroll;background-position:100% 0%;border:0;}
#perfil #fb_right-column{ height:auto; text-align:left;}
.clear{clear:both; display:block; height:0; margin:0; overflow:hidden; padding:0; visibility:hidden; width:0;}
#tabs{
}

#listado_propiedades div.propiedad_item {
	width: 370px;
	float:left;
	margin: 5px 5px;
}

ul.tabs {
    display: block;
    margin: 0px;
    padding: 0;
    list-style: none;
    height: 25px;
    background: #d5dae4;
    border: 1px solid #B7B7B7;
    border-bottom:0px;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 24px;
    line-height: 24px;   
    border-right: 1px solid #c5d0d8;   
    border-bottom: 1px solid #c5d0d8;    
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #333;
    display: block;	
    padding: 0 20px;
    outline: none;
    font-size: 12px;
}
ul.tabs li a:hover {
    background: #d5dae4;
    color:#3b5998;
}
ul.tabs li.active a,ul.tabs li.active a {
    font-weight: bolder;
}
ul.tabs li.active,ul.tabs li.active {
    background: #eceff5;
    border-bottom: 1px dashed #eceff5;
    /*border-bottom: 2px solid #c5d0d8;*/

    color:#3b5998;
}
div.tab_container a.current {
    background:url("../img/sprite.gif") repeat scroll 0 -48px transparent;
    border:1px solid #CCCCCC;
    color:#FFF;

}
html ul.tabs li.active a:hover  {
    border-bottom: 1px solid #eceff5;
    color:#3b5998;
    background: #eceff5;
}
html ul.tabs li.active > a{
    color:#3b5998;
}
.tab_container {
    border: 1px solid #c5d0d8;
    border-top: none;
    clear: both;
    float: left; 
    width: 758px;
    background: #eceff5;
}
.tab_content {
    display: block;
    position: relative;            
    padding: 5px 20px 5px 20px;
    font-size: 1.2em;
    color:#cccccc;
    font-weight:normal;
}
.tab_content a.link{
    text-decoration:none;
    font-weight:normal;
    color:#3b5998;
    font-size: 12px;
}
.tab_content a.link:hover{
    text-decoration:underline;
    font-weight:normal;
}
.wcontainer{
    border: 1px solid #C5D0D8;
    background-color: #F9F9F9; 
    display: block;
    position: relative;
    overflow: hidden;
}
.wcontainer .perfil{
    float: right; width: 155px;text-align: left;padding: 8px;min-height: 232px;
}
ul.bar{
    padding: 7px 6px 3px 5px;
}
.perfil .rfloat{
    line-height: 13px;
}
.perfil .uiHeaderTitle{
    font-size: 13px;
}
.perfil .uiHeaderNav{
    margin: 0px;
}
h1.titleprofile{
    margin: 0px 0px 4px 0px;
    padding: 0px 0px 3px 0px;
    font-weight: bold;
    font-size: 13px;
    text-align: right;     
    border-bottom: 2px solid #C5D0D8;
}
h1.looking{
    color:#3B5998;
    font-weight: bold;
    font-size: 13px;
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #C5D0D8;
    background-color: #ECEFF5;
}
#paginacion_superior,#paginacion_inferior{
    color:#3B5998;
    font-weight: bold;
    padding: 3px;
    border: 1px solid #C5D0D8;
    background-color: #ECEFF5;
    margin-top: 10px;
}
.wcontainer .leftpanel{
    margin-right: 175px;
    padding: 8px 2px;
    text-align: center;
}
.videoholder{
    display: block;
    position: relative;
    width: 320px;
    height: 240px;
    text-align: center;
    color: #3B3B3B;

    background-image: url(/img/novideo.jpg);
    background-repeat: no-repeat;
    margin: 0px auto;
}
.videoholder p{
    text-align: center;
}
.videoholder .textholder{
    padding: 10px 2px;
}
.videoholder .topspan{
    font-size: 16px;
}
.videoholder .botspan{
    font-size: 13px;
    margin-top: 90px;
    padding: 0px 25px;
}
.videoholder a{    
    font-size: 13px;
    font-weight: bold;
}
.element{
    display: block;
    position: relative;
    padding-right: 8px;
}
.send{
    padding: 14px 10px 0px 0px;
}
.left{
    float:left;
}
.right{
    padding-right: 10px;
}
.filters{
    padding: 10px;
}
.bodyinquiry .element{
    padding-top: 8px;
    padding-left: 12px;
}
#leftside{
    width: 196px;
    margin: 0px auto;
}
.bodyinquiry textarea{
    border: 1px solid #B3B3B3;
    width: 200px;
    height: 73px;
    margin: 0px;
}
.bodyinquiry .minput{
    border: 1px solid #B3B3B3;
    width: 180px;
    margin: 0px;
}
.element label,.bar label{
    display: block;
    position: relative;
    margin-top: 0px;
    cursor: auto;
}
.bar .icon{
    display: block;
    position: relative;
    float: left;
    width: 16px;
    margin: 1px 3px;    
    height: 16px;
    background-repeat: no-repeat;
    background-position: left center;
}
.infoprofile{
    width: 139px;
    background-color: transparent; 
}
.icon.email{
    background-image: url(/img/icons/mail_email.png);
}
.icon.twitter{
    background-image: url(/img/icons/mail_twitter.png);
}
.icon.webpage{
    background-image: url(/img/icons/webbrowser.png);
}
.icon.business{
    background-image: url(/img/icons/company.png);
}
.icon.phone,.icon.phoneb{
    background-image: url(/img/icons/phone_touch.png);
}