            .boxgrid a{ color:#C8DCE5; }
			.boxgrid h3{ margin: 10px 10px 0 10px; color:#FFF; font:18pt Arial, sans-serif; letter-spacing:-1px; font-weight: bold;  }
			
			.boxgrid{
                                cursor:pointer;
				/*	width: 319px; 
				height: 142px; */
				margin:5px 5px 5px 0;
				float:left; 
				background:#161613; 
				border: solid 2px #8399AF; 
				overflow: hidden; 
				position: relative; 
			 }
			.boxgrid img{ 
					position:relative;
					top: 0; 
					left: 0; 
					border: 0; 
			}
			.boxgrid p{ 
					padding: 0 10px; 
					color:#afafaf; 
					font-weight:bold; 
					font:10pt "Lucida Grande", Arial, sans-serif; 
			}
				
			.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #000; 
				height: 100px; 
				width: 100%; 
				opacity: .8; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
 			.captionfull .boxcaption {
 					top:143px;
                    text-align:left;
 					left: 0;
 			}
 			.caption .boxcaption {
 					top:143px;
 					left: 0;
 			}