/*1336664821,176820406*/

.fbPhotosCloseButton{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zX/r/bLZF2p2jXNV.png)}
.fbPhotosCloseButtonSmall{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zx/r/DpU33-mlpyg.png)}
.fbProfileEditLink{text-align:left;background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zh/r/_S0u1wZb3JC.png) no-repeat left 2px;padding-left:14px}
.fbProfileThumbRemove{position:relative}
.fbProfileThumbRemoveX{display:none;right:3px;position:absolute;top:2px}
.fbProfileThumbRemove:hover .fbProfileThumbRemoveX,.async_saving .fbProfileThumbRemoveX,.fbProfileThumbRemoveDialog{text-decoration:none;display:block}
.async_saving .fbProfileThumbRemoveX .fbProfilePhotoClose,.fbProfileThumbRemoveDialog .fbProfilePhotoClose{background-position:left -22px}
.fbProfileThumbDontShowAgain label{font-weight:normal;vertical-align:text-bottom}
.fbProfileSuppressConfirm .async_saving{display:none}
.async_saving .fbProfilePhotoThumb{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zk/r/LOOn0JtHNzb.gif) no-repeat center center}
.async_saving .fbProfilePhotoThumb i{opacity:.3}
.fbProfilePhotobarReset
.fbProfilePhotoThumb i{background-color:#eceff6;background-position:center}

#bootloader_J_L1o { height: 42px; }
