/*1336666520,176820663*/

.sp_2085pr{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zU/r/eTtOehdp5oY.png);background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_43d24f{height:14px;background-position:-9px -45px}
.selected .sx_43d24f{background-position:-0px -45px}
.sx_11345d{width:11px;height:14px;background-position:-11px -30px}
.selected .sx_11345d{background-position:-0px -30px}
.sx_53ef7b{width:13px;height:14px;background-position:-13px -0px}
.selected .sx_53ef7b{background-position:-0px -0px}
.sx_73e02b{width:16px;height:16px;background-position:-0px -60px}
.sx_0559ee{width:12px;height:14px;background-position:-12px -15px}
.selected .sx_0559ee{background-position:-0px -15px}
.sx_d9758e{background-position:-17px -60px}
.sx_f8c7e0{width:16px;height:16px;background-position:-0px -77px}
.sx_3eb1ed{width:11px;background-position:-0px -94px}
.sx_b14d36{width:8px;background-position:-0px -108px}
.sx_dc8e8c{background-position:-17px -74px}
.sx_1e04b2{background-position:-12px -94px}
.sp_2almlf{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/z-/r/jyJeji9eV2E.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d8f0e1{width:7px;height:7px;background-position:-21px -42px}
.sx_3f0648{width:20px;height:20px;background-position:-0px -17px}
.sx_fa591e{width:9px;height:12px;background-position:-9px -53px}
.selected .sx_fa591e{background-position:-0px -53px}
.sx_3b25a8{width:10px;height:14px;background-position:-10px -38px}
.selected .sx_3b25a8{background-position:-0px -38px}
.sx_17f55f{width:8px;height:14px;background-position:-8px -100px}
.selected .sx_17f55f{background-position:-0px -100px}
.sx_0ef85d{background-position:-0px -66px}
.sx_3121cf{background-position:-0px -83px}
.sx_b24b1b{background-position:-16px -0px}
.selected .sx_b24b1b{background-position:-0px -0px}
.sx_001e87{width:9px;height:13px;background-position:-21px -17px}
.sx_f782f8{width:10px;height:10px;background-position:-21px -31px}
.sp_5lss4f{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zy/r/nDkbuIk_6YO.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_886a17{height:17px;background-position:-0px -0px}
.sx_a3b8dc{background-position:-0px -36px}
.sx_f69375{background-position:-0px -53px}
.sx_6ab4f7{background-position:-0px -70px}
.sx_151cc1{background-position:-0px -87px}
.sx_004e8c{height:17px;background-position:-0px -18px}
.sx_d15c6c{width:10px;height:10px;background-position:-0px -104px}
.sp_7czder{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/z-/r/BxTsdtrXjcx.png);background-repeat:no-repeat;display:inline-block;height:13px;width:10px}
.sx_d630f0{width:18px;height:18px;background-position:-18px -0px}
.sx_d630f0:hover{background-position:-0px -0px}
.sx_1dbbe1{height:14px;background-position:-10px -19px}
.selected .sx_1dbbe1{background-position:-0px -19px}
.sx_7a2d08{width:9px;background-position:-22px -34px}
.sx_297aee{width:11px;background-position:-21px -19px}
.sx_a15ede{background-position:-0px -34px}
.sx_dc8db5{width:9px;background-position:-0px -48px}
.sx_1024a7{background-position:-11px -34px}
.sp_86lkwi{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zO/r/mPSE_wg1_OV.png);background-repeat:no-repeat;display:inline-block;height:90px;width:190px}
.sx_1de5c0{background-position:-0px -0px}
.sx_0876da{width:12px;height:11px;background-position:-0px -109px}
.sx_f70b39{width:16px;height:16px;background-position:-18px -91px}
.sx_a2a7cd{width:17px;height:17px;background-position:-0px -91px}
.sx_6b2090{width:15px;height:13px;background-position:-35px -91px}
.sx_91912d{width:5px;height:3px;background-position:-75px -91px}
.sx_b2da23{width:13px;height:10px;background-position:-51px -91px}
.sx_82987e{width:9px;height:5px;background-position:-65px -91px}
.sp_8l18v9{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zl/r/5V10i9fvub8.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_5ad975{height:14px;background-position:-0px -67px}
.sx_01595b{background-position:-0px -0px}
.sx_00a428{background-position:-0px -17px}
.sx_0863b4{background-position:-0px -34px}
.sx_37538a{height:15px;background-position:-0px -51px}
.sx_0deb3e{width:13px;background-position:-0px -82px}
.sp_aufwbx{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zS/r/LUUiXeBk2Jb.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_3d7c4d{background-position:-0px -19px}
.sx_cb3d7a{background-position:-0px -36px}
.sx_c84918{height:18px;background-position:-0px -0px}
.sx_81b4a5{background-position:-0px -53px}
.sx_97e902{height:15px;background-position:-0px -70px}
.sx_a6ed4c{width:11px;height:9px;background-position:-0px -86px}
.sp_biazav{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/z3/r/svi5IC-phv9.png);background-repeat:no-repeat;display:inline-block;height:14px;width:11px}
.sx_da81d2{width:12px;background-position:-12px -0px}
.selected .sx_da81d2{background-position:-0px -0px}
.sx_759c04{background-position:-11px -15px}
.selected .sx_759c04{background-position:-0px -15px}
.sx_dcebec{height:12px;background-position:-0px -82px}
.sx_3d9b96{width:15px;height:15px;background-position:-0px -66px}
.sx_aa3756{width:10px;height:9px;background-position:-12px -82px}
.sx_a0809c{width:18px;height:18px;background-position:-0px -30px}
.sx_7ecdad{width:16px;height:16px;background-position:-0px -49px}
.sx_d66894{width:5px;height:3px;background-position:-19px -30px}
.sp_fpg1o9{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zi/r/pFida-cPfYQ.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_3be8af{background-position:-0px -0px}
.sx_c2eafb{background-position:-0px -17px}
.sx_7c78f2{background-position:-0px -34px}
.sx_6476a6{background-position:-0px -51px}
.sx_e6746f{width:15px;background-position:-0px -102px}
.sx_e6da1a{background-position:-0px -68px}
.sx_a781ff{background-position:-0px -85px}

#bootloader_Sa_Ut { height: 42px; }
