/*
Document   : search
Created on : 12-11-2009, 09:12:25 AM
Author   : Luis Cruz Tapia
Improved By : Xolo, S.A. |  2010
*/
/*Algunos genericos*/
.block{display:block; position:relative}
#simple-menu{display:block; position:relative; font-family:Tahoma,Geneva,sans-serif; font-weight:bold; font-size:12px}
ul.tabs{display:block; position:relative; margin:10px 0px 0px 0px; padding:0; list-style:none; height:24px; border-bottom:1px solid #c5d0d8; border:1px solid #c5d0d8; background:#d5dae4}
ul.tabs li{float:left; margin:0; padding:0; height:24px; line-height:24px; border-top:0px solid #c5d0d8; border-bottom:1px solid #c5d0d8; border-right:1px solid #c5d0d8; border-left:none; margin-bottom:-1px; margin-right:2px; overflow:visible; position:relative}
ul.tabs li a{text-decoration:none; color:#333; display:block; padding:0 20px; outline:none}
ul.tabs li a:hover{background:#d5dae4; color:#3b5998}
html ul.tabs li.active{background:#eceff5; border-bottom:1px solid #eceff5; color:#3b5998}
div.tab_container a.current{color:#3B5998; font-weight: bold; text-decoration: none;}
html ul.tabs li.active a:hover{border-bottom:1px solid #eceff5; color:#3b5998; background:#eceff5}
html ul.tabs li.active>a{color:#3b5998}
.tab_container{border:1px solid #c5d0d8; border-top:none; background:#eceff5}
.tab_content{display:block; position:relative; padding:5px 20px 5px 20px; color:#ccc; font-weight:normal}
.tab_content a.link{text-decoration:none; font-weight:normal; color:#3b5998; font-size:12px}
.tab_content a.link:hover{text-decoration:underline; font-weight:normal}
a.addtofanpge, #navbar{position:absolute; right:3px; bottom:2px; text-decoration:none}
/*Para el menu desplegable hacia abajo*/
#navbar li {list-style: none;}
#navbar  a {cursor: pointer; display:block; height:auto; line-height: 15px; text-decoration:none; width:100%}
#navbar li:hover {position: relative;}
#navbar li:hover a{color:#FFF;}
#navbar ul.menu_dropdown {margin-right: 20px; font-family: verdana,sans-serif; position: relative; z-index: 100;}
#navbar ul.menu_dropdown li a, .menu_dropdown ul li a:visited {
    -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    padding-left: 10px; width: 139px;}
#navbar ul.menu_dropdown li ul { display: none;}
#navbar ul.menu_dropdown table {border-collapse: collapse; font-size: 1em; margin: -1px;}
#navbar ul.menu_dropdown li:hover ul {display: block; height: auto; left: 0; margin-top: 1px; position: absolute;
    top: 21px; width: 150px;}
#navbar ul.menu_dropdown li:hover ul li a {background: none repeat scroll 0 0 #DDDDDD; color: #000000; display: block;
    height: auto; line-height: 15px; padding: 8px 10px; width: 135px;}
#navbar ul.menu_dropdown li:hover ul li:hover a {background: none repeat scroll 0 0 #888888; color: #FFFFFF;}
#navbar ul.menu_dropdown li a:hover ul {background: none repeat scroll 0 0 #EEEEEE; display: block; left: 0; margin-top: 1px;
    position: absolute; top: 29px;}
#navbar ul.menu_dropdown li ul li a{border: 1px solid #A5BFDD;}
#navbar #image-combo{ background-image: url("https://s-static.ak.fbcdn.net/rsrc.php/v1/yO/r/jWmGnwhNzEG.png");
    background-position: -56px -304px; background-repeat: no-repeat; height: 15px; width: 24px;}
.explanation-currency, .descriptive { display: none; position: absolute;  left: -100px; top: 0px; background: #f1feea;
    border: 1px solid #e1f0dd; color: #60625d; padding: 5px 10px; line-height: 20px;
    -moz-border-radius: 5px; border-radius: 5px; width: 280px; font-size: 13px; text-shadow: 1px 1px 0 #eee;}
.hmTooltip .descriptive{ left: 17px; top: 10px;}
.why-currency:hover .explanation-currency, .hmTooltip:hover .descriptive { display: block;  z-index: 10;  -webkit-transition: .5s;  
   -moz-transition: .5s; -o-transition: .5s; transition: .5s;	
}
.stand_out_new{position:absolute; right: -10px; top: -5px; z-index:1}