/*
    Document   : Perfil de la Propiedad
    Created on : 11-Mayo-2010, 09:12:25 AM
    Author   : Anallancy Lanuza

*/
#perfil #fb_left-column { padding-top: 0px; float: left; width: 200px; }
#perfil #fb_right-column { padding: 0px; margin-left:5px; float: left; width: 554px; margin-top: 0px; height:400px; text-align:right}

#perfil #fb_right-column label.beneficios {	display:block;	float:left;	width:240px;}

#perfil #map {width:758px; height:200px; margin-top:6px;}
#perfil .fbtittle {border-top: 1px solid #3b5998; padding: 5px 10px; overflow: hidden; background-color: #eceff5; color: #000000; font-size: 11px; font-weight: bold;}

#perfil h3 { font-size:14px; color:#777777;  margin-top:10px;}
#perfil h4 { font-size:16px; color:#333333}

#perfil div.detail-actions { padding: 5px 8px 2px 2px; }
#perfil .message-box { border: 1px solid #dec721; margin: 10px 0px; padding: 10px; background: #fffbd6 none repeat scroll 0% 0%; font-size: 11px; font-weight: normal;}

#perfil div.detail-actions #like{ float:left;}
#perfil div.detail-actions #share{ float:right; text-align:right;}
#perfil div.detail-actions #share a.button{ margin-top:0px; color:#333; background:url("../img/sprite.gif") 0 0px; border: 1px solid #888888; }

#perfil .clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
#perfil .clearfix { display: inline-block; }
#perfil * html .clearfix { height: 1%; }
#perfil .clearfix { display: block; }

#perfil .fbtittle a, #perfil #user_info a { color:#3b5998; text-decoration:none}
#perfil .user-data a, #perfil .property-data a, #perfil #user_info a { color:#3b5998; text-decoration:none}
#perfil .box { border-right: 1px solid #cccccc; padding-bottom: 20px; }
#perfil .property-data { border: 1px solid #cccccc; margin-bottom:10px; }
#perfil .user-data, #perfil .property-data{ padding:6px;}

#perfil .header h4{ float:left}
#perfil .header .button_group{ float:right}

#perfil #detalle {width:736px; margin-top:6px; margin-bottom:10px; padding:0px 12px;}
#perfil #detalle h4{ color:#666666; font-size:12px; margin:10px 0px; }
#perfil #detalle .precio h4{display:inline-block; padding-right:4px;}
#perfil #detalle .precio span{display:inline-block; padding-right:20px;}
#perfil #detalle .descripcion{ float:left; width:380px;}
#perfil #detalle .caracteristicas{ float:right; width:260px; }
#perfil #detalle .caracteristicas span{ padding-bottom:4px; display:block}
#perfil #detalle ul {padding-left:14px;}
#perfil #detalle ul li {float:left; width:200px; padding-bottom:4px; list-style-position:outside;list-style-type:disc;}
#perfil #no-image { border:1px solid #cccccc; padding:4px; width: 532px; margin: 0 auto; text-align:center}

/*Listado de propiedades*/
#perfil .info_propiedades {padding:6px; background-color:#f1f1f1; margin-top:10px; color:#24458c}
#perfil .info_propiedades strong{ font-weight:bold}
#perfil .info_propiedades .propiedades { float:left}
#perfil .info_propiedades .creditos { float:right;}

#perfil #user_info { border-bottom:1px solid #CCC; height:160px;}
#perfil #user_info #fb_poster-info{ float:left; width:auto; width:170px;}
#perfil #user_info #fb_poster-info img{width:163px; height:155px }
#perfil #user_info .box {border-right:0px; width:590px; float:left;}
#perfil #user_info .info_usuario { padding:6px 6px 2px 6px;}
#perfil #user_info .info_usuario span { display:block; padding-bottom:2px; color:#666}
#perfil #user_info .info_usuario span strong { color:#000}

#perfil #lista_propiedades div.filtros{padding:10px 8px 10px 8px}
#perfil #lista_propiedades .grid { border:1px solid #CCC;}

#perfil #user_info .info_usuario span label { color:#000; width:100px; display:inline-block; }

.button_group{text-align:right; padding:2px;}
.button_group a.button{ color:#FFFFFF; background:url("../img/sprite.gif") 0 -96px; border: 1px solid #3b6e22; display:inline-block}

#perfil #user_info .box .button_group{ text-align:center}
#perfil #user_info .box .button_group a.button{ color:#FFFFFF;}
#perfil #user_info .box .button_group input.button{ color:#FFFFFF; background:url("../img/sprite.gif") 0 -96px; border: 1px solid #3b6e22; display:inline-block; font-family:Tahoma, Geneva, sans-serif; font-size:10px; font-weight:bold; margin-top: 10px;
	padding: 3px 10px;}
#perfil #user_info_form #user_info { border-bottom:0px solid #CCC;}
#perfil #user_info_form #user_info span { margin-bottom:6px;}

#perfil #user_info .info_usuario input{ padding-top:2px; padding-bottom:2px;}