/*
    Document   : Perfil de la Propiedad
    Created on : 11-Mayo-2010, 09:12:25 AM
    Author     :  Xolo, S.A. - Anallancy Lanuza
    Modified   :  Sol Investment, S.A. - Irving Medina
*/
#perfil{position:relative; display:block}
#perfil #fb_left-column{display:block; position:relative; float:left; width:200px; padding-top:0px}
#perfil #fb_right-column{display:block; position:relative; float:left; width:545px; padding-left:10px;  margin-top:0px}
#perfil #fb_right-column label.beneficios{display:block; float:left; width:240px}
#perfil #map{width:758px; height:200px; margin-top:6px}
#perfil .fbtittle{border-top:1px solid #3b5998; padding:5px 4px; overflow:hidden; background-color:#eceff5; color:#000; font-size:11px; font-weight:bold}
#perfil h3{font-size:14px; color:#777; margin:0px; padding:0px; text-align:left}
#perfil h4{font-size:16px; color:#333; margin-top:0px; padding:0px 0px 10px 6px; text-align:left}
#perfil div.detail-actions{padding:4px 8px 2px 2px}
#perfil .message-box{border:1px solid #dec721; margin:10px 0px; padding:10px; background:#fffbd6 none repeat scroll 0% 0%; font-size:11px; font-weight:normal}
#perfil .message-box strong{font-weight:bold}
#perfil div.detail-actions{position:relative; border:1px solid #b8ce98; background-color:#e8f3d7; padding:4px}
#perfil div.detail-actions #like{float:left}

#perfil div.detail-actions #responde{ background:url(../img/btn_response.png) no-repeat 0% 100%; float:left; width:76px; height:18px}
#perfil div.detail-actions #perfil div.detail-actions #responde a{font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:11px; text-align:left; text-decoration:none; color:#3b5998; padding:0px 4px 0px 20px; display:block}
#perfil div.detail-actions #share a{ float:right;  margin-top:1px; margin-right: 5px;}
#perfil div.detail-actions #share iframe{ float:right;  padding:0px 3px}
.buzz{ margin-top:1px}
#perfil #btnResponde{background-color:#000}
#perfil div.detail-actions #share{  text-align:right;  margin:0px}
/*
#perfil .clearfix:after{content:"."; display:block; height:0pt; clear:both; visibility:hidden}
#perfil .clearfix{display:inline-block}
#perfil * html .clearfix{height:1%}
#perfil .clearfix{display:block}
*/
#perfil .fbtittle a, #perfil #user_info a{color:#3b5998; text-decoration:none}
#perfil .user-data a, #perfil .property-data a, #perfil #user_info a{color:#3b5998; text-decoration:none}
#perfil .box{border-right:1px solid #ccc; padding-bottom:20px}

#perfil .box .people .people-pics .person{margin:1px; overflow:hidden; width:63px; float:left; text-align:center; padding-top:8px}
#perfil .box .people .people-links{padding:5px}
#perfil .box .people .people-links .people-count{float:left}
#perfil .box .people .people-links .see-all{float:right}
#perfil .box a{text-decoration:none}

#perfil .property-data{text-align:left; padding-top:4px; padding-bottom:4px}
#perfil .user-data, #perfil .property-data{padding:6px}

#perfil .header{text-align:left; position:relative}
#perfil .header h4{float:left; margin-top:4px; margin-bottom:0px; padding:0px; font-size:13px}
#perfil .header span{padding:0px; margin:0px; display:block; font-size:12px}
#perfil .header .button_group{margin:0px; padding:0px}
#perfil .header .button_group a{margin:0px}

#perfil #detalle{width:100%; margin-top:10px; margin-bottom:10px}

#perfil #detalle .column1, #perfil #detalle .column2{float:left; width:265px;}
#perfil #detalle .column1{padding-right:15px;}
#perfil #detalle #mapsearch{width:100%; height:270px; position:relative; background-color:#e3e3e3; border:1px solid #ccc}
#perfil #detalle table{width:100%}
#perfil #detalle th, #perfil #detalle td{vertical-align:top; padding:2px; font-size:11px}
#perfil #detalle th{text-align:right; font-weight:normal; width:40%}
#perfil #detalle td{text-align:right; font-weight:bold; text-align:left}
#perfil #detalle h6{margin-bottom:4px; margin-top:6px}

#perfil #no-image{border:1px solid #ccc; padding:4px; width:532px; margin:0 auto; text-align:center}

#perfil .info_propiedades{padding:6px; background-color:#f1f1f1; margin-top:10px; color:#24458c}
#perfil .info_propiedades strong{font-weight:bold}
#perfil .info_propiedades .propiedades{float:left}
#perfil .info_propiedades .creditos{float:right}

#perfil #fb_poster-info{padding-bottom:10px}
#perfil #user_info{border-bottom:1px solid #CCC}
#perfil #user_info #fb_poster-info{float:left; width:auto; width:170px; padding-bottom:0px}
#perfil #user_info #fb_poster-info img{width:163px; height:155px}
#perfil #user_info .box{border-right:0px; width:700px; float:right; margin:0px; padding:0px; height:auto}
#perfil #user_info .picture{border:1px solid #ccc; width:50px; height:50px; padding:1px; border-top:0px; line-height:50px; background-position:center center; background-repeat:no-repeat; float:left}
#perfil #user_info .info_usuario{padding:0px 6px 2px 0px}
#perfil #user_info .info_usuario span{display:block; padding-bottom:2px; color:#666}
#perfil #user_info .info_usuario span strong{color:#000}

#perfil #lista_propiedades div.filtros{padding:10px 8px 10px 8px}
#perfil #lista_propiedades .grid{border:1px solid #CCC}

#perfil #lista_propiedades  .button_group{text-align:right; border-top:1px solid #3b5998; padding-top:4px; width:100%}
#perfil #lista_propiedades  .button_group a.button{color:#00f; background:none; border:none; font-size:11px; text-decoration:underline; font-weight:normal}

#perfil #user_info .info_usuario span label{color:#000; width:100px; display:inline-block}

.button_group{text-align:right; padding:2px}
.button_group a.button{color:#FFF; background:url("../img/sprite.gif") 0 -96px; border:1px solid #3b6e22; display:inline-block}

#perfil #user_info .box .button_group{text-align:center}
#perfil #user_info .box .button_group a.button{color:#FFF}
#perfil #user_info .box .button_group input.button{color:#FFF; background:url("../img/sprite.gif") 0 -96px; border:1px solid #3b6e22; display:inline-block; font-family:Tahoma,Geneva,sans-serif; font-size:10px; font-weight:bold; margin-top:10px; padding:3px 10px}
#perfil #user_info_form #user_info{border-bottom:0px solid #CCC}
#perfil #user_info_form #user_info span{margin-bottom:6px}

#perfil #user_info .info_usuario input{padding-top:2px; padding-bottom:2px}

#perfil .likedv{ width:350px;  position:absolute;  top:2px;  left:3px}
.profile .info_usuario input{ width:190px;  display:block}
.user-data label{ display:block;  cursor:auto}
#youpreview{ float:right;  padding:0px 4px}
.person img{ display:block;  position:relative}

#perfil #detalle .value_details{font-weight: normal;}
#perfil #detalle .table_description{font-size:13px; color:#3B5998;}

#perfil div.detail-actions #share a.share-as {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ffffff;
    margin-right: 3px;
    padding-top: 2px;
}

#perfil div.detail-actions #share a.share-as:hover {
    text-decoration: underline;
}


/* jQuery UI dialog */
.ui-dialog {
    border-radius: 8px;
    padding: 0;
    border: 10px solid rgba(42, 42, 92, 0.5);
}

.ui-dialog-titlebar {
    background: #6D84B4;
    border: 1px solid #3B5998;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.ui-dialog .ui-dialog-buttonpane button.submit-share,
.ui-dialog .ui-dialog-buttonpane button.cancel-share {
    font-size: 12px;
    padding: 2px 20px;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.ui-dialog .ui-dialog-buttonpane button.submit-share{
    color: #FFFFFF;
    background: #4F6AA3;
    border: 1px solid #29447E;
    border-bottom-color: #1A356E;
}

.ui-dialog .ui-dialog-buttonpane button.submit-share:hover {
    background: #5F7BB4;
}

.ui-dialog .ui-dialog-buttonpane button.cancel-share {
    color: #000000;
    background: #DDDDDD;
    border: 1px solid #999999;
    border-bottom-color: #999999;
    margin-right: 4px;
}

.ui-dialog .ui-dialog-buttonpane button.cancel-share:hover {
    background: #EEEEEE;
}