/*
    Document   : search
    Created on : 12-11-2009, 09:12:25 AM
    Author   : Luis Cruz Tapia

*/
a.button {
    margin-top: 10px;
    padding: 3px 10px;
    color: #fff;
    font-size: 12px;
    background:url("../img/sprite.gif") 0 -48px;
    border: 1px solid #3b5998;
    font-weight: bold;
    text-align:center;
    text-decoration:none;
    display:inline-block
}

#buttons {
    margin-top: 10px;
    margin-bottom: 5px;
}

#top{
	font-size:0;
}
/*Form agregar propiedad*/
form.agregar_propiedad {
    padding:0px 0px 0px 0px;
    margin:0px;
}
form.agregar_propiedad .recuadro {
    border:0px solid #cccccc;
    width:100%;
    margin-top: 0px;
}
form.agregar_propiedad label {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    display:inline-block;    
    padding-bottom:4px;
    font-weight:bold;
    cursor: auto;
}
form.agregar_propiedad input,
form.agregar_propiedad select,
form.agregar_propiedad filefield,
form.agregar_propiedad textarea
{
    margin:0px;
    padding:0px;
    border:1px solid #bdc7d8;
    padding: 2px;
    color:#333;
}
form.agregar_propiedad input[type="checkbox"]
{
    border:none;
}
form.agregar_propiedad fieldset {
    margin-bottom:20px;
    border:0px;
    padding: 0px;
    margin-left: 0px;
}
form.agregar_propiedad fieldset.requeridos label
{
    padding-top:6px;
}
form.agregar_propiedad fieldset.requeridos .tipo_propiedad
{ 
    float:left;
    margin-right: 30px;
}
form.agregar_propiedad fieldset.requeridos .venta_alquiler
{
    float:left;
    margin-right: 30px;
}
.tipright{
    font-weight: normal!important;
    
}
#source_id
{
    float:left;

}
form.agregar_propiedad label.checkbox {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    display:inline-block;
    width:auto;
    font-weight:normal;
}
form.agregar_propiedad label.beneficios input
{
    margin-right:4px;
}
form.agregar_propiedad .valor {
    margin-right:10px;
}
form.agregar_propiedad label.beneficios {
    display:block;
    float:left;
    width:238px;
    font-weight:normal
}
form.agregar_propiedad fieldset div.legend {
    font-weight:bold;
    color:#1c2a47;
    font-size:14px;
    border-bottom:1px solid #CCC;
    display:inline-block;
    width:752px;
    background-color:#e6e6e6;
    margin:0px;
    padding: 4px;
}
form.agregar_propiedad div.legend em, form.agregar_propiedad label em {
    color:#C00;
    font-weight:normal;
    margin-bottom:8px;
    font-size:10px;
    text-decoration: none;
}
form.agregar_propiedad div.legend u, form.agregar_propiedad label u {
    color:#666666;
    text-decoration:none;
    font-weight:normal;
    font-size:10px;
    text-decoration: none;
}
form.agregar_propiedad h4 {
    font-size:20px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    color:#333;
    font-weight:normal;
    padding:14px 0px 4px 0px;
    margin-bottom:4px;
    border-bottom:0px;
}
form.agregar_propiedad .ubicacion #dir{
    width:450px;
}
form.agregar_propiedad .ubicacion a.button{
    width:100px;
    font-size: 10px;
}
form.agregar_propiedad div.descripcion textarea, form.agregar_propiedad .ubicacion textarea{
    width:660px;
    font-family:  "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size:11px;
}
form.agregar_propiedad .descripcion label {
    width:400px;
    padding-top: 6px;
}
form.agregar_propiedad .titulo input {
    width:576px;
}
form.agregar_propiedad select {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size:11px;
    color:#333;
}
form.agregar_propiedad label.location{
    width:auto;
    font-weight: bold;
}
form.agregar_propiedad #map {
    width:730px;
    height:310px;
    border:0px;
    padding:0px;
    margin-top: 4px;
    margin-left:0px;
    border: 1px solid #cccccc;
}
form.agregar_propiedad #map div{
    margin: 0px;
}
form.agregar_propiedad .alldetalles{
    margin:0px;
}
form.agregar_propiedad .alldetalles #attributes{
    margin:0px;
    padding:0px;
}
form.agregar_propiedad .alldetalles .detalle {
    float:left;
    width:172px;
    text-align: left;
    padding-top:6px;
    height:44px;
}
form.agregar_propiedad .alldetalles .correo, form.agregar_propiedad .alldetalles .escuela{
    padding-top:6px;
}

form.agregar_propiedad .alldetalles .detalle input {
    width:60px;
    margin:0px;
}
form.agregar_propiedad .alldetalles .correo input {
    width:200px;
}

form.agregar_propiedad .alldetalles .escuela input {
    width:150px;
}

form.agregar_propiedad .button_group {
    text-align:center;
    padding:2px;
}
form.agregar_propiedad .button_group a.button, .button_group input.button  {
    margin-top: 10px;
    padding: 3px 16px;
    color: #fff;
    font-size: 13px;
    background:url("../img/sprite.gif") 0 -96px;
    border-left: 1px solid #3b6e22;
    border-right: 1px solid #3b6e22;
    border-top: 1px solid #3b6e22;
    border-bottom: 1px solid #2c5115;
    font-weight: bold;
    text-align:center;
    text-decoration:none;
    display:inline-block;
}
form.agregar_propiedad .button_group a.button_disable, .button_group input.button_disable  {
    margin-top: 10px;
    padding: 3px 16px;
    color: #d2d2d2;
    font-size: 13px;
    background:url("../img/sprite.gif") 0 0px;
    border: 1px solid #cccccc;
    font-weight: bold;
    text-align:center;
    text-decoration:none;
    display:inline-block;
}


form.agregar_propiedad div.campos
{
    background-color:#f7f7f7;
    padding:10px 14px 10px 14px;
}
form.agregar_propiedad div.campos .filefield label {
    width:320px;
    display:block;
    font-size:11px;
    margin-right:20px;
    padding-top:6px;
}
form.agregar_propiedad div.campos .filefield input {
    display: block;
    width:320px;
    margin-bottom: 6px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size:11px;
    margin-right:20px;
}
form.agregar_propiedad .terms
{
    text-align: center;
    vertical-align: top;
}

form.agregar_propiedad .terms a, form.agregar_propiedad .terms label
{
    vertical-align: middle;
    display: inline-block;    
    margin-top: 0px;    
    vertical-align: top;
    padding-right: 6px;
    font-weight: bold;
}
form.agregar_propiedad .terms input
{
    padding-right: 6px;
    margin-right: 6px;
    margin-top: 0px;
    padding-top: 0px;
}
#tabs_property .button_group{text-align:center;}
#tabs_property input
{
    font-family:Tahoma, Geneva, sans-serif;
}
#tabs_property form
{
    width:460px;
    margin:auto;
}
#sol_carga_masiva input
{
    width:460px;
}
#sol_carga_masiva input
{
    width:460px;
}
#sol_carga_masiva label
{
    display:inline-block;
    width:120px;
}
.element{
    padding: 1px 3px 1px 0px;
}
#loading,.loading{
    background-image: url(/img/blueloader.gif);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    display: block;
    position: relative;
    padding-top: 12px;
    color: #AAA;
}
.thumbedit{
    float: left;
    margin-top: 7px;
}
.picture{
    display: block;
    position: relative;
    margin-left: 130px;
}
.detalle_acerca{width: 161px; float: left;}