.list {list-style:square;width:500px;padding-left:16px;}
.list li{padding:2px;font-size:8pt;}
pre {
font-size:11px;
}
.x-tab-panel-body .x-panel-body {
padding:10px;
}
.loading-indicator {
font-size:8pt;
background-image:url('../../resources/images/default/grid/loading.gif');
background-repeat: no-repeat;
background-position: left;
padding-left:20px;
}
.new-tab {
background-image:url(../feed-viewer/images/new_tab.gif) !important;
}
