/* 
    Document   : uiSelect
    Created on : 28-06-2011, 8:31:10 AM
    Author     : Eliazer Garcia
    Description:
        Estiliza los select dandole una apariencia similar a los select de Facebook
*/
.subnavegador{padding-bottom: 4px;}
.divMenu {  
   
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #777777 #777777 #293E6A;
    border-style: solid;
    border-width: 1px 1px 2px;
    overflow-y: auto;
    padding: 3px 0 4px;
    position: absolute;
    display: none;
}
.property{ width: 138px;}
.liselect{height: 12px;border: 1px solid #ffffff;}
.chec{background: url("https://s-static.ak.fbcdn.net/rsrc.php/v1/zu/r/6NHt8H5uyPf.png") no-repeat scroll left 4px transparent;font-weight: bold;}
.liselect:hover {background-position: left -56px;text-decoration: none;border-color: #3B5998; border-style: solid;background-color: #6D84B4;
    border-width: 1px 0;color:#ffffff;}

.subnavegador li a {color:#111111;padding: 1px 0px 3px 22px; text-decoration:none; white-space: normal;display:block;}
.Separator {
    border-bottom: 1px solid #DDDDDD;
    margin: 0px 7px 1px;
    padding-top: 4px;
}
.label_property{width:103px;text-align:left;}
#test,#listing{float: left;margin-left: 1px;padding-top: 3px;}
