div#page {
	width: 540px;
	margin: 0 auto;
	text-align: left;
	border:1px solid #CCC;
}
div#page div#container {
	padding: 0px;
}
div#page div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: left;
	width: 450px;
}
div#page div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div#page div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div#page div.controls {
	margin-top:0px;
	height: 0px; /*Se especifica un alto cuando se muestran los controles*/
}
div#page div.controls a {
	padding:0px;
}
div#page div.ss-controls {
	float: left;
}
div#page div.nav-controls {
	float: right;
}
/*Div que conteniene la foto principal*/
div#page div.slideshow-container {
	position: relative;
	clear: both;
	height: 330px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div#page div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 400px;;
	height: 330px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div#page div.slideshow {
}
div#page div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div#page div.slideshow a.advance-link {
	display: block;
	width: 440px;
	height: 330px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 330px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div#page div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div#page div.slideshow img {
	vertical-align: middle;
	border: 1px solid #ccc;
        width:429px;
        height:321px;
}
div#page div.download {
	float: right;
}
div#page div.caption-container {
	position: relative;
	clear: left;
	height: 40px;
}
div#page span.image-caption {
	display: block;
	position: absolute;
	width: 436px;
	top: 0;
	left: 0;
}
div#page div.caption {
	margin-left:6px;
	width:430;
}
div#page div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div#page div.image-desc {
	height: 30px;
	padding: 4px;
	font-size:11px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	text-align:center;
	background-color:#e4e4e4;

}
div#page div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
div#page ul.thumbs {
	clear: both;
	margin: 4px 0px 0px 0px;
	padding: 0;
}
div#page ul.thumbs li {
	float: left;
	padding: 0;
	margin: 2px 10px 6px 0;
	list-style: none;
}
div#page a.thumb {
	padding: 2px 2px 2px 2px;
	display: block;
	border: 1px solid #ccc;
}
div#page ul.thumbs li.selected a.thumb {
	background: #000;
}
div#page a.thumb:focus {
	outline: none;
}
div#page ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div#page div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div#page div.navigation div.bottom {
	margin-top: 12px;
}
div#page div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div#page div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div#page div.pagination span.current {
	background-color:#666;
	border-color:#666;
	color: #fff;
}
div#page div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}