<link href="/administrador/css/search.css" rel="stylesheet" type="text/css" />
<script src="<?php echo $this->web_path; ?>/js/representante.js" charset="ISO-8859-1" type="text/javascript"></script>

<form id="hb" name="hb" method="post" action="#">
</form>
<div id="creclientes_grid"></div>

