<?php
$flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('ZsamerFlashMessenger');
$flashMessenger->clearMessages();
?>
    <div class="dinamic_filter" id="holderinquiry">
        <div class="pam uiBoxGray bottomborder">
            <div class="UIImageBlock_Content UIImageBlock_ICON_Content fsm fwn fcg infotext">
                <img src="https://app.hmapp.com/img/iconh.png" alt="Housemarket" height="16px" width="16px" class="hmlogo UIImageBlock_Image">
                <i18n>MSG_CONFIRMATION_SENT_EMAIL</i18n>: <?php echo $this->correo ?>
                <br/><i18n>MSG_CONFIRMATION_SENT_EMAIL2</i18n>.
            </div>
        </div>

        <div class="bodyinquiry" style="height:175px;">
            <div id="requestFriendsComments" class="pam filterBoxAlignment uiBoxGray">
                <div><img src="/img/logo.gif" alt="Housemarket" class="uiProfilePhoto UIImageBlock_Image UIImageBlock_ICON_Image uiProfilePhotoLarge img" /></div>
                <p class="title"><i18n>MSG_ASK_FRIENDS_FOR_COMMENTS_TITLE</i18n></p>
                <p class="description"><i18n>MSG_ASK_FRIENDS_FOR_COMMENTS_DESCRIPTION</i18n></p>
                <div class="buttons">
                    <div class="submit uiButton uiButtonText uiButtonConfirm clearfix">
                        <input id="requestComments" type="submit" value="<i18n>MSG_SHARE</i18n>" />
                    </div>
                    <div class="submit uiButton uiButtonText clearfix">
                        <input id="noRequestComments" type="submit" value="<i18n>MSG_CANCEL</i18n>" />
                    </div>
                </div>
            </div>
        </div>
    </div>