<?php
$flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('ZsamerFlashMessenger');
$flashMessenger->clearMessages();
?>
    <div class="dinamic_filter" id="holderinquiry">
        <div class="pam uiBoxGray bottomborder">
            <div class="UIImageBlock_Content UIImageBlock_ICON_Content fsm fwn fcg infotext">
                <img src="/img/iconh.png" alt="Housemarket" height="16px" width="16px" class="hmlogo"/>
                <i18n>DELETE_ROOMMATE</i18n>
            </div>
        </div>
        <div id="loading" class="loading" style="display: none"></div>
        <div class="bodyinquiry" style="height: 159px;">
            <div id="requestFriendsComments" class="pam filterBoxAlignment uiBoxGray">
                <div>
                    <img src="/img/logo.gif" alt="Housemarket" class="uiProfilePhoto UIImageBlock_Image UIImageBlock_ICON_Image uiProfilePhotoLarge img" />
                </div>
                <p class="description"><i18n>LABEL_EXPLANATION_DELETE_AD</i18n></p>
                <div class="buttons">
                    <div class="submit uiButton uiButtonText uiButtonConfirm clearfix">
                        <input id="confirmbtn" name="confirmbtn" type="submit" value="<i18n>LABEL_DELETE</i18n>" />
                    </div>
                    <div class="submit uiButton uiButtonText clearfix">
                        <input id="cancelbtn" name="cancelbtn" type="submit" value="<i18n>MSG_CANCEL</i18n>" />
                    </div>
                </div>
            </div>
        </div>
    </div>