<style>
    .message-box {
         border: 1px solid #dec721;
         margin: 10px 0px;
         padding: 10px;
         background: #fffbd6 none repeat scroll 0% 0%;
         font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
         font-size: 11px;
         font-weight: normal;
    }
</style>
<div class="message-box">
<?php
echo $this->message;
?>
</div>