<html>
    <head>
        <style type="text/css">
            body{
                font-family: Tahoma,Helvetica,Arial;
                font-size: 12px;
            }
            .block{
                display: block;
            }
            hr{
                border: 1px solid #CCC;
            }
            .follow{                
                padding: 10px 5px;
            }
            .follow a{
                line-height: 16px;
            }
            a{
                color: #3B5998;

            }
            a.name, a.email{
                color:#333;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .name{
                color:#555;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .property{
                color:#777;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none!important;
            }

        </style>        
    </head>
    <body>
    <table width="500"  style="background-color:#f1f1f1;margin:auto;">
    <tr>
    <td height="20"></td>
    </tr>
     <tr>
     <td>
    
    
    <table width="450" style="background-color:#ffffff;margin:auto;border:1px solid #666;padding:17px;margin-left:20px;">
    <tr>
    <td height="60"><a href=""><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a></td></tr>
    <tr>
    <td height="5"><hr /></td>
    </tr>
    <tr>
    <td>
    <div style="height:30px;"><strong>Hi !</strong> </div>
<div style="line-height:140%;font-size:12px;text-align:justify;"> 
You have been granted a permission to perform Listings Upload to Housemarket by uploading a Data File. With  this procedure you can save time by uploading multiple properties. You can view  the procedure to create the Data File <a href="https://apps.facebook.com/housemarket/doc/Housemarket_Listing_Upload.pdf">here</a>. Once the file is created you can  upload it <a href="https://apps.facebook.com/housemarket/profesional">here</a>. <br /><br />
Best regards,
Housemarket Information</div><br />
<div style="height:30px;"><strong>Hola ! </strong></div>
<div style="line-height:140%;font-size:12px;text-align:justify;">
Se le ha concedido un permiso para cargar propiedades a Housemarket por medio de un Archivo de Carga. El procedimiento para crear el  archivo de Carga está explicado <a href="https://apps.facebook.com/housemarket/doc/Housemarket_Carga_masiva.pdf">aquí</a>. Una vez creado el archivo éste puede ser  cargardo a la aplicación <a href="https://apps.facebook.com/housemarket/profesional">aquí</a>. <br /><br />
Atentamente,
Housemarket Information </div></td>
    </tr>
    <tr>
    <td height="5"><hr /></td>
    </tr>
    <tr>
    <td>
    <div style="float:left;width:25px;height:20px;"><a  href="https://apps.facebook.com/housemarket"><img src="https://app.hmapp.com/img/icons/mail_facebook.png"  style="border:0px;" /></a> </div>
    <div style="float:left;width:25px;height:20px;"><a  href="https://twitter.com/hmapp"><img src="https://app.hmapp.com/img/icons/mail_twitter.png"  style="border:0px;" /></a></div>
    <div style="float:left;width:25px;height:20px;"> <a  href="https://www.facebook.com/apps/application.php?id=120449844656848&sk=app_127087913984159"><img src="https://app.hmapp.com/img/icons/mail_email.png"  style="border:0px;" /></a></div>
    </td>
    </tr>
    </table>
    </td></tr>
    <tr>
    <td height="20"></td>
    </tr></table>
   


</body>
</html>