<html>
    <head>
        <style type="text/css">
            body{
                font-family: Tahoma,Helvetica,Arial;
                font-size: 12px;
            }
            .block{
                display: block;
            }
            hr{
                border: 1px solid #CCC;
            }
            .follow{                
                padding: 10px 5px;
            }
            .follow a{
                line-height: 16px;
            }
            a{
                color: #3B5998;

            }
            a.name, a.email{
                color:#333;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .name{
                color:#555;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .property{
                color:#777;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none!important;
            }

        </style>        
    </head>
    <body>
        <table width="500"  style="background-color:#f1f1f1;margin:auto;">
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td>


                    <table width="450" style="background-color:#ffffff;margin:auto;border:1px solid #666;padding:17px;margin-left:20px;">
                        <tr>
                            <td height="60"><a href=""><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a></td></tr>
                        <tr>
                            <td height="5"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <p>Hola,</p>            
                                    <p>
                                        El tab de Housemarket ha sido habilitado en esta página: <a href="<?php echo $this->page_url; ?>"><?php echo $this->page_name; ?></a>.
                                    </p>
                                    <p>
                                        Mira video tutoriales sobre cómo usar el tab en nuestro canal de <a  href="https://www.youtube.com/hmappTV">YouTube</a>.
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="5"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <div style="float:left;height:20px;width:25px;"><a  href="https://www.facebook.com/apps/application.php?id=120449844656848&sk=app_127087913984159"><img src="https://app.hmapp.com/img/icons/mail_facebook.png"  style="border:0px;" /></a></div>
                                <div style="float:left;height:20px;width:25px;"><a  href="https://twitter.com/hmapp"><img src="https://app.hmapp.com/img/icons/mail_twitter.png"  style="border:0px;" /></a></div>
                                <div style="float:left;height:20px;width:25px;"><a  href="https://www.youtube.com/hmappTV"><img src="https://app.hmapp.com/img/icons/mail_youtube.png"  style="border:0px;" /></a></div>        
                            </td>
                        </tr>
                    </table>
                </td></tr>
            <tr>
                <td height="20"></td>
            </tr>
        </table>
    </body>
</html>