<style>
    .title {
        background: none repeat scroll 0 0 #6D84B4; border: solid 1px #ccc; padding: 10px 5px; color: #FFFFFF;
        font-size: 14px; font-weight: bold;  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    }
    .picture, .name {float: left; overflow: hidden;}
    img{border: 0 none;}
    .clearfix {display: block;}
    .name{font-size: 13px; font-weight: bold; padding-left:10px; padding-top:12px; color:#3B5998;}
    .picture{padding-left: 5px; position: relative; height:50px; width:50px;}
    .clear{clear: both}
    .item_list{border-bottom:1px solid #EEEEEE; min-height:50px; padding:2px 0;}
    .mutal_friends{height:332px; overflow:auto; padding:3px 0 0; position:relative; width:100%;}

</style>
<div class="title"><?php
echo $this->title; ?>
</div><div class="mutal_friends">
<?php if(is_array($this->mutualFriends) && count($this->mutualFriends) > 0) { ?>
<?php foreach ($this->mutualFriends as $friend) { ?>
    <div class="item_list clearfix"><div class="picture"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $friend["uid"]; ?>"><fb:profile-pic uid="<?php echo $friend["uid"]; ?>" linked="false" size="square"></fb:profile-pic></a></div>
        <div class="name"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $friend["uid"]; ?>"><fb:name uid="<?php echo $friend["uid"]; ?><fb:name uid="<?php echo $friend["uid"]; ?>" capitalize="true" linked="false" useyou="false"></fb:name></a></div>
        </div><?php } ?>
        <?php } ?></div>