<?php
$cfg = Zend_Registry::get('config');
$signed = $_REQUEST['signed_request']; 
$datafb = Zend_Registry::get('signed');
$owner = Zend_Registry::get('owner');
$fbDgt = new Dgt_Fb();
$namePage = $fbDgt->execFql("SELECT name FROM page WHERE page_id= " . $datafb['page']['id']);
defined('NAMEPAGE') || define('NAMEPAGE', $namePage[0]["name"]);
$fanpageurl = getUrlAmigable("https://www.facebook.com/pages/" . NAMEPAGE . "/" . $datafb['page']['id'] . "?sk=app_" . $cfg['facebook_appid']);
//echo $this->partial('fbml/nav.phtml');
?>
<ul class="tabs">
    <li <?php if ($this->itemselected == "welcome") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=welcome"  target="_top"><i18n>LABEL_TAB_WELCOME</i18n></a></li>                        
    <li <?php if ($this->itemselected == "search") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=search" target="_top"><i18n>LABEL_TAB_SEARCH</i18n></a></li>
</ul>                    
<div class="clear"></div>