<style>
    #container {
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 12px;
    }
    h1 {
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        display:block;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        padding:10px;
        width:100%;
        background-color:#F7F7F7;
        border-bottom:1px solid #DDDDDD;
        border-top:1px solid #DDDDDD;
        color:#3B5998;
    }
    #main h2 {
        display:block;
        font-size:14px;
        font-weight:bold;
        width:100%;
        background:none repeat scroll 0 0 #D8DFEA;
        border-top:1px solid #3B5998;
        color:#3B5998;
        margin:0;
        padding:3px 10px;
    }
    fieldset {
        border: 0px;
        background-color: #F7F7F7;
    }
    legend {
        width: 105%;
        font-weight: bold;
        font-size: 14px;
        color : #FFFFFF;
        margin: 0px 0px 2px -7px;
        padding: 4px 0px 0px 0px;
        background-color: #3b5998;
        height: 25px;
        border-bottom:4px solid #6D84B4;
        vertical-align: middle;
    }
    fieldset div .detalle {
        display:block;
        width: 100%;
    }
    fieldset div label {
        display:block;
        font-weight: bolder;
    }
    fieldset div label span {
        font-weight: normal;
    }
    div .line {
        margin-bottom: 6px;
        margin-top: 6px;
        border-bottom: 1px solid #333333;
    }
    fieldset div .header {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .headerDetailHm {
        width: 100%;
    }
    .headerDetailHm div {
        padding: 8px;
        background-color: #d8dfea;
        color: #3b5998;
        font-weight: bold;
        float: left;
        margin-right: 4px;
        text-decoration: none;
        text-align: center;
    }
    .numline {
        width: 100%;
    }
    .numline div {
        padding: 8px;
        float: left;
        margin-right: 4px;
        text-decoration: none;
    }
    fieldset div div div {
        display: inline;
    }
    .odd {
    }
    .even {
    }
    .columnProp {
        width: 41%;
        display: inline-block
    }
    .columnQtty {
        width: 25%;
        display: inline-block
    }
    .columnPrice {
        width: 25%;
        display: inline-block
    }
    .clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
    .clearfix { display: inline-block; }
    * html .clearfix { height: 1%; }
</style>

<h1><i18n>PP_OK_HEADER</i18n></h1>
<br />
<div id="container">
    <div class="header">
        <h2><i18n>PP_OK_HEADER_TRANSACTION</i18n> : <span><?php echo $this->transactionId ?></span></h2>
    </div>
    <br />
    <fieldset>
        <legend><i18n>PP_OK_HEADER_PAYPAL</i18n></legend>
        <div class="detalle">
            <label><i18n>PP_OK_DETAIL_PAYPAL_PRICE</i18n>: <span>$<?php echo $this->paypal["price"]; ?> <?php echo $this->paypal["priceCC"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_PAYPAL_QUANTITY</i18n>: <span><?php echo $this->paypal["quantity"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_PAYPAL_AMOUNT</i18n>: <span>$<?php echo $this->paypal["amount"]; ?> <?php echo $this->paypal["amountCC"]; ?></span></label>
        </div>
        <div class="line"></div>
        <div class="detalle">
            <label><i18n>PP_OK_DETAIL_PAYPAL_PRODUCT_NAME</i18n>:<span><?php echo $this->paypal["productName"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_PAYPAL_PRODUCT_NUMBER</i18n>:<span><?php echo $this->paypal["productNumber"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_PAYPAL_INVOICE_NUMBER</i18n>:<span><?php echo $this->paypal["invoice"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_PAYPAL_DATE</i18n>:<span><?php echo $this->paypal["date"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_PAYPAL_TIME</i18n>:<span><?php echo $this->paypal["time"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_PAYPAL_STATUS</i18n>:<span><?php echo $this->paypal["status"]; ?></span></label>
        </div>
    </fieldset>
    <div class="line"></div>
    <fieldset>
        <legend><i18n>PP_OK_DETAIL_HM_HEADER</i18n></legend>
        <div class="header">
            <label><i18n>PP_OK_DETAIL_HM_PRICE</i18n>: <span>$<?php echo $this->hm["price"]; ?> <?php echo $this->hm["priceCC"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_HM_QUANTITY</i18n>: <span><?php echo $this->hm["quantity"] ?></span></label>
            <label><i18n>PP_OK_DETAIL_HM_AMOUNT</i18n>: <span>$<?php echo $this->hm["amount"]; ?> <?php echo $this->hm["amountCC"]; ?></span></label>
            <label><i18n>PP_OK_DETAIL_HM_STATUS</i18n>:<span><?php echo $this->hm["status"]; ?></span></label>
        </div>
        <div class="line"></div>
        <div class="detalle" style="width: 740px;">
            <div class="headerDetailHm">
                <div class="columnProp"><i18n>PP_OK_DETAIL_HM_DETAIL_PROPERY</i18n></div>
                <div class="columnQtty"><i18n>PP_OK_DETAIL_HM_DETAIL_QUANTITY</i18n></div>
                <div class="columnPrice"><i18n>PP_OK_DETAIL_HM_DETAIL_PRICE</i18n></div>
            </div>
            <?php $numberLine = 0; ?>
        <?php foreach($this->hm["details"] as $detail) { ?>
            <br /><br />
            <div class="clearfix"></div>
            <div class="numline <?php echo $numberLine%2==0?'even':'odd'; ?>">
                <div class="columnProp"><?php echo $detail["name"]; ?></div>
                <div class="columnQtty"><?php echo $detail["quantity"]; ?></div>
                <div class="columnPrice">$<?php echo $detail["amount"]; ?> <?php echo $detail["amountCC"]; ?></div>
            </div><?php $numberLine++; ?>
        <?php } ?>
        </div>
    </fieldset>
</div>