<style>
    body {
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        margin: 0px;
    }
    .title {
        background: none repeat scroll 0 0 #6D84B4;
        border: solid 1px #ccc;
        padding: 10px 5px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
    }
    .titledivider {
        border-bottom:1px solid #999;
        border-top:1px solid #CCCCCC;
        height:0;
        width: 100%;
        overflow:hidden;
    }
    a {
        margin-left:5px;
        padding:2px 6px;
        font-size:13px;
        background-color:#5B74A8;
        background-position:0 -48px;
        border-color:#29447E #29447E #1A356E;
        color:#FFFFFF;
    }
    .container {
        background-color: #ECEFF5;
        padding-bottom: 0px;
        width: 100%;
        height: 400px;
        vertical-align: middle;
    }
    .buttons {
        text-align: right;
        margin: 2px 2px 2px 2px;
        padding: 2px 10px 2px 2px;
    }
    .fb_button {
        margin-left:5px;
        padding:2px 6px;
        font-size:13px;
        background-color:#5B74A8;
        background-position:0 -48px;
        border-color:#29447E #29447E #1A356E;
        color:#FFFFFF;
        text-decoration:none;
    }
    table {
        font-size:12px;
        padding:10px;
    }
    thead th {
        text-align: center;
        background-color:#3B5998;
        border-bottom:5px solid #6D84B4;
        color:#FFFFFF;
        font-weight:bold;
    }
    td.currency {
        text-align: right;
    }
    .even {
        background:none repeat scroll 0 0 #eceff6;
        color:#333333;
        font-size:11px;
        margin-bottom:5px;
        margin-top:0;
        padding:2px;
    }
    .odd {
        background:none repeat scroll 0 0 #f7f7f7;
        color:#333333;
        font-size:11px;
        margin-bottom:5px;
        margin-top:0;
        padding:2px;
    }
    form {
        margin: 0px;
        display: inline;
    }
    div .summary {
        font-size:12px;
        text-align: right;
        background-color:#eceff6;
        border-top:5px solid #d4dae8;
        color:#333333;
        font-weight:bold;
        margin: 5px;
        padding: 0px;
    }
    .info {
        border: solid 1px #e2c822;
        background: #fff9d7 url(https://cdn.iconfinder.net/data/icons/e-commerce/64/secure-payment.png) 5px no-repeat;
        padding: 5px;
        padding-left: 75px;
        margin: 5px;
        font-size: 12px;
        height: 60px;
        vertical-align: middle;
    }
    #form-container {
        overflow: auto;
        height: 200px;
    }
</style>
<div id="container">
    <div class="title"><i18n>PP_CONF_HEADER</i18n></div>
<div class="titledivider"></div>
<div class="info">
    <ol>
        <li><i18n>PP_CONF_NOTICE_1</i18n></li>
        <li><i18n>PP_CONF_NOTICE_2</i18n></li>
    </ol>
</div>
<?php if(is_array($this->properties)) {?>
<div id="form-container">
    <table border="0" width="100%" cellspacing="2" cellpadding="2">
        <thead>
            <tr>
                <th><i18n>PP_CONF_TABLE_COLUMN_CODE</i18n></th>
                <th><i18n>PP_CONF_TABLE_COLUMN_NAME</i18n></th>
                <th><i18n>PP_CONF_TABLE_COLUMN_DESCRIPTION</i18n></th>
                <th><i18n>PP_CONF_TABLE_COLUMN_CREDITS</i18n></th>
            </tr>
        </thead>
        <tbody>
            <?php $rowNum = 0; ?>
            <?php foreach($this->properties as $property) { ?>
            <tr class="<?php echo $rowNum%2==0?"even":"odd"; ?>">
                <td><?php echo $property["Codigo"]?> / <?php echo $property["CodigoBroker"]?></td>
                <td><?php echo $property["Nombre"]?></td>
                <td><?php echo $property["Direccion"]?></td>
                <td class="currency"><?php echo $this->prices[$property["Codigo"]]; ?></td>
            </tr>
            <?php $rowNum++; ?>
            <?php } ?>
        </tbody>
    </table>
    </div>
    
    <div class="summary">
        <i18n>PP_CONF_TABLE_SUMMARY_TOTALS</i18n><span> </span><?php echo $this->totalCredito . " " . $this->translate("PP_CONF_TABLE_SUMMARY_CREDITS"); ?> <br /><?php echo $this->totalCash; ?>
    </div>
    <div class="buttons">
        <form action="https://www.housemarketapp.com/fbml/paypalRequest?<?php echo $_SERVER["QUERY_STRING"] ?>" method="post">
            <input class="fb_button" type="submit" value="<?php echo $this->translate("PP_CONF_BUTTON_CONFIRM"); ?>" name="btnCreditos" />
            <input type="hidden" name="invoice" value="<?php echo $this->invoice; ?>" />
            <input type="hidden" name="CodigoPropiedad" value="<?php echo $_POST["CodigoPropiedad"] ?>" />
            <?php foreach($this->prices as $key=>$price) { ?>
            <input type="hidden" name="txtPrice[<?php echo $key?>]" value="<?php echo $price ?>" />
            <?php } ?>
        </form>
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="P4P5BSQAVY7JU">
            <input type="hidden" name="item_number" value="1234">
            <input type="hidden" name="quantity" value="<?php echo $this->paypalQuantity; ?>">
            <input type="hidden" name="amount" value="<?php echo $this->paypalAmount; ?>">
            <input type="hidden" name="invoice" value="<?php echo $this->invoice; ?>">
            <input class="fb_button" type="submit" value="<?php echo $this->translate("PP_CONF_BUTTON_BUY"); ?>" name="btnComprar" />
        </form>
        <?php echo $this->form; ?>
    </div>
<?php } ?>
</div>