<?php
$cfg = Zend_Registry::get('config');
$signed = $_REQUEST['signed_request'];
$datafb = Zend_Registry::get('signed');
$owner = Zend_Registry::get('owner');
$fbDgt = new Dgt_Fb();
$namePage = $fbDgt->execFql("SELECT name FROM page WHERE page_id= " . $datafb['page']['id']);
defined('NAMEPAGE') || define('NAMEPAGE', $namePage[0]["name"]);
$fanpageurl = getUrlAmigable("https://www.facebook.com/pages/" . NAMEPAGE . "/" . $datafb['page']['id'] . "?sk=app_" . $cfg['facebook_appid']);
?>

<ul class="tabs" id="tabs">
    <?php if ($this->isadmin||!$this->novideo) { ?><li <?php if ($this->itemselected == "welcome") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=welcome"  target="_top"><?php if(!$this->novideo){?><i18n>LABEL_TAB_WELCOME</i18n><?php }else{?><i18n>LABEL_TAB_ADDVIDEO</i18n><?php }?></a></li><?php } ?>
    <li <?php if ($this->itemselected == "search") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=search" target="_top"><i18n>LABEL_TAB_SEARCH</i18n></a></li>
    <li <?php if ($this->itemselected == "profile") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=profile" target="_top"><i18n>TAB_CONTACT_US</i18n></a></li>
</ul>                    
<div class="main">
    <div id="perfil">
        <div class="wcontainer">
            <h1 class="looking"><i18n>LABEL_CONTACT_INFO</i18n></h1>
            <div class="perfil">
                <div class="uiHeader uiHeaderTopBorder uiHeaderNav">
                    <div class="clearfix uiHeaderTop">
                        <?php if ($this->isadmin) { ?><a href="<?= $cfg['fb_app_url']; ?>mihousebook/editcliente" target="_top" class="fbProfileEditLink uiHeaderActions rfloat"><i18n>LABEL_EDIT</i18n></a><?php } ?>
                    </div>
                </div>
                <ul class="bar">
                        <li><label><i18n>LABEL_EMAIL</i18n></label>
                            <input type="text" readonly class="infoprofile" value="<?php echo wordwrap($this->profile->email, 10); ?>" /></li>
                    <?php if (!empty($this->profile->twitter)) { ?>
                        <li><label><i18n>LABEL_TWITTER</i18n></label>
                            <input type="text" readonly class="infoprofile" value="<?php echo $this->profile->twitter; ?>" /></li>
                    <?php } ?>
                    <li><label><i18n>LABEL_WEBSITE</i18n></label>
                        <input type="text" readonly class="infoprofile" value="<?php echo $this->profile->webpage; ?>" /></li>
                    <li><label><i18n>LABEL_PHONE</i18n>:</label>
                        <input type="text" readonly class="infoprofile" value="<?php echo $this->profile->telefono; ?>" />
                    </li>
                    <li><label><i18n>LABEL_COMPANY</i18n>:</label>
                        <input type="text" readonly class="infoprofile" value="<?php echo $this->profile->nombreempresa; ?>" />
                    </li>            
                    <li><label><i18n>LABEL_TELEPHONE_COMPANY</i18n>:</label>
                        <input type="text" readonly class="infoprofile" value="<?php echo $this->profile->telefonoempresa; ?>" />
                    </li>            
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div style="float:right;margin-top: 11px;margin-right: 12px;"><a href="javascript:;" class="uiButton uiButtonDefault uiButtonMedium" id="isli" name="isli"><span class="uiButtonText"><i18n>LABEL_SEND_INQUIRY</i18n></span></a></div>
    <div class="clear"></div>
        <div class="dinamic_filter" style="display: none; margin-left: 5px;margin-bottom: 10px;width: 472px;" id="contact" name="contact">                    
            <h3><i18n>LABEL_SEND_INQUIRY</i18n> <em>(* Required)</em></h3>
            <form id="frmcontact" action="/fbml/tab/?email=true" method="post" style="width: 460px;">
                <input type="hidden" name="signed_request" id="signed_request" value="<?= $signed ?>"/>
                <input type="hidden" name="id" id="id" value="<?= $owner ?>"/>
                <table  id="table_send"  >
                    <tr>
                        <td colspan="3"><div id="mierror" class="warning" style="display:none;font-weight: bold;margin-left: -2px;" ></div></td>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            <div class="midiv"><i18n>LABEL_NAME</i18n><em>*</em><input class="minputs" type="text" id="name_c" name="name_c"  /></div>
                            <div class="midiv"><i18n>LABEL_EMAIL</i18n><em>*</em><input class="minputs" type="text" id="email_c" name="email_c"   /></div>
                            <div class="midiv"><i18n>LABEL_PHONE</i18n><input class="minputs" type="text" id="phone" name="phone"   /></div>
                        </td>
                        <td width="150" ></td>
                        <td rowspan="3"  ><i18n>LABEL_COMMENT</i18n><em>*</em><textarea id="inquiryPerfil" class="mitext" name="inquiryPerfil"   maxlength="235" ></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr> 
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;padding-top: 3px;"><div class="right"><input id="cancelar" class="button" type="reset" value="<i18n>LABEL_CANCEL</i18n>" /></div><div class="right" style="padding-right: 10px;"><input id="enviar" class="button" type="submit" value="<i18n>LABEL_SEND_INQUIRY</i18n>" /></div></td>
                    </tr>
                </table>  
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $().ready(function(){
        /*$('.imagen_propiedad img').error(function(){
            $(this).attr("src", __translate(AD_NO_IMAGE));
        });*/
        //Codigo para notificar un cambio en like    
        FB.Event.subscribe('edge.create', function(response) { 
            //console.log(response.session);
            
        });
    });
</script>