<style>
    .title {
        background: none repeat scroll 0 0 #6D84B4;
        border: solid 1px #ccc;
        padding: 10px 5px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        width: 100%;
    }
    .titledivider {
        border-bottom:1px solid #999;
        border-top:1px solid #CCCCCC;
        height:0;
        width: 100%;
        overflow:hidden;
    }
    a {
        margin-left:5px;
        padding:2px 6px;
        font-size:13px;
        background-color:#5B74A8;
        background-position:0 -48px;
        border-color:#29447E #29447E #1A356E;
        color:#FFFFFF;
    }
    .container {
        background-color: #ECEFF5;
        padding-bottom: 0px;
        width: 100%;
        height: 400px;
        vertical-align: middle;
    }
    .container p {
        padding: 10px;
    }
    .buttons {
        text-align: right;
        margin: 2px 2px 2px 2px;
        padding: 2px 10px 2px 2px;
    }
    p {
        text-align: justify;
        vertical-align: middle;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
        text-align: center;
    }
</style>
<div class="container">
<div class="title">
    <i18n>RESPONDE_TITLE_REQUEST</i18n> <fb:name uid="<?php echo $this->uidTo; ?>" capitalize="true" linked="false" useyou="false">
</div>
<div class="titledivider"></div>
<p>
    <i18n>REQUEST_PERMISSION</i18n>
</p>
<div class="buttons"><fb:prompt-permission perms="publish_stream,email,user_hometown,user_location,user_website">OK</fb:prompt-permission></div>
</div>