<script><?php
$fbparams = "";
foreach($_REQUEST as $key=>$value) {
    if(substr($key,0,6) == 'fb_sig') {
        $fbparams.= $key."=".$value."&";
    }
}
$fbparams;//.="fb_sig_in_iframe=1";
?>
var facebook_perms = '<?php echo ($fbparams); ?>';
</script>	
<style>
    .title {
        background: none repeat scroll 0 0 #6D84B4;
        border: solid 1px #ccc;
        padding: 10px 5px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    }
    .titledivider {
        border-bottom:1px solid #999;
        border-top:1px solid #CCCCCC;
        height:0;
        overflow:hidden;
    }
    .pic {
        float: left;
        border: solid 1px #EAEAEA;
        width: 50px;
        height: 50px;
        padding: 3px 3px 3px 3px;
        background: white 50% repeat fixed;
    }
    .detail {
        font-size: 12px;
        color: #888;
        font-weight: bold;
        vertical-align: middle;
        font-family: Arial;
        padding-left: 6px;
        padding-top: 3px;
        display: block;
        float: left;
    }
    a {
        margin-left:5px;
        padding:2px 6px;
        font-size:13px;
        background-color:#5B74A8;
        background-position:0 -48px;
        border-color:#29447E #29447E #1A356E;
        color:#FFFFFF;
    }
    form {
        background-color: #ECEFF5;
        padding-bottom: 0px;
    }
</style>
<div class="title">
    <i18n>RESPONDE_TITLE_REQUEST</i18n> <fb:name uid="<?php echo $this->uidTo; ?>" capitalize="true" linked="false" useyou="false">
</div>
<div class="titledivider"></div>
<? echo"hola".$this->testeo;?>
<fb:editor action="https://app.hmapp.com/fbml/responde-response?<?php echo $_SERVER["QUERY_STRING"]?>" labelwidth="2" width="500" >
    <input type="hidden" name="codigoprop" value="<?php echo $this->codigoPropiedad; ?>" readonly="readonly" />
    <fb:editor-custom label="<i18n>RESPONDE_TO_REQUEST</i18n>">
        <div class="pic">
            <fb:profile-pic uid="<?php echo $this->uidTo; ?>" facebook-logo="true" linked="false" size="square"></fb:profile-pic>
        </div>
        <div class="detail">
            <fb:name uid="<?php echo $this->uidTo; ?>" capitalize="true" linked="false" useyou="false"></fb:name>
        </div>
    </fb:editor-custom>
    <fb:editor-custom label="<i18n>RESPONDE_FROM_REQUEST</i18n>">
        <div class="pic">
            <fb:profile-pic uid="<?php echo $this->uidFrom; ?>" facebook-logo="true" linked="false" size="square"></fb:profile-pic>
        </div>
        <div class="detail">
            <fb:name uid="<?php echo $this->uidFrom; ?>" capitalize="true" linked="false" useyou="false"></fb:name><br />
            <input type="text" name="txtFrom" value="<i18n>RESPONDE_ENTER_EMAIL_REQUEST</i18n>" maxlength="64" style="width: 305px;"/>
        </div>
    </fb:editor-custom>
    <fb:editor-text label="<i18n>RESPONDE_SUBJECT_REQUEST</i18n>" name="subject" value="<i18n>RESPONDE_SUBJECT_RE_REQUEST</i18n> <?php echo $this->subject; ?>" maxlength="64" readonly="true"></fb:editor-text>
    <fb:editor-textarea label="<i18n>RESPONDE_MESSAGE_REQUEST</i18n>" name="message" rows="5"><i18n>RESPONDE_ENTER_MESSAGE_REQUEST</i18n></fb:editor-textarea>
    <fb:editor-divider></fb:editor-divider>
    <fb:editor-buttonset>
        <div style="text-align: right;">
            <fb:editor-button value="<i18n>RESPONDE_RESPONDE_BUTTON_REQUEST</i18n>"></fb:editor-button>
        </div>
    </fb:editor-buttonset>
</fb:editor>