<style>
    body {
        margin: 0px;
        padding: 0px;
    }
    .title {
        background: none repeat scroll 0 0 #6D84B4;
        border: solid 1px #ccc;
        padding: 10px 5px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    }
    .error {
        background-color:#FFEBE8;
        border-color:#DD3C10;
    }
    .status {
        background-color:#FFF9D7;
        border-color:#E2C822;
    }
    .UIMessageBox {
        border-style:solid;
        border-width:1px;
        padding:10px;
    }
    .UIMessageBox h1 {
        color:#333333;
        font-size:13px;
        margin:0;
        padding:0;
    }

    .UIMessageBox p {
        font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
        font-size:11px;
        margin: 4px 0 0;
        text-align:left;
    }

</style>
<div class="title">Responde</div>
<div class="UIMessageBox <?php echo $this->status; ?>">
    <h1><?php echo $this->title; ?></h1>
    <p><?php echo $this->message; ?></p>
</div>
