<html>      
    <head>
		<?php echo $this->headMeta() ?>
        <?php echo $this->headTitle() ?>
        <?php echo $this->headLink() ?>
        <?php echo $this->headStyle() ?>                
    </head>
    <body>
		<div class="content content-listpage">
			<div class="head">
			
			</div>
			<div class="box listbox">
				
				<div class="message">
					<div class="logo">
						<img alt="logo housemarket Tab" src="https://tab.hmapp.com/img/hmlogo.png" height="60px">
					</div>
					<div class="text">
						<?php echo $this->message ?>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="button">
				<?php if(isset($this->admin) && $this->admin == 1){  ?>
					<a class="instalar-tab" href="https://tab.hmapp.com/migrate/execute?page_id=<?php echo $this->pageid ?>" title="Instalar">Instalar</a>
				<?php }?>	
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>