<?php
$cfg = Zend_Registry::get('config');
$signed = $_REQUEST['signed_request'];
$datafb = Zend_Registry::get('signed');
$owner = Zend_Registry::get('owner');
$fbDgt = new Dgt_Fb();
$namePage = $fbDgt->execFql("SELECT name FROM page WHERE page_id= " . $datafb['page']['id']);
defined('NAMEPAGE') || define('NAMEPAGE', $namePage[0]["name"]);
$fanpageurl = getUrlAmigable("https://www.facebook.com/pages/" . NAMEPAGE . "/" . $datafb['page']['id'] . "?sk=app_" . $cfg['facebook_appid']);
?>
<ul class="tabs">
    <?php if ($this->isadmin||!$this->novideo) { ?><li <?php if ($this->itemselected == "welcome") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=welcome"  target="_top"><?php if(!$this->novideo){?><i18n>LABEL_TAB_WELCOME</i18n><?php }else{?><i18n>LABEL_TAB_ADDVIDEO</i18n><?php }?></a></li><?php } ?>
    <li <?php if ($this->itemselected == "search") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=search" target="_top"><i18n>LABEL_TAB_SEARCH</i18n></a></li>
   <li <?php if ($this->itemselected == "profile") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=profile" target="_top"><i18n>TAB_CONTACT_US</i18n></a></li>
</ul>                    
<div class="main">
    <div class="wcontainer">    
        <div class="leftpanel">
            <?php if ($this->profile->youvideo) { ?>
                <object height="303" width="490">
                    <param name="movie" value="<?php echo $this->profile->youvideo; ?>">
                    <param name="allowFullScreen" value="true">
                    <param name="wmode" value="opaque">
                    <param name="allowScriptAccess" value="always">
                    <embed src="<?php echo $this->profile->youvideo; ?>" type="application/x-shockwave-flash" wmode="opaque" allowfullscreen="true" allowScriptAccess="always" width="490" height="303">
                </object>
            <?php }else{ ?>
                <div class="videoholder">
                    <div class="textholder">
                        <p class="topspan"><i18n>LABEL_NO_VIDEO</i18n></p>
                        <p class="botspan"><i18n>LABEL_VIDEO_WISH</i18n> <a href="<?php echo $this->urlsitio; ?>mihousebook/editcliente" target="_blank" class="addvideo"><i18n>LABEL_HERE</i18n></a></p>
                        
                    </div>            
                </div>
            <?php } ?>
        </div>
        <div class="clear"></div>    
    </div>
    <div class="clear"></div>
    <br />
    <?php
    if ($this->showMsg == 1) {
        echo $this->flashMessenger() . "<br />";
    }
    ?>
    <div class="wcontainer">
        <h1 class="looking"><i18n>LABEL_LOOKING_FOR</i18n></h1>
        <div class="filters">
            <form id="formdi" name="formdi" method="post" action="/fbml/tab/?app_data=search">
                <input type="hidden" name="signed_request" id="signed_request" value="<?= $signed ?>"/>
                <input type="hidden" name="id" id="id" value="<?= $owner ?>"/>
                <div id="fixed_listing" class="element left">
                    <label style="font-weight: bold;"><i18n>SEARCH_PROPERTY_TYPE</i18n>:</label>
                    <select style="color: #555;width: 125px; " id="cbCategoria" name="cbCategoria" >
                        <?php
                        echo "<option value=''><i18n>LABEL_SEARCH_FILTER_LISTING_TYPE</i18n></option>";
                        foreach ($this->categories as $row) {
                            echo "<option value=$row->CodigoCategoria>$row->Categoria</option>";
                        }
                        ?>
                    </select>
                </div>
                <div class="element left">
                    <label style="font-weight: bold;"><i18n>SEARCH_PROPERTY_LISTING</i18n>:</label>
                    <select style="color: #555;width: 125px;" id="type" name="type" >
                        <?php
                        echo "<option value=''><i18n>LABEL_SEARCH_FILTER_LISTING_TYPE</i18n></option>";
                        foreach ($this->searchTypes as $row) {
                            echo "<option value=$row->CodigoEnlista>$row->Categoria</option>";
                        }
                        ?>
                    </select>
                </div>
                <div class="element left">
                    <label style="font-weight: bold;"><i18n>LABEL_SEARCH_FILTER_AREA</i18n>:</label>
                    <select style="color: #555;width: 70px;" id="minarea" name="minarea" >                            
                        <?php echo ComboAreaFt2("Min", 500, $_REQUEST["minarea"]); ?> 
                    </select>
                    <select style="color: #555;width: 70px;" id="maxarea" name="maxarea" onchange="" >
                        <?php echo ComboAreaFt2("Max", 500, $_REQUEST["maxarea"]); ?> 
                    </select>
                </div>
                <div class="element left">
                    <label style="font-weight: bold;">&nbsp;</label>
                    <select style="color: #555;width: 48px;" id="area" name="area" >                        
                        <option value="ft2">ft2</option>
                        <option value="mt2">mt2</option>
                    </select>                     
                </div>
                <div class="clear"></div>

                <div class="element left" id="droom" style="display: none">
                    <label style="font-weight: bold;"><i18n>LABEL_SEARCH_FILTER_ROOM</i18n>:</label>
                    <select style="color: #555;" id="room" name="room" >
                        <option value="">Any</option>
                        <?php
                        for ($i = 1; $i <= 5; $i++) {
                            echo "<option value=" . $i . ">$i+</option>";
                        }
                        ?>
                    </select>
                </div>
                <div class="element left" id="dprice" style="display: none">
                    <label style="font-weight: bold;"><i18n>LABEL_SEARCH_FILTER_PRICE</i18n>:</label>
                    <select style="color: #555" id="minprice" name="minprice" >
                        <? echo ComboRent("Min", 500, 1000, 5000, 10000, 0); ?> 
                    </select>

                    <select style="color: #555;" id="maxprice" name="maxprice" >
                        <? echo ComboRent("Max", 500, 1000, 5000, 10000, 0); ?> 
                    </select>
                </div>              

                <div class="element right send">
                    <?php if ($this->itemselected == "search") {?>
                        <a class="button" href="javascript:;" id="sendinquire"><span class="uiButtonText"><i18n>LABEL_SEND_INQUIRY</i18n></span></a>
                    <?php } ?>
                    <a class="button" href="javascript:;" onclick="formdi.submit()"><span class="uiButtonText"><i18n>LABEL_SEARCH_FILTER_SEARCH</i18n></span></a>
                </div>
                <div class="clear"></div>
            </form>
        </div>
        <div class="clear"></div>
        <br />
        </div><!--  Fin de wcontainer-->
</div>
<script type="text/javascript">
    $().ready(function(){
        $(".element select").change(function(){
            fillTextArea();
        });
        $("#sendinquire,#cancel").click(function(){
            $("#holderinquiry").animate({
                opacity: 1,
                height: 'toggle'
            },"slow");
        });
        
    });
</script>