<form action="#" method="post" enctype="multipart/form-data" name="hb" id="hb2" class="agregar_propiedad">
 <div class="button_group">
        <a href="#" class="button" id="btSaveUp" name="btSaveUp">Guardar Propiedad</a>
        <a href="#" class="button" id="btnSavePubUp" name="btSavePubUp">Guardar y Publicar Propiedad</a> <br/>
    </div>

 <div class="recuadro">
   <fieldset class="requeridos">
     <legend>Datos Generales <em>(*Información Requerida)</em></legend>
     <div><label>Tipo de Propiedad:&#13;  <em>*</em></label><?php echo $this->formSelect('cat', '', null, $this->categories) ?></div>
     <div>
       <label>Tipo de Enlistamiento:&#13;  <em>*</em></label>
       <label class="checkbox"><input type="checkbox" name="alquiler" id="alquiler" /> Alquiler US$</label>
       <input type="input" name="alquilerUS" id="alquilerUS" size="4" class="valor" />
       <label class="checkbox"><input type="checkbox" name="venta" id="venta" />Venta US$</label>
       <input type="input" name="ventaUS" id="ventaUS" size="4" class="valor" /></div>
     <div class="titulo"><label>T&iacute;tulo:<em>*</em></label><input type="input" name="titulo" id="titulo"/></div>
     <div class="ubicacion"><label>Ubicar Propiedad:<em>*</em></label><input type="text" name="dir" title="Ej. Villa Fontana, Nicaragua" id="dir"/>
         <a href="#" class="button" id="btFind" name="btFind">Ubicar en el mapa</a>
     </div>
     <div>
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td width="0%"><div id="map"></div></td>
         <td valign="middle"><table width="100%" border="0" align="center" cellpadding="10" cellspacing="0" style="margin:auto;">
           <tr>
             <td width="100%" valign="middle" nowrap="nowrap" >
             <div>
               <label>Pa&iacute;s:<em>*</em></label>
               <br />
               <input type="input" name="pais" id="pais" />
             </div>
               <div>
                 <label>Estado/Provincia:<em>*</em></label>
                 <br />
                 <input type="input" name="estado" id="estado" />
                </div>
               <div>
                 <label>Ciudad:<em>*</em></label>
                 <br />
                 <input type="input" name="ciudad" id="ciudad" />
               </div>
               <div>
                 <label>Direcci&oacute;n:<em>*</em></label>
                 <br />
                 <input type="input" name="direccion" id="direccion" />
               </div></td>
           </tr>
           <tr>
             <td valign="middle" nowrap="nowrap" ><div>
               <label>Código Postal:<em>*</em></label>
               <br />
               <input type="input" name="codigoPostal" id="codigoPostal" />
               </div></td>
           </tr>
         </table></td>
       </tr>
     </table>
     </div>
   </fieldset>
   <fieldset>
     <legend>Detalles de la Propiedad <u>(Información Opcional)</u></legend>
     <div class="descripcion">
       <label>Descripci&oacute;n: </label>
       <br>
       <label>
         <textarea name="descripcion" id="descripcion" ></textarea>
       </label>
     </div>
    <div class="detalle">
   <label>&Aacute;rea:</label><br />
   <input type="input" name="areaLote" id="areaLote" />
   <?php echo $this->formSelect('area', 'mt2', array("style"=>"width:45px;"), $this->UMSuperficies) ?>
   </div>
    <div class="detalle">
   <label>&Aacute;rea Lote:</label><br />
   <input type="input" name="areaLote" id="areaLote" />
   <?php echo $this->formSelect('area', 'mt2', array("style"=>"width:45px;"), $this->UMSuperficies) ?>
   </div>
   <div class="detalle">
       <label>Cuartos: </label><br />
       <input type="input" name="cuartos" id="cuartos" />
   </div>
    <div class="detalle">
   <label>Ba&ntilde;os: </label><br />
   <input type="input" name="banos" id="banos" />
   </div>
    <div class="detalle">
   <label>Aire Acondicionado:</label>
   <br />
   <input type="input" name="aire" id="aire" />
   </div>
   <div class="clear"></div>

   </fieldset>
   <fieldset>
     <legend>Beneficios <u>(Información Opcional)</u></legend>
     <div>
       <label class="beneficios">
         <input type="checkbox" name="benef1" id="benef1" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef4" id="benef4" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef2" id="benef2" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef5" id="benef5" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef6" id="benef6" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef7" id="benef7" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef8" id="benef8" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef9" id="benef9" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef10" id="benef10" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef11" id="benef11" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef12" id="benef12" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef13" id="benef13" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef14" id="benef14" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef15" id="benef15" />
         Piscina </label>
       <label class="beneficios">
         <input type="checkbox" name="benef16" id="benef16" />
         Piscina </label>
      <div style="clear:both"></div>
     </div>
   </fieldset>
   <fieldset>
     <legend>Fotos y Videos <u>(Información Opcional)</u></legend>
     <div class="filefield">
        <label>Foto Principal:</label>
        <input type="file" name="fprinc" id="fprinc">
        <label>Otras Fotos: </label>
        <input type="file" name="fotra1" id="fotra1">
	</div>
   </fieldset>
</div>
    <div class="button_group">
        <a href="#" class="button" id="btSaveDown" name="btSaveDown">Guardar Propiedad</a>
        <a href="#" class="button" id="btSavePubDown" name="btSavePubDown">Guardar y Publicar Propiedad</a> <br/>
    </div>
  </form>