<?php 



$this->headScript()->appendFile("https://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");



$this->headScript()->appendFile("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new");



$this->headScript()->appendFile('/js/jquery-1.3.2.min.js');



$this->headScript()->appendFile("/js/jquery-ui-1.7.2.custom.min.js");



$this->headScript()->appendFile("/js/validate/jquery.form.js");

$this->headScript()->appendFile("/js/validate/jquery.metadata.js");

$this->headScript()->appendFile("/js/validate/jquery.delegate.js");

$this->headScript()->appendFile("/js/validate/jquery.validate.js");

$this->headScript()->appendFile("/js/validate/jquery.corner.js");



$this->headScript()->appendFile("/js/validate/messages_es.js");

$this->headScript()->appendFile("/js/validate/validate_property.js");



$this->headLink()->appendStylesheet("https://www.google.com/uds/css/gsearch.css");



$this->headLink()->appendStylesheet("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.css");



//$this->headLink()->appendStylesheet("/css/layout_enlistar.css");

$this->headLink()->appendStylesheet("/css/style_form.css");



$this->headLink()->appendStylesheet("/css/custom-theme/jquery-ui-1.7.2.custom.css");

$this->headLink()->appendStylesheet("/css/errores.css");

$this->headLink()->appendStylesheet('/css/tabs.css');

$this->headLink()->appendStylesheet("/css/style_menu.css");



$this->headScript()->appendFile("/js/en_p.js");



?>

<style type="text/css">

    .x-tab-panel-body .x-panel-body {

        padding:0px;

    }

</style>

<div class="container">

    <ol>

        <li><label class="er mensaje"></label></li>

    </ol>

</div>

<br>

<div id="tabs_property">

    <div id="detalle" class="x-hide-display">

        <br>

        <div >



            <div class="mensaje"><?php echo $this->message;?></div>



            <form  class="form_enlistar" id="form_enlistar" action="<?php echo $this->url(array('controller'=>'enlistar', 'action'=>'add'));?>"  method="get" name="form_enlistar" target="_parent">

                <table border="0" cellpadding="5" cellspacing="5" width="498">

                    <tr>

                        <td  class="etiqueta">&nbsp;Tipo de Propiedad:</td>

                        <td  class="etiqueta2">

                            <select name="type_property" id="type_property" class="required" title="Seleccione un tipo de propiedad">

                                <?=$this->Cbotype_property?>

                            </select>                    </td>

                    </tr>

                    <tr>

                        <td class="etiqueta">&nbsp;Tipo de Enlistamiento:</td>

                        <td>



                            <input name="tipo_enlistamiento" class="tipo_enlistamiento1 required" id="tipo_enlistamiento1" type="checkbox" value="1" title="Seleccione un tipo de enlistamiento"/>&nbsp;Venta



                            <br />



                            <input name="tipo_enlistamiento" class="tipo_enlistamiento2 required" id="tipo_enlistamiento2" type="checkbox" value="2" title="Seleccione un tipo de enlistamiento"/>&nbsp;Renta



                            <br />



                            <input name="tipo_enlistamiento" class="tipo_enlistamiento3 required" id="tipo_enlistamiento3" type="checkbox" value="3" title="Seleccione un tipo de enlistamiento"/>&nbsp;Venta y Renta                    </td>

                    </tr>

                    <tr>



                        <td colspan="2">

                            <div class="fbinfobox">

                                <p>Ubica la propiedad en el mapa arrastrando el marcardor hacia la posici&oacute;n que usted estime se encuentra</p>

                            </div>

                        </td>

                    </tr>

                    <tr>



                        <td class="etiqueta">&nbsp; Localizaci&oacute;n de su propiedad:</td>



                        <td><input name="direction" type="text" id="direction" class="stilo1 textonormal" title="El campo Direcci&oacute;n es requerido"/></td>

                    </tr>



                    <tr>



                        <td colspan="2" align="center">



                            <div id="mapsearch" style="width:415px;height:260px">



                                <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>				</div>

                        </td>

                    </tr>

                  
                    <tr>



                 <!--    <td class="etiqueta">Pa&iacute;s:</td>-->



                        <td>



                            <select name="country" id="country" style="display:none;" class="required">



                                <?=$this->CboCountry?>

                            </select>           </td>

                    </tr>



                    <tr>



                        <td class="etiqueta">&nbsp;Pa&iacute;s:</td>



                        <td><input name="pais" type="text" id="pais" title="El campo pais no puede quedar en blanco" readonly/></td>

                    </tr>

                    <tr>



                        <td class="etiqueta">&nbsp;Estado/Provincia:</td>



                        <td><input name="estado" type="text" id="estado" /></td>

                    </tr>



                    <tr>



                        <td class="etiqueta">&nbsp;Localidad/Ciudad/Municipio:</td>



                        <td><input name="ciudad" type="text" id="ciudad" /></td>

                    </tr>

                    <tr>



                        <td class="etiqueta">&nbsp;Direcci&oacute;n:</td>



                        <td><input name="direction_propiedad" type="text" id="direction_propiedad"  title="El campo Direcci&oacute;n es requerido"/></td>

                    </tr>

                    <tr>



                        <td  colspan="2">

                            <div id="buttons">

                                <a href="#" class="button" id="submit" name="submit">Enlistar Propiedad</a>

                                <a href="#" class="button" id="rs" name="bt">Limpiar</a>

                            </div>

                        </td>

                    </tr>



                    <tr>



                        <td class="etiqueta" colspan="2">



                            <br>



                            <div class="fbinfobox iconeditar">Al dar Click a Enlistar Propiedad, usted acepta los <a href="#">Terminos y sevicios</a>



                                de HouseBook.Una notificaci&oacute;n de la propiedad entre sus amigos sera realizada en busca de vender  o alquilar



                                su propiedad                </div>            </td>

                    </tr>

                    <tr>



                   <!-- <td class="etiqueta">C&oacute;digo del Pa&iacute;s:</td>-->



                        <td><input name="zip_code" type="hidden" id="zip_code" style="height:0px;" /></td>

                    </tr>



                    <tr>



                     <!-- <td class="etiqueta">Latitud:</td>-->



                        <td><input name="latitud" type="hidden" id="latitud" style="height:0px;" /></td>

                    </tr>



                    <tr>



                     <!-- <td class="etiqueta">Longitud:</td>-->



                        <td><input name="longitud" type="hidden" id="longitud" style="height:0px;"/></td>

                    </tr>



                    <tr>



                    <!-- <td class="etiqueta">Id de Usuario:</td>-->



                        <td><input name="userid" type="hidden" id="userid" value="<?=$this->uid?>" style="height:0px;"/></td>

                    </tr>

                </table>
                <?php
                    $hidden_params = Zend_Registry::get('fbparams');
                    foreach($hidden_params as $k => $v){
                        echo '<input type="hidden" name="'. $k .'" value="' . $v . '" />';
                    }
                ?>


            </form>



        </div>

    </div>

</div>