<?php
//echo("<a href='tusitio.com'>Sitio</a>");
//Se trae de la configuracion de la web a que apunta.
$config = Zend_Registry::get('config');
$app = Zend_Registry::get('app');
$urlLocal = $config['local_app_url'];
$webChunkShare = "enlistar/perfil?valprop=";
?>
<br/>
<div id="perfil">
    <div id="fb_left-column">
        <div id="fb_poster-info">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>">
                <img  src="<?php echo $this->profile; ?>" alt="<?php echo $this->usernames; ?>" title="<?php echo $this->usernames; ?>" /></a>
        </div>
        <div class="box">
            <div class="fbtittle"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" ><?php echo $this->usernames; ?></a></div>
            <div id="fb_user-location" class="user-data">
                <?php if (!empty($this->email)) { ?><label><i18n>LABEL_EMAIL</i18n>: </label><?php echo $this->email;} ?>
                <?php if (!empty($this->twitter)) { ?><label><i18n>LABEL_TWITTER</i18n>: </label><?php echo $this->twitter;} ?>
                <?php if (!empty($this->telefono)) { ?><label><i18n>LABEL_PHONE</i18n>: </label><?php echo $this->telefono;} ?>
                <?php if (!empty($this->paginaweb)) { ?><label><a href="<?php echo $this->paginaweb ?>" target="_blank"><i18n>GOTO</i18n><i18n>LABEL_WEBSITE</i18n></a></label><?php } ?>
                <?php if (!empty($this->empresa)) { ?><label><i18n>LABEL_COMPANY</i18n>: </label><?php echo $this->empresa;} ?>
                <?php if (!empty($this->telempresa)) { ?><label><i18n>LABEL_TELEPHONE_COMPANY</i18n>: </label><?php echo $this->telempresa;} ?>                
                <br/><br/>
<?php echo $this->cantprop; ?><br/><br/>
                <a class="mls uiButton" target="_blank" href="https://www.facebook.com/messages/<?php echo (isset($this->previd)) ? $this->previd : $this->uid; ?>" >
                    <i class="mrs img sp_2085pr sx_53ef7b"></i>
                    <span class="uiButtonText"><i18n>LABEL_SEND_MESSAGE</i18n></span>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="fbtittle">
                <a href="#"><i18n>LABEL_MUTUAL_FRIENDS</i18n></a>
            </div>
            <div class="people clearfix">
                <div class="people-links clearfix">
                    <div class="people-count">
                        <a id="mutual" name="mutual" uid="<?php echo $this->uid; ?>"  href="#" rel="dialog" ajaxify="/ajax/social_graph/dialog/popup.php?id=1843315075&amp;filter=mutual">
<?php echo $this->totalMutualFriends ?> <i18n>LABEL_COMMON_FRIENDS</i18n>
                        </a>
                    </div>
                </div>
                    <?php if ($this->totalMutualFriends > 0) { ?>
                    <div class="people-pics">
                        <?php
                        if (is_array($this->mutualFriends) && count($this->mutualFriends) > 0) {
                            foreach ($this->mutualFriends as $friend) {
                                ?>
                                <div class="person">
                                    <img src="<?php echo $friend['pic_square']; ?>" alt="<?php echo $friend['first_name'] . ' ' . $friend['last_name']; ?>" title="<?php echo $friend['first_name'] . ' ' . $friend['last_name']; ?>"/> <br/>
                                    <a href="<?php echo $friend['profile_url'] ?>" target="_parent" ><?php echo $friend['first_name']; ?></a>
                                </div>
                        <?php } ?>
                        </div>
                    <?php }
                } ?>
            </div>
        </div>
        <div class="message-box">
            <b><i18n>REPORT_ABUSE_TITLE</i18n></b><br />
            <em>*</em> <i18n>REPORT_ABUSE_ADVISE_ONE</i18n><br />
            <em>*</em> <i18n>REPORT_ABUSE_ADVISE_TWO</i18n><br />
            <em>*</em> <i18n>REPORT_ABUSE_ADVISE_THREE</i18n> <a href="#" onclick="getReportAbuse('<?php echo $this->fb_path . $webChunkShare . $this->IdProp; ?>');"><i18n>REPORT_ABUSE_BUTTON_REPORT</i18n></a>.
        </div>
    </div><!-- Fin columna izquierda -->
    <div id="fb_right-column">
        <div id="listado_propiedades">
            <h1><i18n>LABEL_PROPERTY_PUBLISHED</i18n></h1>    
            <div id="galery">
                    <?php if (count($this->properties) > 0) { ?>
                    <div id="paginacion_superior">
    <?php echo $this->paginationControl($this->properties, 'Sliding', 'paginator/enlistarpropiedad/paginacion.phtml'); ?>
                    </div>   



                    <div id="listado_items"><?php foreach ($this->properties as $property) { ?>
                            <div id="propiedad_item_<?php echo $property["property"]->CodigoPropiedad ?>" class="propiedad_item">
                                <div class="likedvu">
                                </div>
                                <span class="detalle_propiedad">
                                    <span class="precio"><?php echo $property["property"]->NombreCategoria . " " . $property["property"]->Transaccion; ?></span>
                                </span>
                                <a target="_top" class="titulo" href="<?php echo $this->web_path ?>enlistar/perfil?valprop=<?php echo $property["property"]->CodigoPropiedad; ?>">
                                    <strong id="<?php echo $property["property"]->CodigoPropiedad; ?>"><?php $codigo = ($property["property"]->CodigoBroker == null || $property["property"]->CodigoBroker == "") ? "ID".$property["property"]->CodigoPropiedad :$property["property"]->CodigoBroker ;echo $codigo . " - " . $property["property"]->NombrePropiedad; ?></strong>
                                </a>
                                <div class="imagen_propiedad">
                                    <a target="_top" href="<?php echo $this->web_path ?>enlistar/perfil?valprop=<?php echo $property["property"]->CodigoPropiedad; ?>">
                                        <img id="<?php echo $property->CodigoPropiedad ?>" src="<?php echo $property["mainPhoto"]; ?>" height="90" width="120" />
                                    </a>
                                </div>
                                <div class="detalle_propiedad">
                                    <span class="direccion"><?php echo $property["property"]->Direccion; ?></span>
                                    <span class="detalles"><?php echo $property["attributes"]; ?></span>
                                    <span class="descripcion"><?php echo (strlen($property["property"]->DescPropiedad) > 203) ? substr($property["property"]->DescPropiedad, 0, 200) . "..." : $property["property"]->DescPropiedad; ?></span>
                                </div>
                                <div class="clear"></div>
                                <div class="fpOver">
                                    <div class="logo_right"></div>
                                </div>
                                <div class="clear"></div>
                            </div><?php } ?>
                    </div>
                </div>
                <div id="paginacion_inferior">
                <?php echo $this->paginationControl($this->properties, 'Sliding', 'paginator/enlistarpropiedad/paginacion.phtml'); ?>
                </div>
<?php } else { ?>
                <br />
                <div class="warning"><i18n>LABEL_NO_PROPERTY_TAB</i18n></div>
<?php } ?>
        </div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    $().ready(function(){
        $('.imagen_propiedad img').error(function(){
            $(this).attr("src", __translate(AD_NO_IMAGE));
        });        
    });
</script>