<?php
//echo $this->flashMessenger();
$flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('ZsamerFlashMessenger');
$flashMessenger->clearMessages();
?>
<!-- Formulario de Eliazer-->
<form id="inquiry" action="?noframe=true&email=true" method="post" name="inquiry">
    <div class="dinamic_filter" id="holderinquiry">
        <div>
            <input type="hidden" name="signed_request" id="signed_request" value="<?= $this->signed; ?>"/>
            <input type="hidden" name="id" id="id" value="<?= $this->params->id ?>"/>
            <input type="hidden" name="ownid" id="ownid" value="<?= $this->params->ownid ?>"/>
            <input type="hidden" name="response" id="response" value="<?= $this->params->response ?>"/>
            <input type="hidden" name="property" id="property" value="<?= $this->params->property ?>"/>
            <input type="hidden" name="photo" id="photo" value="<?= $this->params->photo ?>"/>
            <input type="hidden" name="location" id="location" value="<?= $this->params->location ?>"/>
            <input type="hidden" name="origin" id="origin" value="<?= $this->params->origin ?>"/>
        </div>

        <div class="pam uiBoxGray bottomborder">
            <div class="UIImageBlock_Content UIImageBlock_ICON_Content fsm fwn fcg infotext">
                <img src="https://hmapp.housemarketapp.com/img/iconh.png" alt="Housemarket" height="16px" width="16px" class="hmlogo">
                <?php echo $this->message; ?>
            </div>
        </div>

        <div class="bodyinquiry">
            <div id="sending" class="loading hidden"><i18n>MSG_SENDING_EMAIL</i18n></div>
            <div id="mierror" class="warning hidden"><ul></ul></div>
            <div id="info" class="hidden"><i18n>MSG_EMAIL_SENT</i18n></div>
            <div id="requestFriendsComments" class="hidden pam filterBoxAlignment uiBoxGray">
                <div><img src="/img/logo.gif" alt="Housemarket" class="uiProfilePhoto UIImageBlock_Image UIImageBlock_ICON_Image uiProfilePhotoLarge img" /></div>
                <p class="title"><i18n>MSG_ASK_FRIENDS_FOR_COMMENTS_TITLE</i18n></p>
                <p class="description"><i18n>MSG_ASK_FRIENDS_FOR_COMMENTS_DESCRIPTION</i18n></p>
                <div class="buttons">
                    <div class="submit uiButton uiButtonText uiButtonConfirm clearfix">
                        <input id="requestComments" type="submit" value="<i18n>MSG_SHARE</i18n>" />
                    </div>
                    <div class="submit uiButton uiButtonText clearfix">
                        <input id="noRequestComments" type="submit" value="<i18n>MSG_CANCEL</i18n>" />
                    </div>
                </div>
            </div>
            
            <div id="fields" class="uiInfoTable fbRegistrationTable noBorder element clearfix">

                <div class="column left-column">
                    <p class="element">
                        <label for="name_c"><i18n>LABEL_NAME</i18n>: <span class="required">*</span></label>
                        <input class="inputtext fbRegistrationTextField" type="text" id="name_c" name="name_c" value="<?php echo $this->userInformation['name']; ?>" tabindex="1" />
                    </p>

                    <p class="element">
                        <label for="email_c"><i18n>LABEL_EMAIL</i18n>: <span class="required">*</span></label>
                        <input class="inputtext fbRegistrationTextField" type="text" id="email_c" name="email_c" value="<?php echo $this->userInformation['email']; ?>" tabindex="2" />
                    </p>

                    <p class="element">
                        <label for="phone"><i18n>LABEL_PHONE</i18n>:</label>
                        <input class="inputtext fbRegistrationTextField" type="text" id="phone" name="phone" tabindex="3" />
                    </p>
                </div>
                
                <div class="column right-column">
                    <p class="element">
                        <label for="comment_c"><i18n>LABEL_MESSAGE</i18n>:</label>
                        <textarea class="inputtext fbRegistrationTextField" id="comment_c" name="comment_c" value="" tabindex="4" cols="10" rows="5"></textarea>
                    </p>
                </div>

                <div class="row">
                    <div class="submit uiButton uiButtonText uiButtonConfirm clearfix">
                        <input id="enviar" type="submit" value="<i18n>LABEL_SEND</i18n>" tabindex="5" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>