<?php
$config = Zend_Registry::get('config');
$signed=isset($_REQUEST['signed_request'])?$_REQUEST['signed_request']:'';
$owner = Zend_Registry::get('owner');
$params="&signed_request=".$signed;
if(isset($_REQUEST['cbCategoria'])&&!empty($_REQUEST['cbCategoria']))
$params.="&cbCategoria=".$_REQUEST['cbCategoria'];
if(isset($_REQUEST['type'])&&!empty($_REQUEST['type']))
$params.="&type=".$_REQUEST['type'];
if(isset($_REQUEST['minarea'])&&!empty($_REQUEST['minarea']))
$params.="&minarea=".$_REQUEST['minarea'];
if(isset($_REQUEST['maxarea'])&&!empty($_REQUEST['maxarea']))
$params.="&maxarea=".$_REQUEST['maxarea'];
if(isset($_REQUEST['area'])&&!empty($_REQUEST['area']))
$params.="&area=".$_REQUEST['area'];
if(isset($_REQUEST['room'])&&!empty($_REQUEST['room']))
$params.="&room=".$_REQUEST['room'];
if(isset($_REQUEST['minprice'])&&!empty($_REQUEST['minprice']))
$params.="&minprice=".$_REQUEST['minprice'];
if(isset($_REQUEST['maxprice'])&&!empty($_REQUEST['maxprice']))
$params.="&maxprice=".$_REQUEST['maxprice'];
$owner.=$params;
$web_path = $config['fb_app_url'] . "/";
if($this->pageCount) {
    ?>
<div class="sort_by">
    <strong><i18n>LABEL_PROPERTY_PROPERTY_RESULTS</i18n></strong> <strong><?php echo $this->firstItemNumber; ?></strong> <i18n>LABEL_PROPERTY_RESULTS_OF</i18n> <strong><?php echo $this->lastItemNumber; ?></strong> <i18n>LABEL_PROPERTY_RESULTS_OF</i18n> <strong><?php echo $this->totalItemCount; ?></strong>
</div>

<ul class="paginacion_cont">

    <!-- First page link -->
        <?php if(isset($this->previous)){ ?>
    <li class="paginacion_cont_li">
        <a class="paginacion_img" href="/fbml/tab?page=<?php echo $this->first . "&id=" . $owner; ?>">
            <img id="first" src="/img/page_first_blue.gif"/></a>
    </li>
        <?php } else{ ?>
    <li class="paginacion_cont_li">
        <span class="disabled"><img src="/img/page_first_gray.gif"/></span>
        <?php } ?></li>


    <!-- ADD PREVIOUS BUTTON -->
        <?php
        if(isset($this->previous)) {
            ?>
    <li class="paginacion_cont_li"><a class="paginacion_img" href="/fbml/tab?page=<?php echo $this->previous. "&id=" . $owner; ?>">
            <img id="previous" src="/img/page_previous_blue.gif"/></a>
    </li>
            <?php } else { ?>
                        <li class="paginacion_cont_li"><span class="disabled"><img src="/img/page_previous_gray.gif"/></span>
                        </li>
            <?php } ?>

    <!-- SHOW THE AVAILABLE PAGES -->
        <?php
        foreach($this->pagesInRange as $page) {
            if($page != $this->current) {
                ?>
    <li class="paginacion_cont_li">
        <a class="paginacion_cont_a" href="?page=<?php echo $page. "&id=" .$owner;  ?>"><?php echo $page; ?></a>
    </li>
                <?php
            }else {
                ?>
    <li class="paginacion_cont_li current"><a class="paginacion_cont_a" href="#"><?php echo $this->current; ?></a></li>
                <?php
            }
        }
        ?>
    <!-- ADD NEXT BUTTON -->
        <?php
        if(isset($this->next)) {
            ?>
            <li class="paginacion_cont_li"><a class="paginacion_img" href="/fbml/tab?page=<?php echo $this->next. "&id=" . $owner; ?>"><img id="next" src="/img/page_next_blue.gif"/></a></li>
        <?php }
        else { ?>
            <li class="paginacion_cont_li"><span class="disabled"><img src="/img/page_next_gray.gif"/></span>
            </li>
        <?php } ?>


    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
        <li class="paginacion_cont_li"><a class="paginacion_img" href="/fbml/tab?page=<?php echo $this->last . "&id=" . $owner; ?>">
            <img id="last" src="/img/page_last_blue.gif"/>
        </a></li>
    <?php else: ?>
        <li class="paginacion_cont_li"><span class="disabled"><img src="/img/page_last_gray.gif"/></span>
         </li>
    <?php endif; ?>
</ul>
    <?php
}
?>