<?php
$config = Zend_Registry::get('config');
$signed=$_REQUEST['signed_request'];
$owner = Zend_Registry::get('owner');
$owner.="&signed_request=".$signed;
$minprice = $_REQUEST["minprice"];
$maxprice = $_REQUEST["maxprice"];
$type = $_REQUEST["type"];
$category = $_REQUEST["cbCategoria"];
$paramters = "&minprice=".$minprice."&maxprice=".$maxprice."&cbCategoria=".$category."&type=".$type;

$web_path = $config['fb_app_url'] . "/";
if($this->pageCount) {
    ?>
<div class="sort_by">
    <strong><i18n>LABEL_PROPERTY_PROPERTY_RESULTS</i18n></strong> <b id="FirstItemNumber"><strong><?php echo $this->firstItemNumber; ?></b></strong> -<b id="lastItemNumber"><strong > <?php echo $this->lastItemNumber; ?></strong></b> <i18n>LABEL_PROPERTY_RESULTS_OF</i18n><b id="TotalItemNumber"> <strong><?php echo $this->totalItemCount; ?></strong></b>
</div>

<ul  id="pages_cont" class="paginacion_cont">

    <!-- First page link -->
        <?php if(isset($this->previous)){ ?>
    <li id="first_li" class="pag_desac">
        <a id="first_a"class="paginacion_img" href="javascript:;"><img id="first" src="/img/page_first_blue.gif"/></a>
    </li>
        <?php } else{ ?>
    <li id="first_li" class="pag_desac">
        <span class="disabled"><img src="/img/page_first_gray.gif"/></span>
        <?php } ?></li>


    <!-- ADD PREVIOUS BUTTON -->
        <?php
        if(isset($this->previous)) {
            ?>
    <li id="previous_li" class="pag_desac">
        <a id="previous_a" href="javascript:;">    <img id="previous" src="/img/page_previous_blue.gif"/></a>
    </li>
            <?php } else { ?>
                        <li id="previous_li"class="pag_desac"><span class="disabled"><img src="/img/page_previous_gray.gif"/></span>
                        </li>
            <?php } ?>

    <!-- SHOW THE AVAILABLE PAGES -->
        <?php
        foreach($this->pagesInRange as $page) {
            if($page != $this->current) {
                ?>
    <li id="li_<?php echo $page; ?>" class="paginacion_cont_li">
        <a id="<?php echo $page; ?>" class="paginacion_cont_a" href="javascript:;"><?php echo $page; ?></a>
    </li>
                <?php
            }else {
                ?>
    <li id='li_<?php echo $this->current; ?>'  class="paginacion_cont_li current"><a id="<?php echo $this->current; ?>" class="paginacion_cont_a" href="javascript:;"><?php echo $this->current; ?></a></li>
                <?php
            }
        }
        ?>
    <!-- ADD NEXT BUTTON -->
        <?php
        if(isset($this->next)) {
            ?>
            <li id="next_li" class="pag_desac"> <a id="next_a">  <img id="next" src="/img/page_next_blue.gif"/></a></li>
        <?php }
        else { ?>
            <li id="next_li" class="pag_desac"><span class="disabled"><img src="/img/page_next_gray.gif"/></span>
            </li>
        <?php } ?>


    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
        <li id="last_li" class="pag_desac">
            <a id="last_a" href="javascript:;">  <img id="last" src="/img/page_last_blue.gif"/></a>
       </li>
    <?php else: ?>
        <li id="last_li" class="pag_desac"><span class="disabled"><img src="/img/page_last_gray.gif"/></span>
         </li>
    <?php endif; ?>
</ul>
    <?php
}
?>