<?php
$web_host = Zend_Registry::get("web_host");
$web_path = Zend_Registry::get("web_path");

// obtener controlador actual y agregar clase active al item de menu actual
// usando instancia del front controller.
$fc = Zend_Controller_Front::getInstance();
$c = $fc->getRequest()->getParam('controller', '');
$Pedido = '';
$Autorizar = '';
$Usuario = '';
$SolCarga = '';
$SolTab = '';
$Representante = '';
$servedor = '';
switch ($c) {
    case 'creditos':
        $Pedido = ' class="active"';
        break;

    case 'autorizar':
        $Autorizar = ' class="active"';
        break;

    case 'carga':
        $SolCarga = ' class="active"';
        break;

    case 'tab':
        $SolTab = ' class="active"';
        break;

    case 'useradmin':
        $Usuario = ' class="active"';
        break;
    case 'representante':
        $Representante = ' class="active"';
        break;
    case 'servedor':
     	$servedor = ' class="active"';
       	break;
    default:
        $m = 0;
        break;
}

$admin = false;
$test_user = Zend_Auth::getInstance()->getIdentity();
if ($test_user->tipo == 'Administrador')
    $admin = true;
?>
<?php print_debug_info(); ?>
<div id="tab_menu" >
    <ul class="tabs">
        <?php
        $path = $web_host . $web_path;
        echo "<li>
            <a href='$path/index.php/creditos' $Pedido>
                Registrar Pedidos</a>
        </li>";
        if ($admin) {
            echo "<li>
            <a href='$path/index.php/autorizar' $Autorizar>
             Autorizar Pedidos</a>
        </li>
        <li>
            <a href='$path/index.php/carga' $SolCarga>
             Autorizar Carga Masiva</a>
        </li>
        <li>
            <a href='$path/index.php/tab' $SolTab>
             Autorizar Tab</a>
        </li>
        <li>
            <a href='$path/index.php/useradmin' $Usuario>
             Administrar Usuarios</a>
        </li>
        <li>
            <a href='$path/index.php/representante' $Representante>
             Representantes</a>
        </li>
        <li>
            <a href='$path/index.php/servedor' $servedor>
             Administrar</a>
        </li>";
        }
        ?>
    </ul>
</div>