<script src="<?php echo $this->web_path; ?>/js/reportes.js" type="text/javascript"></script>
<div id="report_select"></div>
<div id="result"></div>
<!--

<ul>
    <li>
        <a href="#">
            Consulta de n&uacute;meros por usuario (cantidad) x rango de fecha
        </a>
    </li>
    <li>
        <a href="#">
            N&uacute;meros dentro de la promoci&oacute;n x usuario y por rango de fecha
        </a>
    </li>
</ul>
-->
<div id="reportpanel"></div>
<div id="report1"></div>
<div id="report2"></div>