<link rel="stylesheet" type="text/css" href="/css/jquery.ad-gallery.css">
<link rel="stylesheet" type="text/css" href="/css/layout_enlistar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.ad-gallery.js?rand=<?=md5(rand(1,1000))?>"></script>
 <script type="text/javascript">
  $(function() {
//    $('img.image1').data('ad-desc', 'Whoa! This description is set through elm.data("ad-desc") instead of using the longdesc attribute.<br>And it contains <strong>H</strong>ow <strong>T</strong>o <strong>M</strong>eet <strong>L</strong>adies... <em>What?</em> That aint what HTML stands for? Man...');
//    $('img.image1').data('ad-title', 'Title through $.data');
    var galleries = $('.ad-gallery').adGallery();

//    $('#toggle-slideshow').click(
//      function() {
//        galleries[0].slideshow.toggle();
//        return false;
 //     }
 //   );
  });
  </script>

  <style type="text/css">
  body {
    padding: 0px;
    margin:0px;
    background: #ffffff;
  }
  ul {
    list-style-image:url(list-style.gif);
  }
  pre {
    font-family: "Lucida Console", "Courier New", Verdana;
    border: 1px solid #CCC;
    background: #f2f2f2;
    padding: 10px;
  }
  code {
    font-family: "Lucida Console", "Courier New", Verdana;
    margin: 0;
    padding: 0;
  }

  #gallery {
    background:transparent none repeat scroll 0 0;
    left:9px;
    position:relative;
  }


  #toggle-slideshow{
    color:#333333;
    font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
    font-size:11px;
    line-height:2;
    margin-left:40px;
  }

  </style>


<div id="container" >
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-controls">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
              <?php if(count($this->gallery) > 0) : ?>
              <?php
                $i=0;
                foreach($this->gallery as $image) : ?>
                        <li>
                            <?php
                              $image_thumb= str_replace('normal','thumb',$image->src);
                             // echo $image_thumb."<br>";
                             ?>
                             <a href="<?php echo $image->src ?>">
                                       <img src="<?php echo $image_thumb ?>" class="image<?php echo $i?>" >
                            </a>
                        </li>
                <?php
                        $i++;
                        endforeach;
                 ?>
                 <?php endif; ?>
          </ul>
        </div>
      </div>
    </div>
    <!--<a href="#" id="toggle-slideshow">Mostrar/Ocultar slideshow</a>-->
</div>
