<img src="/img/credits_benefits.gif" alt="" width="255" height="300" align="right" style="border:1px solid #CCC; margin-left:10px; margin-top:20px;" />
<h3><i18n>LABEL_CONTACT_TITLE</i18n></h3>
<h4><i18n>LABEL_CONTACT_SUB_TITLE</i18n></h4>
<i18n>LABEL_CONTACT_STEPS</i18n>
<div class="clear"></div>
<?php
echo $this->partial('representantes.phtml', array(
    'columns' => 3,
));
?>