<fieldset>
    <legend>An error occurred</legend>
    <div id="message">
        <?php echo $this->message ?>
    </div>
    <?php if(true) {?>
    <div id="exception">
        <label>Exception information:</label>
        <pre>
            <?php echo $this->exception->getMessage() ?>
        </pre>
    </div>
    <div id="stacktrace">
        <label>Stack trace:</label>
        <pre><?php echo $this->exception->getTraceAsString() ?></pre>
    </div>
    <div id="parameters">
        <label>Request Parameters:</label>
        <pre><?php  echo var_export($this->request->getParams(), true); ?></pre>
    </div>
    <?php } ?>
</fieldset>