<script><?php
$fbparams = "";
foreach($_REQUEST as $key=>$value) {
    if(substr($key,0,6) == 'fb_sig') {
        $fbparams.= $key."=".$value."&";
    }
}
$fbparams;//.="fb_sig_in_iframe=1";
//echo($fbparams);
?>
var facebook_perms = '<?php echo ($fbparams); ?>';
</script>
<?php
//Se trae de la configuracion de la web a que apunta.
$config = Zend_Registry::get('config');
$urlLocal = $config['local_app_url'];
$webChunkShare = "enlistar/perfil?valprop=";
?>
<br />
    <!--perfil-->
<div id="perfil">
    <div id="perfil">
        <?php echo $this->flashMessenger();?>
        <div id="fb_left-column">
            <div id="fb_poster-info"> 
                <a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>">
                    <img  src="<?php echo $this->profile; ?>" alt="<?php echo $this->usernames; ?>" title="<?php echo $this->usernames; ?>" /></a> </div>
            <div class="box">
                <div class="fbtittle"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" ><?php echo $this->usernames; ?></a></div>
                <div id="fb_user-location" class="user-data">
                    <?php echo $this->cantprop; ?><br/><br/>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" ><i18n>LABEL_SEND_MESSAGE</i18n></a>
                </div>
            </div>
            <div class="box">
                <div class="fbtittle">
                    <a href="#"><i18n>LABEL_MUTUAL_FRIENDS</i18n></a>
                </div>
                <div class="people clearfix">
                    <div class="people-links clearfix">
                        <div class="people-count">
                            <a id="mutual" name="mutual" uid="<?php echo $this->uid; ?>"  href="#" rel="dialog" ajaxify="/ajax/social_graph/dialog/popup.php?id=1843315075&amp;filter=mutual">
                                <?php echo $this->totalMutualFriends ?> <i18n>LABEL_COMMON_FRIENDS</i18n>
                            </a>
                        </div>
                    </div>
                    <?php if($this->totalMutualFriends > 0) { ?>
                        <div class="people-pics">
                            <?php foreach ($this->mutualFriends as $friend){ ?>
                                <div class="person">
                                    <img src="<?php echo $friend['pic_square']; ?>" alt="<?php echo $friend['first_name'] .' '.$friend['last_name']; ?>" title="<?php echo $friend['first_name'] .' '.$friend['last_name']; ?>"/> <br/>
                                    <a href="<?php echo $friend['profile_url'] ?>" target="_parent" ><?php echo $friend['first_name']; ?></a>
                                </div>
                            <?php } ?>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <div class="box">
                <div class="fbtittle">
                    <a id="search_brokers" href="#"><i18n>LABEL_SEARCH_BROKERS_TITLE</i18n></a>
                </div>
                <div class="people clearfix">
                    <form id="frmAllBrokers" name="frmAllBrokers" method="get" action="<?php echo $this->web_path . $this->url(array('controller'=>'index', 'action'=>'showallbrokers')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top">
                        <div class="people-links clearfix">
                            <div class="people-count">
                                <a id="link_all_brokers" href="#superior"><span id="see_all_count">0</span> <i18n>LABEL_TOTAL_BROKERS_AREA</i18n></a>
                            </div>
                        </div>
                        <div id="allBrokers" class="people-pics">

                        </div>
                    </form>
               </div>
            </div>
            <div class="message-box">
                <b><i18n>REPORT_ABUSE_TITLE</i18n></b><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_ONE</i18n><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_TWO</i18n><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_THREE</i18n> <a href="#" onclick="getReportAbuse('<?php echo $this->fb_path .$webChunkShare. $this->IdProp; ?>');"><i18n>REPORT_ABUSE_BUTTON_REPORT</i18n></a>.
            </div>
        </div>
        <div id="fb_right-column">
            <div class="header">
                <table cellpadding="0" cellspacing="0"><tr>
                        <td width="100%"> <h3><?php echo $this->property->NombreCategoria . " " . $this->property->Transaccion; ?></h3></td><td align="right"  width="0%" nowrap="nowrap"><?php echo $this->botonesprop;?></td></tr></table>
                <h4><?php echo "ID" . $this->IdProp . " - " . $this->property->NombrePropiedad ; ?></h4>
                <?php
                echo $this->addressProperty;
                ?>
                <div  class="clear"></div>
            </div>
            <div class="detail-actions message-box clearfix">
			<i18n>PROFILE_SHARE_BUTTON</i18n>
                <div id="share"> 
                    <?php
                    $mainPhoto = $this->urlLocal . "/img/en/ad_no_image.jpg";
                    if($this->photos && $this->photos->count() >= 0) {
                        $mainPhoto = $this->urlLocal . "/imagen.php?id=".$this->photos->current()->PROFotoID."&tipo=" . Hm_Pro_Foto::$_PHOTO_TYPES["Principal"];
                    }
                    ?>
                    <a href="#" type="button" id="btnShare"  name="btnShare"
                       caption="<?php echo $this->translate("LABEL_FOR") . " " . $this->property->Transaccion . " - " . $this->property->NombreCategoria; ?>"
                       description="<?php echo $this->property->NombrePropiedad; ?>"
                       location=" <?php echo $this->property->Direccion; ?>"
                       urlFbProperty="<?php echo $this->fb_path . $webChunkShare. $this->IdProp; ?>"
                       imageSrc="<?php echo $mainPhoto?>"
                       urlSrvProperty="<?php echo $this->fb_path . $webChunkShare. $this->IdProp; ?>"><i18n>PROFILE_SHARE_BUTTON</i18n></a>
                </div>
                <?php if($this->showResponde) { ?>
                <div id="responde">
                    <a id="btnResponde" href="#" code="<?php echo $this->IdProp; ?>"><i18n>PROFILE_RESPONDE_BUTTON</i18n></a>
                </div>
                <?php } ?>
                <div class="poster-contact">
                </div>
            </div>
            <!-- Comienza el cambio en el manejo de fotos hecho a la pagina -->
            <?php if($this->photos) { ?>
            <div id='page'>
                <div id='container'>
                    <!-- Start Advanced Gallery Html Containers -->
                    <div id='gallery' class='content'>
                        <div id='controls' class='controls'></div>
                        <div class='slideshow-container'>
                            <div id='loading' class='loader'></div>
                            <div id='slideshow' class='slideshow'></div>
                        </div>
                        <div id='caption' class='caption-container'></div>
                    </div>
                    <div id='thumbs' class='navigation'>
                        <ul class='thumbs noscript'><?php
                            foreach($this->photos as $photo) {
                                ?><li>
                                <a class='thumb' name='leaf' href='/imagen.php?id=<?php echo $photo["PROFotoID"]?>&tipo=<?php echo Hm_Pro_Foto::$_PHOTO_TYPES["Principal"] ?>'>
                                    <img src='/imagen.php?id=<?php echo $photo["PROFotoID"] ?>&tipo=<?php echo Hm_Pro_Foto::$_PHOTO_TYPES["Galeria"] ?>'/>
                                </a>
                                <div class='caption'>
                                    <div class='image-desc'><?php echo $photo["Comentario"]; ?></div>
                                </div>
                            </li><?php
                                }
                                ?></ul>
                    </div>
                    <div style='clear: both;'></div>
                </div>
            </div>
                <?php }else { ?>
            <div id='no-image'><img src='/img/no_img_full.gif' width='529' height='362' /></div>
            <?php }?>
        <div id="detalle">
            <div class="column1">
                
                <?php echo $this->caracteristicas; ?>
            </div><!-- Fin div column1 -->
            <div class="column2">
                <div id="mapsearch"></div>
            </div>
            <div class="clear"></div>
                 <?php
                    if($this->property->DescPropiedad!="") {?>
                        <h6><i18n>ADD_ESTATE_ADDITIONAL_INFO_DESCRIPTION</i18n>:</h6>
                        <p>
                            <?    echo $this->property->DescPropiedad; ?>
                         </p>
                   <?php }
                 ?>
           
            
            
                <?php
                    if($this->beneficiosprop!="") {
                        ?>
                        <h6><i18n>ADD_ESTATE_AMMENITIES_TITLE</i18n>:</h6>
                        <p>
                            <?php echo $this->beneficiosprop; ?>
                         </p>
                       <?php }
                 ?>
            
        </div><!-- Fin div detalles -->
      <!--  <fb:comments xid="109002199131497<?php echo $this->IdProp; ?>"
                     send_notification_uid="<?php echo $this->uid; ?>"
                     canpost="true"
                     url="<?php echo $this->fb_path . $webChunkShare. $this->IdProp; ?>"
                     showform="true"
                     numposts="2"
                     reverse="true"
                     css="<?php echo $this->urlLocal; ?>/css/fb_comments.css">
            <fb:title><div class="fbtittle"><i18n>LABEL_PROPERTY_COMMENT</i18n></div></fb:title>
        </fb:comments> -->
        </div><!-- Fin div fb_right-column -->
    </div> <!-- Fin div perfil segundo -->
    <div class="clear"></div>
 </div> <!-- Fin div perfil primero -->
 <div class="clear"></div>
                   <!-- <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span> -->
        <input name="zip_code" type="hidden" id="zip_code" style="height:0px;" />
        <input name="latitud" type="hidden" id="latitud" style="height:0px;" />
        <input name="longitud" type="hidden" id="longitud" style="height:0px;"/>
        <input name="userid" type="hidden" id="userid" value="<?=$this->uid?>"/>
        <?php
        $hidden_params = Zend_Registry::get('fbparams');
        foreach($hidden_params as $friend => $v) {
            echo '<input type="hidden" name="'. $friend .'" value="' . $v . '" />';
        }
        ?>
