<script>
<?php
$fbparams = "";
foreach ($_REQUEST as $key => $value) {
    if (substr($key, 0, 6) == 'fb_sig') {
        $fbparams.= $key . "=" . $value . "&";
    }
}
$fbparams;
?>
    var facebook_perms = '<?php echo ($fbparams); ?>';
</script>

<style type="text/css">
</style>
<h3><i18n>CURRENCIES_BY_COUNTRY</i18n></h3>
<p class="currency-message"><i18n>ONE_CURRENCY_PER_COUNTRY_MESSAGE</i18n></p>
<?php if ($this->currenciesByCountryTable) { echo $this->currenciesByCountryTable; } ?>
