<?php
//echo("hola");
$masive_perms = $this->masive;
if($this->masive){
   // echo ($masive_perms." Carga Masiva"); ?>
  <div id="tabs_property">
        <div class="mensaje"><?php echo $this->message;?></div>
        <h3><i18n>LABEL_UPLOAD_LISTING</i18n></h3>
        <div> 
            <i18n>MSG_DOWLOAD_FILE_UPLOAD</i18n>
            <p>
            <strong><i18n>LABEL_DOWNLOAD_SPECIFICATION</i18n>:</strong> <a target="_blank" href="<? echo $this->docDirectory."Housemarket_Carga_masiva.pdf";?>"><i18n>LABEL_ESPA</i18n></a>, <a target="_blank" href="<? echo $this->docDirectory."Housemarket_Listing_Upload.pdf";?>"><i18n>LABEL_ENGL</i18n></a>
            <br />
            <br />
            <strong><i18n>LABEL_DOWNLOAD_EXCEL_EXAMPLE</i18n>:</strong> <a target="_blank" href="<? echo $this->docDirectory."Housemarket_Listing_Upload_Complete_Example.xlsx";?>"><i18n>LABEL_UL_COMPLETE_EXAMPLE</i18n></a>, <a target="_blank" href="<? echo $this->docDirectory."Housemarket_Listing_Upload_Only_Required_Attributes_Example.xlsx";?>"><i18n>LABEL_UL_ONLY_REQUIRED_ATTRIBUTES_EXAMPLE</i18n></a>
            <br />
            <br />
            <strong><i18n>LABEL_DOWNLOAD_TXT_EXAMPLE</i18n>:</strong> <a target="_blank" href="<? echo $this->docDirectory."Housemarket_Listing_Upload_Complete_Example.txt";?>"><i18n>LABEL_UL_COMPLETE_EXAMPLE</i18n></a>, <a target="_blank" href="<? echo $this->docDirectory."Housemarket_Listing_Upload_Only_Required_Attributes_Example.txt";?>"><i18n>LABEL_UL_ONLY_REQUIRED_ATTRIBUTES_EXAMPLE</i18n></a>
            </p>
        </div>
        <form class="form_show" id="form_show" action="#" method="post" target="_parent" name="form_show" enctype="multipart/form-data">
            <?php
				foreach($_REQUEST as $key=>$value) {
    				if(substr($key,0,6) == 'fb_sig') {
				?><input type="hidden" id="<?php echo $key ?>" name="<?php echo $key ?>" value="<?php echo $value ?>" /><?php
   			 }
		}?>  <!-- <input type="hidden" id="fb_sig_in_iframe" name="fb_sig_in_iframe" value="1" /> -->
            <label> <i18n>LABEL_FILE</i18n>: </label><input type="file" name="file" id="file" size="60"/>
            <div class="button_group"><input type="submit" class="button" style='cursor:pointer;' id="enviar" value="<i18n>LABEL_LOAD_DATA</i18n>" /></div>
        </form>
    </div>
<?php }
if(!$this->masive){?>
 <div id="tabs_property">
    <h3><i18n>LABEL_REQUEST_LISTING_UPLOAD</i18n></h3>
   <i18n>MSG_REQUEST_LISTING_UPLOAD</i18n><br/><br/>
   <i18n>MSG_EXPLAINING_LISTING_UPLOAD</i18n><br/><br/>
<div id="perfil">
     <div id="user_info">
        <div class="box">
            <?php echo $this->flashMessenger();?>
            <? $newuser = $this->hdestado;
               if($newuser==1 or $newuser==2){?>
            	<a href="https://tab.hmapp.com/landing/contact" class="button" style="cursor:pointer;" ><i18n>LABEL_REQUEST_LISTING_UPLOAD</i18n></a>
            <? }else { ?>
                <form class="form_sol" id="form_sol" action="#" method="post" target="_self" name="form_sol" >
				<?php foreach($_REQUEST as $key=>$value) {?>
    				<?php if(substr($key,0,6) == 'fb_sig') {?>
    					<input type="hidden" id="<?php echo $key?>" name="<?php echo $key ?>" value="<?php echo $value ?>" />
    				<?php }?>
				<?php }?>
				<!-- <input type="hidden" id="fb_sig_in_iframe" name="fb_sig_in_iframe" value="1" />-->
                <div class="button_group">
                	<input  class="button"  name="Guardar" value="<i18n>LABEL_REQUEST_LISTING_PEND</i18n>" disabled />
                </div>
                <input type="hidden" name="hdnuevo" value="<?php echo $this->hdnuevo ?>" />
                </form>
			<? } ?>
        </div>
    </div>
</div>
</div>
<?php
}
?>