<script>
<?php
$fbparams = "";
foreach ($_REQUEST as $key => $value) {
    if (substr($key, 0, 6) == 'fb_sig') {
        $fbparams.= $key . "=" . $value . "&";
    }
}
$fbparams; //.="fb_sig_in_iframe=1";
?>
    var facebook_perms = '<?php echo ($fbparams); ?>';
</script>
<?php
// $h=chr(0x00); echo $h; echo("hola");
//$this->headScript()->appendFile("/js/propcargamasiva.js");
$this->headScript()->appendFile("/js/rescargamasiva.js");
$this->headLink()->appendStylesheet("/css/layout_enlistar.css");
$this->headLink()->appendStylesheet("/css/style_menu.css");
$this->headLink()->appendStylesheet('/css/tabs.css');
?>
<style type="text/css">
    .x-tab-panel-body .x-panel-body {
        padding:0px;
    }
    #ext-comp-1001, #ext-gen6, #ext-comp-1002, #ext-gen8, #ext-gen26 {
        width:auto;
    }
</style>
<form id="hb" name="hb" method="post" action="#">
    <h3><i18n>LABEL_RESULT_UPLOAD</i18n></h3>
    <br />
    <?php echo $this->mensaje; ?>
    <?php if($this->errores) echo $this->errores; ?>

    <br />
    <input name="no_result" id="no_result" type="hidden" value="<i18n>LABEL_NO_RESULTS</i18n>" />
    <input name="_showin" id="_showin" type="hidden" value="<i18n>LABEL_SHOWING</i18n>" />
    <input name="_of" id="_of" type="hidden" value="<i18n>LABEL_OF</i18n>" />
    <input name="property_type" id="property_type" type="hidden" value="<i18n>LABEL_PROPERTY_TYPE</i18n>" />
    <input name="listing_type" id="listing_type" type="hidden" value="<i18n>LABEL_LISTING_TYPE</i18n>" />
    <input name="_page" id="_page" type="hidden" value="<i18n>LABEL_PAGE</i18n>" />
    <input name="_refresh" id="_refresh" type="hidden" value="<i18n>LABEL_REFRESH</i18n>" />
    <input name="_nextpage" id="_nextpage" type="hidden" value="<i18n>LABEL_NEXT_PAGE</i18n>" />
    <input name="_previouspage" id="_previouspage" type="hidden" value="<i18n>LABEL_PREVIOUS_PAGE</i18n>" />
    <input name="_firtspage" id="_firtspage" type="hidden" value="<i18n>LABEL_FIRTS_PAGE</i18n>" />
    <input name="_lastpage" id="_lastpage" type="hidden" value="<i18n>LABEL_LAST_PAGE</i18n>" />
    <input name="load_grid" id="load_grid" type="hidden" value="<i18n>LABEL_LOAD_GRID</i18n>" />
    <input name="result_upload" id="result_upload" type="hidden" value="<i18n>LABEL_RESULT_UPLOAD</i18n>" />
    <input name="_title" id="_title" type="hidden" value="<i18n>LABEL_TITLE</i18n>" />
    <input name="no_property" id="no_property" type="hidden" value="<i18n>LABEL_NO_PROPERTY</i18n>" />
    <input name="property_listing" id="property_listing" type="hidden" value="<i18n>LABEL_PROPERTY_LISTING</i18n>" />
</form>
<br />
<div id="tabs_property">
    <div id="carga_masiva"></div>
</div>