<?php
echo '<?xml version="1.0" encoding="utf-8"?>';
echo $this->doctype()
?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:fb="http://www.facebook.com/2008/fbml" >
    <head>
        <?php echo $this->headMeta() ?>
        <?php echo $this->headTitle() ?>
        <?php echo $this->headLink() ?>
        <?php echo $this->headStyle() ?>
        <?php echo $this->headScript() ?>
       
        
    </head>
    <body <?php echo $this->loadmap; ?>>
               
        <div id="wrap">
			<div id="tab_menu">
                <?php echo $this->partial('nav.phtml'); ?>
            </div>
            <div id="sidebar">
                <div id="logo" class="fbbluebox"> logo </div>
                <div id="desc" class="fbgreybox"><?php echo $this->descripcion; ?> </div>
                <div id="enlistar" class="fbbluebox">
                    <div class="box_title">enlistar </div>
                </div>
                <div id="prop" class="fbbluebox"> 
                    <div class="box_title"> mis propiedades </div>
                </div>
                <div id="fav" class="fbbluebox"> 
                    <div class="box_title">favoritos</div>
                </div>
                <div id="help" class="fbinfobox"> ayuda </div>
                <div id="tos" class="fbgreybox"> terminos del servicio </div>
            </div>
            <div id="main">
                 <div id="data"> 
                    <?php echo $this->layout()->content ?>
                </div>
            </div>
        </div>
      <?php
        $cfg = Zend_Registry::get('config');
        $k = $cfg['facebook_api_key'];
        ?>
		 <div id="fb-root"></div>
			<script src="https://connect.facebook.net/en_US/all.js"></script>
 				<script>
                                    
  				 FB.init({
                         appId  : '120449844656848',
     			status : true, // check login status
    			cookie : true, // enable cookies to allow the server to access the session
   				 xfbml  : true,  // parse XFBML
                                 oauth  : true
   				});
 		</script>

    </body>
</html>

