<h3>Upload listings through a Data File</h3>
<p><strong>Introduction</strong><strong> </strong></p>
<p>  With Housemarket you can upload your property listings submitting a Data File. Once you have created the file, you can upload it to Housemarket. After your file is processed, your properties will be available to you in the application. This procedure will let you save editing time of your properties in order to publish them in Housemarket. The instructions presented in this document will guide you to successfully create your Data File.</p>
<p><strong>Creating your Data File</strong></p>
<p>The  information you provide of the property is called<strong> property attributes</strong>. These attributes  are classified in two categories: <strong>required</strong> and <strong>recommended</strong>.</p>
 <p> The  first row of the Data File is the header, and should contain the names of the  attributes (written exactly as shown further in this document). After the  header (first row), each row will correspond to a specific property and its  attributes. The first columns of the Data File should correspond to the  complete list of <strong>required attributes</strong>.  Following those columns you could include any additional columns for the <strong>recommended attributes</strong>.</p>
<p>  Your  Data File must be in a text format (TAB Delimited, with *.txt format) in order to be successfully  processed by Housemarket. Your properties will be added to and appear in  Housemarket after your Data File is successfully uploaded and processed. In  general, this takes up to 24 hours. </p>
<h4><strong>Property Attributes</strong></h4>
<ul>
  <li><strong>Required  Attributes</strong>: These attributes are mandatory, and the  constitute the minimum information you will need to provide in the Data File in  order to be successfully processed. </li>
</ul>
<ul>
  <ul>
    <li>SOURCEID: This is a unique  alphanumeric identifier for your property and could correspond to the internal  ID in your property data base. Format: Text. NOTE: This number cannot change and  should remain the same for further data feeds. Example: AS12345<br>
      <br>
    </li>
    <li>TITLE: This is the name or  title of the property listing. Format:  Text. Max 128 characters.<br>
      <br>
    </li>
    <li>DESCRIPTION: This is a  text describing the property. Format:  Text. Max 255 characters.<br>
      <br>
    </li>
    <li>PROPERTYTYPE: It&rsquo;s a  description of the physical property. Format:Text. The acceptable values are shown  on the following table. They must be written exactly the same as shown here in  order to be processed.<br>
      <br>
      <ul>
        <li>Single Family</li>
        <li>Ranch</li>
        <li>Townhouse</li>
        <li>TIC</li>
        <li>Coop</li>
        <li>Apartment</li>
        <li>Condo</li>
        <li>Multifamily</li>
        <li>Loft</li>
        <li>Room</li>
        <li>Land<br>
      <br>
    </li>
      </ul>
    </li>
    <li>LISTINGTYPE: This is the  type of transaction for the property. Format:Text. The listing type acceptable  values are defined by one letter and are shown on the following table.<br>
      <br>
      <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30" valign="top">&nbsp;</td>
          <td width="76" valign="top">Sale</td>
          <td width="47" valign="top">S</td>
          </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td width="76" valign="top">Rental</td>
          <td width="47" valign="top">R</td>
          </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td width="76" valign="top">Sale/Rental</td>
          <td width="47" valign="top">B</td>
          </tr>
        </table>
      <br>
    </li>
    <li>SALEPRICE: This defines  the sale price for the property. Format: Number. The standard currency is US  dollar. (NOTE: Do not use commas on the sale price. For decimals use a point &ldquo;.&rdquo;)  Example: 1000000.00<br>
      <br>
    </li>
    <li>RENTALPRICE: This defines  the rental price for the property. Format: Number. The standard currency is US  dollar. (NOTE: Do not use commas on the  rental price. For decimals use a point &ldquo;.&rdquo;)  Example: 1000.00<br>
      <br>
    </li>
  </ul>
  <li><strong>Recommended  Attributes: </strong>These are not mandatory attributes, but if provided in the Data File you can save editing time of your properties.
    <blockquote>
      <p><strong>General Characteristics: </strong>These  are attributes that define general characteristics of your properties.</p>
    </blockquote>

    <ol>
  <ol>
    <ol>
      <li>ROOM: The number of  bedrooms. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: 4</li>
      <li>BATHROOMS: The number of  bathrooms. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: 2.5</li>
      <li>PARKING: The number of  parking places. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: 3</li>
      <li>PET: Indicates if pets are  allowed in the property. Format: Text. The acceptable values are &ldquo;Y&rdquo; for yes  and &ldquo;N&rdquo; for no. Example: Y</li>
      <li>STORIES: The number of  stories the property has. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: 2.5</li>
      <li>AREA: The interior area of  the property. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: 1000.00</li>
      <li>AREAUNIT: This defines the  units for the AREA attribute. Format: Text. The acceptable values are &ldquo;ft2&rdquo; for  square feet and &ldquo;mt2&rdquo; for square meters. (NOTE If no AREAUNIT is defined the AREA  attribute will be discarded from the Data File) Example: ft2</li>
      <li>LOTSIZE: The size of the property&acute;s  lot. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: 1000.00</li>
      <li>LOTSIZEUNIT: This defines  the units for the LOTSIZE attribute. Format: Text. The acceptable values are &ldquo;ft2&rdquo;  for square feet and &ldquo;mt2&rdquo; for square meters. (NOTE If no LOTSIZEUNIT is defined  the LOTSIZE attribute will be discarded from the Data File) Example: ft2</li>
      <li>MODEL: The name that  defines de property model. Format:  Text. Example: AS-1234</li>
      <li>HOA: Monthly homeowner  association fee. Format: Number. The standard currency is US dollar. (NOTE: Do  not use commas. For decimals use a point &ldquo;.&rdquo;) Example: 1000.</li>
      <li>YEAR: The model year or  year built. Format: Four digit number. (NOTE: Do not use commas. For decimal use a  point &ldquo;.&rdquo;) Example: 2010<br>
        <br>
        There  are attribute that are acceptable for certain property type. In those  situations the values on those attributes will be ignored. The following table  shows the attributes that are acceptable depending on the property type.<br>
        <br>
<table border="0" cellspacing="0" cellpadding="2" width="30%">
  <tr>
            <td width="132" valign="bottom" nowrap bgcolor="#CCCCCC"><br>
              Property Type</td>
            <td width="312" valign="bottom" nowrap bgcolor="#CCCCCC"><p>Acceptable Attributes</p></td>
            </tr>
          <tr style="background-color:">
            <td rowspan="11" valign="top" bgcolor="#e8e8e8"><p>Single Family, Ranch, Townhouse, TIC,    Coop, Apartment, Condo, Multifamily, Loft</p></td>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>ROOM</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>BATHROOMS</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>PARKING</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>PET</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>AREA</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>AREAUNIT</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZE</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZEUNIT</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>MODEL</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>HOA</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>YEAR</p></td>
            </tr>
          <tr>
            <td rowspan="2" valign="top" bgcolor="#CCCCCC"><p>Room</p></td>
            <td width="312" valign="bottom" nowrap bgcolor="#CCCCCC"><p>PARKING</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#CCCCCC"><p>PET</p></td>
            </tr>
          <tr>
            <td rowspan="4" valign="top" bgcolor="#e8e8e8"><p>Land</p></td>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZE</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZEUNIT</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>MODEL</p></td>
            </tr>
          <tr>
            <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>HOA</p></td>
            </tr>
          </table>
        </li>
    </ol></ol>
  </ol>

    <blockquote>
        <p><strong>Geographical location:</strong> &nbsp; If you possess the precise location of your properties (Ex: Google Maps, Bing or latitude/longitude coordinates) then you could include this information in your Data File in order to automatically locate your properties in Housemarket. (NOTE: If you do not have this information, you can edit the location of each property in Housemarket once the Data File has been successfully uploaded)</p>
        <ol>
            <li><em>Geographical coordinates<strong>: </strong></em> If you have precise information of the latitude and longitude of your properties include that information in the Data File in the following way:
            <ul>
              <li>LATITUDE: The precise  latitude of the property. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: 32.4364</li>
              <li>LONGITUDE: The precise  longitude of the property. Format: Number. (NOTE: Do not use commas. For decimal use a point &ldquo;.&rdquo;) Example: -92.4364</li>
            </ul>
            <br>
            (NOTE:  Only one of the two methods should be used. In case that both method&acute;s  attributes are provided Method 1 will prevail.)
            </li>
        </ol>
        <p><strong>Photos with URL:</strong> If photos of your properties are already uploaded in the Internet, you can include in the Data File the URL of each photo File and they will be automatically loaded to Housemarket. You can upload up to five photos per property. To do so you must create five additional columns in the header named: PHOTO1, PHOTO2, PHOTO3, PHOTO4, PHOTO5. For each property youmust specify the URL of each photo. Photo 1 is taken as the main photo for each listing.</p>
        <ul>
            <li> PHOTO1: Type the URL address of the main photo for the listing. Format: Text. Example: www.yourwebsite.com/exampleimage1.jpg
            </li>
            <li> PHOTO2: Type the URL address of the additional photo for the listing. Format: Text. Example: www.yourwebsite.com/exampleimage2.jpg
            </li>
        </ul>
        <p><strong>Amenities:</strong> You can upload the amenities information of your properties. To do so you must create additional columns in the header with the exact name of the amenity. In each row you will specify if the property has that amenity by typing "Y" for yes and "N" for no. The complete list of amenities, with the exact name it should have in the header, are shown in the following table:</p>
        <table class="grid_mode">
            <caption>Header name</caption>
            <tbody>
                <tr>
                    <td>FURNISHED</td>
                    <td>PLAYGROUND</td>
                    <td>MOUNTAIN BIKING</td>
                </tr>
                <tr>
                    <td>WHEELCHAIR ACCESIBLE</td>
                    <td>WATER TANK</td>
                    <td>SCUBA DIVING OR SNORKELING</td>
                </tr>
                <tr>
                    <td>SERVICE ROOM</td>
                    <td>PERIMETRAL WALL</td>
                    <td>SAILING</td>
                </tr>
                <tr>
                    <td>INTERNET ACCESS</td>
                    <td>DEVELOPED</td>
                    <td>SWIMMING</td>
                </tr>
                <tr>
                    <td>CABLE TV/SATELLITE</td>
                    <td>WATER</td>
                    <td>TENNIS</td>
                </tr>
                <tr>
                    <td>AIR CONDITIONING</td>
                    <td>ELECTRICITY</td>
                    <td>CITY VIEW</td>
                </tr>
                <tr>
                    <td>FIRE PLACE</td>
                    <td>GOLF</td>
                    <td>WOODS VIEW</td>
                </tr>
                <tr>
                    <td>SECURITY</td>
                    <td>SKII</td>
                    <td>MOUNTAIN VIEW</td>
                </tr>
                <tr>
                    <td>ALARM</td>
                    <td>SURF</td>
                    <td>LAKE VIEW</td>
                </tr>
                <tr>
                    <td>POOL</td>
                    <td>HIKING</td>
                    <td>BEACH VIEW</td>
                </tr>
                <tr>
                    <td>CLUB HOUSE</td>
                    <td>FISHING</td>
                    <td>VOLCANO VIEW</td>
                </tr>
                <tr>
                    <td>OUTDOOR GRILL</td>
                    <td>CYCLING</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </blockquote>
    

  </li>
  </ul>
<h4><strong>Example:  Creating your Data File from Excel</strong></h4>
<p>  A continuaci&oacute;n, se describe el proceso para generar el  archivo de texto con los datos de las propiedades desde una hoja de c&aacute;lculo de  Excel.</p>
<p><strong>Step 1:</strong> Open an Excel sheet.</p>
<p><strong>Step 2:</strong> The first row of the Data File is the header. Each column should contain the  names of the attributes, starting with the complete list of <strong>required attributes</strong>. Following those  columns you could include any additional columns for the <strong>recommended attributes</strong>.
</p>
<p style="text-align:center"><img src="<?php echo $this->urlLocal;?>img/listing_example_1.gif" width="695" height="123"></p>
<p><strong>Step  3:</strong> After the header, each row will correspond  to a specific property and its attributes. </p>
<p style="text-align:center"><img src="<?php echo $this->urlLocal;?>img/listing_example_2.gif" alt="" width="695" height="122"></p>
<p><strong>Step 4:</strong> Once you have all your data complete save the Data File in a Tab-delimited  format. To do so, click on &ldquo;Save As&hellip;&rdquo;, and in the &ldquo;Save as type&rdquo; dropdown menu  select &ldquo;Tab-delimited (*.txt)&rdquo;. Once you have done that, the Data File is ready  to be uploaded to Housemarket.</p>
<p style="text-align:center"><img src="<?php echo $this->urlLocal;?>img/listing_example_3.gif" alt="" width="600" height="380"></p>
<p>The  first row of the Data File is the header, and should contain the names of the  attributes (written exactly as shown further in this document). After the  header (first row), each row will correspond to a specific property and its  attributes. The first columns of the Data File should correspond to the  complete list of <strong>required attributes</strong>.  Following those columns you could include any additional columns for the <strong>recommended attributes</strong>.  </p>
<p style="text-align:center"><a target="_top" href="<?php echo $this->urlSite;?>/mihousebook/showload" class="listing_button" id="bt" name="bt">Start Uploading List</a></p>

