
<h3>Procedimiento para la elaboración del Archivo de Carga de Propiedades</h3>
<p><strong>Introducción</strong></p>
<p>  Housemarket le permite cargar la información general de sus propiedades a través de un archivo de carga. Una vez elaborado el archivo, este puede ser cargado directamente en la aplicación. Este procedimiento le permite a usuarios profesionales de Housemarket ahorrarse gran cantidad de tiempo de edición de las propiedades para que estas puedan aparecer publicadas en la aplicación. Las instrucciones presentadas en este documento lo guiarán para que pueda crear exitosamente el Archivo de Carga.</p>
<p><strong>Datos de las Propiedades</strong></p>
<p>La información que proporcione sobre la propiedad en el archivo de carga se denomina atributos, los cuales están clasificados en dos categorías: <strong>requeridos</strong> y <strong>recomendados</strong>.<br>
<p>La primera fila del Archivo de Carga es el encabezado y debe contener los nombres de los atributos de las propiedades (escrito en mayúscula y debe coincidir exactamente a como se muestra en este documento). Después del encabezado, cada fila corresponde a la información de las propiedades. Los primeras columnas del archivo deben mostrar la lista completa de atributos requeridos. Seguidamente, se pueden incluir columnas adicionales conteniendo la información de los atributos recomendados.</p>
<p>El archivo de carga debe estar en formato de archivo de texto (TAB Delimited, con extensión .txt). Las propiedades serán agregadas y aparecerán en la viñeta de "Mis Propiedades" en Housemarket inmediatamente después de ser cargadas exitosamente.</p>
<ul>
    <li><strong>Atributos Requeridos</strong>:
        Estos atributos son obligatorios. Corresponden a los campos mínimos sin los cuales no se puede realizar la carga de las propiedades. </li>
</ul>
<ul>
    <ul>
        <li>SOURCEID: Es el número o código de identificación de cada propiedad utilizado por el agente de bienes raíces en su propia base de datos. Este dato facilita la identificación de las propiedades para el Broker una vez hayan sido precargadas a HouseMarket. Ejemplo: AS12345<br>
            <br>
        </li>
        <li>TITLE: Nombre o título de la propiedad. Máximo de 128 caracteres. Se permite el uso de comas.<br>
            <br>
        </li>
        <li>DESCRIPTION: Descripción con el detalle de la propiedad. Máximo de 255 caracteres.  Se permite el uso de comas.<br>
            <br>
        </li>
        <li>PROPERTYTYPE: Tipo de Propiedad. Los tipos de propiedades aceptados para el archivo de carga se muestran en la siguiente tabla los cuales deben estar digitado exactamente igual en dependencia del idioma que se esté usando.<br>
            <br>
            <ul>
                <li>Casa</li>
                <li>Casa de campo</li>
                <li>Townhouse</li>
                <li>TIC</li>
                <li>Coop</li>
                <li>Apartmento</li>
                <li>Condominio</li>
                <li>Multi Familiar</li>
                <li>Loft</li>
                <li>Habitación</li>
                <li>Terreno<br>
                    <br>
                </li>
            </ul>
        </li>
        <li>LISTINGTYPE: Tipo de enlistamiento. Para definir que tipo de transacción se desea ofrecer para la propiedad se debe de indicar con <u>UNA LETRA </u>de acuerdo a la siguiente correspondencia:<br>
            <br>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="30" valign="top">&nbsp;</td>
                    <td width="76" valign="top">Venta</td>
                    <td width="47" valign="top">S</td>
                </tr>
                <tr>
                    <td valign="top">&nbsp;</td>
                    <td width="76" valign="top">Renta</td>
                    <td width="47" valign="top">R</td>
                </tr>
                <tr>
                    <td valign="top">&nbsp;</td>
                    <td width="76" valign="top">Sale/Rental</td>
                    <td width="47" valign="top">B</td>
                </tr>
            </table>
            <br>
        </li>
        <li>SALEPRICE: Precio de venta de la propiedad en caso que el tipo de enlistamiento sea Venta o Ambos. La moneda para las transacciones es Dólar USA. (<u>No utilizar separadores para miles, ni millones. En caso de requerir decimales utilice el punto ?.?</u>) Ejemplo: 10000.50<br>
            <br>
        </li>
        <li>RENTALPRICE: Precio de renta/alquiler de la propiedad en caso que el tipo de enlistamiento sea Renta o Ambos. La moneda para las transacciones es Dólar USA. (<u>No utilizar separadores para miles, ni millones. En caso de requerir decimales utilice el punto ?.?</u>) Ejemplo: 10000.50<br>
            <br>
        </li>
    </ul>
    <li><strong>Recomendados: </strong>Estos atributos no son obligatorios, sin embargo, se recomienda incluirla en el archivo de carga con el fin de reducir el tiempo de edición de las propiedades.
        <blockquote>
            <p><strong>Características generales: </strong>A continuación se presenta una serie de atributos generales que se recomienda especificar.</p>
        </blockquote>

        <ol>
            <ol>
                <ol>
                    <li>ROOM: Cantidad de cuartos de la propiedad.  Número entero. Ej: 4.</li>
                    <li>BATHROOMS: Cantidad de baños. Número, permite decimales. (En caso de requerir decimales utilice el punto ".") Ejemplo: 2.5
                    <li>PARKING: Cantidad de Parqueos disponibles. Número entero. Ej: 3.</li>
                    <li>PET: Indica si en la propiedad se permiten mascotas. Valores permitidos 'Y' para SI y 'N' para NO. Ejemplo: Y</li>
                    <li>STORIES: Cantidad de plantas en el edificio.  Numérico entero. Ej: 2.</li>
                    <li>AREA: Área de la propiedad. Número, permite decimales. (<u>No utilizar separadores para miles, ni millones. En caso de requerir decimales utilice el punto "."</u>) Ejemplo: 10000.50</li>
                    <li>AREAUNIT: Unidades de medida para el área de la propiedad. Valores posibles: mt2, vr2, ft2. (<u>Nota: En caso, de que no se especifique unidad de medida el valor del atributo de área será descartado.</u>) Ejemplo: vr2</li>
                    <li>LOTSIZE: En el caso de propiedades de tipo Terreno (Land).  Número, permite decimales. (<u>No utilizar separadores para miles, ni millones. En caso de requerir decimales utilice el punto "."</u>) Ejemplo: 10000.50</li>
                    <li>LOTSIZEUNIT: Unidades de medida para el terreno o lote.  Valores posibles: mt2, vr2, ft2. (<u>Nota: En caso, de que no se especifique unidad de medida el valor del atributo de área será descartado.</u>) Ejemplo: vr2</li>
                    <li>MODEL: Modelo de la propiedad. Texto de tamaño máximo 32. Ejemplo: AS-1234.</li>
                    <li>HOA: Cargos administrativos mensuales. Numérico con decimales, moneda Dólar USA. (No utilizar separadores para miles, ni millones. En caso de requerir decimales utilice el punto ".") Ejemplo: 10000.50</li>
                    <li>YEAR: Año de construcción de la propiedad.  Numero entero, tamaño 4. (No utilizar separadores para miles, ni millones) Ejemplo: 2005<br>
                        <br>
                        Se debe recordar que existen atributos recomendados que no aplican para algunos tipos de propiedades.Los atributos incluidos en el archivo de carga que no correspondan al tipo de propiedad simplemente no se tomarán en cuenta. A continuación se especifican los atributos considerados para cada tipo de propiedad:<br>
                        <br>
                        <table border="0" cellspacing="0" cellpadding="2" width="30%">
                            <tr>
                                <td width="132" valign="bottom" nowrap bgcolor="#CCCCCC"><br>
                                    Tipo de Propiedad</td>
                                <td width="312" valign="bottom" nowrap bgcolor="#CCCCCC"><p>Atributo aplicable</p></td>
                            </tr>
                            <tr style="background-color:">
                                <td rowspan="11" valign="top" bgcolor="#e8e8e8"><p>Casa, Casa de campo, Townhouse, TIC, Coop, Apartamento, Condominio, Multi Familiar, Loft</p></td>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>ROOM</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>BATHROOMS</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>PARKING</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>PET</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>AREA</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>AREAUNIT</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZE</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZEUNIT</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>MODEL</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>HOA</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>YEAR</p></td>
                            </tr>
                            <tr>
                                <td rowspan="2" valign="top" bgcolor="#CCCCCC"><p>Habitación</p></td>
                                <td width="312" valign="bottom" nowrap bgcolor="#CCCCCC"><p>PARKING</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#CCCCCC"><p>PET</p></td>
                            </tr>
                            <tr>
                                <td rowspan="4" valign="top" bgcolor="#e8e8e8"><p>Terreno</p></td>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZE</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>LOTSIZEUNIT</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>MODEL</p></td>
                            </tr>
                            <tr>
                                <td width="312" valign="bottom" nowrap bgcolor="#e8e8e8"><p>HOA</p></td>
                            </tr>
                        </table>
                    </li>
                </ol></ol>
        </ol>

        <blockquote>
            <p><strong>Ubicación Geográfica:  </strong> &nbsp;Si se dispone de la ubicación exacta de las propiedades dentro de mapas georeferenciados (ej: google maps, bing o coordenadas latitud/longitud), se recomienda incluir esta información para que Housemarket ubique las propiedades automáticamente.<br>
                <br>
                (NOTE: en caso de que las propiedades no hayan sido ubicadas previamente en google maps, bing o no cuenten con coordenadas latitud/longitud exactas omita este procedimiento. Para estos casos, Housemarket ofrece una mecanismo para editar la ubicación de la propiedad en Google Maps una vez que haya sido precargada con el archivo de carga).&nbsp; </p>
            <ol>
                <ol>
                    <!-- <li><em>Method  1, Exact address</em>: If Google Maps has enough details in  your city to locate precisely your properties, then providing us that  information will automatically locate your properties in Housemarket. To do so,  provide us the information in the following attributes. (NOTE: These locations are validated through Google  Maps)
                        <ul>
                            <li>COUNTRY: Country location  of the property. Format:  Country Code. Example: USA</li>
                            <li>STATE: State location of  the property if applicable. Format:  Text. Example: Florida</li>
                            <li>CITY: City location of the  property. Format: Text.  Example: Miami.</li>
                            <li>ADDRESS: Street address.  Format: Text. Max 255 characters. Example: 101 Brickell Key Drive</li>
                            <li>POSTALCODE: Zip code if  applicable. Format: Number.  Example: 33131 </li>
                        </ul>
                    </li>-->
                    <li><em>Método de Coordenadas Geográficas:<strong>: </strong></em>Si dispone de las coordenadas geográficas exactas en que se ubica la propiedad incluyalas en el archivo de carga de la siguiente manera:
                        <ul>
                            <li>LATITUDE: Latitud exacta de la ubicación de la propiedad, en caso que la conozca con precisión. (<u>Para la separación de los decimales utilice el punto "."</u>) Ejemplo: 32.4364</li>
                            <li>LONGITUDE: Longitud exacta de la ubicación de la propiedad, en caso que la conozca con precisión. (<u>Para la separación de los decimales utilice el punto "."</u>) Ejemplo: -92.4364</li>
                        </ul>
                        <!-- <br>
                        (NOTE:  Only one of the two methods should be used. In case that both method&acute;s  attributes are provided Method 1 will prevail.)-->
                    </li>
                </ol>
            </ol>
            <p><strong>Fotos con dirección URL:</strong> Si las fotos de las propiedades ya se encuentran en internet, se puede incluir la dirección URL de las fotos en el archivo de carga masiva. Se permiten hasta cinco fotos por propiedad. Para ello se deben crear cinco columnas con los encabezados: PHOTO1, PHOTO2, PHOTO3, PHOTO4, PHOTO5. En el contenido de la fila se digita la dirección URL para cada una de las fotos. La foto 1 (PHOTO1) es tomada como la foto principal del enlistamiento.</p>
            <ul>
                <li> PHOTO1: Digitar la dirección URL donde se encuentra la foto principal del enlistamiento. Texto. Ejemplo: www.yourwebsite.com/exampleimage1.jpg
                </li>
                <li> PHOTO2: Digitar la dirección URL donde se encuentra la foto adicional del enlistamiento. Ejemplo: www.yourwebsite.com/exampleimage2.jpg
                </li>
            </ul>
            <p><strong>Comodidades (amenities):</strong> Si desea cargar la información sobre las comodidades de la propiedad puede hacerlo colocando en el encabezado de cada columnas el nombre de la comodidad y en las filas la información sobre si la propiedad cuenta o no con esa comodidad digitando "Y" para si, y "N" para no. Lista de comodidades con el nombre exacto del encabezado:</p>
            <table class="grid_mode">
                <caption>Nombre de Encabezado</caption>
                <tbody>
                    <tr>
                        <td>FURNISHED</td>
                        <td>PLAYGROUND</td>
                        <td>MOUNTAIN BIKING</td>
                    </tr>
                    <tr>
                        <td>WHEELCHAIR ACCESIBLE</td>
                        <td>WATER TANK</td>
                        <td>SCUBA DIVING OR SNORKELING</td>
                    </tr>
                    <tr>
                        <td>SERVICE ROOM</td>
                        <td>PERIMETRAL WALL</td>
                        <td>SAILING</td>
                    </tr>
                    <tr>
                        <td>INTERNET ACCESS</td>
                        <td>DEVELOPED</td>
                        <td>SWIMMING</td>
                    </tr>
                    <tr>
                        <td>CABLE TV/SATELLITE</td>
                        <td>WATER</td>
                        <td>TENNIS</td>
                    </tr>
                    <tr>
                        <td>AIR CONDITIONING</td>
                        <td>ELECTRICITY</td>
                        <td>CITY VIEW</td>
                    </tr>
                    <tr>
                        <td>FIRE PLACE</td>
                        <td>GOLF</td>
                        <td>WOODS VIEW</td>
                    </tr>
                    <tr>
                        <td>SECURITY</td>
                        <td>SKII</td>
                        <td>MOUNTAIN VIEW</td>
                    </tr>
                    <tr>
                        <td>ALARM</td>
                        <td>SURF</td>
                        <td>LAKE VIEW</td>
                    </tr>
                    <tr>
                        <td>POOL</td>
                        <td>HIKING</td>
                        <td>BEACH VIEW</td>
                    </tr>
                    <tr>
                        <td>CLUB HOUSE</td>
                        <td>FISHING</td>
                        <td>VOLCANO VIEW</td>
                    </tr>
                    <tr>
                        <td>OUTDOOR GRILL</td>
                        <td>CYCLING</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </blockquote>
    </li>
</ul>
<h4><strong>Formato del Archivo de Carga</strong></h4>
<p>  A continuaci&oacute;n, se describe el proceso para generar el  archivo de texto con los datos de las propiedades desde una hoja de c&aacute;lculo de  Excel.</p>
<p><strong>Step 1:</strong> Abra la hoja de cálculo.</p>
<p><strong>Step 2:</strong> Especifique el encabezado en la primera fila. En la primera fila de la hoja de cálculo especifique los nombres de los atributos que desee incluir. Debe de haber un atributo por columna. Recuerde iniciar con los atributos requeridos de acuerdo a las orientaciones indicadas en las secciones anteriores.
</p>
<p style="text-align:center"><img src="<?php echo $this->urlLocal;?>img/listing_example_1.gif" width="695" height="123"></p>
<p><strong>Step  3:</strong> Ingrese el detalle de las propiedades. Cada propiedad debe ir en una fila diferente, ubicando los valores en la columna que le corresponde de acuerdo al encabezado. </p>
<p style="text-align:center"><img src="<?php echo $this->urlLocal;?>img/listing_example_2.gif" alt="" width="695" height="122"></p>
<p><strong>Step 4:</strong> Convertir la hoja de cálculo. Guarde la hoja de cálculo en formato de texto delimitado por TAB.  Seleccione la opción "Salvar como..." y seleccione el formato "Tab delimited .txt". El archivo generado está listo para ser procesado a través del mecanismo de carga masiva de Housemarket.</p>
<p style="text-align:center"><img src="<?php echo $this->urlLocal;?>img/listing_example_3.gif" alt="" width="600" height="380"></p>
<p style="text-align:center"><a target="_top" href="<?php echo $this->urlSite;?>/mihousebook/showload" class="listing_button" id="bt" name="bt">Comenzar Carga de Datos</a></p>

