<?php
echo '<?xml version="1.0" encoding="utf-8"?>';
echo $this->doctype();
$cfg = $nav_config = Zend_Registry::get('config');
$fbparams = Zend_Registry::get('fbparams');
$fb_app_url = $nav_config['fb_app_url'];
$signed = Zend_Registry::get('signed');
?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">      
    <head>          
        <meta property="og:title" content="House Market"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="House Market"/>
        <meta property="og:url" content="<?php echo $cfg['local_app_url']; ?>" />
        <meta property="og:image" content="https://app.hmapp.com/img/logohm.png"/>        
        <meta property="og:description" content="<?php echo $this->description; ?>"/>       
        <meta property="og:country-name" content="Nicaragua"/>
        <meta property="fb:app_id" content="<?php echo $cfg['facebook_appid']; ?>"/>
        <meta property="fb:admins" content="100000804282863,766658592"/>
        <meta name="title" content="House Market"/>
        <meta name="description" content="<?php echo $this->description; ?>" />
        <link rel="image_src" href="https://app.hmapp.com/img/logohm.png"/>
        <link rel="target_url" href="<?php echo $cfg['local_app_url']; ?>" />
        <?php echo $this->headMeta() ?>
        <?php echo $this->headTitle() ?>
        <?php echo $this->headLink() ?>
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.yRO-SYKNhZi.css" />
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.5jQtM62ZAF4.css" /> 
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.zOMloODzDF_.css" /> 
        <link href="/css/layout.css?v=45" media="screen" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="/css/messages.css" /> 
        <link rel="image_src" href="<?php echo $this->logo_url; ?>" />
        <?php echo $this->headStyle() ?> 

        <script type="text/javascript">
            var env = {
                canvas_url : '<?php echo $cfg['local_app_url']; ?>',
                facebook_url : '<?php echo $cfg['fb_app_url']; ?>'
            }
            var facebook_perms = '<?php echo ($fbparams); ?>';
        
        </script>
        <?php echo $this->headScript() ?>
        
                
    </head>
    <body class="<?php if ($this->tabDisabled && $this->isadmin) { echo 'bgg'; }?>" style="overflow: hidden!important">
        <div id="fb-root"></div>
        <script src="https://connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript">
            FB.init({
                appId: '<?php echo $cfg['facebook_appid']; ?>',
                status : true, // check login status
                cookie : true, // enable cookies to allow the server to access the session
                xfbml  : true,  // parse XFBML
                oauth  : true
            });
            FB.Canvas.setAutoGrow(5); 

        </script>
        <div class="container">
            <?php echo $this->layout()->content ?>
        </div>
        <div id="informaciongral"> <?php if (count($this->properties) > 0) { ?>
                <div style="margin: 5px 0px;border:solid 1px #85aff9; background:#d7e5ff ;color:#444;padding:4px 4px 4px 10px;
                     text-align:left;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:11px;
                     display: block">

                    <div><button style="float: right;background: #EEE url(https://s-static.ak.fbcdn.net/rsrc.php/v1/zD/r/B4K_BWwP7P5.png) repeat 0 0;
                                 width:150px;
                                 height:30px;
                                 border: 1px solid #999;
                                 border-bottom-color: #888;
                                 box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
                                 -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
                                 cursor: pointer;
                                 display: -moz-inline-box;
                                 display: inline-block;
                                 font-size: 15px;
                                 font-weight: bold;
                                 line-height: normal !important;
                                 padding: 2px 6px; 
                                 text-align: center;
                                 text-decoration: none;
                                 vertical-align: top;
                                 white-space: nowrap;" value="Add to my page" onclick="top.location.href='<?php echo $cfg['fb_app_url']; ?>?faninstalled=1&xprom_r=<?= $this->Emails; ?>'" >Add to my page</button>Add a similar TAB to your Facebook page showing your featured properties by clicking on "Add to my page"



                    </div>

                    <div class="clear"></div>
                </div>
            <? } ?>   
            <?php if (!$this->tabDisabled || !$this->isadmin) { ?>
                <div class="powerby <?php if (!$this->tabDisabled || !$this->isadmin) { echo 'pbcontainer'; } ?>">
                	<img src="https://app.hmapp.com/img/iconh.png" alt="Housemarket" class="hmlogo" />
                	<a href="https://www.facebook.com/housemarket/" target="_top"> <i18n>LABEL_FOOTER_POWERBY</i18n></a>
                </div>
            <? } ?>
            <div class="clear"></div>

        </div>
        
    </body>
</html>
