<?php
echo '<?xml version="1.0" encoding="utf-8"?>';
echo $this->doctype();
?>
<html xmlns:fb="https://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:v="urn:schemas-microsoft-com:vml">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# housemarket: http://ogp.me/ns/fb/housemarket#">
        <?php echo $this->headTitle(); ?>
        <?php echo $this->headerMeta ?>
        
        
        <link rel="image_src" href="https://app.hmapp.com/img/logohm.png"/>
        <link rel="target_url" href="<?php echo $this->localAppUrl; ?>" />
        
        <?php echo $this->headLink() ?>
        <?php echo $this->headStyle() ?>
        <?php /* minified and concatenated: layout.css, style_menu.css, messages.css */ ?>
        <link href="/css/main.min.css?v=4" media="screen" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.yRO-SYKNhZi.css" />
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.5jQtM62ZAF4.css" />   
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.zOMloODzDF_.css" />
    </head>
    <body <?php echo $this->loadmap; ?> style="overflow: hidden">
        <div id="fb-root"></div>
        <div id="wrap" style="overflow: hidden;">
            <div id="main" style="overflow: hidden;">
                <?php echo $this->render('nav.phtml'); ?>
                <?php echo $this->layout()->content ?>
            </div>
        </div>
        <div id="informaciongral" class="gralinfo">
	    	<a id="brand_info" class="uiLinkSubtle"  href="https://www.facebook.com/housemarket?sk=info" target="_top"><i18n>LABEL_FOOTER_ABOUT_NEW</i18n></a> | <a href="<?php echo "/documentos/termsuse?" . $_SERVER['QUERY_STRING']; ?>" target="_self"><i18n>LABEL_FOOTER_TERMS_USE</i18n></a> | <a href="<?php echo "/documentos/privacypolicy?" . $_SERVER['QUERY_STRING']; ?>" target="_self"> <i18n>LABEL_FOOTER_PRIVACY_POLICY</i18n></a>
	    </div>       
        <!-- event.preventDefault();-->
        <script src="https://connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript">
            FB.init({
                appId: '<?php echo $this->facebookAppId; ?>',
                status : true, // check login status
                cookie : true, // enable cookies to allow the server to access the session
                xfbml  : true, // parse XFBML
                oauth  : true
            });
             
        </script>
        <script type="text/javascript">             
            var env = {
                canvas_url : '<?php echo $this->localAppUrl; ?>',
                facebook_url : '<?php echo $this->fbAppUrl; ?>'
            }
            var facebook_perms = '<?php echo ($this->fbparams); ?>';
            FB.Canvas.setAutoGrow();
            
        </script>
        <?php echo $this->headScript() ?>
    </body>
</html>
