<?php
$active = ' class="current" ';
$active_PMenu = ' class="active"';
$linksProperty = array("index", "propiedades", "mihousebook", "profesional", "destacada", "enlistar");
?>
<div id="demo-container" class="block">
    <div class="logo_right">
    
        <ul>
            <fb:like href="<?php echo $this->fbAppUrl; ?>" send="false" layout="button_count" width="60" show_faces="false" font=""></fb:like>
            <!--<li><a href="#" onclick="ShowBookmarkDialog()"><span><img alt="" src="/img/fb_bookmark.png" height="16" width="16"/> Add Bookmark</span></a></li>-->
    	   
            <? if (($this->validUrl == $this->indexUrl) or $this->uv == "?") { ?>
                <li id="like">
                    <div style="width:60px;">
                          <?php /* ver función shareProperty en perfil.js para ver como funciona el share */ ?>
                       <a class="connect_widget_like_button clearfix like_button_like" href="#" type="button" id="btnShare"  name="btnShare"
                       title="<?php echo $propiedad->NombrePropiedad; ?>"
                       description='<?php echo $propiedad->NombreCategoria; if(!empty($propiedad->datallePrecioVenta)) echo $propiedad->datallePrecioVenta; if(!empty($propiedad->datallePrecioAlquiler)) echo $propiedad->datallePrecioAlquiler; if(!empty($propiedad->datallePrecioRemate)) echo $propiedad->datallePrecioRemate; ?>'
                       caption=""
                       location=" <?php echo $propiedad->Direccion; ?>"
                       urlFbProperty="<?php echo $urlshare; ?>"
                       imageSrc="<?php echo $image_thumbs_src_string ?>"
                       plsParam="<?php echo $this->IdProp; ?>"
                       urlSrvProperty="<?php echo $this->urlLocal . $webChunkShare . $this->IdProp; ?>"></a></a>
                    <div class="clear"></div>
                    </div>
                </li>
           <? } ?>
                
            <li><a target="_self" href="#" onclick="ShowInviteFriendDialog()"><span><img alt="" src="/img/fb_invitefriends.png" height="16" width="16"/><i18n>LABEL_NAV_INVITE_FRIENDS</i18n></span></a></li>
        </ul>
    </div>
    <div id="logo" class="fbbluebox"><a href="<? echo $this->fbAppUrl; ?>"><img src="/img/blank.gif" width="322" height="60" alt="<i18n>LABEL_ALT_LOGO_HOUSEMARKET</i18n>"/></a></div>    
    <div class="clear"></div>
    <?php
    //Controllers permitidos para el menu principal de propiedades
    
    ?>
    <div id="simple-menu" class="block">
        <ul class="tabs">
            <li <?php echo in_array($this->currentLabelNav, $linksProperty) ? $active_PMenu : ''; ?> ><a actual="tab1" href="<?php echo $this->fbAppUrl; ?>" target="_top"><i18n>LABEL_PROPERTY_MENU</i18n></a></li>
            <li id="link_roommate" <?php echo $this->currentLabelNav == 'roommates' ? $active_PMenu : ''; ?> ><a actual="tab2" class="default" href="<?php echo $this->fbAppUrl; ?>roommates/busquedacuarto" target="_top"><i18n>LABEL_RMT_MENU</i18n></a><img class="stand_out_new" src="/img/new.png" alt="New!!!" width="20" height="20"/></li>
        </ul>
        <div class="tab_container block">
            <?php if(in_array($this->currentLabelNav, $linksProperty)){ ?>
            <div id="tab1" class="tab_content">
                <a class="link <?php echo $this->currentLabelNav == "index"? 'current' : ''; ?>" target="_top" href="<? echo $this->fbAppUrl; ?>" ><span><i18n>LABEL_NAV_SEARCH</i18n></span></a> |
                <?php if ($this->seeAllTab == 1) { ?>
                    <a class="link <?php echo $this->currentLabelNav == 'propiedades' ? 'current' : ''; ?>" target="_top" href="<? echo $this->fbAppUrl; ?>propiedades/show"><span><i18n>LABEL_NAV_LIST_PROPERTY</i18n></span></a> |
                    <a class="link <?php echo $this->currentLabelNav == 'mihousebook' ? 'current' : ''; ?>" target="_top" href="<? echo $this->fbAppUrl; ?>mihousebook/publicacion" ><span><i18n>LABEL_NAV_MY_PROPERTY</i18n></span></a> |
                    <a class="link <?php echo $this->currentLabelNav == 'favorito' ? 'current' : ''; ?>" target="_top" href="<? echo $this->fbAppUrl; ?>propiedades/favorito" ><span><i18n>LABEL_NAV_MY_FAVORITO</i18n></span></a> |
                    <a class="link <?php echo $this->currentLabelNav == 'destacada' ? 'current' : ''; ?>" target="_top" href="<? echo $this->fbAppUrl; ?>destacada" ><span><i18n>LABEL_NAV_FEATURE_LIST</i18n></span></a> |
                    <?php if ($this->hasAppAdded) { ?>
                    	<?php 
                    	$redirectUri = 'https://tab.hmapp.com/register';
    					$scope = array(
    						'manage_pages',
    						'user_about_me',
    						'publish_actions',
    						'email',
    						'user_birthday',
    					);
    					$scope_string = implode(',',$scope);
    	
    					$installurl = 'https://www.facebook.com/dialog/oauth/';
    					$installurl .= '?client_id=151516144978488';
    					$installurl .= '&redirect_uri='. urlencode($redirectUri);
    					$installurl .= '&scope='. $scope_string;
    					?>
                        <a class="addtofanpge uiButton uiButtonDefault uiButtonMedium" href="<?php echo $installurl; ?>" target="_top">
                            <span class="uiButtonText"><i18n>LABEL_ADD_TO_FANPAGE</i18n></span>
                        </a>

                    <? }
                } else { ?>
                    <a class="button addtofanpge" target="_top" href="<? echo $this->fbAppUrl; ?>propiedades/show" <?php if($this->currentLabelNav == 'propiedades'){ echo 'style="display:none;"';}  ?>><span><i18n>LABEL_NAV_LIST_PROPERTY</i18n></span></a>
                <?php } ?>
                <a id="brand_info" class="link"  href="https://www.facebook.com/housemarket?sk=app_112078882147346" target="_top"><span><i18n>LABEL_FOOTER_ABOUT_NEW</i18n></span></a> |
            </div>
            <?php }else if($this->currentLabelNav == "roommates"){ ?>
            <div id="tab2" class="tab_content">
                <div class="left hmTooltip"><a href="<?php echo $this->fbAppUrl ?>roommates/busquedacuarto" <?php echo ($this->currentLabelNav == 'roommates' && $this->currentActionNav == 'busquedacuarto') ? $active : ''; ?> class="link" target="_top"><span><i18n>LABEL_ROOM_SEARCH</i18n></span></a> |
                    <p class="descriptive"><i18n>MSG_ROOM_DESCRIPTIVE_SUB_MENU</i18n></p></div>
                <div class="left hmTooltip"><a href="<?php echo $this->fbAppUrl ?>roommates/busquedaroommate" <?php echo ($this->currentLabelNav == 'roommates' && $this->currentActionNav == 'busquedaroommate') ? $active : ''; ?> class="link" target="_top"><span><i18n>LABEL_RMT_SEARCH</i18n></span></a> |
                    <p style="left:118px;" class="descriptive"><i18n>MSG_RMT_DESCRIPTIVE_SUB_MENU</i18n></p></div>
                <?php if($this->seeEditRoom) {?>
                    <a href="<?php echo $this->fbAppUrl ?>roommates/agrtengo?id=<?php echo $this->CodigoCuarto ?>" <?php echo ($this->currentLabelNav == 'roommates' && $this->currentActionNav == 'agrtengo') ? $active : ''; ?> class="link" target="_top"><span><i18n>LABEL_EDIT_RMT</i18n></span></a> |
                <?php } elseif($this->seeEditPerfil){ ?>
                    <a href="<?php echo $this->fbAppUrl ?>roommates/agrbusco?id=<?php echo $this->CodigoRoommate ?>" <?php echo ($this->currentLabelNav == 'roommates' && $this->currentActionNav == 'agrbusco') ? $active : ''; ?> class="link" target="_top"><span><i18n>LABEL_EDIT_RMT</i18n></span></a> |
               <?php } else {?>
                   <div class="clear"></div>
               <?php } ?>
            </div>
            <?php } ?>
        </div>
    </div>
</div>
<div class="clear"></div>