<?php
$cfg = $nav_config = Zend_Registry::get('config');
$app = Zend_Registry::get('app');
$fbparams = Zend_Registry::get('fbparams');
echo '<?xml version="1.0" encoding="utf-8"?>';
echo $this->doctype();
?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <?php echo $this->headTitle(); ?>
        <meta property="og:title" content="Housemarket"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Housemarket"/>
        <meta property="og:url" content="<?php echo $cfg['local_app_url'] ?>" />
        <meta property="og:image" content="<?php echo $cfg['local_app_url']; ?>housemarketlogo.jpg" />
        <meta property="og:description" content="<?php echo $app['description']; ?>"/>       
        <meta property="og:country-name" content="Nicaragua"/>
        <meta property="fb:app_id" content="<?php echo $cfg['facebook_appid']; ?>"/>
        <meta property="fb:admins" content="100000804282863,766658592"/>
        <meta name="title" content="House Market"/>
        <meta name="description" content="<?php echo $app['description']; ?>" />
        <link rel="image_src" href="https://app.hmapp.com/img/logohm.png"/>
        <link rel="target_url" href="<?php echo $cfg['local_app_url']; ?>" />
        <?php echo $this->headMeta() ?>        
        <?php echo $this->headLink() ?>
        <?php echo $this->headStyle() ?>
        <link href="/css/layout.css?v=45" media="screen" rel="stylesheet" type="text/css" />
        <link href="/css/style_menu.css?v=3" media="screen" rel="stylesheet" type="text/css" />
        <link href="/css/messages.css?v=4" media="screen" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.yRO-SYKNhZi.css" />
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.5jQtM62ZAF4.css" />   
        <link type="text/css" rel="stylesheet" href="/css/static.ak.fbcdn.net.zOMloODzDF_.css" />       
    </head>
    <body style="overflow: hidden">
        <div id="fb-root"></div>
        <div id="main" class="main">
            <?php echo $this->layout()->content ?>
        </div>
        <!-- event.preventDefault();-->
        <script src="https://connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript">
            FB.init({
                appId: '<?php echo $cfg['facebook_appid']; ?>',
                status : true, // check login status
                cookie : true, // enable cookies to allow the server to access the session
                xfbml  : true, // parse XFBML
                oauth  : true
            });
        </script>
        <script type="text/javascript">             
            var env = {
                canvas_url : '<?php echo $cfg['local_app_url']; ?>',
                facebook_url : '<?php echo $cfg['fb_app_url']; ?>'
            }
            var facebook_perms = '<?php echo ($fbparams); ?>';
            FB.Canvas.setAutoGrow();
            
        </script>
        <?php echo $this->headScript() ?>        
    </body>
</html>
