<form id="form1" name="form1" method="post" action="/index/search">
    <table>
        <tr>
            <td><input type="checkbox" name="alquiler" id="alquiler" checked="checked" />
                <label for="alquiler">Alquiler</label>
            </td>
            <td><input type="checkbox" name="compra" id="compra" />
                <label for="compra">Compra</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">Rango de Precios</td>
        </tr>
        <tr>
            <td>
                <select name="desde">
                    <?php
                    for($i = 0; $i <= 2500; $i = $i + 500) {
                        echo "<option value=$\"$i\">\$ $i</option>";
                    }
                    ?>
                </select>
            </td>
            <td>
                <select name="hasta">
                    <?php
                    for($i = 0; $i <= 2500; $i = $i + 500) {
                        echo "<option value=$\"$i\">\$ $i</option>";
                    }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">Habitaciones</td>
        </tr>
        <tr>
            <td>
                <select name="rdesde">
                    <?php
                    for($i = 0; $i <= 10; $i++) {
                        echo "<option value=\"$i\">$i</option>";
                    }
                    ?>
                </select>
            </td>
            <td>
                <select name="rhasta">
                    <?php
                    for($i = 0; $i <= 10; $i++) {
                        echo "<option value=\"$i\">$i</option>";
                    }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">Ciudad,Estado,Pais</td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="loc" id="loc" />
                        </td>
                        <td>
                            <a href="#" class="fb_button"> Buscar </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
