<html>
    <head>
        <style type="text/css">
            body{
                font-family: Tahoma,Helvetica,Arial;
                font-size: 12px;
            }
            .block{
                display: block;
            }
            hr{
                border: 1px solid #CCC;
            }
            .follow{                
                padding: 10px 5px;
            }
            .follow a{
                line-height: 16px;
            }
            a{
                color: #3B5998;

            }
            a.name, a.email{
                color:#333;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .property{
                color:#777;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }

        </style>        
    </head>
    <body>
    <table width="560" style="background-color:#f1f1f1;margin:auto;">
    <tr>
    <td width="530" height="25">
    </td>
    </tr>
    <tr>
    <td >
    <table width="500" style="border:1px solid #666;background-color:#ffffff;margin-left:25px;" cellpadding="10">
    <tr>
    <td>
    <div class="block" style="margin-left:10px;margin-right:10px;"> <a href="<?= $this->fburl; ?>"><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a> </div>
    </td>
    </tr>
     <tr >
    <td height="5"><hr />
    </td> <tr>
    <td style="margin-top:-10px;">        <div class="block" style="text-align:justify;font-size:13px;margin-left:10px;margin-right:10px;margin-top:-30px;">
      <p ><a href="https://apps.facebook.com/housemarket"></a> <a href="https://apps.facebook.com/housemarket"><img src="https://app.hmapp.com/img/goapp.png"  align="right"/></a></p>
          <div >
            <div id="mpf0_MsgContainer">
<p><span lang="ES-TRAD"><strong style="font-size:18px;">Hi!</strong></p>
<p style="line-height:120%;">Show your listings on your Facebook fan page! Properties that you have listed on Housemarket can be added to a TAB on your Facebook page so your fans can easily view them. To do so, click on the following link: <a target="_top" href="https://www.facebook.com/add.php?api_key=53c151c9ab48af3c3611487bc5935e4d&pages">"Add listing to my page"</a>.  </p>
<p><strong style="font-size:18px;">¡Hola!</strong>  <a href="https://apps.facebook.com/housemarket"><img src="https://app.hmapp.com/img/goapp2.png" alt=""  align="right"/></a></p>
<p style="line-height:120%;">¡Muestre el listado de sus propiedades en su página de Facebook! Para que las propiedades que Ud ha publicado en Housemarket puedan ser vistas por sus fans, Ud puede agregarlas a una viñeta de su página de Facebook. Para proceder, haga clic en el enlace: <a target="_top" href="https://www.facebook.com/add.php?api_key=53c151c9ab48af3c3611487bc5935e4d&pages">"Agregar lista a mi página"</a>.</p>
              </div>
            </div>
        </div>
    </td>
    </tr> 
     <tr>
    <td height="5"> <hr />
    </td>
    </tr>
     <tr>
    <td> 
    <div style="height:10px;margin-left:10px;margin-right:10px;">
    <div style="float:left;width:25px;">
    <a   href="https://apps.facebook.com/housemarket"><img src="https://app.hmapp.com/img/icons/mail_facebook.png"  style="border:0px;" /></a>
    </div>
     <div style="float:left;width:25px;">
     <a  href="https://twitter.com/hmapp"><img src="https://app.hmapp.com/img/icons/mail_twitter.png"  style="border:0px;" /></a>
    </div>
     <div style="float:left;width:25px;">
     <a  href="https://www.facebook.com/apps/application.php?id=120449844656848&sk=app_127087913984159"><img src="https://app.hmapp.com/img/icons/mail_email.png"  style="border:0px;" /></a>
    </div>
     <div style="float:left;width:25px;">
     <a  href="https://www.youtube.com/hmappTV"><img src="https://app.hmapp.com/img/icons/mail_youtube.png"  style="border:0px;" /></a>
    </div>
    </div>
   
    </td>
    </tr>
    
    </table>
    </td>
    </tr>
    <tr>
    <td height="25">
    </td>
    </tr>
    </table>
    
    

  
   


</body>
</html>