<html>
    <head>
        <style type="text/css">
            body{
                font-family: Tahoma,Helvetica,Arial;
                font-size: 12px;
            }
            .block{
                display: block;
            }
            hr{
                border: 1px solid #CCC;
            }
            a{
                color: #3B5998;
            }
            a.name, a.email{
                color:#333;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .name{
                color:#555;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .property{
                color:#777;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none!important;
            }

        </style>        
    </head> 
    <body>
        <div class="block">
            <a href=""><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a>
        </div>
        <hr /> 
        <div class="block">
            <p class="name">Hola,</p>            
              <p class="property" ><a href="https://apps.facebook.com/housemarket/enlistar/propiedadesautor?id=<?= $this->UD;?>"><?= $this->name; ?></a><?= " ( ".$this->email." )";?> ha Solicitado permiso de Carga Masiva.</p>     
            
 <p></p> 

    </div>
    <hr />
   

</body>
</html>