<html>
    <head> 
        <style type="text/css"> 
            body{
                font-family: Tahoma,Helvetica,Arial;
                font-size: 12px;
            }
            .block{
                display: block;
				margin-left:5px;
				margin-top:5px;
            }
            hr{
                border: 1px solid #CCC;
				height:1px;
				margin-top:0px;
            }
            .follow{                
                padding: 10px 5px; 
            }
            .follow a{
                line-height: 16px;
            }
            a{
                color: #3B5998;

            }
            a.name, a.email{
                color:#333;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .property{
                color:#777;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
			.button{
				text-decoration:none;
			}
			
			.mileft{
				float:left
			}

        </style>        
    </head>
    <body>
  <div style="padding:20px;background-color:#F1F1F1;width:600px;margin:auto;">

    <table style="border:1px solid #666;background-color:#fff;margin-left:0px;margin-top:px;padding:15px;">
    <tr>
    <td height="55" colspan="2"><a href="<?= $this->fburl; ?>" ><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a></td>    
    </tr>
    <tr>
    <td colspan="2" height="10"><hr /></td>
    </tr>
    <tr>    
    <td height="25" valign="middle" colspan="2" style="font-size:19px">Hola <strong><?= $this->name; ?>,</strong></td>
    </tr>
    <tr>
    <td height="8">
    </td>
    </tr>
    <tr>
      <td  width="70" height="54" valign="top" align="right"><a href="https://www.facebook.com/profile.php?id=<?= $this->uid;?>">
          <div style="border:1px solid #CCCCCC;width:50px;height:50px;padding:2px;display:block;margin-top:3px;"><img width="50" height="50" src="<?= $this->photo;?>" /></div></a></td>
      <td width="487"  rowspan="2" valign="top" style="text-align:justify;color:#444; line-height:135%;font-size:12px;padding:0px 5px; 0px 5px;">
       <?= $this->name_c." (" ?><a href="mailto:<?= $this->email_c?>"><?= $this->email_c?></a><?= ") ";?> está buscando propiedades con estas características: <br />
	   <div style="padding:5px;font-size:12px;"><?= $this->mides?></div> </td>
    </tr>
    <tr> 
          <td width="54" valign="top" align="left" >&nbsp;</td>
      </tr>
    <tr>
      <td colspan="2"><div style="text-align:justify;color:#444;line-height:115%;font-size:12px;margin-left:12px;height:45px;">Saludos,
        <div style="height:8px;"></div>
        Housemarket</div></td>
    </tr>
    <tr>
     <td colspan="2" height="10"><hr /></td>
    </tr>
    <tr height="15px" >
 
    
    <td colspan="2" height="15">
        <div style="float:left;height:20px;width:25px;"><a  href="<?= $this->fburl; ?>"><img src="https://app.hmapp.com/img/icons/mail_facebook.png"  style="border:0px;" /></a></div>
        <div style="float:left;height:20px;width:25px;"><a  href="https://twitter.com/hmapp"><img src="https://app.hmapp.com/img/icons/mail_twitter.png"  style="border:0px;" /></a></div>
        <div style="float:left;height:20px;width:25px;"><a  href="https://www.youtube.com/hmappTV"><img src="https://app.hmapp.com/img/icons/mail_youtube.png"  style="border:0px;" /></a></div>        
  </td>
   
   
    </tr>
    </table>
    <table width="560" height="20" style="font-size:9px;color:#444;">
     <tr>
     <td width="552">
     This email is intended for <?= $this->email;?>. To unsubscribe from Housemarket rewards and gifts emails <a href="" style="text-decoration:none;">click here</a>. <a href="https://apps.facebook.com/housemarket/documentos/privacypolicy" style="text-decoration:none;">Privacy Policy</a>.

     </td>
     </tr>
    </table>
   </div>
</body>
</html>