<html>
    <head>
        <style type="text/css">
            body{
                font-family: Tahoma,Helvetica,Arial;
                font-size: 12px;
            }
            .block{
                display: block;
            }
            hr{
                border: 1px solid #CCC;
            }
            .follow{                
                padding: 10px 5px;
            }
            .follow a{
                line-height: 16px;
            }
            a{
                color: #3B5998;

            }
            a.name, a.email{
                color:#333;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .property{
                color:#777;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }

        </style>        
    </head>
    <body>
    <table width="555" style="margin:auto;background-color:#f1f1f1;">
    <tr>
    <td height="20"></td>
    </tr>
    <tr>
    <td>
  
    <table width="500" style="border:1px solid #666;margin:auto;padding:10px;background-color:#ffffff;margin-left:25px;">
    <tr><td height="60"><a href="https://apps.facebook.com/housemarket"><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a>
        </td>
    </tr>
    <tr>    
    <td height="5"><hr></td>
    </tr> 
    <tr>
    <td>
    <div style="font-size:12px;margin-top:-10px;height:80px;">
            <p><strong style="font-size:14px;">Hola <?= $this->broker; ?>,</strong></p>
            <p><a href="https://www.facebook.com/profile.php?id=<?= $this->uid; ?>" target="_blank" class="name"><?= $this->name; ?></a> (<a href="mailto:<?= $this->email; ?>" class="email"><?= $this->email; ?></a>) is using Housemarket and has liked one of your properties:</p>
            <p>
      <!--<a href="<?= $this->link; ?>" target="_blank"><img src="<?= $this->photo; ?>" style="border:0px;padding: 10px;float: left;" /></a>--><?= $this->property; ?> (<a href="<?= $this->link; ?>" target="_blank">View Property</a>)            <!--<p>Go to Housemarket: <a href=""><?= $this->fburl; ?></a></p>
        Follow us on twitter:<?= $this->twitter; ?>--></p></div>
    </td>
    </tr>
    <tr>
    <td height="5"><hr></td>
    </tr>
    <tr>
    <td>
        <div style="float:left;height:20px;width:25px;"><a  href="<?= $this->fburl; ?>"><img src="https://app.hmapp.com/img/icons/mail_facebook.png"  style="border:0px;" /></a></div>
        <div style="float:left;height:20px;width:25px;"><a  href="https://twitter.com/hmapp"><img src="https://app.hmapp.com/img/icons/mail_twitter.png"  style="border:0px;" /></a></div>
        <div style="float:left;height:20px;width:25px;"><a  href="https://www.youtube.com/hmappTV"><img src="https://app.hmapp.com/img/icons/mail_youtube.png"  style="border:0px;" /></a></div>
    </td>
    </tr> 
    </table>  </td></tr>
    <tr>
    <td height="20"></td>
    </tr></table>
       
</body>
</html>