<html>
    <head>
        <style type="text/css">
            body{font-family:Tahoma,Helvetica,Arial;font-size:12px}
            .block{display:block}
            hr{border:1px solid #CCC}
            .follow{padding:10px 5px}
            .follow a{line-height:16px}
            a{color:#3B5998}
            a.name,a.email{color:#333;font-size:13px;font-weight:700;text-decoration:none!important}
            .property{color:#777;font-size:14px;font-weight:700;text-decoration:none!important}
            .contact-info tr th {text-align: right;}
        </style>        
    </head>
    <body>
        <table width="500" style="margin:auto;background-color:#f1f1f1;">
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td>

                    <table width="442" style="border:1px solid #666;margin:auto;padding:15px;background-color:#ffffff;margin-left:25px;">
                        <tr>
                            <td height="60" colspan="2"><a href="https://apps.facebook.com/housemarket"><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a>      </td>
                        </tr>
                        <tr>
                            <td height="5" colspan="2"><hr></td>    
                        </tr> 
                        <tr>
                            <td height="35" valign="top"><strong style="font-size:14px;">Hola<?= $this->broker; ?>,</strong></td>
                            <td valign="top" height="35"></td>
                        </tr>
                        <tr>
                            <td width="355" valign="top" colspan="2" style="line-height:120%;text-align:justify;font-size:12px;color:#222;height:71px;">
                                <p>Alguien ha mostrado interés en esta propiedad,</p>
                                
                                <table class="contact-info">
                                    <tr>
                                        <th>Propiedad:</th>
                                        <td><?php echo $this->property; ?> (<a href="<?= $this->link; ?>" target="_blank">Ver propiedad</a>)</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre:</th>
                                        <td><a style="text-decoration:none;" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" target="_blank" class="name"><?php echo $this->name; ?></a></td>
                                    </tr>
                                    <tr>
                                        <th>Correo:</th>
                                        <td><a href="mailto:<?php echo $this->email; ?>" class="email"><?php echo $this->email; ?></a></td>
                                    </tr>
                                    <?php if($this->phone) { ?>
                                        <tr>
                                            <th>Teléfono:</th>
                                            <td><?php echo $this->phone; ?></td>
                                        </tr>
                                    <?php } ?>
                                    <?php if($this->message) { ?>
                                        <tr>
                                            <th>Mensaje:</th>
                                            <td><?php echo $this->message; ?></td>
                                        </tr>
                                    <?php } ?>
                                </table>
                            </td>
                        </tr>                        
                        <tr>
                            <td height="5" colspan="2"><p><strong>¿Estás encontrando nuevos clientes a través de Housemarket? Háznoslo saber dejando un comentario en nuestro <a href="www.facebook.com/housemarket?sk=wall" title="Housemarket">muro</a>.</strong></p></td>
                        </tr>
                        <tr>
                            <td height="5" colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="float:left;height:20px;width:25px;"><a  href="<?= $this->fburl; ?>"><img src="https://app.hmapp.com/img/icons/mail_facebook.png"  style="border:0px;" /></a></div>
                                <div style="float:left;height:20px;width:25px;"><a  href="https://twitter.com/hmapp"><img src="https://app.hmapp.com/img/icons/mail_twitter.png"  style="border:0px;" /></a></div>
                                <div style="float:left;height:20px;width:25px;"><a  href="https://www.youtube.com/hmappTV"><img src="https://app.hmapp.com/img/icons/mail_youtube.png"  style="border:0px;" /></a></div>        
                            </td>
                        </tr> 
                    </table> 
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
        </table>

    </body>
</html>