<html>
    <head> 
        <style type="text/css"> 
            body{
                font-family: Tahoma,Helvetica,Arial;
                font-size: 12px;
            }
            .block{
                display: block;
                margin-left:5px;
                margin-top:5px;
            }
            hr{
                border: 1px solid #CCC;
                height:1px;
                margin-top:0px;
            }
            .follow{                
                padding: 10px 5px; 
            }
            .follow a{
                line-height: 16px;
            }
            a{
                color: #3B5998;

            }
            a.name, a.email{
                color:#333;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .property{
                color:#777;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none!important;
            }
            .button{
                text-decoration:none;
            }
            .contenedor{
                background-color:#f1f1f1;
                width:590px;
                height:315px;			
                margin: auto;
            }
            .main{
                background-color:#FFF;
                width:546px;
                height: 270px;
                margin-left:20px;				
                border:1px solid #888; 


            }
            .mileft{
                float:left
            }

        </style>        
    </head>
    <body>
        <table style="width:660px;background-color:#f1f1f1;margin:auto;">
            <tr>
                <td height="25"> </td>
            </tr>
            <tr>
                <td width="630" align="center" >
                    <table style="border:1px solid #666;background-color:#fff;margin-left:0px;margin-top:px;padding:10px;">
                        <tr>
                            <td height="55" colspan="3" width="590"><a href="<?= $this->fburl; ?>" ><img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" /></a></td>    
                        </tr>
                        <tr>
                            <td width="590" colspan="3" height="10"><hr /></td>
                        </tr>
                        <tr>    
                            <td height="25" valign="middle" colspan="3" style="font-size:20px">Hola <strong><?= $this->name; ?>,</strong></td>
                        </tr>
                        <tr>
                            <td height="8">
                            </td>
                        </tr>
                        <tr>
                            <td width="64" rowspan="2" align="center" valign="top" height="60" ><img  src="https://app.hmapp.com/img/coins.png" style="margin-top:2px;" /></td>
                            <td width="330" rowspan="2" valign="top" height="60" style="text-align:justify;color:#444;margin-top:0px; line-height:125%;font-size:13px;margin-left:10px;">
                                Se te han asignado <strong> <?= $this->cntCreditos; ?> créditos</strong> para destacar tu propiedad en Housemarket. Propiedades descatadas recibirán mayor exposición en la aplicación. Aprende sobre otros beneficios <u><a  href="https://apps.facebook.com/housemarket/destacada">aquí</a></u>.
                </td>
                <td height="25" valign="top">
                    <div style="margin-left:10px;">
                        <a href="https://apps.facebook.com/hmproject/creditos/add?xprom=<?= $this->encript; ?>"> <img src="https://app.hmapp.com/img/credits.png" style="margin-top:3px;" /></a>
                    </div></td> 
            </tr>
            <tr>
                <td width="130" height="35" valign="top">

                    <div style="margin-left:8px;margin-top:0px;">

                        <div style="height:14px;width:122px;font-weight:bold;margin-left:8px;font-size:11px;" align="center">Cantidad:
                            <?= $this->cntCreditos; ?>
                            créditos </div>
                    </div></td>
            </tr>
            <tr>
                <td colspan="2"><span style="text-align:justify;color:#444;margin-top:0px; line-height:115%;font-size:13px;margin-left:0px;">Saludos,<br />
                        <br />
                        Housemarket</span></td>
            </tr>
            <tr>
                <td width="590" colspan="3" height="10"><hr /></td>
            </tr>
            <tr height="15px" >
                <td width="75" height="15">
                    <table width="75" height="15">
                        <tr>
                            <td width="25" height="15"><a href="<?= $this->fburl; ?>"><img src="https://app.hmapp.com/img/icons/mail_facebook.png"  style="border:0px;" /></a></td>
                            <td width="25" height="15"> <a  href="https://twitter.com/hmapp"> <img src="https://app.hmapp.com/img/icons/mail_twitter.png"  style="border:0px;" /></a></td>
                            <td width="25" height="15"> <a  href="https://www.youtube.com/hmappTV"> <img src="https://app.hmapp.com/img/icons/mail_youtube.png"  style="border:0px;" /></a></td>
                        </tr></table>
                </td>
            </tr>
        </table>
        <table width="600" height="20" style="font-size:9px;color:#444;">
            <tr>
                <td>
                    Este correo está dirigido a <?= $this->email; ?>. <a href="https://apps.facebook.com/housemarket/documentos/privacypolicy" style="text-decoration:none;">Política de privacidad</a>.

                </td>
            </tr>
        </table>
    </td></tr>
<tr>
    <td height="20"> </td>
</tr></table>
</body>
</html>