<html>
    <head>
    </head> 
    <body>
        <div>
            <img src="https://app.hmapp.com/img/hb_logo.gif"  style="border:0px;" />
        </div>
        <hr /> 
        <div>
            <p>Hola,</p>            
            <p>
                <?php if ($this->uid) { ?>
                    <a href="https://apps.facebook.com/housemarket/enlistar/propiedadesautor?id=<?php echo $this->uid; ?>"><?php echo $this->username; ?></a><?php echo " ( " . $this->email . " )"; ?>
                <?php } else { ?>
                    Se
                <?php } ?>
                ha agregado el tab a este fan page: <a href="<?php echo $this->page_url; ?>"><?php echo $this->page_name; ?></a>.
            </p>
        </div>
        <hr />
    </body>
</html>