<?php
/* ajax search js, map search js */


/* ajax search js, map search js , Local Search Control   */
$this->headScript()->appendFile("https://maps.google.com/maps?file=api&v=2&sensor=false&key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");
$this->headScript()->appendFile("https://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");
$this->headScript()->appendFile("https://www.google.com/jsapi?key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");



$this->headScript()->appendFile("https://www.google.com/uds/solutions/localsearch/gmlocalsearch.js");
$this->headScript()->appendFile("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new");


$this->headScript()->appendFile('/js/extjs/adapter/ext/1ext-base.js', 'text/javascript');
$this->headScript()->appendFile('/js/extjs/1ext-all.js', 'text/javascript');
$this->headScript()->appendFile('/js/extjs/build/locale/ext-lang-es-min.js', 'text/javascript');

$this->headScript()->appendFile('/js/jquery-1.3.2.min.js', 'text/javascript');
$this->headScript()->appendFile('/js/jquery.MetaData.js', 'text/javascript');
$this->headScript()->appendFile('/js/jquery.MultiFile.pack.js', 'text/javascript');
$this->headScript()->appendFile('/js/chooser.js', 'text/javascript');

/* ajax search stylesheet, map search stylesheet */
$this->headLink()->appendStylesheet("https://www.google.com/uds/css/gsearch.css");
$this->headLink()->appendStylesheet("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.css");

$this->headLink()->appendStylesheet('/js/extjs/resources/css/ext-all.css');
$this->headLink()->appendStylesheet('/js/extjs/resources/css/xtheme-gray.css');
$this->headLink()->appendStylesheet("/css/layout_enlistar.css");
$this->headLink()->appendStylesheet('/css/tabs.css');
$this->headLink()->appendStylesheet('/css/niceforms.css');
$this->headLink()->appendStylesheet('/css/slidebox.css');
$this->headLink()->appendStylesheet('/css/chooser.css');
$this->headLink()->appendStylesheet('/css/adicion_ext-all.css');

?>

<style type="text/css">
    @import url("https://www.google.com/uds/css/gsearch.css");
    @import url("https://www.google.com/uds/solutions/localsearch/gmlocalsearch.css");
	
	* { font-size: 11px; }
	strong { font-weight:bold; }
   img.demolink { cursor:pointer};
</style>
<?php echo $this->flashMessenger(); ?>
<div id="tabs_property">
    <div id="detalle" class="x-hide-display">
<!--/Mihousebook/save-->
    
           <br>
			<table width="500" border="0" cellspacing="0" cellpadding="0">
			
			  <tr>

			    <td width="400" align="center">
            
                		<div class="boxgrid captionfull">
                                 
				  <?php if($this->default==1){?>
                                    <img src="<?php echo  $this->src;?>" width="310">
                                  <?php }else{?>
                                       <img src="/img/foto_g.jpg" width="319" height="142">
                                  <?php }?>
    			      </div>
              </td>
	 <td  align="top" valign="middle">
                    
                     <div class="descrip_propiedad">
                         <?php if($this->administrador==1){?>
                             <div class="edit_descrip">
                                <img src="/img/edit_descripcion.png" id="cambiar_descripcion" width="15" height="15">
                                <img src="/img/x1.gif" id="cerrar_edicio_descripcion" width="10" height="10">
                              </div>
                             <form action="" method="post" name="editar_propiedad_descform" id="editar_propiedad_descform">
                                <textarea name="descripcion" class="textarea"  id="descripcion" cols="25" rows="9"><?php echo  $this->descripcion_propiedad;?></textarea>
                             </form>
                         <?php }else{?>
                                <textarea name="descripcion" class="textarea"  id="descripcion" cols="25" rows="9"><?php echo  $this->descripcion_propiedad;?></textarea>
                         <?php }?>
                     </div>
                     
                </td>
			  </tr>
			</table>
		     <form action="/Mihousebook/save" method="post" name="editar_propiedad" id="editar_propiedad">	
            
			<table width="500" border="0" cellspacing="0" cellpadding="5">

			  <tr>
			    <td valign="top"><img src="/img/iconos_01.jpg" class="demolink"/></td>
			    <td valign="top"><img src="/img/iconos_02.jpg" class="demolink"/></td>
			    <td valign="top"><img src="/img/iconos_03.jpg" class="demolink"/></td>
			    <td valign="top"><img src="/img/iconos_04.jpg" class="demolink"/></td>
			    <td valign="top"><img src="/img/iconos_05.jpg" class="demolink"/></td>
			  </tr>
		   </table>
         
           <br>

			<div class="mensaje fbinfobox"><?php echo $this->flashMessenger(); ?></div>
			<br>
            <table width="500" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td><strong>Informaci&oacute;n de la Propiedad</strong> </td>
                            <td><img src="/img/linea_divisoria.png" width="188" height="5"/></td>
                            <td>
                           <!-- <?php echo  $this->administrador;?>-->
                            <?php if($this->administrador==1){?>
                              <a href="#" class="editar_property" id="editar"><img src="/img/editar_propiedad.png" width="24" height="23"/>
                                  &nbsp;<div class="texto_perfil"> Editar propiedad</div>
                              </a>
                                               
                            
                             <div class="panel_control" style="width:150px;">
                              <input name="guardar" id="guardar" type="submit"  class="gsmsc-result-list-clear-results" value="Guardar">
                              <input name="cancelar" id="cancelar" type="button"  class="gsmsc-result-list-clear-results" value="Cancelar">
                            </div>
                            <?php }?>
              </td>
			  </tr>
           </table>
			<table width="500" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td >&nbsp;</td>
			    <td>&nbsp;</td>
              </tr>
    		   <tr>
			    <td width="132" ><strong>ID:</strong></td>
			    <td >
				 <input type="text" class="textinput2" id="idpropiedad_c" name="idpropiedad_c" value="<?php echo  $this->idprop;?>"/>
				 </td>
                <!--<?php echo  $this->nombre;?>-->
			  </tr>

			  
			  <tr>
			    <td><strong>Tipo de enlistamiento:</strong></td>
			    <td><input type="checkbox" value="1" id="tipo_enlistamiento1" class="tipo_enlistamiento1" name="tipo_enlistamiento"/>

			      Venta
			      <input type="checkbox" value="2" id="tipo_enlistamiento2" class="tipo_enlistamiento2" name="tipo_enlistamiento"/>
			      Renta
			      <input type="checkbox" value="3" id="tipo_enlistamiento3" class="tipo_enlistamiento3" name="tipo_enlistamiento"/>
			      Venta y Renta    
			  </td>
			  </tr>
			  <tr>
				<td><strong>Tipo de Propiedad:</strong></td>
			    <td>
                 <select class="selectArea" id="type_property" name="type_property">
					  <?=$this->Cbotype_property?>
			      </select>	
                </td>
			  </tr>
		<!--	  <tr>
			    <td><strong>Descripcion</strong></td>
			    <td><textarea name="descripcion" class="textarea"  id="descripcion" cols="25" rows="9">
                                </textarea></td>
		      </tr>-->
		</table>
       <table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr>
             <td width="132">
			      <strong>Direcci&oacute;n:</strong>
			  </td>
			  <td>
			      <input type="text" class="textinput2" id="direction" name="direction" value="<?php echo  $this->direccion;?>"/>
			  </td>
                
            <td colspan="2" rowspan="4">
                   	<table border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td colspan="2"><?php
								 if(!empty($this->ps)) {
									$foto = $this->ps;
								} else {
									$foto = '/img/q_silhouette.gif';
								}
								echo "<div class=\"friendApp\">";
								echo '<a href='. $this->pro_url.'><img src="'. $foto .'" alt="'.$this->fn .' '.$this->ln .'" /><span>'.$this->firstname.' '.$this->lastname .'</span></a>';
								echo "</div>";
							   ?></td>
							  </tr>
							  <tr>
								<td><strong>Nombre:</strong></td>
								<td><?php echo  $this->fn.' '.$this->ln?></td>
							  </tr>
							  <tr>
								<td><strong>Pa&iacute;s:</strong></td>
								<td><?php echo  $this->hometown;?></td>
							  </tr>
							  <tr>
								<td><strong>P&aacute;gina Web:</strong></td>
								<td><?php echo  $this->website;?></td>
							  </tr>
							  <tr>
								<td><strong>Email:</strong></td>
								<td>&nbsp;</td>
							  </tr>
							  <tr>
								<td><strong>Empresa:</strong></td>
								<td>&nbsp;</td>
							  </tr>
						</table>
                
                </td>
              </tr>
  		  	   <tr>
			         <td><strong>Precio:</strong></td>
			         <td><input type="text" class="textinput2" id="precio" name="precio"/>
                        <!--<?php echo  $this->precio_venta;?> <?php echo  $this->precio_alquiler;?>  -->
				     </td>
			   </tr>
              <tr>
                   <td><strong>Cuartos:</strong></td>
                   <td><input type="text" class="textinput2" id="cuarto" name="cuarto" value="<?php echo  $this->cuartos;?>"/></td>     
              </tr>
              <tr>
                 <td><strong>Ba&ntilde;os:</strong></td>
  				   <td><input type="text" class="textinput2" id="bano" name="bano" value="<?php echo  $this->banos;?>"/></td>			
              </tr>
            </table> 						
		<table width="500" border="0" cellspacing="0" cellpadding="0">
        	  <tr>

			    <td width="150"><strong>&Aacute;rea:</strong></td>
    			<td><input type="text" class="textinput2" id="area" name="area" value="<?php echo  $this->area;?>"/></td>
			    <td><strong>Tama&ntilde;o del lote:</strong></td>
				<td><input type="text" class="textinput2" id="tamano_lote" name="tamano_lote" value="<?php echo  $this->tamano_lote;?>"/></td>
			  </tr>
              <tr>
			    <td ><strong>Fecha de Ingreso:</strong></td>
			    <td><input type="text" class="textinput2" id="fecha_ingreso" name="fecha_ingreso" value="<?php echo  $this->fecha_ingreso;?>"/></td>
				
           	<td><strong>Modificaci&oacute;n:</strong></td>
				<td><input type="text" class="textinput2" id="ultima_modificacion" name="ultima_modificacion" value="<?php echo  $this->ultima_modificacion;?>"/></td>
			  </tr>
   
         </table>      
         <table width="500" border="0" cellspacing="0" cellpadding="0">     
			     <tr>
					  <td colspan="2">
					  <input type="hidden"  id="uid" name="uid" value="<?php echo  $this->uidPropiedadBD;?>"/>
					  <input type="hidden"  id="latitud" name="latitud" value="<?php echo  $this->lat;?>"/>
					  <input type="hidden"  id="longitud" name="longitud" value="<?php echo  $this->lng;?>"/>
					  <input type="hidden"  id="idpropiedad" name="idpropiedad" value="<?php echo  $this->idprop;?>"/>
					  <input type="hidden"  id="idpropiedad" name="idpropiedad" value="<?php echo  $this->idprop;?>"/>
					  <input type="hidden"  id="descripcion2" name="descripcion" value="<?php echo  $this->descripcion_propiedad;?>"/>
					  <!-- <?php echo  $this->destacada;?>  <?php echo  $this->roomate;?>  -->               
					  </td>
			     </tr>
               <tr>
			    <td><strong>Estatus:</strong></td>
			    <td>
                  <input type="checkbox" value="1" id="estatus1" class="estatus1" name="estatus"/>
			      Vendida
			       <input type="checkbox" value="2" id="estatus2" class="estatus2" name="estatus"/>
			      Alquilada
			      <input type="checkbox" value="3" id="estatus3" class="estatus3" name="estatus"/>

			      Activa
                  <input type="checkbox" value="4" id="estatus4" class="estatus4" name="estatus"/>
			      Inactiva                </td>
    		  </tr>
			</table>
			<br>
			 
	
		
		   <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3">
				   <div id="mapsearch" style="width:330px;height:300px"> <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span></div>
				  </td>
                <td valign="top">
						<table>
			 <!--             <tr>
										<td><em><strong>Pa&iacute;s</strong></em></td>
									</tr>-->
		  <!--                  <tr>
										<td>-->
							  <select class="selectArea" id="country" name="country" style="visibility:hidden">
									<?=$this->CboCountry?>
							  </select>
				   <!--   </td>
								   </tr>-->
							<tr>
							  <td><em><strong>Estado/Provincia</strong></em></td>
							</tr>
							<tr>
								<td><input type="text"  class="textinput2" id="estado" name="estado" value="<?php echo  $this->estado;?>"/></td>
							</tr>
							<tr>
		
							  <td><em><strong>Ciudad/Municipio</strong></em></td>
							</tr>
							<tr>
								<td><input type="text" class="textinput2" id="ciudad" name="ciudad" value="<?php echo  $this->ciudad;?>"/></td>
							</tr>
						 </table>
				 </td>
             </tr>
             <tr>
                <td colspan="3" align="center"><!--<img src="/img/no_photo.gif"  height="95" width="227"/>--></td>
             </tr>
           </table>
             
                 
                     
           <input type="checkbox" value="Restaurantes" id="hotspot1" class="hotspot1" name="hotspot"/>
           Restaurantes
           <input type="checkbox" value="Universidad" id="hotspot2" class="hotspot2" name="hotspot"/>
           Universidad
           <input type="checkbox" value="Centro comercial" id="hotspot3" class="hotspot3" name="hotspot"/>
           Centro comercial
           <input type="checkbox" value="Hoteles" id="hotspot4" class="hotspot4" name="hotspot"/>
           Hotel
           <input type="checkbox" value="Super Mercado" id="hotspot5" class="hotspot5" name="hotspot"/>
           Super Mercado

        <table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2"><em><strong>Zonas Aleda&ntilde;as</strong></em></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
                                <div id="results">

				</div>
            </td>
          </tr>
        </table>
	  </form>
		  
    </div>
    <div id="admin_foto" class="x-hide-display">
         <div class="mensajefoto fbinfobox"><?php echo $this->messagefoto;?></div>

	  <?php echo $this->form_foto; ?>
         <br>
       
         <div id="info_save" class="info_save fbinfobox" >Haga Clic en el boton de abajo para ver su galer&iacute;a</div>
       <div id="images"></div>
       <div id="buttons" ></div>
       
       
	
    </div>
    <div id="video" class="x-hide-display">
           Videos
   </div>
</div>

<script language="Javascript">
			var latitud =<?php echo "'".$this->lat."'" ?>;
			var longitud=<?php echo "'".$this->lng."'" ?>;
            var tipo_enlistamiento=<?php echo  $this->tipo_enlistamiento?>;
            var tipo_status=<?php echo  $this->estatus?>;
          if((tipo_enlistamiento==1)||(tipo_enlistamiento==3))
		  {
			precio_propiedad=<?php echo  $this->precio_venta;?>;
          }else{
			precio_propiedad=<?php echo  $this->precio_alquiler;?>;
           }
</script>


<ul style="list-style-type: none;">
<?php if(count($this->images) > 0) : ?>
<?php foreach($this->images as $image) : ?>
<li>
	<img src="/propiedad/<?php echo $this->findImageById($image->id); ?>" alt="<?php echo $image->title ?>" 
	width="200"/>
</li>
<?php endforeach; ?>
<?php endif; ?>
</ul>

<div id="destacados" class="fbbluebox"> 
		<table>
		    <tr>
		       <td align="center" colspan="2">
		        <img vspace="2" hspace="2" src="/img/imagen1.jpg"/> 
		        <img vspace="2" hspace="2" src="/img/imagen2.jpg"/> 
   		        <img vspace="2" hspace="2" src="/img/imagen3.jpg"/>
		        <img vspace="2" hspace="2" src="/img/imagen4.jpg"/> 
              </td>
          </tr>
		</table>

    <?php
    //Zend_Debug::dump($this->prueba);
//Zend_Debug::dump(get_include_path());
//Zend_Debug::dump( Zend_Registry::get('facebook') );

$fb = Zend_Registry::get('facebook');
$p = $fb->facebook->fb_params;
$sp = array();
function MakeRequestUrl($params) {
    $querystring=null;
    foreach ($params as $name => $value) {
      $querystring=$name.'='.urlencode($value).'&'.$querystring;
    }
      // Cut the last '&'
      $querystring=substr($querystring,0,strlen($querystring)-1);
      return htmlentities($querystring);
  }

//Zend_Debug::dump( Zend_Registry::get('fb_params'));
//Zend_Debug::dump($_POST);
//Zend_Debug::dump($_COOKIE);
foreach($p as $k => $v) {
    $sp['fb_sig_'.$k] = $v;
}
$query = MakeRequestUrl($sp);

//echo $query;


    ?>
<form name="fb_params" method="get" action="#">
<?php
foreach($p as $k => $v) {
    //$sp['fb_sig_'.$k] = $v;
    echo '<input type="hidden" name="fb_sig"'. $k .'value="'. $v.'"/>';
}
?>
</form>    
</div>
<?php
$this->headScript()->appendFile("/js/c_property.js");
?>

