<?php
$this->headScript()->appendFile('/js/jquery-1.3.2.min.js');
$this->headScript()->appendFile("/js/jquery-ui-1.7.2.custom.min.js");
$this->headScript()->appendFile("/js/validate/jquery.metadata.js");
$this->headScript()->appendFile("/js/validate/jquery.delegate.js");
$this->headScript()->appendFile("/js/validate/jquery.validate.js");
$this->headScript()->appendFile("/js/validate/jquery.corner.js");
$this->headScript()->appendFile("/js/validate/messages_es.js");
$this->headScript()->appendFile("/js/validate/validate_property.js");
$this->headLink()->appendStylesheet("/css/custom-theme/jquery-ui-1.7.2.custom.css");
$this->headLink()->appendStylesheet("/css/search.css");
$this->headLink()->appendStylesheet("/css/errores.css");
$this->headLink()->appendStylesheet('/css/tabs.css');
$this->headLink()->appendStylesheet("/css/style_perfil.css");
$this->headScript()->appendFile("/js/propropiedades.js");
?>
<form class="pp" id="pp" action="#" method="post" target="_parent" name="pp" >
    <script language="JavaScript" type="text/javascript">
    function ValidaCheck(){
        for (i=0;i<document.form_show.elements.length;i++) {
          if(document.form_show.elements[i].type == "checkbox"){
            if(document.form_show.elements[i].checked)
                return true;
          }
        }
        alert('Debe seleccionar al menos un registro');
        return false;
    }
    
    function CheckAll() {
        for (i=0;i<document.form_show.elements.length;i++) {
          if(document.form_show.elements[i].type == "checkbox" && document.form_show.elements[i].name!="mSelect")
            document.form_show.elements[i].checked=!document.form_show.elements[i].checked;
        }
        return false;
    }
</script>
    <!--Begin Perfil -->
    <br />
    <div id="perfil">
        <?php echo $this->botones; ?>
<br />
<div id="user_info">
    <div class="fbtittle"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" ><?php echo $this->usernames; ?></a>&nbsp;|&nbsp;<?php echo $this->paginacliente;?></div>
     <div class="picture"> <a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>"><img uid="<?php echo $this->uid; ?>" size="normal" linked="1" pageid="" profile-pic="" src="<?php echo $this->profile; ?>" alt="<?php echo $this->usernames; ?>" title="<?php echo $this->usernames; ?>" /></a> </div>
        <div class="box">
           
          <div class="info_usuario">
                <?php echo $this->infoclientehm;?>
                
            </div>
        </div>
      </div>
        <div class="clear"></div>
       <div id="lista_propiedades">
      <div class="info_propiedades">
          <span class="propiedades"><i18n>PROFILE_TOTAL_PROPERTIES</i18n>: <strong><?php echo $this->totalpropiedades;?></strong> | <i18n>PROFILE_PUBLISHED</i18n>: <strong><?php echo $this->totalpublicadas;?></strong> </span>
          <span class="creditos"><i18n>PROFILE_TOTAL_CREDITS</i18n>: <strong><?php echo $this->totalcreditos;?></strong> | <i18n>PROFILE_CREDITS_AVAILABLE</i18n>: <strong><?php echo $this->totaldisponibles;?></strong></span>
          <br class="clear" />
      </div>
           <div class="button_group"><a target="_top" href="<?php echo $this->urlsitio . $this->url(array('controller'=>'destacada', 'action'=>'index')) . "?" . $_SERVER["QUERY_STRING"]; ?>"><i18n>LABEL_CONTACT_TITLE</i18n></a></div>
        <div class="filtros">
          <label><i18n>LABEL_FILTER_BY</i18n>: </label>
          <select id="cbEstado" name="cbEstado"><?php
                       
                        echo "<option value=><i18n>LABEL_STATUS</i18n></option>";
                        foreach($this->states as $row) {
                            echo "<option value=$row->CodigoEdoPropiedad>$row->Estado</option>";
                        }
                        ?>
                    </select>


          <select id="cbCategoria" name="cbCategoria"><?php
                        echo "<option value=><i18n>LABEL_CATEGORY</i18n></option>";
                        foreach($this->categories as $row) {
                            echo "<option value=$row->CodigoCategoria>$row->Categoria</option>";
                        }
                        ?>
                    </select>
          <a href="#" class="button" id="_filtro" name="_filtro"><i18n>LABEL_FILTER</i18n></a>
        </div>
           
          <div id="pro_propiedades"></div>
      </div>
        
      <div class="clear"></div>
    </div>
    <input name="no_result" id="no_result" type="hidden" value="<i18n>LABEL_NO_RESULTS</i18n>" />
    <input name="upload_date" id="upload_date" type="hidden" value="<i18n>LABEL_UPLOAD_DATE</i18n>" />
    <input name="_status" id="_status" type="hidden" value="<i18n>LABEL_STATUS</i18n>" />
    <input name="_showin" id="_showin" type="hidden" value="<i18n>LABEL_SHOWING</i18n>" />
    <input name="no_property" id="no_property" type="hidden" value="<i18n>LABEL_NO_PROPERTY</i18n>" />
    <input name="_of" id="_of" type="hidden" value="<i18n>LABEL_OF</i18n>" />
    <input name="source_id" id="source_id" type="hidden" value="<i18n>LABEL_SOURCE_ID</i18n>" />
    <input name="property_type" id="property_type" type="hidden" value="<i18n>LABEL_PROPERTY_TYPE</i18n>" />
    <input name="listing_type" id="listing_type" type="hidden" value="<i18n>LABEL_LISTING_TYPE</i18n>" />
    <input name="_country" id="_country" type="hidden" value="<i18n>LABEL_COUNTRY</i18n>" />
    <input name="_state" id="_state" type="hidden" value="<i18n>LABEL_STATE</i18n>" />
    <input name="_city" id="_city" type="hidden" value="<i18n>LABEL_CITY</i18n>" />
    <input name="property_listing" id="property_listing" type="hidden" value="<i18n>LABEL_PROPERTY_LISTING</i18n>" />
    <input name="_delete" id="_delete" type="hidden" value="<i18n>LABEL_DELETE</i18n>" />
    <input name="_publish" id="_publish" type="hidden" value="<i18n>LABEL_PUBLISH</i18n>" />
    <input name="no_publish" id="no_publish" type="hidden" value="<i18n>LABEL_UN_PUBLISH</i18n>" />
    <input name="_edit" id="_edit" type="hidden" value="<i18n>LABEL_EDIT</i18n>" />
    <input name="_page" id="_page" type="hidden" value="<i18n>LABEL_PAGE</i18n>" />
    <input name="_refresh" id="_refresh" type="hidden" value="<i18n>LABEL_REFRESH</i18n>" />
    <input name="_nextpage" id="_nextpage" type="hidden" value="<i18n>LABEL_NEXT_PAGE</i18n>" />
    <input name="_previouspage" id="_previouspage" type="hidden" value="<i18n>LABEL_PREVIOUS_PAGE</i18n>" />
    <input name="_firtspage" id="_firtspage" type="hidden" value="<i18n>LABEL_FIRTS_PAGE</i18n>" />
    <input name="_lastpage" id="_lastpage" type="hidden" value="<i18n>LABEL_LAST_PAGE</i18n>" />
    <input name="load_grid" id="load_grid" type="hidden" value="<i18n>LABEL_LOAD_GRID</i18n>" />
    <input name="select_property" id="select_property" type="hidden" value="<i18n>LABEL_SELECT_PROPERTY</i18n>" />
    <input name="_error" id="_error" type="hidden" value="<i18n>LABEL_ERROR_PROPERTY</i18n>" />
    <input name="_alert" id="_alert" type="hidden" value="<i18n>LABEL_ALERT</i18n>" />
    <input name="_credits" id="_credits" type="hidden" value="<i18n>LABEL_CREDITS</i18n>" />
    <input name="_profile" id="_profile" type="hidden" value="<i18n>LABEL_GOTO_PROFILE</i18n>" />
    <input name="_confirm" id="_confirm" type="hidden" value="<i18n>MSG_CONFIRM</i18n>" />
    <input name="_urlsite" id="_urlsite" type="hidden" value="<?php echo $this->urlsitio;?>" />
</form>
