<div id="perfil" class="profile">
    <form class="form_show" id="form_show" action="#" method="post" target="_self" name="form_show">   
        <input type="hidden" name="userid" value="1" />
        <div id="fb_left-column">
            <div id="fb_poster-info">
                <a href="<?php echo $this->profileurl; ?>" class="linkprofile" target="_blank">
                    <img title="<?php echo $this->usernames; ?>" width="200" alt="<?php echo $this->usernames; ?>" src="<?php echo $this->profile; ?>">
                </a>
            </div>
            <div class="box">
                <div class="fbtittle"><a href="<?php echo $this->profileurl; ?>" class="linkprofile" target="_blank"><?php echo $this->usernames; ?></a></div>
                <div class="info_usuario">
                    <label><i18n>LABEL_NAME</i18n> <em>*</em> : </label><input type="text" class="labelHighlight" maxlength="64" name="nombre" id="nombre" value="<?php echo $this->nombre ?>"/>
                    <label><i18n>LABEL_EMAIL</i18n> <em>*</em> : </label><input type="text" class="labelHighlight" maxlength="255" name="email" id="email" value="<?php echo $this->email ?>"/>
                    <label><i18n>LABEL_TWITTER</i18n>: </label><input type="text" class="labelHighlight" maxlength="50" name="twitter" id="twitter" value="<?php echo $this->twitter ?>"/>
                    <label><i18n>LABEL_PHONE</i18n>: </label><input type="text" class="labelHighlight" maxlength="16" name="telefono" id="telefono" value="<?php echo $this->telefono ?>"/>
                    <label><i18n>LABEL_WEBSITE</i18n>: </label><input type="text" class="labelHighlight" maxlength="255" name="paginaweb" id="paginaweb" value="<?php echo $this->paginaweb ?>"/>
                    <label><i18n>LABEL_COMPANY</i18n>: </label><input type="text" class="labelHighlight" maxlength="255" name="empresa" id="empresa" value="<?php echo $this->empresa ?>"/>
                    <label><i18n>LABEL_TELEPHONE_COMPANY</i18n>: </label><input type="text" class="labelHighlight" maxlength="16" name="telempresa" id="telempresa" value="<?php echo $this->telempresa ?>"/>
                    <label><i18n>LABEL_YOUVIDEO</i18n><a href="#" id="youpreview"><i18n>LABEL_PREVIEW</i18n></a></label><small><br />Example URL:<br />https://youtube.com/watch?v=XSGBVzeBUbk</small><input type="text" class="labelHighlight" maxlength="200" name="youvideo" id="youvideo" value="<?php echo $this->youvideo ?>"/>
                    <input type="hidden" name="hdnuevo" value="<?php echo $this->hdnuevo ?>" />
                </div>
            </div>
            <div class="message-box">
                <b>Tenga cuidado!</b><br>
                <em>*</em> Siempre conozca a la persona antes de realizar cualquier transacción.<br>
                <em>*</em> No realice transferencias de dinero a desconocidos.<br>
                <em>*</em>  <a href="#">Reportar propiedad</a>.
            </div>
        </div>
        <div id="fb_right-column">
            <h3><i18n>LABEL_MY_ACCOUNT</i18n></h3>
            <br />
            <i18n>MSG_MY_ACCOUNT</i18n><br /><br />

            <?php
            echo $this->flashMessenger();
            $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('ZsamerFlashMessenger');
            $flashMessenger->clearMessages();
            ?>
            <div id="errorbox"><ul></ul></div>
            <div id="user_info_form">
                <input class="fanpage" type="radio" name="fanpage" id="fanpage_0" value="0" <?php if (empty($this->isActivePage)) { ?>checked="checked"<?php } ?> /> <label for="fanpage_0"><i18n>USE_PERSONAL_PROFILE</i18n></label> <br />
                <input class="fanpage" type="radio" name="fanpage" id="fanpage_1" value="1" <?php echo $this->fan_page_disabled; ?> <?php if (!empty($this->isActivePage)) { ?>checked="checked"<?php } ?> /> <label for="fanpage_1"><i18n>USE_FANPAGE_PROFILE</i18n></label>
                <?php if (count($this->pages) > 0) { ?>
                    <select name="profilepageid" id="pageid" style="display: none">
                        <option value="" <?php if ($this->selected == 0) { ?>selected="selected"<?php } ?>><i18n>SELECT_FANPAGE</i18n></option>
                        <?php foreach ($this->pages as $page) { ?>
                            <option value="<?= $page['page_id']; ?>" <?php if ($this->selected == $page['page_id']) { ?>selected="selected"<?php } ?>><?= $page['name'] ?></option>
                        <?php } ?>
                    </select>
                <?php } else { ?>
                    <p style="padding-left:25px;margin:0;">
                    <i18n>MSG_USE_AS_FACEBOOK_PAGE</i18n>
                    <strong><a href="<?php echo $this->request_perm_url; ?>" class="button" target="_top"><span><i18n>MSG_ALLOW</i18n></span></a></strong>
                    </p>
                <?php } ?>
                <br />
                <br />
                <input type="submit" class="uiButton" style="cursor:pointer;" name="btnGuardar" id="btnGuardar" value="<i18n>LABEL_SAVE_DATA</i18n>" />

            </div>
        </div>
        <div class="clear"></div>

    </form> 
</div>