<?php 
$this->headScript()->appendFile("/js/myhousebook.js");
$this->headLink()->appendStylesheet("/css/layout_enlistar.css");
$this->headLink()->appendStylesheet("/css/style_menu.css");
$this->headLink()->appendStylesheet('/css/tabs.css');
?>
<style type="text/css">
    .x-tab-panel-body .x-panel-body {
        padding:0px;
    }
    #ext-comp-1001, #ext-gen6, #ext-comp-1002, #ext-gen8, #ext-gen26 {
        width:auto;
    }
</style>
<br>
<div id="tabs_property">
    <div id="detalle" class="x-hide-display">
        <br>
        <div id="property_grid"></div>
    </div>
</div>
<div id="ventana"></div>
<div id="ventana1"></div>
<?php
$cfg = Zend_Registry::get('config');
$k = $cfg['facebook_api_key'];
?>