<?php
$this->headScript()->appendFile("/js/propcargamasiva.js");
$this->headLink()->appendStylesheet("/css/layout_enlistar.css");
$this->headLink()->appendStylesheet("/css/style_menu.css");
$this->headLink()->appendStylesheet('/css/tabs.css');

?>
</head>
<br />
<p><label>Propiedades por carga masiva sin publicar</label></p>
<br />
<div id="tabs_property">
<div id="procarga_masiva"></div>
</div>
