<?php 
$this->headScript()->appendFile("https://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");
$this->headScript()->appendFile("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new");
$this->headScript()->appendFile('/js/jquery-1.3.2.min.js');
$this->headScript()->appendFile("/js/jquery-ui-1.7.2.custom.min.js");
$this->headScript()->appendFile("/js/validate/jquery.form.js");
$this->headScript()->appendFile("/js/validate/jquery.metadata.js");
$this->headScript()->appendFile("/js/validate/jquery.delegate.js");
$this->headScript()->appendFile("/js/validate/jquery.validate.js");
$this->headScript()->appendFile("/js/validate/jquery.corner.js");
$this->headScript()->appendFile("/js/validate/messages_es.js");
$this->headScript()->appendFile("/js/validate/validate_property.js");
$this->headLink()->appendStylesheet("https://www.google.com/uds/css/gsearch.css");
$this->headLink()->appendStylesheet("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.css");
$this->headLink()->appendStylesheet("/css/layout.css");
$this->headLink()->appendStylesheet("/css/style_form.css");
$this->headLink()->appendStylesheet("/css/custom-theme/jquery-ui-1.7.2.custom.css");
$this->headLink()->appendStylesheet("/css/errores.css");
$this->headLink()->appendStylesheet('/css/tabs.css');
$this->headLink()->appendStylesheet("/css/style_menu.css");


?>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
        <meta name="title" content="Venta de propiedad"/>
        <meta name="description" content="Se vende preciosa casa en Managua."  />
        <link rel="image_src" href="https://hmapp.xolo.com.ni:9090/propiedades/9903315/1/cercanas/cercanas_3_2.jpg" />
        <meta name="medium" content="image" />
    </head>
    <div id="tabs_property">
        <div class="mensaje"><?php echo $this->message;?></div>
        <h3><i18n>LABEL_UPLOAD_LISTING</i18n></h3>

        <span>
            <i18n>MSG_DOWLOAD_FILE_UPLOAD</i18n><a target="_self" href="<?php echo $this->manualcarga?>"><strong> <i18n>LABEL_LEARN_MORE</i18n></strong></a><strong></strong><br />
            <br />
            <br />
        </span>
        <form class="form_show" id="form_show" action="#" method="post" target="_parent" name="form_show" enctype="multipart/form-data">
            <label> <i18n>LABEL_FILE</i18n>: </label><input type="file" name="file" id="file" size="60"/>
            <div class="button_group"><input type="submit" class="button" style='cursor:pointer;' id="enviar" value="<i18n>LABEL_LOAD_DATA</i18n>" /></div>
        </form>
    </div>
</html>
