<?php
$this->headLink()->appendStylesheet('/css/tabs.css');
$this->headLink()->appendStylesheet("/css/style_menu.css");
$this->headLink()->appendStylesheet('/css/style_perfil.css');
$this->headLink()->appendStylesheet("/css/search.css");
$this->headLink()->appendStylesheet('/css/messages.css');
?>
<form class="form_sol" id="form_sol" action="#" method="post" target="_parent" name="form_sol" >
    <br />
    <h3><i18n>LABEL_REQUEST_LISTING_UPLOAD</i18n></h3>
    <i18n>MSG_REQUEST_LISTING_UPLOAD</i18n><br /><br />
    <div id="perfil">
    	<div id="user_info_form">
        <div id="user_info">
            <div class="fbtittle"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" ><?php echo $this->usernames; ?></a></div>
            <div class="picture"> <a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>"><img src="<?php echo $this->profile; ?>" alt="<?php echo $this->usernames; ?>" title="<?php echo $this->usernames; ?>" /></a> </div>
            <div class="box">
                 
                <?php echo $this->flashMessenger();?>
                 <div class="info_usuario">
                    <span><label><i18n>LABEL_NAME</i18n>: </label><input type="text" class="labelHighlight" size="60" maxlength="64" name="nombre" value="<?php echo $this->nombre ?>"/></span>
                  <span><label><i18n>LABEL_EMAIL</i18n>: </label><input type="text" class="labelHighlight" size="60" maxlength="255" name="email" value="<?php echo $this->email ?>"/></span>
                    <span><label><i18n>LABEL_PHONE</i18n>: </label><input type="text" class="labelHighlight" size="60" maxlength="16" name="telefono" value="<?php echo $this->telefono ?>"/></span>
                    <span><label><i18n>LABEL_WEBSITE</i18n>: </label><input type="text" class="labelHighlight" size="60" maxlength="255" name="paginaweb" value="<?php echo $this->paginaweb ?>"/></span>
                    <span><label><i18n>LABEL_COMPANY</i18n>: </label><input type="text" class="labelHighlight" size="60" maxlength="255" name="empresa" value="<?php echo $this->empresa ?>"/></span>
                    <span><label><i18n>LABEL_TELEPHONE_COMPANY</i18n>: </label><input type="text" class="labelHighlight" size="60" maxlength="16" name="telempresa" value="<?php echo $this->telempresa ?>"/></span>
                    
                    <div class="button_group"> 
            <input type="submit" class="button" style="cursor:pointer;" name="Guardar" onclick="return ValidaForm();" value="<i18n>LABEL_SAVE_DATA</i18n>" />
            </div>
                    
                 </div>           
            </div>
        </div>
        </div>
      <div class="clear"></div>
    </div>
    <input type="hidden" name="hdnuevo" value="<?php echo $this->hdnuevo ?>" />
    <table width="100%">
        <tr><br>
            <td colspan="2"></td>
        </tr>
        <td colspan="2"><br></td>
        
        
    </table>
<script language="JavaScript" type="text/javascript">
    function ltrim(s) {
       return s.replace(/^\s+/, "");
    }

    function rtrim(s) {
       return s.replace(/\s+$/, "");
    }

    function trim(s) {
       return rtrim(ltrim(s));
    }

    function ValidaEmail(s){
        var filtro=/^[A-Za-z][A-Za-z0-9_]*@[A-Za-z0-9_]+\.[A-Za-z0-9_.]+[A-za-z]$/;
        if (filtro.test(s))
            return true;
        else
            return false;
     }

   function ValidaForm(){
       //var nombre= document.form_show.nombre.value;
       //nombre=trim(nombre);
       if (trim(document.form_show.nombre.value)==""){
           alert("<i18n>MSG_NAME_REQUIRED</i18n>");
           document.form_show.nombre.focus();
           return false;
        }
        else if(trim(document.form_show.email.value)==""){
           alert("<i18n>MSG_EMAIL_REQUIRED</i18n>");
           document.form_show.email.focus();
           return false;
        }
        else if(!ValidaEmail(document.form_show.email.value)){
                alert("<i18n>MSG_EMAIL_NO_VALID</i18n>");
                document.form_show.email.focus();
                return false;
         }
        return true;
    }

</script>
<?php
?>
</form>