<link href="/administrador/css/search.css" rel="stylesheet" type="text/css" />
<script src="<?php echo $this->web_path; ?>/js/autorizar.js" charset="ISO-8859-1" type="text/javascript"></script>

<!--<div id="contenedor">-->



<form id="hb" name="hb" method="post" action="#">
</form>

<!--</div>-->
<div id="creclientes_grid"></div>
<br>
<div id="propiedades_grid"></div>
<div id="autorizaP"></div>
<div id="eliminarP"></div>
<!--<div id="ventana_propiedad"></div>-->
