         <div class="clear"></div>
    <br/>
<!--Begin About -->
<h3>About Housemarket</h3>
<p>Housemarket is an application that allows Facebook's users to search and offer houses for rent or sale. If you are selling or renting your house, if you are looking for a place to live, or even if you are looking for roommates in your area, Housemarket will be of great use for you.</p>
<p>Browse the following features:</p>
<ul>
  <li><a href="<?php echo $this->urlsite;?>" target="_top"> Search for a property   </a> </li>
  <li><a href="<?php echo $this->urlsite;?>/propiedades/show" target="_top"> List a property   </a>  </li>
  <li><a href="<?php echo $this->urlsite;?>/profesional" target="_top">For professionals  </a>   </li>
  <li><a href="<?php echo $this->urlsite;?>/destacada" target="_top"> Feature  </a>   </li>
  <li><a href="info@hmapp.com" target="_top"> Want to be a representative? contact us</a></li>
</ul>
<p>More about Housemarket</p>
<ul>
  <li><a href="<?php echo $this->urlsite;?>/documentos/privacypolicy" target="_top">Privacy Policy</a></li>
  <li><a href="<?php echo $this->urlsite;?>/documentos/termsuse" target="_top">Terms of Use</a></li>
  <li><a href="mailto:info@hmapp.com" target="_top">Contact Us</a></li>
</ul>
