         <div class="clear"></div>
    <br/>
<!--Begin About -->
<h3>About Housemarket</h3>
<p>Housemarket es una aplicación que permite a los usuarios de Facebook buscar y ofrecer propiedades de bienes raices en venta o renta. Si esta vendiendo su casa, está buscando un lugar donde vivir o inclusive buscando alguien con quien compartir un alquiler, Housemarket le va a resultar de gran utilidad.</p>
<p>Menu de contenido:</p>
<ul>
  <li><a href="<?php echo $this->urlsite;?>" target="_top"> Buscar una propiedad   </a> </li>
  <li><a href="<?php echo $this->urlsite;?>/propiedades/show" target="_top"> Enlistar una propiedad   </a>  </li>
  <li><a href="<?php echo $this->urlsite;?>/profesional" target="_top">Para profesionales </a> </li>
  <li><a href="<?php echo $this->urlsite;?>/destacada" target="_top"> ¿Cómo destacar la propiedad? </a> </li>
  <li><a href="mailto:info@hmapp.com" target="_top"> ¿Quieres ser un representante de Housemarket? contact us</a></li>
</ul>
<p>Más acerca de Housemarket</p>
<ul>
  <li><a href="<?php echo $this->urlsite;?>/documentos/privacypolicy" target="_top">Politicas de privacidad</a></li>
  <li><a href="<?php echo $this->urlsite;?>/documentos/termsuse" target="_top">Términos y condiciones</a></li>
  <li><a href="mailto:info@hmapp.com" target="_top">Contactar</a></li>
</ul>
