<script type="text/javascript" src="<?php echo $this->web_path;?>/js/login.js"></script>

<?php 
    //Zend_Debug::dump($this->messages);
    if(count($this->messages) > 0) :
?>
<div class="tooltips-error">
    <?php
    $msg = $this->messages;
    echo '<ul>';
    foreach ($msg as $m) {
        echo '<li>' . $this->escape($m) . '</li>';
    }
    echo '</ul>';
    ?>
    <div></div>
</div>
<?php endif; ?>
<?php //Zend_Debug::dump($this); ?>
<div id="login_panel_container">
    <div id="login_panel"></div>
    <div id="login_form">
        <form action="<?php echo $this->web_host.$this->web_path . '/index.php/auth/login'; ?>" method="post" id="login" name="login">
            <table width="100%" cellpadding="5" cellspacing="5" border="0" align="center">
                <tr>
                    <td><label>Usuario:</label></td>
                    <td align="right"><input name="username" id="idUser" class="input-text" type="text"/></td>
                </tr>
                <tr>
                    <td><label>Password:</label></td>
                    <td align="right"><input name="password" id="idPass" class="input-text" type="password"/></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <div id="login_button"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
