<?php
$this->CodigoPropiedad;
$detalles = array();
if(isset($this->Area)){
	$detalles[] = $this->Area ." ". $this->UnidadMedida;  
}
if(isset($this->AreaLote)){
	$detalles[] = $this->AreaLote ." ". $this->UnidadMedidaLote;
}
if(isset($this->Cuarto)){
	$detalles[] = $this->Cuarto .' '. $this->lable_cuarto;
}
$detalle = implode("|",$detalles);

if(strlen ($detalle) > 40) {
	$detalle = substr( $detalle, 0, 37 ) . "...";
}

if(strlen ($this->DescPropiedad) > 160) {
	$desc = substr( $this->DescPropiedad, 0, 157 ) . "...";
}else {
	$desc = $this->DescPropiedad;
}
?>

<div id="propiedad_item_<?php echo $this->CodigoPropiedad?>" class="propiedad_item">
	<span class="detalle_propiedad">
		<span class="precio"><?php echo $this->Transaccion?></span>
	</span>
	<a target="_blank" class="titulo" href="<? echo $this->fbAppUrl; ?>/enlistar/perfil?valprop=<?php echo $this->CodigoPropiedad?>">
		<strong id="<?php echo $this->CodigoPropiedad?>"><?php echo $this->NombrePropiedad?></strong>
	</a>
	<div class="imagen_propiedad">
		<a target="_blank" href="<? echo $this->fbAppUrl; ?>/enlistar/perfil?valprop=<?php echo $this->CodigoPropiedad?>">
			<img id="" src="/pic<?php echo $this->IdFoto?>_2.jpg" height="90" width="120">
		</a>
	</div>
	<div class="detalle_propiedad">
		<span class="direccion"><?php echo $this->Direccion?></span>
		<span class="detalles"><?php echo $detalle?></span>
		<span class="descripcion"><?php echo $desc?></span>
	</div>
	<div class="clear"></div>
	<?php if( isset($this->commun)){?>
		<?php foreach ($this->commun as $amigo){?>
		<div class="amigo">
			<img id="" src="<?php echo $amigo['pic_small']?>" height="30" width="40">
			<span class=""><?php echo $amigo['first_name']?> <?php echo $amigo['last_name']?></span>
		</div>
		<?php }?>
	<?php }?>
	<div class="fpOver">
		<div class="logo_right"></div>
	</div>
	<div class="clear"></div>
</div>