<div>
	<a class="pestana  pestanafirst" target="_top" title="<i18n>LABEL_MIS_FAVORITOS</i18n>" href="<? echo $this->fbAppUrl; ?>/propiedades/favorito"><span><i18n>LABEL_MIS_FAVORITOS</i18n></span></a>           
	<a class="pestana pestanaactivo" target="_top" title="<i18n>LABEL_RMT_SEARCH</i18n>" href="<? echo $this->fbAppUrl; ?>/propiedades/favoritosamigos"><span><i18n>LABEL_FAVORITOS_AMIGOS</i18n></span></a>
	<div class="clear"></div>
	<div class="cuerpofavorito">
		<div class="cabesado">
			<form action="/propiedades/favoritosamigos" method="post">
			<?php echo $this->formSelect('amigoUid', $this->amigoUid, array('ONCHANGE' => 'this.form.submit();'), $this->selectoptionamigos) ?>
			</form>
			<div class="clear"></div>
		</div>
		<div class="cuerpo">
		<?php echo $this->body;?>
		<div class="clear"></div>
		</div>
	</div>
</div>