<div>
	<a class="pestana pestanaactivo pestanafirst" target="_top" title="<i18n>LABEL_MIS_FAVORITOS</i18n>" href="<? echo $this->fbAppUrl; ?>propiedades/favorito"><span><i18n>LABEL_MIS_FAVORITOS</i18n></span></a>           
	<a class="pestana " target="_top" title="<i18n>LABEL_RMT_SEARCH</i18n>" href="<? echo $this->fbAppUrl; ?>propiedades/favoritosamigos"><span><i18n>LABEL_FAVORITOS_AMIGOS</i18n></span></a>
	<div class="clear"></div>
	<div class="cuerpofavorito">
		<div class="cabesado">
			<?php if($this->comparte == true) {?>
			<a class="comprtirfavorito uiButton uiButtonDefault uiButtonMedium" href="/propiedades/cerrarcompartirfavorito">
				<span class="uiButtonText"><i18n>LABEL_NO_COMPARTIR_CON_AMIGOS</i18n></span>
			</a>
			<?php }else{?>
			<a class="comprtirfavorito uiButton uiButtonDefault uiButtonMedium" href="/propiedades/compartirfavorito">
				<span class="uiButtonText"><i18n>LABEL_COMPARTIR_CON_AMIGOS</i18n></span>
			</a>
			<?php }?>
			<div class="clear"></div>
		</div>
		<div class="cuerpo">
		<?php echo $this->body;?>
		<div class="clear"></div>
		</div>
	</div>
</div>