<?php

$monedaCodigoEstandar = '';
$monedaCodigoEstandarString = '';
$nombreMoneda = '';
$nombrePais = '';

if ($this->property->MonedaCodidoEstandar) {
    $monedaCodigoEstandar = $this->property->MonedaCodidoEstandar;
} elseif ($this->location->cc) {
    $monedaCodigoEstandar = $this->location->codigoModeda;
} else {
    $monedaCodigoEstandar = 'USD';
}

$nombreMoneda = '<i18n>ISO_4217_CURRENCY_CODE_' . $monedaCodigoEstandar . '</i18n>';

$monedaCodigoEstandarString = '<abbr title="' . $nombreMoneda . '">' . $monedaCodigoEstandar . '</abbr>';
$monedaCodigoEstandarString = HMUtils::wrapInHTMLTag($monedaCodigoEstandarString, 'span', false, '', array('currency-code'));

if ($this->property->nombrePais) {
    $nombrePais = $this->property->nombrePais;
} elseif ($this->location->nombrePais) {
    $nombrePais = $this->location->nombrePais;
}
?>

<script>
    var signed = '<?php echo $_REQUEST['signed_request']; ?>';
    var valorp='<?php echo isset($_GET['id'])? $_GET['id'] : ''; ?>';
    var cc='<?php echo $this->location->cc; ?>';
</script>
<a name="topado" id="topado" href="#topado"></a>
<form action="/propiedades/save?<?php echo $_SERVER["QUERY_STRING"]; ?>" method="POST" target="_top" enctype="multipart/form-data" name="frm" id="frm" class="agregar_propiedad">

    <?php
    echo $this->flashMessenger();
    ?>
    <div id="loading" class="loading" style="display: none">Wait a minute, while processing the form...</div>
    <div id="errorbox" style="display: none;" class="error"><h4>Warning:</h4><ul></ul></div>   
    <div id="box" style="display: none;" ></div>   
    <input name="signed_request" type="hidden" value="<?php echo $_REQUEST["signed_request"]; ?>" />
    <input value="<?php echo $this->isNew ?>" type="hidden" name="isNew" id="isNew" />
    <input value="<?php echo $this->registro ?>" type="hidden" name="registro" id="registro" />
    <input value="<?php echo $this->publicado ?>" type="hidden" name="publicado" id="publicado" />
    <div class="recuadro">
        <fieldset class="requeridos">
            <div class="legend">
                <div style="float: left;height: 17px;margin-top: 3px;" align="left">
                    <i18n>ADD_ESTATE_BASIC_INFO_TITLE</i18n> <em>(<i18n>ADD_ESTATE_BASIC_INFO_REQUIRED</i18n>)</em>
                </div>

                <? echo $this->botones; ?>
            </div>
            <div class="campos block">
                <div class="tipo_propiedad block"><label><i18n>LABEL_PROPERTY_TYPE</i18n>:  <em>*</em></label>
                    <br />
                    <?php echo $this->formSelect('cat', is_null($this->estate->CodigoCategoria) ? "" : $this->estate->CodigoCategoria, $this->isNew == "S" ? null : array("disabled" => "true"), $this->categories) ?>
                    <input type="hidden" name="cat2" id="cat2" value="<? echo $this->estate->CodigoCategoria; ?> " />                 
                </div>
                <div class="venta_alquiler"> 
                    <div class="block">
                        <label>
                            <span><i18n>LABEL_LISTING_TYPE</i18n>:  <em>*</em>&nbsp;&nbsp;<span class="tipright"><i18n>LABEL_CURRENCY_MESSAGE</i18n> <span class="currency-name"><?php echo $nombreMoneda ?></span> ( <?php echo $monedaCodigoEstandarString; ?> )</span>
                                <div class="why-currency inline-block">
                                    <p class="why-currency-text inline-block"><i18n>MSG_WHY_CURRENCY</i18n></p>
                                    <p class="explanation-currency"><i18n>MSG_ONE_CURRENCY_PER_COUNTRY</i18n> <i18n>MSG_ICON_ON_MAP</i18n> <span class="country-name"><?php echo $nombrePais; ?></span>. <a href="<?php echo $this->application_url; ?>" title="<i18n>CURRENCIES_BY_COUNTRY</i18n>" target="_blank"><i18n>MSG_CURRENCIES_PER_COUNTRY</i18n></a></p>
                                </div>
                        </label> 
                    </div>

                    <div>
                        <label class="checkbox toolTip" title="<i18n>LABEL_LISTING_TYPE_MESSAGE</i18n>" for="alquilerUS"><i18n>ADD_ESTATE_BASIC_INFO_RENT</i18n> <?php echo $monedaCodigoEstandarString; ?></label>
                        <input type="input"  name="alquilerUS" id="alquilerUS" size="8" class="valor" value="<?php echo (($this->estate->Accion == "R" || $this->estate->Accion == "B") && $this->isNew == "N") ? number_format($this->estate->PrecioAlquiler, 2) : "" ?>" />

                        <label class="checkbox toolTip" title="<i18n>LABEL_LISTING_TYPE_MESSAGE</i18n>" for="ventaUS"><i18n>ADD_ESTATE_BASIC_INFO_SALE</i18n> <?php echo $monedaCodigoEstandarString; ?></label>
                        <input  class="valor" type="input" name="ventaUS" id="ventaUS" size="8" value="<?php echo (($this->estate->Accion == "S" || $this->estate->Accion == "B") && $this->isNew == "N") ? number_format($this->estate->PrecioVenta, 2) : "" ?>" />

                        <label class="checkbox toolTip" title="<i18n>LABEL_LISTING_TYPE_MESSAGE</i18n>" for="remateUS"><i18n>ADD_ESTATE_BASIC_INFO_FORECLOSURE</i18n> <?php echo $monedaCodigoEstandarString; ?></label>
                        <input class="valor" type="input" name="remateUS" id="remateUS" size="8"  value="<?php echo ($this->estate->Accion == "F" && $this->isNew == "N") ? number_format($this->estate->PrecioVenta, 2) : "" ?>" />
                    </div>
                </div>
                <div class="clear"></div>
                <div class="titulo"><label><i18n>LABEL_TITLE</i18n>:<em>*</em></label><br/><input type="input" name="titulo" id="titulo" value="<?php echo $this->estate->NombrePropiedad ?>"/></div>
                <div class="ubicacion">
                    <label class="location"><i18n>ADD_ESTATE_ENTER_LOCATION</i18n>:<em>*</em></label>
                    <br />
                    <i18n>ADD_ESTATE_ENTER_LOCATION_INFO</i18n><br/>
                    <input class="labelHighlight" value="<?php echo $this->estate->Direccion ?>" type="text" name="dir" title="Ej. Villa Fontana, Nicaragua" id="dir"/> <a href="#" class="button" id="btFind" name="btFind" onclick="return false;" ondblclick="return false;"><i18n>LABEL_SEARCH_MAPS</i18n></a>
                    <div id="map"></div>
                    <div class="clear"></div>
                    <label><i18n>LABEL_ADDRESS</i18n>:<em></em></label><br/>
                    <i18n>LABEL_ADDRESS_COMMENT</i18n>
                    <br/>
                    <?
                    $dir = $this->estate->Direccion;
                    if (strlen($dir) > 255)
                        $dir = substr($dir, 0, 255);
                    ?>
                    <textarea name="direccion" id="direccion" maxlength="255"><?= $dir; ?></textarea>
                </div>
                <div class="clear"></div>
                <input value="<?php echo (!empty($this->estate->Latitud)) ? $this->estate->Latitud : $this->location->lat; ?>" type="hidden" name="latitud" id="latitud" />
                <input value="<?php echo (!empty($this->estate->Longitud)) ? $this->estate->Longitud : $this->location->lng; ?>" type="hidden" name="longitud" id="longitud" />
                <input value="<?php echo $this->estate->ZipCode ?>" type="hidden" name="zipcode" id="zipcode" />
                <input value="<?php echo $this->estate->ZipCode ?>" type="hidden" name="pais" id="pais" disabled="true" />
                <input value="<?php echo $this->estate->Estado ?>" type="hidden" name="estado" id="estado" />
                <input value="<?php echo $this->estate->Ciudad ?>" type="hidden" name="ciudad" id="ciudad" />
                <input value="<?php echo $this->estate->CodigoPostal ?>" type="hidden" name="codigoPostal" id="codigoPostal" />
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ESTATE_ADDITIONAL_INFO_TITLE</i18n> <u>(<i18n>ADD_ESTATE_ADDITIONAL_INFO_RECOMMENDED</i18n>)</u></div>
            <div class="campos">
                <div class="descripcion">
                    <label><i18n>ADD_ESTATE_ADDITIONAL_INFO_DESCRIPTION</i18n>: <u>(<i18n>ADD_ESTATE_ADDITIONAL_INFO_MAX_DESCRIPTION</i18n>)</u></label>
                    <br>
                    <label>
                        <?
                        $desc = $this->estate->DescPropiedad;
                        if (strlen($desc) > 512)
                            $desc = substr($desc, 0, 512);
                        ?>
                        <textarea style="text-align: justify;" name="descripcion" id="descripcion" maxlength="512" ><?= $desc ?></textarea> 
                    </label>
                </div>
                <div class="clear"></div>
                <div class="alldetalles"> 
                    <div class="detalle">

                        <label for="area" id="labarea" name="labarea"><i18n>ADD_ESTATE_ADDITIONAL_INFO_AREA</i18n>: <em>*</em></label><br />
                        <input class="labelHighlight" type="input" name="area" id="area" value="<?php echo $this->estate->Area ?>" />
                        <?php echo $this->formSelect('areaUM', is_null($this->estate->UnidadMedida) ? 'mt2' : $this->estate->UnidadMedida, null, $this->UMSuperficies); ?>
                    </div>
                    <div class="detalle">
                        <label id="labareaLote" name="labareaLote"><i18n>LABEL_SEARCH_FILTER_LOT_SIZE</i18n>:</label><br />
                        <input type="input" name="areaLote" id="areaLote" value="<?php echo $this->estate->AreaLote ?>" />
                        <?php echo $this->formSelect('areaLoteUM', is_null($this->estate->UnidadMedidaLote) ? 'mt2' : $this->estate->UnidadMedidaLote, null, $this->UMSuperficies) ?>
                    </div>
                    <div class="detalle source_id" id="source_id"><label><i18n>LABEL_LISTING_SOURCE</i18n>:</label><br />
                        <input type="input"  name="sourceId" id="sourceId" size="8" class="valor" value="<?= $this->estate->CodigoBroker; ?>" />                      
                    </div>
                    <div class="clear"></div>
                    <div id="attributes">
                        <?php
                        if ($this->isNew == "N") {
                            foreach ($this->rsAttr as $atributo) {
                                $labelAppend = '';
                                if($atributo->ValorIdioma === 'HOA') {
                                    $labelAppend = ' ' . $monedaCodigoEstandarString;
                                }
                                
                                $value = $this->attrEstate[$atributo->CodigoAtributo];
                                ?><div class="detalle"><label><?php echo $atributo->ValorIdioma . $labelAppend; ?> : </label><br /><?php
                        switch ($atributo->CampoDestino) {
                            case 'ValorEntero':
                                echo $this->formText("attr[" . $atributo->CodigoAtributo . "]", $value, array("class" => "labelHighlight"));
                                break;
                            case 'ValorDecimal':
                                echo $this->formText("attr[" . $atributo->CodigoAtributo . "]", $value, array("class" => "labelHighlight"));
                                break;
                            case 'ValorS_N':
                                $options = array();
                                if ($value == "S") {
                                    $options["checked"] = "true";
                                }
                                echo $this->formCheckbox("attr[" . $atributo->CodigoAtributo . "]", $value, $options, array("checkedValue" => "S", "uncheckedValue" => "N"));
                                break;
                            case 'ValorCaracter':
                                echo $this->formText("attr[" . $atributo->CodigoAtributo . "]", $value, array("class" => "labelHighlight"));
                                break;
                        }
                                ?></div><?php
                        }
                    }
                    $counterPhotos = 1; //Contador de Fotos
                        ?>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ESTATE_PHOTOS_TITLE</i18n> <u>(<i18n>ADD_ESTATE_PHOTOS_RECOMMENDED</i18n>) <i18n>ADD_ESTATE_ADDITIONAL_INFO_FILE_SIZE_LIMIT</i18n></u></div>
            <div class="campos">
                <div class="clear"></div>
                <div class="filefield">
                    <?php
                    $suffix = "New";
                    $id = "";
                    if (is_array($this->rsPhotos)) {
                        // Recuperar la foto principal
                        if (array_key_exists("princ", $this->rsPhotos)) {
                            $photoPrinc = $this->rsPhotos["princ"];
                            $descPrincipal = $photoPrinc->Comentario;
                            $id = $photoPrinc->PROFotoID;
                            $path = "";
                            $suffix = "";
                        }
                    }
                    ?>

                    <div class="block">
                        <img id="thumb" class="thumbedit" src="<?php if ($id) { ?>/pic<?php echo $id; ?>_2.jpg<?php } else { ?>/img/<?php echo $this->language; ?>/ad_no_image.jpg<?php } ?>" />
                        <div class="picture">                        
                            <label><i18n>ADD_ESTATE_PHOTOS</i18n> <?php echo $counterPhotos ?> (<i18n>ADD_ESTATE_PHOTOS_MAIN</i18n>):<em>*</em></label>
                            <input type="file" name="fprinc<?php echo $suffix . $id ?>" id="fprinc<?php echo $suffix . $id ?>" title="<?php echo $path; ?>" size="40">
                            <label><i18n>ADD_ESTATE_PHOTOS_DESCRIPTION</i18n>:</label>
                            <input type="text" name="fdescprinc" id="fdescprinc" value="<?php echo isset($descPrincipal)? $descPrincipal : ''; ?>">
                        </div>
                    </div>
                    <?php
// Mostrar las ya existentes
                    if (is_array($this->rsPhotos)) {
                        $otras = $this->rsPhotos["otras"];
                        if (is_array($otras)) {
                            foreach ($otras as $otra) {
                                $counterPhotos++
                                ?>
                                <div class="block">
                                    <img id="thumb" class="thumbedit" src="<?php if ($otra->PROFotoID) { ?>/pic<?php echo $otra->PROFotoID; ?>_2.jpg<?php } else { ?>/img/<?php echo $this->language; ?>/ad_no_image.jpg<?php } ?>" />
                                    <div class="picture">
                                        <label><i18n>ADD_ESTATE_PHOTOS</i18n> <?php echo $counterPhotos ?>: </label>
                                        <input type="file" name="fotra<?php echo $otra->PROFotoID ?>" id="fotra<?php echo $i ?>" title="" size="40">
                                        <label><i18n>ADD_ESTATE_PHOTOS_DESCRIPTION</i18n>:</label>
                                        <input type="text" name="fdescotra[<?php echo $otra->PROFotoID ?>]" id="fdescotra[<?php echo $otra->PROFotoID ?>]" value="<?php echo $otra->Comentario ?>">
                                    </div>
                                </div>
                                <?php
                            }
                        }
                    }
// Mostrar las remanentes
                    for ($i = 0; $i < $this->totalPhotos; $i++) {
                        $counterPhotos++
                        ?>
                        <img id="thumb" class="thumbedit" src="/img/<?php echo $this->language; ?>/ad_no_image.jpg" />
                        <div class="picture">
                            <label><i18n>ADD_ESTATE_PHOTOS</i18n> <?php echo $counterPhotos ?>: </label>
                            <input type="file" name="fotraNew<?php echo $i ?>" id="fotraNew<?php echo $i ?>" size="40">
                            <label><i18n>ADD_ESTATE_PHOTOS_DESCRIPTION</i18n>:</label>
                            <input type="text" name="fdescotra[new_<?php echo $i ?>]" id="fdescotra[new_<?php echo $i ?>]">
                        </div>
                    <?php }
                    unset($counterPhotos) ?>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ESTATE_AMMENITIES_TITLE</i18n> <u>(<i18n>ADD_ESTATE_AMMENITIES_OPTIONAL</i18n>)</u></div>
            <div class="campos">
                <div id="beneficiosList">
                    <?php
                    if ($this->isNew == "N")
                        echo $this->formMultiCheckbox("benef", $this->benEstate, array("label_class" => "beneficios"), $this->rsBen, "");
                    ?>
                    <div style="clear:both"></div>
                </div>
            </div>
        </fieldset>
    </div>
    <?php if ($this->isNew == "S") { ?>
        <div class="terms"><input type="checkbox" name="chkTerms" id="chkTerms" value="Accept" /><label for="chkTerms"><i18n>ADD_ESTATE_AGREE_ACCEPT</i18n></label><a href="#" id="agreeLink"><i18n>ADD_ESTATE_AGREE_TERMS</i18n></a></div>
    <?php } ?>
    <div class="button_group">

        <?php
        $webChunkShare = "enlistar/perfil?valprop=";
        if ($this->estate->CodigoPropiedad) {
            ?>
            <a href="<?php echo $this->web_path . $webChunkShare . $this->estate->CodigoPropiedad; ?>" target="_top" class="button" id="btPreview" name="btPreview"><i18n>ADD_ESTATE_PREVIEW</i18n></a>
            <?php
        }
        ?>
        <a href="javascript:;" class="button button_disable" id="btnSaveDown" name="btnSaveDown"><i18n>ADD_ESTATE_SAVE</i18n></a>
        <a href="javascript:;" class="button" id="btSaveDown" name="btSaveDown" style="display: none;" ><i18n>ADD_ESTATE_SAVE</i18n></a>
        <?php if ($this->publicado == "N") { ?>
            <a href="javascript:;"  class="button" id="btSavePubDown" name="btSavePubDown" style="display: none;"><i18n>ADD_ESTATE_SAVE_PUBLISH</i18n></a>
            <a href="javascript:;"  class="button button_disable" id="btnSavePubDown" name="btnSavePubDown" ><i18n>ADD_ESTATE_SAVE_PUBLISH</i18n></a>
        <?php } ?>
        <br/>
    </div>
</form>