<?php
//header('Content-Type: text/html; charset=iso-8859-1');
$this->headScript()->appendFile("https://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");
$this->headScript()->appendFile("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new");
$this->headScript()->appendFile('/js/jquery-1.3.2.min.js');
$this->headScript()->appendFile("/js/jquery-ui-1.7.2.custom.min.js");
$this->headScript()->appendFile("/js/validate/jquery.form.js");
$this->headScript()->appendFile("/js/validate/jquery.metadata.js");
$this->headScript()->appendFile("/js/validate/jquery.delegate.js");
$this->headScript()->appendFile("/js/validate/jquery.validate.js");
$this->headScript()->appendFile("/js/validate/jquery.corner.js");
$this->headScript()->appendFile("/js/validate/messages_es.js");
$this->headScript()->appendFile("/js/validate/validate_property.js");
$this->headLink()->appendStylesheet("https://www.google.com/uds/css/gsearch.css");
$this->headLink()->appendStylesheet("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.css");
//$this->headLink()->appendStylesheet("/css/layout_enlistar.css");
$this->headLink()->appendStylesheet("/css/style_form.css");
$this->headLink()->appendStylesheet("/css/custom-theme/jquery-ui-1.7.2.custom.css");
$this->headLink()->appendStylesheet("/css/errores.css");
$this->headLink()->appendStylesheet('/css/tabs.css');
$this->headLink()->appendStylesheet("/css/style_menu.css");

?>
<style type="text/css">
    .x-tab-panel-body .x-panel-body {
        padding:0px;
    }
    .fila{background-color:#c1e0ff;}
    .filaalterna{background-color:#e0e0e0;}
    .fdg_sortable{background-color:#ffe6d9;text-decoration:underline;color:#00c;}
</style>
</head>
<div id="tabs_property">

<div>

	<div class="mensaje"><?php echo $this->message;?></div>
	<form class="form_show" id="form_show" action="#" method="post" target="_parent" name="form_show" enctype="multipart/form-data">
	<table>
		<tr><td colspan="3"><br><h2>Carga de Datos</h2><br></td></tr>
		<tr><td><label for="file">Archivo:</label></td><td><input type="file" name="file" id="file" /></td><td></td></tr>
		<tr><td colspan="3" align="right"><br><div id="buttons"><input type="submit" style='cursor:pointer;' id="enviar" value="Enviar" /></div></td></tr>
	</table>
<?php
?>
</form>
  </div>
</div>