<img src="/img/credits_benefits.gif" alt="" width="255" height="300" align="right" style="border:1px solid #CCC; margin-left:10px; margin-top:20px;" />
<h3><i18n>LABEL_CONTACT_TITLE</i18n></h3>
<h4><i18n>LABEL_CONTACT_SUB_TITLE</i18n></h4>
<i18n>LABEL_CONTACT_STEPS</i18n>
<div class="clear"></div>
<div class="friendApp"><?php
    function printIt($representante) {
        $html = "";
        if(isset($representante)) {

            if(!empty($representante['pic_small'])) {
                $foto = $representante['pic_small'];
            } else {
                $foto = '/img/q_silhouette.gif';
            }
            $html .= '<tr><td width="0%" valign="top"><a href="'. $representante['profile_url'] .'"  target="_parent"><img src="'. $foto .'" alt="'.$representante['NombreRepresenta'] .'" /></a></td>';
            $html .= '<td width="100%" valign="top">';
            if(is_array($representante['current_location'])) {
              $html .= '<strong>' . $representante['current_location']['country'] .', '.$representante['current_location']['city'] . '</strong><br />';
            } else {
              if(is_array($representante['hometown_location'])) {
                  $html .= '<strong>' . $representante['hometown_location']['country'] .', '.$representante['hometown_location']['city'] . '</strong><br />';
              }
            }
            $html .= '<a href="'. $representante['profile_url'] .'"  target="_parent">'.$representante['NombreRepresenta'] . '</a></td></tr>';

        }
        return $html;
    }

    // @todo mejorar estilos y ajustar presentacion segun numero de elementos.
    if(is_array($this->representants)) {

        $numColumnas = 3;
        $numFilas = intval(count($this->representants) / $numColumnas);
        if($numFilas == 0) $numFilas++;
        $columns = array("", "", "");
        for($idxRow=0; $idxRow < $numFilas; $idxRow++) {
            for($idxCol=0; $idxCol <= $numColumnas; $idxCol++) {
                $rep = $this->representants[intval($numFilas) * $idxCol + $idxRow];
                $columns[$idxCol] .= printIt($rep);
            }
        }
        foreach($columns as $column) {
            echo '<div class="column_representative"><table width="100%" border="0" cellpadding="5">' . $column . '</table></div>';
        }
    }
?>
</div>