<div class="clear"></div>
<?php
echo $this->partial('destacados.phtml');
$ejemplo = 'e.g. "San Francisco, CA", "94101", "Cancun, México"';
//echo($ejemplo);
?>
<div class="clear"></div>
<form name="hb1" id="hb1" action="#" method="POST" enctype="multipart/form-data"></form>
<div id="contenedor">
    <div id="filter">
        <div id="fila1"> 
        <form action="#" method="post" name="frmFgm" id="frmFgm">
            <div style="width:360px; float:left;">
                <strong><i18n>LABEL_SEARCH_ENTER_LOCATION</i18n>: <span style="color:#CCCCCC;font-style:italic;font-size:10px" ></span></strong><br />
  
                <input  value="e.g. &quot;San Francisco, CA&quot;, &quot;94101&quot;, &quot;Cancun, México&quot;" name="dir" type="text" class="ubicacion labelHighlight" id="dir" size="24" onfocus="if(this.value=='e.g. &quot;San Francisco, CA&quot;, &quot;94101&quot;, &quot;Cancun, México&quot;') { this.value = '';} " />
				                  
            </div>
            <div style="float:left; width:100px;margin-left: 0px;"><br/>
                <div id="buttons" style="margin-left: 3px;">
                    <a href="#" style='width: 70px;' class="button"  id="btnFgm" name="btnFgm" onclick="return false;" ondblclick="return false;">
                        <i18n>LABEL_SEARCH_MAPS</i18n>
                    </a>
                </div>
            </div>
            <div id="right_search_fields">
                <div id="fixed_listing" style="float: left;margin-left: 1px;">
                    <strong><i18n>SEARCH_PROPERTY_TYPE</i18n>:<br>
                    <?php echo $this->formSelect('cat', '', null, $this->categories) ?>
               </div>
                <div id="fixed_type" style="float: left; padding-left: 10px;">
                    <strong><i18n>SEARCH_PROPERTY_LISTING</i18n>:<br>
                    <?php echo $this->formSelect('type', '', null, $this->searchTypes) ?>
               </div>
               <!--<div id="buttons" style="float: left; padding-left: 4px;">
                    <br/>
                    <a href="#" class="button" id="btnApply" name="btnApply"><i18n>LABEL_SEARCH_FILTER_SEARCH</i18n></a>
               </div>-->
            </div>
        
           <div id="optional_filter" >
               <div id="fixed_price" class="show"><i18n>LABEL_SEARCH_FILTER_PRICE</i18n> (US$)<br/>
                   <select  name="price[min]" title="MIN" id="pricemin" style="width:100px;">
                       <option value="">Min</option>                        
                   </select>
                    <select  name="price[max]" title="MAX" id="pricemax" style="width:100px;">
                       <option value="">Max</option>                       
                   </select>
               </div>
               <div id="fixed_area" class="show"><i18n>LABEL_SEARCH_FILTER_AREA</i18n><br/>
                    <select  name="area[min]" title="MIN" id="area-min" style="width:95px;">
                       <option value="">Min</option>
                       <option value="500">500 ft2</option>
                       <option value="1000">1,000 ft2</option>
                       <option value="1500">1,500 ft2</option>
                       <option value="2000">2,000 ft2</option>
                       <option value="2500">2,500 ft2</option>
                       <option value="3000">3,000 ft2</option>
                       <option value="3500">3,500 ft2</option>
                       <option value="4000">4,000 ft2</option>
                       <option value="4500">4,500 ft2</option>
                       <option value="5000">5,000 ft2</option>
                       <option value="43560">1 Acre</option>
                       <option value="217800">5 Acre</option>
                       <option value="2178000">50 Acre</option>
                       <option value="4356000">100 Acre</option>
                   </select>
                   <select  name="area[max]" title="MAX" id="area-max" style="width:95px;">
                       <option value="">Max</option>
                       <option value="500">500 ft2</option>
                       <option value="1000">1,000 ft2</option>
                       <option value="1500">1,500 ft2</option>
                       <option value="2000">2,000 ft2</option>
                       <option value="2500">2,500 ft2</option>
                       <option value="3000">3,000 ft2</option>
                       <option value="3500">3,500 ft2</option>
                       <option value="4000">4,000 ft2</option>
                       <option value="4500">4,500 ft2</option>
                       <option value="5000">5,000 ft2</option>
                       <option value="43560">1 Acre</option>
                       <option value="217800">5 Acre</option>
                       <option value="2178000">50 Acre</option>
                       <option value="4356000">100 Acre</option>
                   </select>
                    <?php echo $this->formSelect('area', 'ft2', array("style"=>"width:48px;"), $this->UMSuperficies) ?>
               </div>
              <!-- <div id="fixed_lot" class="show"> <i18n>LABEL_SEARCH_FILTER_LOT_SIZE</i18n><br/>
                    <input value="MIN" class="labelHighlight" name="area_lote[min]" title="MIN" id="area_lote-min" size="5" type="text" style="width:30px;" onfocus="if(this.value=='MIN') { this.value = '';} "/>
                    <input value="MAX" class="labelHighlight" name="area_lote[min]" title="MAX" id="area_lote-max" size="5" type="text" style="width:30px;" onfocus="if(this.value=='MAX') { this.value = '';} "/>
                    <?php //echo $this->formSelect('area_lote', 'mt2', array("style"=>"width:45px;"), $this->UMSuperficies) ?>
              </div>-->
              <?php
                    echo $this->form;
              ?></div>
        </form>
    </div>
        <div id="fixed_" class="clear"></div>
    </div>
<div class="clear"></div>
<div id="map"></div>
<div id="listado_propiedades">
    <div id="listado_header"><strong><i18n>LABEL_PROPERTY_RESULTS</i18n></strong><br/>
            <i18n>LABEL_PROPERTY_ACTION_USER</i18n></div>
    <div id="galery"></div>
</div>
<div class="clear"></div>
<div id="data"></div>
<div id="fotostream">
    <form id="frmAllBrokers" method="get" action="<?php echo $this->web_path . $this->url(array('controller'=>'index', 'action'=>'showallbrokers')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top">
        <div id="see_all_brokers" class="linetitle">
            <table>
                <tr>
                    <td nowrap="nowrap"><span><i18n>LABEL_SEARCH_BROKERS_TITLE</i18n></span></td>
                    <td width="100%" valign="bottom"><span class="line"></span></td>
                    <td align="right" nowrap="nowrap" ><span><!--<a id="link_all_brokers" href="#superior"><i18n>LABEL_SEARCH_SEE_ALL</i18n> (<span id="see_all_count">0</span>)</a>--></span></td>
                </tr>
            </table>
        </div>
        <div id="allBrokers" class="friendApp"></div>
    </form>
    <div class="clear" ></div>
    <div class="linetitle">
        <table>
            <tr>
                <td nowrap="nowrap"><span><i18n>LABEL_SEARCH_FRIENDS_TITLE</i18n></span></td>
                <td width="100%" valign="bottom"><span class="line"></span></td>
                <td align="right" nowrap="nowrap" ><span><a href="<?php echo $this->web_path . $this->url(array('controller'=>'index', 'action'=>'showallfriends')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top"><i18n>LABEL_SEARCH_SEE_ALL</i18n> (<?php echo $this->totalAppUsers; ?>)</a></span></td>
            </tr>
        </table>
    </div>
    <div class="friendApp2">
            <?php
            // @todo mejorar estilos y ajustar presentacion segun numero de elementos.
            if(is_array($this->appusers)) {
                $elements = count($this->appusers);
                $j = 0;
                foreach ($this->appusers as $k) {
                    if(!empty($k['pic_square'])) {
                        $foto = $k['pic_square'];
                    } else {
                        $foto = '/img/q_silhouette.gif';
                    }
                    if ($j == 8) {
                        break;
                    } else {
                      echo "<div>";
                      echo '<a href="'. $k['profile_url'].'" target="_parent"><img src="'. $foto .'" alt="'.$k['first_name'] .' '.$k['last_name'] .'" /><span>'.$k['first_name'] . ' ' .$k['last_name'] .'</span></a>';
                      echo "</div>";
                    }
                    $j = $j+1;

                }
            }

            ?>
    </div>
    <div class="clear" ></div>
</div>
</div>