<div class="clear"></div>
<div id="destacadas"></div>

<script type="text/javascript">
var data=<?php echo $this->asktofrienddata; ?>;
</script>
<div class="clear"></div>
<form name="hb1" id="hb1" action="#" method="POST" enctype="multipart/form-data"></form>
<div id="contenedor">
    <div id="filter">
        <form action="#" method="post" name="frmFgm" id="frmFgm">
            <div id="fila1">
                <div class="element left">
                    <strong><i18n>LABEL_SEARCH_ENTER_LOCATION</i18n>: <span style="color:#CCCCCC;font-style:italic;font-size:10px" ></span></strong><br />
                    <input  value="e.g. &quot;San Francisco, CA&quot;, &quot;94101&quot;, &quot;Cancun, México&quot;" name="dir" type="text" class="ubicacion labelHighlight" id="dir" size="24" onfocus="if(this.value=='e.g. &quot;San Francisco, CA&quot;, &quot;94101&quot;, &quot;Cancun, México&quot;') { this.value = '';} " />
                </div>
                <div class="element left"><br/>
                    <a href="#" style='width: 30px;' class="button"  id="btnFgm" name="btnFgm" onclick="return false;" ondblclick="return false;">
                        <span><i18n>LABEL_SEARCH_MAPS</i18n></span>
                    </a>
                </div>
                <div id="right_search_fields">
                    <div id="fixed_listing" class="element left">
                        <strong><i18n>SEARCH_PROPERTY_TYPE</i18n>:</strong><br>
                        <?php echo $this->formSelect('cat', '', null, $this->categories) ?>
                    </div>
                    <div id="fixed_type" class="element left">
                        <strong><i18n>SEARCH_PROPERTY_LISTING</i18n>:</strong><br>
                        <?php echo $this->formSelect('type', '', null, $this->searchTypes) ?>
                    </div>
                    <div id="fixed_price" class="element show left"><i18n>LABEL_SEARCH_FILTER_PRICE</i18n>: <!-- aaa: place help text here --> <br/>
                        <select  name="price[min]" title="MIN" id="pricemin" style="width:70px;">
                            <option value="">Min</option>                        
                        </select>
                        <select  name="price[max]" title="MAX" id="pricemax" style="width:70px;">
                            <option value="">Max</option>                       
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
                <div id="optional_filter">                    
                    <div id="fixed_area" class="show"><i18n>LABEL_SEARCH_FILTER_AREA</i18n><br/>
                        <select  name="area[min]" title="MIN" id="area-min" style="width:95px;">
                            <option value="">Min</option>
                            <option value="500">500 ft2</option>
                            <option value="1000">1,000 ft2</option>
                            <option value="1500">1,500 ft2</option>
                            <option value="2000">2,000 ft2</option>
                            <option value="2500">2,500 ft2</option>
                            <option value="3000">3,000 ft2</option>
                            <option value="3500">3,500 ft2</option>
                            <option value="4000">4,000 ft2</option>
                            <option value="4500">4,500 ft2</option>
                            <option value="5000">5,000 ft2</option>
                            <option value="43560">1 Acre</option>
                            <option value="217800">5 Acre</option>
                            <option value="2178000">50 Acre</option>
                            <option value="4356000">100 Acre</option>
                        </select>
                        <select  name="area[max]" title="MAX" id="area-max" style="width:95px;">
                            <option value="">Max</option>
                            <option value="500">500 ft2</option>
                            <option value="1000">1,000 ft2</option>
                            <option value="1500">1,500 ft2</option>
                            <option value="2000">2,000 ft2</option>
                            <option value="2500">2,500 ft2</option>
                            <option value="3000">3,000 ft2</option>
                            <option value="3500">3,500 ft2</option>
                            <option value="4000">4,000 ft2</option>
                            <option value="4500">4,500 ft2</option>
                            <option value="5000">5,000 ft2</option>
                            <option value="43560">1 Acre</option>
                            <option value="217800">5 Acre</option>
                            <option value="2178000">50 Acre</option>
                            <option value="4356000">100 Acre</option>
                        </select>
                        <?php echo $this->formSelect('area', 'ft2', array("style" => "width:48px;"), $this->UMSuperficies) ?>
                    </div>                   
                    <?php echo $this->form; ?>
                </div>
                <div class="block right">
                    <br/>
                    <a href="javascript:;" id="asktofriend" class="uiButton uiButtonDefault uiButtonMedium">
                        <span class="uiButtonText"><i18n>LABEL_ASKTOFRIEND_BUTTON</i18n></span>                        
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </form>

        <div id="fixed_" class="clear"></div>
    </div>
    <div class="clear"></div>
    <div id="map"></div>
    <div id="listado_propiedades">
        <div id="listado_header"><strong><i18n>LABEL_PROPERTY_RESULTS</i18n></strong><br/>
            <i18n>LABEL_PROPERTY_ACTION_USER</i18n></div>
        <div id="galery"></div>
    </div>
    <div class="clear"></div>
    <div id="data"></div>
    <div id="fotostream">
        <form id="frmAllBrokers" method="get" action="<?php echo $this->web_path . $this->url(array('controller' => 'index', 'action' => 'showallbrokers')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top">
            <div id="see_all_brokers" class="linetitle">
                <table>
                    <tr>
                        <td nowrap="nowrap"><span><i18n>LABEL_SEARCH_BROKERS_TITLE</i18n></span></td>
                        <td width="100%" valign="bottom"><span class="line"></span></td>
                        <td align="right" nowrap="nowrap" ><span><a id="link_all_brokers" href="#superior"><i18n>LABEL_SEARCH_SEE_ALL</i18n> (<span id="see_all_count">0</span>)</a></span></td>
                    </tr>
                </table>
            </div>
            <div id="allBrokers" class="friendApp"></div>
        </form>
        <div class="clear" ></div>
        	<div id="see_all_friends_use_app" class="linetitle">
                <table>
                    <tr>
                        <td nowrap="nowrap"><span><i18n>LABEL_SEARCH_FRIENDS_TITLE</i18n></span></td>
                        <td width="100%" valign="bottom"><span class="line"></span></td>
                        <td align="right" nowrap="nowrap" ><span><a href="<?php echo $this->web_path . $this->url(array('controller' => 'index', 'action' => 'showallfriends')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top"><i18n>LABEL_SEARCH_SEE_ALL</i18n> (<span id="see_all_friends_use_app_count">0</span>)</a></span></td>
                    </tr>
                </table>
            </div>
            <div id="friendUseApps" class="friendApp"></div>
        <div class="clear" ></div>
    </div>
</div>