
    <div class="clear"></div>
<?php
echo $this->partial('destacados.phtml');

?>
<script><?php
$fbparams = "";
foreach($_REQUEST as $key=>$value) {
    if(substr($key,0,6) == 'fb_sig') {
        $fbparams.= $key."=".$value."&";
    }
}
$fbparams;//.="fb_sig_in_iframe=1";
?>
var facebook_perms = '<?php echo ($fbparams); ?>';
</script>
<div class="clear"></div>
<div class="clear"></div>
<form name="hb1" id="hb1" action="#" method="POST" enctype="multipart/form-data">
</form>
<div id="contenedor">
    <div id="filter">
        <div id="fila1">
        <form action="#" method="post" name="frmFgm" id="frmFgm">
            <div style="width:350px; float:left;">
                <strong><i18n>LABEL_SEARCH_ENTER_LOCATION</i18n>:</strong><br />
                <input name="dir" type="text" class="ubicacion" id="dir" size="24" />
            </div>
            <div style="float:left; width:50px;"><br/>
                <div id="buttons">
                    <a href="#" class="button" id="btnFgm" name="btnFgm" onclick="return false;" ondblclick="return false;">
                        <i18n>LABEL_SEARCH_MAPS</i18n>
                    </a>
                </div>
            </div>
            <div id="right_search_fields">
                <div id="fixed_listing" style="float: left;"><br/>
                    <?php echo $this->formSelect('cat', '', null, $this->categories) ?>
               </div>
                <div id="fixed_type" style="float: left; padding-left: 10px;"><br/>
                    <?php echo $this->formSelect('type', '', null, $this->searchTypes) ?>
               </div>
               <div id="buttons" style="float: left; padding-left: 4px;">
                    <br/>
                    <a href="#" class="button" id="btnApply" name="btnApply"><i18n>LABEL_SEARCH_FILTER_SEARCH</i18n></a>
               </div>
            </div>
        
           <div id="optional_filter" >
               <div id="fixed_price" class="show"><i18n>LABEL_SEARCH_FILTER_PRICE</i18n><br/>
                   <input value="MIN" class="labelHighlight" name="price[min]" title="MIN" id="price-min" size="5" type="text" style="width:58px;" onfocus="if(this.value=='MIN') { this.value = '';} "/>
                   <input value="MAX" class="labelHighlight" name="price[max]" title="MAX" id="price-max" size="5" type="text" style="width:58px;" onfocus="if(this.value=='MAX') { this.value = '';} "/>
               </div>
               <div id="fixed_area" class="show"><i18n>LABEL_SEARCH_FILTER_AREA</i18n><br/>
                    <input value="MIN" class="labelHighlight" name="area[min]" title="MIN" id="area-min" size="5" type="text" style="width:35px;" onfocus="if(this.value=='MIN') { this.value = '';} "/>
                    <input value="MAX" class="labelHighlight" name="area[max]" title="MAX" id="area-max" size="5" type="text" style="width:35px;" onfocus="if(this.value=='MAX') { this.value = '';} "/>
                    <?php echo $this->formSelect('area', 'mt2', array("style"=>"width:45px;"), $this->UMSuperficies) ?>
               </div>
               <div id="fixed_lot" class="show"> <i18n>LABEL_SEARCH_FILTER_LOT_SIZE</i18n><br/>
                    <input value="MIN" class="labelHighlight" name="area_lote[min]" title="MIN" id="area_lote-min" size="5" type="text" style="width:35px;" onfocus="if(this.value=='MIN') { this.value = '';} "/>
                    <input value="MAX" class="labelHighlight" name="area_lote[min]" title="MAX" id="area_lote-max" size="5" type="text" style="width:35px;" onfocus="if(this.value=='MAX') { this.value = '';} "/>
                    <?php echo $this->formSelect('area_lote', 'mt2', array("style"=>"width:45px;"), $this->UMSuperficies) ?>
              </div>
              <?php
                    echo $this->form;
              ?></div>
        </form>
    </div>
        <div id="fixed_" class="clear"></div>
    </div>
<div class="clear"></div>
<div id="map"></div>
<div id="listado_propiedades">
    <div id="listado_header"><strong><i18n>LABEL_PROPERTY_RESULTS</i18n></strong><br/>
            <i18n>LABEL_PROPERTY_ACTION_USER</i18n></div>
    <div id="galery"></div>
</div>
<div class="clear"></div>
<div id="data"></div>
<div id="fotostream">
    <form id="frmAllBrokers" method="get" action="<?php echo $this->web_path . $this->url(array('controller'=>'index', 'action'=>'showallbrokers')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top">
        <div id="see_all_brokers" class="linetitle">
            <table>
                <tr>
                    <td nowrap="nowrap"><span><i18n>LABEL_SEARCH_BROKERS_TITLE</i18n></span></td>
                    <td width="100%" valign="bottom"><span class="line"></span></td>
                    <td align="right" nowrap="nowrap" ><span><a id="link_all_brokers" href="#superior"><i18n>LABEL_SEARCH_SEE_ALL</i18n> (<span id="see_all_count">0</span>)</a></span></td>
                </tr>
            </table>
        </div>
        <div id="allBrokers" class="friendApp"></div>
    </form>
    <div class="clear" ></div>
    <div class="linetitle">
        <table>
            <tr>
                <td nowrap="nowrap"><span><i18n>LABEL_SEARCH_FRIENDS_TITLE</i18n></span></td>
                <td width="100%" valign="bottom"><span class="line"></span></td>
                <td align="right" nowrap="nowrap" ><span><a href="<?php echo $this->web_path . $this->url(array('controller'=>'index', 'action'=>'showallfriends')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top"><i18n>LABEL_SEARCH_SEE_ALL</i18n> (<?php echo $this->totalAppUsers; ?>)</a></span></td>
            </tr>
        </table>
    </div>
    <div class="friendApp">
            <?php
            // @todo mejorar estilos y ajustar presentacion segun numero de elementos.
            if(is_array($this->appusers)) {
                $elements = count($this->appusers);
                $j = 0;
                foreach ($this->appusers as $k) {
                    if(!empty($k['pic_square'])) {
                        $foto = $k['pic_square'];
                    } else {
                        $foto = '/img/q_silhouette.gif';
                    }
                    if ($j == 8) {
                        break;
                    } else {
                      echo "<div>";
                      echo '<a href="'. $k['profile_url'].'" target="_parent"><img src="'. $foto .'" alt="'.iconv("UTF-8", "ISO-8859-1",$k['first_name'] .' '.$k['last_name']) .'" /><span>'.iconv("UTF-8", "ISO-8859-1",$k['first_name'] . ' ' .$k['last_name']) .'</span></a>';
                      echo "</div>";
                    }
                    $j = $j+1;

                }
            }

            ?>
    </div>
    <div class="clear" ></div>
</div>
</div>
