<div class="friendApp">
    <h3><i18n>LABEL_SEARCH_BROKERS_TITLE</i18n></h3>
    <a name="superior" id="all_brokers"></a>
    <table width="80%" border="0" cellpadding="5">
<?php
$b = $this->brokers;
//Zend_Debug::dump($f);
foreach ($b as $broker) {
   if(strlen($broker['pic_square']) == 0){
       $pic = '/img/q_silhouette.gif';
   } else {
       $pic = $broker['pic_square'];
   }
   $webpage = "";
   if(strlen($broker['WebPage']) > 0) {
       if(Zend_Uri::check($broker['WebPage'])) {
          $webpage = '<a href="'.$broker['WebPage'].'" target="_top">'.$broker['WebPage'].'</a>';
       } else {
          $webpage = $broker['WebPage'];
       }
   }

   $row .= '<tr>';
   $row .= '<td width="0%" valign="top"><a href="' . $this->url(array('controller'=>'enlistar', 'action'=>'propiedadesautor')) . '?id='.$broker['Uid']. "&" . $_SERVER['QUERY_STRING'].'" target="_self"><img src="'. $pic .'" /></a></td>';
   $row .= '<td  width="100%" valign="top"><a href="' . $this->url(array('controller'=>'enlistar', 'action'=>'propiedadesautor')) . '?id='.$broker['Uid']. "&" . $_SERVER['QUERY_STRING'].'" target="_self">'. $broker['NombreCliente']. '</a><br />'.$webpage.'</td>';
   $row .= '</tr>';
   echo $row;
   $row = '';
}
?>
</table>
</div>