<div class="friendApp">
<h1><i18n>LABEL_SEARCH_FRIENDS_TITLE</i18n></h1>
<table cellpadding="5" border="0">
<?php
$f = $this->friends;
//Zend_Debug::dump($f);
if(is_array($f)) {
foreach ($f as $friend) {
   if(strlen($friend['pic_square']) == 0){
       $pic = '/img/q_silhouette.gif';
   } else {
       $pic = $friend['pic_square'];
   }

   $row .= '<tr>';
   $row .= '<td valign="top"><a href="'.$friend['profile_url'].'" target="_top"><img src="'. $pic .'" /></a></td>';
   $row .= '<td valign="top"><a href="'.$friend['profile_url'].'" target="_top">'.iconv("UTF-8", "ISO-8859-1", $friend['first_name']. ' '. $friend['last_name']).'</a></td>';
   $row .= '</tr>';
   echo $row;
   $row = '';
}
}
?>
</table>
</div>