<div class="friendApp"><?php
$_representantes = Hm_Rep_Representante::GetRepresentats();

// @todo mejorar estilos y ajustar presentacion segun numero de elementos.
if (is_array($_representantes)) {
    $numColumnas = $this->columns;
    $numFilas = intval(ceil(count($_representantes) / $numColumnas));
    if ($numFilas == 0)
        $numFilas++;
    $columns = array("", "", "");
    for ($idxRow = 0; $idxRow < $numFilas; $idxRow++) {
        for ($idxCol = 0; $idxCol <= $numColumnas; $idxCol++) {
        	if(isset($_representantes[intval($numFilas) * $idxCol + $idxRow])){
            	$rep = $_representantes[intval($numFilas) * $idxCol + $idxRow];
            	$columns[$idxCol] .= printIt($rep);
			}else{
				$columns[$idxCol] = '';
			}
        }
    }
    foreach ($columns as $column) {
        echo '<div class="column_representative"><table width="100%" border="0" cellpadding="5">' . $column . '</table></div>';
    }
}

function printIt($representante) {
    $html = "";
    if (isset($representante)) {

        if (!empty($representante['pic_square'])) {
            $foto = $representante['pic_square'];
        } else {
            $foto = '/img/q_silhouette.gif';
        }
        $html .= '<tr><td width="0%" valign="top"><a href="' . $representante['profile_url'] . '"  target="_top"><img src="' . $foto . '" alt="' . $representante['NombreRepresenta'] . '" /></a></td>';
        $html .= '<td width="100%" valign="top">';
        $html .= '<a href="' . $representante['profile_url'] . '"  target="_top">' . $representante['NombreRepresenta'] . '</a><br/>';
        $html .= '<strong>' . $representante['Direccion'] . '</strong><br />';
        $html .= $representante['EMail'] . '</td></tr>';
    }
    return $html;
}
?>
</div>