<?php
$cfg = Zend_Registry::get('config');
$signed = $_REQUEST['signed_request'];
$datafb = Zend_Registry::get('signed');
$owner = Zend_Registry::get('owner');
$fbDgt = new Dgt_Fb();
$namePage = $fbDgt->execFql("SELECT name FROM page WHERE page_id= " . $datafb['page']['id']);
defined('NAMEPAGE') || define('NAMEPAGE', $namePage[0]["name"]);
$fanpageurl = getUrlAmigable("https://www.facebook.com/pages/" . NAMEPAGE . "/" . $datafb['page']['id'] . "?sk=app_" . $cfg['facebook_appid']);
?>
<ul class="tabs">
    <li <?php if ($this->itemselected == "welcome") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=welcome"  target="_top"><i18n>LABEL_TAB_WELCOME</i18n></a></li>                        
    <li <?php if ($this->itemselected == "search") { ?>class="active"<?php } ?>><a href="<?= $fanpageurl; ?>&app_data=search" target="_top"><i18n>LABEL_TAB_SEARCH</i18n></a></li>
</ul>                    
<div class="clear"></div>
<div id="perfil">
    <div id="backgroundPopup"></div>  
    <div class="wcontainer" id="dinamic_filter" style="margin-top: 5px;margin-left: -1px;">
        <h1 class="looking"><i18n>LABEL_LOOKING_FOR</i18n></h1>
        <form id="formdi" name="formdi" method="post"  action="/fbml/tab?app_data=search" class="miform">                                   
            <input type="hidden" name="signed_request" id="signed_request" value="<?= $signed ?>"/>
            <input type="hidden" name="id" id="id" value="<?= $owner ?>"/> 
            <div id="fixed_listing" style="float: left;margin-left: 1px;">
                <label style="font-weight: bold;"><i18n>SEARCH_PROPERTY_TYPE</i18n>:</label><br>
                <select style="color: #555;width: 125px; " id="cbCategoria" name="cbCategoria" onchange="formdi.submit()" >
                    <?php
                    echo "<option value=''><i18n>LABEL_SEARCH_FILTER_LISTING_TYPE</i18n></option>";
                    foreach ($this->categories as $row) {
                        if ($row->CodigoCategoria == $_REQUEST["cbCategoria"])
                            echo "<option selected='selected' value=$row->CodigoCategoria>$row->Categoria</option>";
                        else
                            echo "<option value=$row->CodigoCategoria>$row->Categoria</option>";
                    }
                    ?>
                </select>

            </div>
            <div style="float:left; margin-left: 10px;">
                <label style="font-weight: bold;"><i18n>SEARCH_PROPERTY_LISTING</i18n>:</label><br> 
                <select style="color: #555;width: 125px;" id="type" name="type" onchange="formdi.submit()"  ><?php
                    echo "<option value=''><i18n>LABEL_SEARCH_FILTER_LISTING_TYPE</i18n></option>";
                    foreach ($this->searchTypes as $row) {
                        if ($row->CodigoEnlista == $_REQUEST["type"])
                            echo "<option selected='selected' value=$row->CodigoEnlista>$row->Categoria</option>";
                        else
                            echo "<option value=$row->CodigoEnlista>$row->Categoria</option>";
                    }
                    ?>
                </select>
            </div>
            <div style="float:left; margin-left: 10px;">
                <label style="font-weight: bold;"><i18n>LABEL_SEARCH_FILTER_AREA</i18n>:</label><br>
                <select style="color: #555;width: 70px;" id="minarea" name="minarea" onchange="formdi.submit()" >                            
                    <?
                    if ($_REQUEST["area"] == "mt2")
                        echo ComboArea("Min", 50, 500, 4000, $_REQUEST["minarea"]);
                    else
                        echo ComboAreaFt2("Min", 500, $_REQUEST["minarea"]);
                    ?> 
                </select>
            </div> 
            <div style="float:left; margin-left: 10px;"><br> 
                <select style="color: #555;width: 70px;" id="maxarea" name="maxarea" onchange="formdi.submit()" >
                    <?
                    if ($_REQUEST["area"] == "mt2")
                        echo ComboArea("Max", 50, 500, 4000, $_REQUEST["maxarea"]);
                    else
                        echo ComboAreaFt2("Max", 500, $_REQUEST["maxarea"]);
                    ?> 
                </select>
            </div> 
            <div style="float:left; margin-left: 10px;"><br> 
                <select style="color: #555;width: 48px;" id="area" name="area" onchange="formdi.submit()" >
                    <option <? if ($_REQUEST["area"] == "ft2")
                        echo "selected='selected' " ?> value="ft2">ft2</option>
                    <option <? if ($_REQUEST["area"] == "mt2")
                        echo "selected='selected' " ?>value="mt2">mt2</option>
                </select>                     
            </div>
            <div style="float:left;width:487px;height: 3px; "></div>
            <? if ($_REQUEST["cbCategoria"] != '' && $_REQUEST["cbCategoria"] != 11) { ?>
                <div style="float:left; ">
                    <label style="font-weight: bold;"><i18n>LABEL_SEARCH_FILTER_ROOM</i18n>:</label><br>
                    <select style="color: #555;" id="room" name="room" onchange="formdi.submit()" >
                        <option value="">Any</option>
                        <?
                        for ($i = 1; $i <= 5; $i++) {
                            if ($_REQUEST["room"] == $i)
                                echo "<option selected='selected' value=" . $i . ">$i+</option>";
                            else
                                echo "<option value=" . $i . ">$i+</option>";
                        }
                        ?>                      

                    </select>
                </div>
            <? } ?>
            <? if (isset($_REQUEST["type"]) && $_REQUEST["type"] != '') {
                if ($_REQUEST["type"] == "R") { ?>                    
                    <div style="float:left;<? if ($_REQUEST["cbCategoria"] != '' && $_REQUEST["cbCategoria"] != 11)
                echo 'margin-left:10px'; ?> ">
                        <label style="font-weight: bold;"><i18n>LABEL_SEARCH_FILTER_PRICE</i18n>:</label><br>
                        <select style="color: #555" id="minprice" name="minprice" onchange="formdi.submit()" >
                            <? echo ComboRent("Min", 500, 1000, 5000, 10000, $_REQUEST['minprice']); ?> 
                        </select>
                    </div>
                    <div style="float:left; margin-left: 10px;"><br> 
                        <select style="color: #555;" id="maxprice" name="maxprice" onchange="formdi.submit()" >
                            <? echo ComboRent("Max", 500, 1000, 5000, 10000, $_REQUEST['maxprice']); ?> 
                        </select>
                    </div>
                <? } elseif ($_REQUEST["type"] == "S" || $_REQUEST["type"] == "F") { ?>
                    <div style="float:left;<? if ($_REQUEST["cbCategoria"] != '' && $_REQUEST["cbCategoria"] != 11)
                echo 'margin-left:10px;'; ?>">
                        <label style="font-weight: bold;"><i18n>LABEL_SEARCH_FILTER_PRICE</i18n></label>:<br>
                        <select style="color: #555;"  id="minprice" name="minprice" onchange="formdi.submit()" >
                            <? echo ComboSale("Min", 50000, 250000, 500000, 1000000, 2500000, 10000000, $_REQUEST['minprice']); ?> 
                        </select>
                    </div>
                    <div style="float:left; margin-left: 10px;"><br>
                        <select style="color: #555;"  id="maxprice" name="maxprice" onchange="formdi.submit()" >
                            <? echo ComboSale("Max", 50000, 250000, 500000, 1000000, 2500000, 10000000, $_REQUEST['maxprice']); ?> 
                        </select>
                    </div>
                <? }
            } ?>
            <div style="float:right;margin-top: 11px;"><a class="uiButton uiButtonDefault uiButtonMedium" id="isli" name="isli"><span class="uiButtonText"><i18n>LABEL_SEND_INQUIRY</i18n></span></a></div>
            <div class="clear"></div>
        </form>
        <div class="dinamic_filter" style="display: none;margin-bottom: 14px;width: 460px;" id="contact" name="contact">                    
            <h3>Send inquire <em>(* Required)</em></h3>
            <form id="contact" action="/fbml/tab/?email=true" method="post" style="width: 460px;">
                <input type="hidden" name="signed_request" id="signed_request" value="<?= $signed ?>"/>
                <input type="hidden" name="id" id="id" value="<?= $owner ?>"/>
                <table style="padding: 3px;"  >
                    <tr>
                        <td colspan="4"><div id="mierror" class="warning" style="display:none;font-weight: bold;margin-left: -2px;" ></div></td>
                    </tr>
                    <tr>
                        <td width="40"><i18n>LABEL_NAME</i18n><em>*</em></td>
                    <td><input class="minput" type="text" id="name_c" name="name_c" /></td>
                    <td widht="40"><i18n>LABEL_INQUIRY</i18n><em>*</em></td>
                    <td rowspan="3"  width="235" align="right"><textarea id="inquiry" name="inquiry"   maxlength="235" style="border: 1px solid #B3B3B3;height:64px;width: 225px;float: right; "></textarea></td>

                    </tr>
                    <tr>
                        <td><i18n>LABEL_EMAIL</i18n><em>*</em></td>
                    <td ><input class="minput" type="text" id="email_c" name="email_c" /></td>
                    <td></td>

                    </tr> 
                    <tr>
                        <td><i18n>LABEL_PHONE</i18n></td>
                    <td><input class="minput" type="text" id="phone" name="phone" /></td>
                    <td></td>


                    </tr>
                    <tr>
                        <td colspan="4"><div style="float: right;"><input id="cancelar" class="button" type="reset" value="<i18n>LABEL_CANCEL</i18n>" /></div><div style="float: right;padding-right: 10px;"><input id="enviar" class="button" type="submit" value="<i18n>LABEL_SEND_INQUIRY</i18n>" /></div></td>
                    </tr>


                </table>  
                <div class="clear"></div>
            </form>

        </div>
    </div>
    <div id="fb_right-column">

        <div id="listado_propiedades">                  
            <div class="clear"></div>            

            <?php if ($this->showMsg == 1)
                echo $this->flashMessenger(); ?>

            <div id="galery"> 
                <?php if (count($this->properties) > 0) { ?>
                    <div id="paginacion_superior">
                        <?php echo $this->paginationControl($this->properties, 'Sliding', 'paginator/tab/paginacion.phtml'); ?>
                    </div>
                    <div id="listado_items"><?php foreach ($this->properties as $property) { ?>
                            <div id="propiedad_item_<?php echo $property["property"]->CodigoPropiedad ?>" class="propiedad_item">
                                <div class="likedv">

                                </div>
                                <span class="detalle_propiedad">
                                    <span class="precio"><?php echo $property["property"]->NombreCategoria . " " . $property["property"]->Transaccion; ?></span>
                                </span>
                                <a target="_top" class="titulo" href="<?php echo $this->web_path ?>enlistar/perfil?valprop=<?php echo $property["property"]->CodigoPropiedad; ?>">
                                    <strong id="<?php echo $property["property"]->CodigoPropiedad; ?>">ID<?php echo $property["property"]->CodigoPropiedad . " - " . $property["property"]->NombrePropiedad; ?></strong>
                                </a>
                                <div class="imagen_propiedad">
                                    <a target="_top" href="<?php echo $this->web_path ?>enlistar/perfil?valprop=<?php echo $property["property"]->CodigoPropiedad; ?>">
                                        <img id="<?php echo $property->CodigoPropiedad ?>" src="<?php echo $property["mainPhoto"]; ?>" height="90" width="120" />
                                    </a>
                                    <? if ($property["property"]->creditos > 0) { ?>                       
                                        <a style="background-image: url(<i18n>FEATURE_IMAGE_BACKGROUND</i18n>);" id="fet" name="fet" class="fet" href='<?php echo $this->web_path ?>enlistar/perfil?valprop=<?php echo $property["property"]->CodigoPropiedad; ?>' target="_top" ></a>
                                    <? } ?>
                                </div>
                                <div class="detalle_propiedad">

                                    <span class="direccion"><?php echo $property["property"]->Direccion; ?></span>
                                    <span class="detalles"><?php echo $property["attributes"]; ?></span>
                                    <span class="descripcion"><?php echo (strlen($property["property"]->DescPropiedad) > 219) ? substr($property["property"]->DescPropiedad, 0, 216) . "..." : $property["property"]->DescPropiedad; ?></span>
                                </div>
                                <div class="clear"></div>
                                <div class="fpOver">
                                    <div class="logo_right"></div>
                                </div>
                                <div class="clear"></div>
                            </div><?php } ?>
                    </div>
                </div>
                <div id="paginacion_inferior">
                    <?php echo $this->paginationControl($this->properties, 'Sliding', 'paginator/tab/paginacion.phtml'); ?>
                </div>
            <?php } else { ?>
                <br />
                <div class="warning" style="height:22px;">
                    <table >
                        <tr style="margin-bottom: 4px;">
                            <td width="285"><div style="margin-top:-3px;"><i18n>LABEL_NO_PROPERTY_TAB</i18n></div></td>
                            <td  width="167" style="margin-right:10px;text-align: right;"><div style="margin-top:-3px;"><?php if ($this->isadmin) { ?><a href="<?php echo $this->fb_app_url?>propiedades/show" target="_top" class="button" name="_filtro" id="_filtro"><i18n>LABEL_ADD_PROPERTY_TAB</i18n></a><?php } ?></div></td>
                        </tr>
                    </table>
                </div>
            <?php } ?>
        </div>

    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    $().ready(function(){
        //Codigo para notificar un cambio en like    
        FB.Event.subscribe('edge.create', function(response) { 
            //console.log(response.session);
        });
    });
</script>