<?php
if($this->pageCount) {
    ?>
<div class="sort_by">
    <strong><i18n>LABEL_PROPERTY_PROPERTY_RESULTS</i18n></strong> <i18n>LABEL_PROPERTY_RESULTS_FROM</i18n> <strong><?php echo $this->firstItemNumber; ?></strong> <i18n>LABEL_PROPERTY_RESULTS_TO</i18n> <strong><?php echo $this->lastItemNumber; ?></strong> <i18n>LABEL_PROPERTY_RESULTS_OF</i18n> <strong><?php echo $this->totalItemCount; ?></strong>
</div>
<?php
$config = Zend_Registry::get('config');
$web_path = '/';//$config['fb_app_url']; ?>
<ul class="paginacion_cont">

    <!-- First page link -->
        <?php if(isset($this->previous)){ ?>
    <li class="paginacion_cont_li">
        <a class="paginacion_img" href="<?php echo $web_path ?>enlistar/propiedadesautor?page=<?php echo $this->first . "&id=" . $_GET["id"]; ?>">
            <img id="first" src="/img/page_first_blue.gif"/></a>
    </li>
        <?php } else{ ?>
    <li class="paginacion_cont_li">
        <span class="disabled"><img src="/img/page_first_gray.gif"/></span>
        <?php } ?></li>


    <!-- ADD PREVIOUS BUTTON -->
        <?php
        if(isset($this->previous)) {
            ?>
    <li class="paginacion_cont_li"><a class="paginacion_img" href="<?php echo $web_path ?>enlistar/propiedadesautor?page=<?php echo $this->previous. "&id=" . $_GET["id"]; ?>">
            <img id="previous" src="/img/page_previous_blue.gif"/></a>
    </li>
            <?php } else { ?>
                        <li class="paginacion_cont_li"><span class="disabled"><img src="/img/page_previous_gray.gif"/></span>
                        </li>
            <?php } ?>

    <!-- SHOW THE AVAILABLE PAGES -->
        <?php
        foreach($this->pagesInRange as $page) {
            if($page != $this->current) {
                ?>
    <li class="paginacion_cont_li">
        <a class="paginacion_cont_a" href="<?php echo $web_path ?>enlistar/propiedadesautor?page=<?php echo $page. "&id=" . $_GET["id"];  ?>"><?php echo $page; ?></a>
    </li>
                <?php
            }else {
                ?>
    <li class="paginacion_cont_li current"><a class="paginacion_cont_a" href="#"><?php echo $this->current; ?></a></li>
                <?php
            }
        }
        ?>
    <!-- ADD NEXT BUTTON -->
        <?php
        if(isset($this->next)) {
            ?>
            <li class="paginacion_cont_li"><a class="paginacion_img" href="<?php echo $web_path ?>enlistar/propiedadesautor?page=<?php echo $this->next. "&id=" . $_GET["id"]; ?>"><img id="next" src="/img/page_next_blue.gif"/></a></li>
        <?php }
        else { ?>
            <li class="paginacion_cont_li"><span class="disabled"><img src="/img/page_next_gray.gif"/></span>
            </li>
        <?php } ?>


    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
        <li class="paginacion_cont_li"><a class="paginacion_img" href="<?php echo $web_path ?>enlistar/propiedadesautor?page=<?php echo $this->last . "&id=" . $_GET["id"]; ?>">
            <img id="last" src="/img/page_last_blue.gif"/>
        </a></li>
    <?php else: ?>
        <li class="paginacion_cont_li"><span class="disabled"><img src="/img/page_last_gray.gif"/></span>
         </li>
    <?php endif; ?>

</ul>
    <?php
}
?>