<link href="/administrador/css/search.css" rel="stylesheet" type="text/css" />
<script src="<?php echo $this->web_path; ?>/js/carga.js" charset="ISO-8859-1" type="text/javascript"></script>

<form id="hb" name="hb" method="post" action="#">
    <table cellpadding="10" cellspacing="0" border="0" width="100%">
        <tr><td></td></tr>
    </table>
</form>

<div id="carga_grid"></div>
<br>
<div id="autorizaS"></div>
<div id="revocarS"></div>
