/*
    Document   : search
    Created on : 12-11-2009, 09:12:25 AM
    Author     : Jeronimo Martinez Sanchez
    Description:
        style search form.
*/

#contenedor {
background:#F7F7F7 none repeat scroll 0 0;
border:1px solid #D8DFEA;
display:inline-block;
font-size:11px;
margin:10px 0;
padding:5px;
width:530px;
}

/*

#dir, #cat, #min_price, #max_price, #area, #beds, #baths {
    border: 1px solid #ccc;
}
#panel1, #panel2 {
    font-size: 11px;
    background:#f7f7f7;
    padding: 0px 0;
}
.hide {
    display: none;
}
#panel2 label, #panel1 label {
    font-weight:bold;
    color:#666666;
}
#form1 {
    width: 520px;
    border: 1px solid #eaeaea;
}
#form1 td {
    padding: 5px 5px;
}
a.button {
    display: block;
    padding: 5px 5px 5px 16px;
    background: #3b5998 url(/img/search.png) left center no-repeat;
    color: #fff;
    text-align:center;
    text-decoration:none;
    border: 1px solid #ccc;
    width: 130px;
    font-weight:bold;
}
#slide {
    display: block;
    background: #3b5998 url(/img/search_page.png) left center no-repeat;
    color: #fff;
    font-size:11px;
    padding: 5px 5px 5px 20px;
    font-weight:bold;
}
.error {
    background:  #f04b4b;
    color: white;
}
.ok {
    border: 1px solid #ccc;
}
#precios, #cb, #ar {
    margin-bottom: 5px;
}
*/
form#hb {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}
#hb input, #hb select{font-size: 11px;}
#hb span {
    float:left;
    margin-right:24px;
    padding-right:10px;
    width:50px;
}
.block {display: block; padding-bottom: 5px;}
a.button {
    margin-top: 10px;
    padding: 2px 5px 2px 5px;

    color: #fff;
    background: #3b5998 ;
    text-align:center;
    text-decoration:none;

    width: 90px;
}
#buttons {margin-top: 10px; margin-bottom: 5px;}