* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    background: #ffffff url(../img/stripe2.png);
}
#login_form input, #login_form textarea, #login_form select {
    border: 1px solid #babdb6;
}

#header {
    width: auto;
    background: #3B5998; 
    /* background: white; */
    height: 140px;
    display: block;
    border-bottom: 1px solid #babdb6;
}
#logo{
	 /* background:transparent url(../img/logo.jpg) no-repeat scroll 0 0;*/
    background:transparent;
	height:50px;
	left:20px;
	margin:0 auto;

	width:960px;
	z-index:4;
}
#app_name {
    font-size: 24px;
    font-weight:bold;
    color: white; 
    /* color: #ED1B24;*/ 
    padding-top: 85px;
    text-align:right;
}

#wrap {
    width: 960px;
    margin: 0px auto 0px auto;
    border: 1px solid #babdb6;
    z-index: 1;
    position: relative;
    top: -30px;
    background-color: white;
}

#nav {

}

#content {
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}
#container {
    padding: 20px 10px 10px 10px;
}
#footer {
    margin-top: 15px;
    border-top: 1px dashed #babdb6;
    padding-top: 10px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 0.9em;
    background: url(../img/content_bottom.jpg) bottom repeat-x;
}
#footer a {
    color: gray;
    text-decoration:none;
    font-weight:bold;
    font-size:11px
}

#login_panel_container{
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 0.9em;
}
#login_form {
    padding: 10px;
}
#login_form label {
    font-size: 12px;
}
#login_form img {
    border: 1px solid #eaeaea;
}
/*
.loginIcon {
    background: url(../img/lock.png) 0 0 no-repeat !important;
}
/*
.activa { background: url(../img/activa.png) 0 0 no-repeat !important;}
.inactiva{ background: url(../img/inactiva.png) 0 0 no-repeat !important;}
.warning { background: url(../img/warning.png) 0 0 no-repeat !important; height:48px; width:48px; }
*/
div.activa {
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 2px;
    color: green;
}
div.inactiva {
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 2px;
    color: red;
}

input#idUser, input#idPass, input#captcha-input { padding-left: 20px; padding-top: 2px; padding-bottom: 2px; }
input#idUser {
    background: #FFF url(../img/user_16.png) 2px 2px no-repeat !important ;
}
input#idPass {
    background: #FFF url(../img/key.png) 2px 2px no-repeat !important;
}
input#captcha-input{
    background: #FFF url(../img/key_go.png) left center no-repeat;
}

.input-text {
    width: 200px;
    /* height: 20px; */
}
.loginIcon {
    background: url(../img/unlock.png) 0 2px no-repeat !important;
}
.panelIcon {
    background: url(../img/lock.png) 0 0 no-repeat !important;
}
.useradmin_panel {
    background: url(../img/users.png) 0 4px no-repeat !important;
}
.creditos_panel {
    background: url(../img/creditos.png) 0 4px no-repeat !important;
}
.search_button {
     background: url(../img/search.png) 0 2px no-repeat !important;
}
.reportIcon {
    background: url(../img/search_page.png) 0 1px no-repeat !important;
}

.rIcon {
    background: url(../img/onebit_16.png) 0 4px no-repeat !important;
}
.okIcon {
     background: url(../img/accept.png) 0 2px no-repeat !important;
}

.button{
    margin-top: 5px;
    background: url(../js/extjs/resources/images/gray/qtip/bg.gif);
    padding: 2px 10px 2px 10px;
    border: 1px solid #eaeaea;
}

#logged-in {
    text-align: right;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 10px 0px;
    background: white;
    border: 1px solid #eaeaea;
    color: #cc0000;
    font-weight:bold;
    font-size:11px;
}
#logged-in a {
    color: silver;
}

#tab_menu{
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right:10px;
    border-bottom: 1px solid #eeeeec;
    text-align: left;
}
ul.tabs {
    margin: 0px; padding: 0px;
    margin-top:5px;
    margin-bottom:6px;
    background: white;
}
ul.tabs li {
    list-style: none;
    display: inline;
}

ul.tabs li a {
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:9px;
    font-weight:bold;
    text-transform:uppercase;
    border-top:1px solid #eeeeec;
    border-left:1px solid #eeeeec;
    border-right:1px solid #eeeeec;
    background-image:url(../img/tab_on.jpg);
    background-repeat:repeat-x;
    background-position: top;
    color:gray;
}
ul.tabs li a:hover {
    background-color: #3B5998;
    cursor: pointer;
}
ul.tabs li a.active {
    background-color: #3B5998 ;
}

b { color: #cc0000; padding-right: 5px;}
p {text-align:left;}

/* --------------------------------- */
/* TOOLTIPS				  		 	*/

/* ---------------------------------------------------------------------- */
.tooltips-gray{
    background:#444444;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    padding-top:8px;
}
.tooltips-gray div{
    background: #ffffff url(../img/tips_gray.png) left bottom no-repeat;
    margin-top:8px;
    height:18px;
}
/* ---------------------------------------------------------------------- */
.tooltips-ok{
    background:#008000;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    padding-top:8px;
}
.tooltips-ok div{
    background: #ffffff url(../img/tips_green.png) left bottom no-repeat;
    margin-top:8px;
    height:18px;
}
/* ---------------------------------------------------------------------- */
.tooltips-error{
    background:#CC0000;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    padding-top:8px;
}
.tooltips-error div{
    background: #ffffff url(../img/tips_red.png) left bottom no-repeat;
    margin-top:8px;
    height:18px;
}


form#consulta input {
    border: 1px solid #babdb6;
   
    margin: 5px 5px;
}
.button {
    background: url(../img/content_bottom.jpg);
}
.imagen-1{
background-image:url(/img/Vendida.png);
background-position:67% 50%;
background-repeat:no-repeat;
height:16px;
}

.imagen-2{
background-image:url(/img/Alquilada.png);
background-position:67% 50%;
background-repeat:no-repeat;
height:16px;
}

.imagen-3{
background-image:url(/img/activa.png);
background-position:67% 50%;
background-repeat:no-repeat;
height:16px;
}

.imagen-4{
background-image:url(/img/inactiva.png);
background-position:67% 50%;
background-repeat:no-repeat;
height:16px;
}