body, td, th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
body {
	background-color:#1F3B51;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(images/bg-top.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.clear {
	clear:both;
}
.box1 {
	height:100%;
	width:100%
}
.contenedor {
	height:100%;
	width:970px;
}
.top {
	width:970px;
	height:140px;
	background-image:url(images/bg-top2content.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.logo{margin-top:20px;
float:left;
margin-left:25px;
}
.busqueda{float:right;
width:348px;
height:43px;
}
.menutop{width:532px;
height:42px;
float:left;
margin-top:56px;
padding-left:15px;
}
.box2 {
	width:100%;
	height:535px;
	background-image:url(images/bgcontent.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.contenido {
	width:100%;
	height:500px;
	background-image:url(images/bgconten2t.jpg);
	background-position:top;
	background-repeat:repeat-x;

}
.banner {
	background-image:url(images/bg-banner.png);
	width:935px;
	height:463px;
	position:absolute;
	z-index:1;
	top:123px;
	margin-left:9px;
    padding-top:10px;
    padding-left:10px;
    padding-right:5px;
	text-align:left;
    
	
}

.mainlevel_main {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;

	
}



.mainlevel_main:link {
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	margin-left:10px;
	margin-right:10px;
	background-position:center;
	text-align:center;

	

}

.mainlevel_main:hover {
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	margin-left:10px;
	margin-right:10px;
		background-position:center;
	text-decoration: none;
	color: #FFF;
	background-image:url(images/menover.png);
	background-repeat: no-repeat;
	text-align:center;
	
}

#active_menu_main {

text-decoration: none;

	padding-left:30px;
	padding-right:30px;
	padding-top:15px;
	padding-bottom:15px;
	margin-left:10px;
	margin-right:10px;
	background-image:url(images/menup.png);
	background-position:center;
	background-repeat: no-repeat;
	color: #FFF;
	text-align:center;
}

#active_menu_main:hover {

text-decoration: none;

	padding-left:30px;
	padding-right:30px;
	padding-top:15px;
	padding-bottom:15px;
	margin-left:10px;
	margin-right:10px;
	background-image:url(images/menover.png);
	background-position:center;
	background-repeat: no-repeat;
	color: #FFF;
	text-align:center;
}
