

ul {
	list-style: none;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
	display: block;
	width: 1px;
}
img {
	border: none;
}
a {
	text-decoration: none;
	color: #75a97b;
	outline: none;
}
a:hover {
	text-decoration: none;
}
p {
	line-height: 22px;
}
/*forms*/
fieldset {
	margin: 10px 0;
	padding: 15px 10px;
	border: 1px solid #000;
}
fieldset div {
	padding: 5px 0;
}
legend {
	color: #000;
}
/*forms*/

/*bg*/
.head-x {
	background: url(images/head-x.png) 0 0 repeat-x;
}
.head-x2 {
	background: url(images/head-x2.png) 0 0 repeat-x;
}
/*bg*/

/*head*/
.head {
	height: 618px;
	position: relative;
	background: url(images/bg.png);
	margin-bottom: 44px;
	z-index: 3;
}
.head-x2 .head {
	height: 172px;
}
.head .search {
	background: url(images/search-bg.png) 47px 0 no-repeat;
	width: 237px;
	height: 30px;
	position: absolute;
	right: 9px;
	top: 8px;
	font-size: 11px;
}
.head .search label {
	display: block;
	float: left;
	width: 57px;
	padding: 7px 0 0 0;
	color: #fff;
}
.head .search .inputbox {
	background: none;
	border: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #fff;
	margin: 6px 5px 0 0;
}
.head .search .button {
	vertical-align: middle;
}
 not all and (-webkit-min-device-pixel-ratio:0) {
 .head .search .inputbox {
margin: 6px 0 0 0;
}
}
.head .logo {
	background: url(images/logo.png) 0 0 no-repeat;
	width: 353px;
	height: 61px;
	position: absolute;
	left: 25px;
	top: 69px;
}
.head .logo a {
	display: block;
	height: 61px;
	text-indent: -9999px;
	overflow: hidden;
}


/*head*/

/*center*/
.center {
	width: 970px;
	margin: 0px auto;
	padding-bottom: 210px;
}
.pad {
	padding: 0 10px 0 10px;
}
/*center*/

/*carousel*/
.carousel {
	position: absolute;
	top: 151px;
	left: 10px;
	background: url(images/top-slide-bg.png) 0 0 no-repeat;
	padding: 10px 70px 10px 10px;
	width: 880px;
	z-index: 1;
}
.lof-ass .lofass-container {
	width: 930px;
	overflow: visible !important;
}
.lof-ass {
	border: none;
}
.lof-ass .lof-description {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 500px;
	width: 370px;
	background: none;
	padding: 10px;
	font-size: 14px;
}
.lof-ass .lof-description p {
	color: #fff;
}
.lof-ass .lof-description h4 {
	font-size: 40px;
	font-weight: normal;
	color: #fff;
	margin: 51px 0 16px 0 !important;
}
.lof-ass .lof-buttons-control {
	position: absolute !important;
	top: 422px;
	left: 428px;
}
.lof-ass .lof-next, .lof-ass .lof-previous {
	display: block !important;
	float: left !important;
	width: 37px !important;
	height: 35px !important;
	text-indent: -9999px;
	overflow: hidden;
	position: static !important;
}
.lof-ass .lof-next {
	background: url(images/interface.png) 0 -35px no-repeat;
}
.lof-ass .lof-next:hover {
	background-position: 0 0;
}
.lof-ass .lof-previous {
	background: url(images/interface.png) 0 -105px no-repeat;
	margin-right: 1px;
}
.lof-ass .lof-previous:hover {
	background-position: 0 -70px;
}
.lof-ass a.readon {
	display: block;
	background: url(images/button1.png) 0 0 no-repeat;
	height: 30px;
	color: #fff;
	margin: 35px 0 0 0;
	padding: 13px 0 0 0;
	text-indent: 16px;
	width: 108px;
}
.lof-ass a.readon:hover {
	background: url(images/button1.png) 0 -43px no-repeat;
}
/*carousel*/

/*structure*/
.sidebar-left {
	width: 270px;
	float: left;
	margin-right: 50px;
}
.sidebar-left a:hover {
	text-decoration: underline;
}

/*structure*/

/*articles*/
.articles {
	padding-bottom: 60px;
	margin-bottom: 38px;
	background: url(images/carousel-line.png) 0 100% no-repeat;
}
.articles li {
	float: left;
	position: relative;
	width: 281px;
	margin-right: 40px;
}
.articles img {
	position: absolute;
	top: 45px;
	right: 0;
}
.articles p {
	padding-right: 90px;
	line-height: 22px;
}
.articles h4 {
	font-size: 24px;
	font-weight: normal;
	color: #2c2827;
	margin-bottom: 15px;
}
.articles a.readmore {
	display: block;
	background: url(images/button3.png) 0 0 no-repeat;
	height: 35px;
	color: #fff;
	padding: 11px 3px 0 0;
	text-align: center;
	width: 71px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 25px;
}
.articles a.readmore:hover {
	background-position: 0 -46px;
}
/*articles*/

/*custom_main*/
.blog_mainpage {
	vertical-align: top;
	margin-top: -3px;
}
.blog_mainpage .article_separator {
	display: none;
}
.blog_mainpage .contentheading_mainpage {
	font-size: 24px;
	font-weight: normal;
	color: #2c2827;
	padding-bottom: 10px;
}
.blog_mainpage p {
	line-height: 22px;
	margin-bottom: 25px;
}
.blog-featured div {
	margin-bottom: 25px;
}
.blog-featured img {
	float: left;
}
.blog-featured h4 {
	font-size: 24px;
	font-weight: normal;
	color: #2c2827;
	padding-bottom: 10px;
}
/*custom_main*/

/*accordion_sp1_id*/
.accordion_sp1_id1 {
	margin-bottom: 30px;
}
.accordion_sp1_id1 h4 {
	font-size: 24px;
	font-weight: normal;
	color: #2c2827;
	margin-bottom: 20px;
}
.accordion_sp1_id1 .sp_inner {
	padding: 0 20px 0 20px;
	margin-bottom: 15px;
}
.accordion_sp1_id1 .sp_inner p {
	line-height: 20px;
	padding-top: 15px;
}
.accordion_sp1_id1 .sp_inner strong {
	color: #000;
}
.accordion_sp1_id1 .toggler {
	background: url(images/left-menu-button.png) 0 0 no-repeat;
	padding: 0;
	height: 51px;
	margin-bottom: -10px;
}
.accordion_sp1_id1 .toggler span, .accordion_sp1_id1 .toggler span span {
	background: none;
}
.accordion_sp1_id1 .toggler span {
	background: none;
}
.accordion_sp1_id1 .toggler span span {
	background: none;
}
.accordion_sp1_id1 .toggler:hover, .accordion_sp1_id1 .active {
	background: url(images/left-menu-button.png) 0 0 no-repeat;
}
.accordion_sp1_id1 .toggler span:hover, .accordion_sp1_id1 .active span {
	background: none;
}
.accordion_sp1_id1 .toggler span span:hover, .accordion_sp1_id1 .active span span {
	background: none;
}
.accordion_sp1_id1 .toggler span span {
	padding: 9px 0 0 20px;
	color: #75a97b;
	font-size: 20px;
	display: block;
	margin: 0;
	font-weight: normal;
}
.accordion_sp1_id1 .toggler:hover span span {
	color: #000;
}
/*accordion_sp1_id*/

/*blog-featured*/
.blog-featured h4, .contentheading {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
}
.blog-featured h4 a, .contentheading a {
	padding: 2px;
}
.blog-featured h4 a:hover, .contentheading a:hover {
	background: #75a97b;
	color: #fff;
}
.contentheading a:hover {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.blog-featured img {
	margin-right: 14px;
}
/*blog-featured*/

/*footer*/

.footer .social-icons a {
  display: inline-block;
  margin-left: 10px;
}

.infooter {
	width: 950px;
	margin: 0px auto;
	height: 200px;
	position: relative;
	background: url(images/logo2.png) 100% 35px no-repeat;
}
.menu_b {
	position: absolute;
	top: 40px;
	width: 645px;
	font-size: 11px;
}
.menu_b li {
	width: 161px;
	float: left;
	background: url(images/bullet1.gif) 0 4px no-repeat;
	text-indent: 13px;
	margin-bottom: 10px;
}
.menu_b a {
	color: #7b7978;
}
.menu_b a:hover {
	color: #fff;
}
.footer p.icons {
	position: absolute;
	right: 0;
	top: 164px;
}
.footer p.icons img {
	margin-left: 11px;
}
.footer p.copy {
	color: #fff;
	font-size: 11px;
	position: absolute;
	left: 0;
	top: 167px;
}
.footer p.copy a {
	color: #fff;
}
.footer p.copy a:hover {
	text-decoration: underline;
}
/*footer*/

/*item-page*/
.item-page h2, .search h1, .contact h2, #system-message dt, .poll h2 {
	font-size: 24px;
	font-weight: normal;
	color: #2c2827;
	margin-bottom: 20px;
}
.item-page h2 a {
	color: #2c2827;
}
.item-page img {
	margin: 0 14px 14px 0;
}
.pagenav, .pagination {
	margin: 15px 0 10px 0;
	text-align: center;
}
.pagenav li, .pagination li {
	display: inline;
	margin: 0 5px;
}
/*item-page*/

/*component*/
.componentheading, #page h2 {
	font-size: 24px;
	font-weight: normal;
	color: #2c2827;
	margin-bottom: 20px;
}
#searchForm td {
	padding: 0 5px 10px 0;
}
table {
	width: 100%;
}
.paramlist {
	display: none;
}
.contentpaneopen img {
	margin: 6px 10px 6px 0;
}
.contentpaneopen p {
	margin-bottom: 13px;
}
.contentpaneopen a.readon:hover {
	text-decoration: underline;
}
.contentpaneopen a:hover {
	text-decoration: underline;
}
#system-message {
	margin: 0 0 15px 0;
}
#system-message dt {
	margin-bottom: 10px;
}
#system-message dd ul, #system-message dd li, #system-message dd {
	margin: 0px;
	padding: 0;
}
/*component*/

/* user */
form.user div {
	margin-bottom: 10px;
}
form.user label {
	width:40%;
	float:left;
}
/* article index */
table.contenttoc {
	border:solid 1px #ccc;
	padding:10px;
	margin:10px;
}
.pagenavcounter {
	font-weight:bold;
}
/*contact*/
.contact {
	padding-bottom: 50px;
}
.contact label {
	display: block;
}
.contact div {
	margin-bottom: 10px;
}
/*contact*/

/*component-contact*/

.contact .inputbox {
	width: 500px;
	padding: 2px 5px;
	margin: 3px 0;
	color: #000;
}
.contact input.inputbox {
	width: 490px;
	padding: 2px 5px;
	margin: 3px 0;
	color: #000;
}
.contact textarea {
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #000;
}
#component-contact label {
	color: #111;
	font-size: 12px;
}
.contact button {
	background: none;
	border: none;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.contact button span {
	display: block;
	background: url(images/button3.png) 0 0 no-repeat;
	height: 35px;
	color: #fff;
	padding: 11px 3px 0 0;
	text-align: center;
	width: 71px;
	font: bold 16px Arial, Helvetica, sans-serif;
}
.contact button:hover span {
	background-position: 0 -46px;
}
.poll {
	margin-bottom: 30px;
}
span.q01 input {
	background: none;
	border: none;
	width: 100%;
	height: 46px;
	color: #fff;
	text-align: center;
	width: 71px;
	padding-bottom: 5px;
	margin: 0;
	cursor: pointer;
	font: bold 16px Arial, Helvetica, sans-serif;
}
span.q01 {
	display: inline-block;
	background: url(images/button3.png) 0 0 no-repeat;
	width: 71px;
}
span.q01:hover {
	background-position: 0 -46px;
}
.poll table {
	margin-bottom: 5px;
}
span.q01 button {
	background: none;
	border: none;
	width: 100%;
	height: 46px;
	color: #fff;
	text-align: center;
	width: 71px;
	padding-bottom: 5px;
	margin: 0;
	cursor: pointer;
	font: bold 16px Arial, Helvetica, sans-serif;
}
.tool-tip {
	background: #FC6;
	border: 1px solid #000;
	font-weight: bold;
	color: #000;
	padding: 5px;
	line-height: 22px;
}
.poll h2 {
	margin-bottom: 10px;
}
.poll td {
	padding-bottom: 5px;
}
.poll input[type='radio'] {
	margin-top: -2px;
	vertical-align: top;
}
#form-login {
	margin-bottom: 30px;
}
#form-login fieldset {
	border: none;
	padding: 0;
}
.login_form a:hover {
	text-decoration: underline;
}
.f01 {
	padding: 10px 0;
	font: normal 16px Arial, Helvetica, sans-serif;
}
/*component-contact*/
