<?php
$this->headScript()->appendFile("https://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");
$this->headScript()->appendFile("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new");
?>
<script>
    var signed = '<?php echo $_REQUEST['signed_request']; ?>';
    var cc='<?php echo $this->location->cc; ?>';
</script>
<?php if($this->seeAddRoommate){?>
	<a class="pestana pestanaactivo pestanafirst" target="_top" title="<i18n>LABEL_ROOM_SEARCH</i18n>" href="<?php echo $this->urlbusco?>"><span><i18n>LABEL_ROOM_SEARCH</i18n></span></a>           
	<a class="pestana" target="_top" title="<i18n>LABEL_RMT_SEARCH</i18n>" href="<?php echo $this->urltengo?>"><span><i18n>LABEL_RMT_SEARCH</i18n></span></a>
	<div style="clear:both;" ></div>          
<?php }?>
<form action="/roommates/saveroommate?<?php echo $_SERVER["QUERY_STRING"]; ?>" target="_self" method="post" enctype="multipart/form-data" name="frm" id="frm" class="agregar_propiedad">
    <a name="top" id="top">&nbsp;</a>
    
    <?php
    echo $this->flashMessenger();
    ?>
    <div id="loading" class="loading" style="display: none"><i18n>MSG_PROCESSING_DATA</i18n></div>
    <div id="errorbox" style="display: none;" class="error"><h4>Warning:</h4><ul></ul></div>
    <div id="box" style="display: none;" ></div>
    <input name="signed_request" type="hidden" value="<?php echo $_REQUEST["signed_request"]; ?>" />
    <input value="<?php echo $this->isNew ?>" type="hidden" name="isNew" id="isNew" />
    <?php if($this->roommate->CodigoRoommate){?>
		<input value="<?php echo $this->roommate->CodigoRoommate ?>" type="hidden" name="codigoRoommate" id="codigoRoommate" />    
    <?php } ?>
    <input value="<?php echo $this->publicado ?>" type="hidden" name="publicado" id="publicado" />
    <input value="<?php echo $this->roommate->EstadoRoommate ?>" type="hidden" name="estadoRoommate" id="estadoRoommate" />
    
    <div class="recuadro">
        <fieldset class="requeridos">
            <div class="legend"><i18n>ADD_ESTATE_BASIC_INFO_TITLE</i18n> <em>(<i18n>ADD_ESTATE_BASIC_INFO_REQUIRED</i18n>)</em>
                <?php 
                if($this->roommate->CodigoRoommate){?>
                    <div class="right"><a b="<?php echo $this->roommate->CodigoRoommate?>" id="del_ad" class="button" href="javascript:;"><i18n>DELETE_ROOMMATE</i18n></a></div>
               <?php } ?>
            </div>
            <div class="campos">
                <div class="titulo"><label><i18n>LABEL_TITLE</i18n>:<em>*</em></label><br/><input style="width: 658px;" type="input" name="titulo" id="titulo" value="<?php echo $this->roommate->Titulo; ?>"/></div>
                <div class="descripcion">
                <label><i18n>ADD_ESTATE_ADDITIONAL_INFO_DESCRIPTION</i18n>: <u>(<i18n>ADD_ESTATE_ADDITIONAL_INFO_MAX_DESCRIPTION</i18n>)</u></label>
                <br>
                <label>
                    <textarea style="text-align: justify;" name="descripcion" id="descripcion"><?php echo $this->roommate->Descripcion; ?></textarea>
                </label>
                </div>
                <div class="alldetalles">
                    <div class="detalle">
                        <label><i18n>LABEL_RMT_SEARCH_TYPE</i18n> <em>*</em></label><br/>
                        <?php echo $this->formSelect('tipoBusqueda', $this->roommate->TipoBusqueda, null, $this->tipoBusqueda) ?>
                    </div>
                    <div class="correo">
                        <label><i18n>LABEL_EMAIL</i18n> <em>*</em></label> <label><u><i18n>LABEL_EXPLANATION_EMAIL_FORM</i18n></u></label><br/>
                        <input type="input" name="correo" id="correo" value="<?php echo $this->correo; ?>"/>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="ubicacion">
                    <label class="location"><i18n>LABEL_SEARCH_IN_MAP</i18n>:<em>*</em></label>
                    <br />
                    <i18n>ADD_ROOMMATE_LOCATION_EXPLAIN</i18n><br/>
                    <input class="labelHighlight" value="<?php echo $this->roommate->Direccion ?>" type="text" name="dir" title="Ej. Villa Fontana, Nicaragua" id="dir"/> <a href="#" class="button" id="btFind" name="btFind" onclick="return false;" ondblclick="return false;"><i18n>LABEL_SEARCH_MAPS</i18n></a>
                    <div id="map"></div>
                    <div class="clear"></div>
                    <label><i18n>LABEL_ADDRESS</i18n>:<em></em></label><br/>
                    <i18n>LABEL_ADDRESS_COMMENT</i18n>
                    <br/>
                    <textarea name="direccion" id="direccion"><?php echo $this->roommate->Direccion; ?></textarea>
                </div>
                <div class="clear"></div>
                <input value="<?php echo $this->roommate->Latitud ?>" type="hidden" name="latitud" id="latitud" />
                <input value="<?php echo $this->roommate->Longitud ?>" type="hidden" name="longitud" id="longitud" />
                <input value="<?php echo $this->roommate->ZipCode ?>" type="hidden" name="zipCode" id="zipCode" />
                <input value="<?php echo $this->roommate->ZipCode ?>" type="hidden" name="pais" id="pais" disabled="true" />
                <input value="<?php echo $this->roommate->Estado ?>" type="hidden" name="estado" id="estado" />
                <input value="<?php echo $this->roommate->Ciudad ?>" type="hidden" name="ciudad" id="ciudad" />
                <input value="<?php echo $this->roommate->CodigoPostal ?>" type="hidden" name="codigoPostal" id="codigoPostal" />
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ROOM_ADDITIONAL_INFO_GENERAL</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                    <div class="detalle">
                        <label><i18n>LABEL_RMT_GENERAL_INFO_RENT</i18n> US$ <em>*</em></label><br/>
                        <input class="labelHighlight" type="input" name="rentaUS" id="rentaUS" size="16" value="<?php echo ($this->isNew=="N")?number_format($this->roommate->MontoRenta,2):"" ?>" />
                    </div>
                    <div class="detalle">
                        <label><i18n>LABEL_RMT_DATE_CHANGE</i18n> <em>*</em></label><br/>
                        <input class="labelHighlight" type="input" name="fechaMudanza" id="date" size="16"  value="<?php echo $this->roommate->FechaMudanza; ?>" />
                    </div>
                     <div class="detalle"><label><i18n>LABEL_ROOM_STAY_MONTHS</i18n>&#13;  <em>*</em></label><br />
                        <?php echo $this->formSelect('stayMonth', $this->roommate->EstanciaMinima, null, $this->estanciaMinima) ?>
                    </div>
                </div>
            </div>
        </fieldset>
         <fieldset>
            <div class="legend"><i18n>LABEL_RMT_INFO_PERSONAL</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                    <div id="people_searching" <?php echo ($this->roommate->CantBusca) >  1 ? '' :  'style="display: none;"' ?> class="detalle"><label><i18n>LABEL_RMT_CANTITY_SEARCH</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('cantBusca', $this->roommate->CantBusca, null, $this->cantBusca) ?>
                    </div>
                    <div class="detalle"><label id="lblMinAge"><i18n>LABEL_AGE</i18n>&#13;</label> <em>*</em>
                        <br />
                        <?php echo $this->formSelect('edadMinimaBusca', $this->roommate->EdadMinimaBusca, null, $this->minAgeRmt) ?>
                    </div>
                    <div <?php echo ($this->roommate->EdadMaximaBusca) >  0 ? '' : 'style="display: none;"' ?> id="maximum_age" class="detalle"><label><i18n>LABEL_ROOM_MAX_AGE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('edadMaximaBusca', $this->roommate->EdadMaximaBusca, null, $this->maxAgeRmt) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_SMOKER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('fumadorBusca', $this->roommate->FumadorBusca, null, $this->fumadorBusca) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_LANGUAGE</i18n> <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('idiomaBusca', $this->roommate->IdiomaBusca, null, $this->idiomaBusca) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_OCCUPATION</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('ocupacionBusca', $this->roommate->OcupacionBusca, null, $this->ocupacionBusca) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_GENDER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('generoBusca', $this->roommate->GeneroBusca, null, $this->generoBusca) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_PET</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('mascotaBusca', $this->roommate->MascotaBusca, null, $this->mascotaBusca) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_CHILDREN</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('hijosBusco', $this->roommate->HijosBusco, null, $this->hijosBusca) ?>
                    </div>
					<div class="detalle">
						<label><i18n>LABEL_ROOM_ESCUELA</i18n>
						<div class="escuela">
                        	<input type="input" width="50" name="escuela" id="escuela" value="<?php echo $this->escuela; ?>"/>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ROOM_ADDITIONAL_INFO_IDEAL_ROOM</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                    <div class="detalle"><label><i18n>LABEL_PROPERTY_TYPE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('tipoPropiedad',$this->roommate->TipoPropiedad, null, $this->tipoPropiedad) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_RMT_FURNISHED_TYPE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('amueblado', $this->roommate->Amueblado, null, $this->amuebladoBusca) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_TYPE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('tipoCuarto', $this->roommate->TipoCuarto, null, $this->cuartoBusca) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_TYPE_BATH</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('tipoBano', $this->roommate->TipoBano, null, $this->banoBusca) ?>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ROOM_ADDITIONAL_INFO_IDEAL_ROOMMATE</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                    <div class="detalle"><label><i18n>LABEL_ROOM_GENDER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('generoAcepta', $this->roommate->GeneroAcepta, null, $this->generoAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_COUPLE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('parejaAcepta', $this->roommate->ParejaAcepta, null, $this->parejaAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_CHILDREN</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('ninosAcepta', $this->roommate->NinosAcepta, null, $this->ninosAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_PET</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('mascotaAcepta', $this->roommate->MascotaAcepta, null, $this->mascotaAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_SMOKER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('fumadorAcepta', $this->roommate->FumadorAcepta, null, $this->fumadorAcepta) ?>
                    </div>
<!--                    <div class="detalle"><label><i18n>LABEL_ROOM_SEXUAL_PREFERENCES</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php // echo $this->formSelect('orientacionAcepta', $this->roommate->OrientacionAcepta, null, $this->orientacionAcepta) ?>
                    </div>-->
                    <div class="detalle"><label><i18n>LABEL_ROOM_OCCUPATION</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('ocupacionAcepta', $this->roommate->OcupacionAcepta, null, $this->ocupacionAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_MIN_AGE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('edadMinimaAcepta', $this->roommate->EdadMinimaAcepta, null, $this->minAgeRmt) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_MAX_AGE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('edadMaximaAcepta', $this->roommate->EdadMaximaAcepta, null, $this->maxAgeRmt) ?>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <?php
    if($this->isNew == "S"){
        ?><div class="terms"><input type="checkbox" name="chkTerms" id="chkTerms" value="Accept" /><label for="chkTerms"><i18n>ADD_ESTATE_AGREE_ACCEPT</i18n></label><a href="/documentos/termsuse" id="agreeLink"><i18n>ADD_ESTATE_AGREE_TERMS</i18n></a></div><?php
      }
?>
    <div class="button_group">
         <?php
            if($this->roommate->CodigoRoommate){
        ?>
        <a href="<?php echo $this->web_path . $this->url(array('controller'=>'roommates', 'action'=>'perfilbusco')) . "?valroommate="  . $this->roommate->CodigoRoommate ?>" target="_top" class="button" id="btPreview" name="btPreview"><i18n>ADD_ESTATE_PREVIEW</i18n></a>
        <?php
             }
        ?>
        <a href="#top" class="button" id="btSaveDown" name="btSaveDown"><i18n>ADD_ESTATE_SAVE</i18n></a>
         <?php 
         if($this->publicado == "S") {
            if($this->isPublicada == "1" and $this->roommate->CodigoRoommate) {
             ?>
                <div id="share" style="display: none;">
            <?php
                    $mainPhoto = $this->url_path . "/img/$this->language/ad_no_image.jpg";
                    $webChunkShare = "roommates/perfibusco?valroommate=";
            ?>
                    <a href="#" type="button" id="btnShare" name="btnShare"
                       caption="<?php echo $this->translate("ADD_ROOM_BASIC_INFO_RENT") . " " . $this->currency->CodigoEstandar .$this->roommate->MontoRenta . " " . $this->currency->CodigoEstandar;?>"
                       description="<?php echo $this->roommate->Titulo ; ?>"
                       location=" <?php echo $this->translate("LABEL_SEARCH_IN_MAP") . " ". $this->roommate->Direccion ; ?>"
                       urlFbProperty="<?php  echo $this->web_path . "/" . $webChunkShare. $this->caractsCuarto[0]->ValorIdioma; ?>"
                       imageSrc="<?php echo $mainPhoto; ?>"
                       urlSrvProperty="<?php echo $this->web_path . "/" . $webChunkShare. $this->caractsCuarto[1]->ValorIdioma; ?>">
                       Share</a>
                </div>
             <?php }?>
                   <a  href="#"  class="button" id="btSaveUnPubDown" name="btSaveUnPubDown"><i18n>ADD_ESTATE_SAVE_INACTIVE</i18n></a>
            <?php }
                else{ ?>
                     <a href="#"  class="button" id="btSavePubDown" name="btSavePubDown"><i18n>ADD_ESTATE_SAVE_PUBLISH</i18n></a>
            <?php } ?>
        <br/>
    </div>
</form>
