<?php
$this->headScript()->appendFile("https://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAvCeUucOYY74-kYy_PW657BTXiVpCZbJoaksdLXfYkWMngqmDrxS6-TiTbctgJsKVCf909V4KNSXSaA");
$this->headScript()->appendFile("https://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new");
?>
<script>
    var signed = '<?php echo $_REQUEST['signed_request']; ?>';
    var cc='<?php echo $this->location->cc; ?>';
</script>
<?php if($this->seeAddRoommate){?>
	<a class="pestana pestanafirst" target="_top" title="<i18n>LABEL_ROOM_SEARCH</i18n>" href="<?php echo $this->urlbusco?>"><span><i18n>LABEL_ROOM_SEARCH</i18n></span></a>           
	<a class="pestana pestanaactivo" target="_top" title="<i18n>LABEL_RMT_SEARCH</i18n>" href="<?php echo $this->urltengo?>"><span><i18n>LABEL_RMT_SEARCH</i18n></span></a>
	<div style="clear:both;" ></div>
<?php }?>

<form action="/roommates/saveroom?<?php echo $_SERVER["QUERY_STRING"]; ?>" target="_self" method="post" enctype="multipart/form-data" name="frm" id="frm" class="agregar_propiedad">
    <a name="top" id="top">&nbsp;</a>
    <?php
    echo $this->flashMessenger();
    ?>
    <div id="loading" class="loading" style="display: none"><i18n>MSG_PROCESSING_DATA</i18n></div>
    <div id="errorbox" style="display: none;" class="error"><h4>Warning:</h4><ul></ul></div>
    <div id="box" style="display: none;" ></div>
    <input name="signed_request" type="hidden" value="<?php echo $_REQUEST["signed_request"]; ?>" />
    <input value="<?php echo $this->isNew ?>" type="hidden" name="isNew" id="isNew" />
    <?php if($this->room->CodigoCuarto){?>
    <input value="<?php echo $this->room->CodigoCuarto ?>" type="hidden" name="codigoCuarto" />
    <?php } ?>
    <input value="<?php echo $this->publicado ?>" type="hidden" name="publicado" id="publicado" />
    <input value="<?php echo $this->room->EstadoRoommate ?>" type="hidden" name="estadoCuarto" id="estadoCuarto" />

    <div class="recuadro">
        <fieldset class="requeridos">
            <div class="legend"><i18n>ADD_ESTATE_BASIC_INFO_TITLE</i18n> <em>(<i18n>ADD_ESTATE_BASIC_INFO_REQUIRED</i18n>)</em>
            <?php 
            if($this->room->CodigoCuarto){?>
                <div class="right"><a b="<?php echo $this->room->CodigoCuarto?>" id="del_ad" class="button" href="javascript:;"><i18n>DELETE_ROOMMATE</i18n></a></div>
           <?php } ?>
            </div>
            <div class="campos">
                <div class="titulo"><label><i18n>LABEL_TITLE</i18n>: <em>*</em></label><br/><input style="width: 658px;" type="input" name="titulo" id="titulo" value="<?php echo $this->room->Titulo ?>"/></div>
                <div class="descripcion">
                    <label><i18n>ADD_ESTATE_ADDITIONAL_INFO_DESCRIPTION</i18n>: <u>(<i18n>ADD_ESTATE_ADDITIONAL_INFO_MAX_DESCRIPTION</i18n>)</u></label>
                    <br>
                    <label>
                        <textarea style="text-align: justify;" name="descripcion" id="descripcion"><?php echo $this->room->Descripcion ?></textarea>
                    </label>
                </div>
                <div class="alldetalles">
                    <div class="detalle">
                        <label><i18n>ADD_ROOM_BASIC_INFO_ACCOMMODATION</i18n> <em>*</em></label><br/>
                        <?php 
                        echo $this->formSelect('tipoAlojamiento',$this->room->TipoAlojamiento, null, $this->tipoAlojamiento) ?>
                    </div>
                    <div class="correo">
                        <label><i18n>LABEL_EMAIL</i18n><em>*</em></label> <label><u><i18n>LABEL_EXPLANATION_EMAIL_FORM</i18n></u></label><br/>
                        <input type="input" name="correo" id="correo" value="<?php echo $this->Correo; ?>"/>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="ubicacion">
                    <label class="location"><i18n>ADD_ROOM_ENTER_LOCATION</i18n>: <em>*</em></label>
                    <br />
                    <i18n>ADD_ESTATE_ENTER_LOCATION_INFO</i18n><br/>
                    <input class="labelHighlight" value="<?php echo $this->room->Direccion ?>" type="text" name="dir" title="Ej. Villa Fontana, Nicaragua" id="dir"/> <a href="#" class="button" id="btFind" name="btFind" onclick="return false;" ondblclick="return false;"><i18n>LABEL_SEARCH_MAPS</i18n></a>
                    <div id="map"></div>
                    <div class="clear"></div>
                    <label><i18n>LABEL_ADDRESS</i18n>:<em></em></label><br/>
                    <i18n>LABEL_ADDRESS_COMMENT</i18n>
                    <br/>
                    <textarea name="direccion" id="direccion"><?php echo $this->room->Direccion; ?></textarea>
                </div>
                <div class="clear"></div>
                <input value="<?php echo $this->room->Latitud ?>" type="hidden" name="latitud" id="latitud" />
                <input value="<?php echo $this->room->Longitud ?>" type="hidden" name="longitud" id="longitud" />
                <input value="<?php echo $this->room->ZipCode ?>" type="hidden" name="zipCode" id="zipCode" />
                <input value="<?php echo $this->room->ZipCode ?>" type="hidden" name="pais" id="pais" disabled="true" />
                <input value="<?php echo $this->room->Estado ?>" type="hidden" name="estado" id="estado" />
                <input value="<?php echo $this->room->Ciudad ?>" type="hidden" name="ciudad" id="ciudad" />
                <input value="<?php echo $this->room->CodigoPostal ?>" type="hidden" name="codigoPostal" id="codigoPostal" />
            </div>
        </fieldset>
       
        <fieldset>
            <div class="legend"><i18n>ADD_ROOM_ADDITIONAL_INFO_ABOUT</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                    <div class="detalle"><label><i18n>LABEL_PROPERTY_TYPE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('tipoPropiedad',$this->room->TipoPropiedad, null, $this->tipoPropiedad) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_MAX_CAPACITY</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('maxCapacidad',$this->room->MaxCapacidad, null, $this->maxCapacidad) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_AVAILABLE_SPACES</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('espacioDisponible', $this->room->EspacioDisponible, null, $this->espacioDisponible) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_TYPE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('tipoCuarto', $this->room->TipoCuarto, null, $this->cuartoTengo) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_TYPE_BATH</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('tipoBano', $this->room->TipoBano, null, $this->banoTengo) ?>
                    </div>
                    <div>
                        <?php echo $this->formMultiCheckbox("benef", $this->benRoom, array("label_class"=>"beneficios"), $this->rsBen, "");?>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ROOM_ADDITIONAL_INFO_GENERAL</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                <div class="detalle">
                    <label><i18n>ADD_ROOM_BASIC_INFO_RENT</i18n> US$ <em>*</em></label><br/>
                    <input class="labelHighlight" type="input" alt="decimal" name="montoRenta" id="rentaUS" size="16" value="<?php echo ($this->isNew=="N")?number_format($this->room->MontoRenta,2):"" ?>" />
                </div>
                    <div class="detalle">
                        <label><i18n>LABEL_ROOM_INCLUDE_SERVICES</i18n></label><br/>
                        <input value="S" type="checkbox" name="incluyeServicio" id="servicio" <?php echo ($this->room->IncluyeServicio=="S")?"checked":"" ?> />
                    </div>
                <div class="detalle">
                    <label><i18n>ADD_ROOM_BASIC_INFO_SERVICE</i18n> US$ <em>*</em></label><br/>
                    <input class="labelHighlight" type="input" name="montoServicios" id="serviceUS" size="16"  value="<?php echo ($this->isNew=="N")?number_format($this->room->MontoServicios,2):"" ?>" />
                </div>
                <div class="detalle">
                    <label><i18n>ADD_ROOM_AVAILABLE_DATE</i18n> <em>*</em></label><br/>
                    <input class="labelHighlight" type="input" name="fechaDisponible" id="date" size="16"  value="<?php echo $this->room->FechaDisponible ?>" />
                </div>
                 <div class="detalle"><label><i18n>LABEL_ROOM_STAY_MONTHS</i18n>&#13;  <em>*</em></label>
                    <br />
                    <?php echo $this->formSelect('stayMonth', $this->room->EstanciaMinima, null, $this->estanciaMinima) ?>
                </div>
                <div class="detalle">
                    <label><i18n>ADD_ROOM_BASIC_INFO_SHORT_TERM</i18n></label><br/>
                    <input value="S" type="checkbox" name="cortoPlazo" id="cortoPlazo" <?php echo ($this->isNew=="N")?"checked":"" ?> />
                </div>
                </div>
            </div>
        </fieldset>
         <fieldset>
            <div class="legend"><i18n>ADD_ROOM_OCCUPIERS</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                    <div class="detalle"><label><i18n>LABEL_ROOM_MIN_AGE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('edadMinimaHabitan', $this->room->EdadMinimaHabitan, null, $this->minAgeRmt) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_MAX_AGE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('edadMaximaHabitan', $this->room->EdadMaximaHabitan, null, $this->maxAgeRmt) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_SMOKER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('fumadorTengo', $this->room->FumadorHabitan, null, $this->fumadorTengo) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_LANGUAGE</i18n> <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('idiomaTengo', $this->room->IdiomaHabitan, null, $this->idiomaTengo) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_OCCUPATION</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('ocupacionTengo', $this->room->OcupacionHabitan, null, $this->ocupacionTengo) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_GENDER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('generoTengo', $this->room->GeneroHabitan, null, $this->generoTengo) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_PET</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('mascotaTengo', $this->room->MascotaHabitan, null, $this->mascotaTengo) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_CHILDREN</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('hijosTengo', $this->room->HijosHabitan, null, $this->hijosTengo) ?>
                    </div>

                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="legend"><i18n>ADD_ROOM_ADDITIONAL_INFO_IDEAL_ROOMMATE</i18n></div>
            <div class="campos">
                <div class="alldetalles">
                    <div class="detalle"><label><i18n>LABEL_ROOM_GENDER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('generoAcepta', $this->room->GeneroAcepta, null, $this->generoAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_COUPLE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('parejaAcepta', $this->room->ParejaAcepta, null, $this->parejaAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_CHILDREN</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('ninosAcepta', $this->room->NinosAcepta, null, $this->ninosAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_PET</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('mascotaAcepta', $this->room->MascotaAcepta, null, $this->mascotaAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_SMOKER</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('fumadorAcepta', $this->room->FumadorAcepta, null, $this->fumadorAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_OCCUPATION</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('ocupacionAcepta', $this->room->OcupacionAcepta, null, $this->ocupacionAcepta) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_MIN_AGE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('edadMinimaAcepta', $this->room->EdadMinimaAcepta, null, $this->minAgeRmt) ?>
                    </div>
                    <div class="detalle"><label><i18n>LABEL_ROOM_MAX_AGE</i18n>&#13;  <em>*</em></label>
                        <br />
                        <?php echo $this->formSelect('edadMaximaAcepta', $this->room->EdadMaximaAcepta, null, $this->maxAgeRmt) ?>
                    </div>
                </div>
            </div>
        </fieldset>

       <?php $counterPhotos = 1; ?>
        <fieldset>
            <div class="legend"><i18n>ADD_ESTATE_PHOTOS_TITLE</i18n> <u>(<i18n>ADD_ESTATE_PHOTOS_RECOMMENDED</i18n>) <i18n>ADD_ESTATE_ADDITIONAL_INFO_FILE_SIZE_LIMIT</i18n></u></div>
            <div class="campos">
            <div class="filefield">
                <label><i18n>ADD_ESTATE_PHOTOS</i18n> <?php echo $counterPhotos ?> (<i18n>ADD_ESTATE_PHOTOS_MAIN</i18n>):</label><label><i18n>ADD_ESTATE_PHOTOS_DESCRIPTION</i18n>:</label>
                <br class="clear" />
                <?php
                $suffix = "New";
                $id = "";
                if(is_array($this->rsPhotos)) {
                    // Recuperar la foto principal
                    if(array_key_exists("princ", $this->rsPhotos)) {
                        $photoPrinc = $this->rsPhotos["princ"];
                        $descPrincipal = $photoPrinc->Comentario;
                        $id = $photoPrinc->RMTFotoID;
                        $path = "";
                        $suffix = "";
                    }
                }

                ?>
                <div class="block">
                        <img id="thumb" class="thumbedit" src="<?php if($id){ ?>/imagenrmt.php?id=<?php echo $id; ?>&tipo=2<?php }else{ ?>/img/<?php echo $this->language; ?>/ad_no_image.jpg<?php }?>" />
                        <div class="picture">                        
                            <label><i18n>ADD_ESTATE_PHOTOS</i18n> <?php echo $counterPhotos ?> (<i18n>ADD_ESTATE_PHOTOS_MAIN</i18n>):<em>*</em></label>
                            <input type="file" name="fprinc<?php echo $suffix.$id ?>" id="fprinc<?php echo $suffix.$id ?>" title="<?php echo $path; ?>" size="60">
                            <label><i18n>ADD_ESTATE_PHOTOS_DESCRIPTION</i18n>:</label>
                            <input type="text" name="fdescprinc" id="fdescprinc" value="<?php echo $descPrincipal; ?>">
                        </div>
                    </div>
                <br class="clear" />
                <?php
                // Mostrar las ya existentes
                if(is_array($this->rsPhotos)) {
                	if(isset($this->rsPhotos["otras"])){
	                    $otras = $this->rsPhotos["otras"];
	                    if(is_array($otras)) {
	                        foreach($otras as $otra) {
	                            $counterPhotos++
	                            ?>
	                            <div class="block">
	                                <img id="thumb" class="thumbedit" src="<?php if($otra->RMTFotoID){ ?>/imagenrmt.php?id=<?php echo $otra->RMTFotoID; ?>&tipo=2<?php }else{ ?>/img/<?php echo $this->language; ?>/ad_no_image.jpg<?php }?>" />
	                                <div class="picture">
	                                    <label><i18n>ADD_ESTATE_PHOTOS</i18n> <?php echo $counterPhotos ?>: </label>
	                                    <input type="file" name="fotra<?php echo $otra->RMTFotoID ?>" id="fotra<?php echo $i ?>" title="" size="60">
	                                    <label><i18n>ADD_ESTATE_PHOTOS_DESCRIPTION</i18n>:</label>
	                                    <input type="text" name="fdescotra[<?php echo $otra->RMTFotoID ?>]" id="fdescotra[<?php echo $otra->RMTFotoID ?>]" value="<?php echo $otra->Comentario ?>">
	                                </div>
	                            </div>
	                            <?php
	                        }
	                    }
                	}
                }
                // Mostrar las remanentes
                for($i=0; $i<$this->totalPhotos; $i++) {
                    $counterPhotos++
                    ?>
                    <img id="thumb" class="thumbedit" src="/img/<?php echo $this->language; ?>/ad_no_image.jpg" />
                    <div class="picture">
                        <label><i18n>ADD_ESTATE_PHOTOS</i18n> <?php echo $counterPhotos ?>: </label>
                        <input type="file" name="fotraNew<?php echo $i ?>" id="fotraNew<?php echo $i ?>" size="60">
                        <label><i18n>ADD_ESTATE_PHOTOS_DESCRIPTION</i18n>:</label>
                        <input type="text" name="fdescotra[new_<?php echo $i ?>]" id="fdescotra[new_<?php echo $i ?>]">
                    </div>
                    <?php }
                    unset ($counterPhotos) ?>
            </div>
            </div>
        </fieldset>
    </div>
    <?php
    if($this->isNew == "S"){
        ?><div class="terms"><input type="checkbox" name="chkTerms" id="chkTerms" value="Accept" /><label for="chkTerms"><i18n>ADD_ESTATE_AGREE_ACCEPT</i18n></label><a href="/documentos/termsuse" id="agreeLink"><i18n>ADD_ESTATE_AGREE_TERMS</i18n></a></div><?php
      }
?>
    <div class="button_group">
        <?php
            if($this->room->CodigoCuarto){
        ?>
        <a href="<?php echo $this->web_path .$this->url(array('controller'=>'roommates', 'action'=>'perfiltengo')) . "?valroom="  . $this->room->CodigoCuarto?>" target="_top" class="button" id="btPreview" name="btPreview"><i18n>ADD_ESTATE_PREVIEW</i18n></a>
        <?php
             }
        ?>
        <a href="noscript.html" onclick="return false;" class="button" id="btSaveDown" name="btSaveDown"><i18n>ADD_ESTATE_SAVE</i18n></a>
        <?php
        if($this->publicado == "S") {
            if($this->isPublicada == "1" and $this->room->CodigoCuarto) {
             ?>
                <div id="share" style="display: none;">
                    <?php
                        $mainPhoto = $this->url_path . "/img/". $this->language ."/ad_no_image.jpg";
                        $webChunkShare = "roommates/perfiltengo?valroom=";
                        if($this->rsPhotos && count($this->rsPhotos) >= 0) {
                            $mainPhoto = $this->url_path . "/imagenrmt.php?id=".$this->photoID."&tipo=" . Hm_Pro_Foto::$_PHOTO_TYPES["Principal"];
                        }
                    ?>
                    <a href="#" type="button" id="btnShare" name="btnShare"
                           caption="<?php echo $this->translate("ADD_ROOM_BASIC_INFO_RENT") . " " . $this->room->MontoRenta . " - " . $this->lTipoPropiedad; ?>"
                           description="<?php echo $this->room->Titulo ; ?>"
                           location=" <?php echo $this->room->Direccion ; ?>"
                           urlFbProperty="<?php  echo $this->web_path . "/" . $webChunkShare. $this->caractsCuarto[0]->ValorIdioma; ?>"
                           imageSrc="<?php echo $mainPhoto?>"
                           urlSrvProperty="<?php echo $this->web_path . "/" . $webChunkShare. $this->caractsCuarto[1]->ValorIdioma; ?>">Share</a>

                </div>
        <?php } ?>
            <a  href="#"  class="button" id="btSaveUnPubDown" name="btSaveUnPubDown"><i18n>ADD_ESTATE_SAVE_INACTIVE</i18n></a>
        <?php }
            else{
           ?>
                 <a href="#"  class="button" id="btSavePubDown" name="btSavePubDown"><i18n>ADD_ESTATE_SAVE_PUBLISH</i18n></a>
          <?php } ?>
        <br/>
    </div>
</form>
