<script>
    var signed = '<?php echo $_REQUEST['signed_request']; ?>';
</script>
<div class="clear"></div>
<div id="destacadas"></div>
<div class="clear"></div>
<div id="contenedor">
    <div id="filter">
        <form action="#" method="post" name="frmFgm" id="frmFgm">
            <div class="fila1_roommate">
                <div class="element left">
                    <strong><i18n>LABEL_SEARCH_ENTER_LOCATION</i18n>:</strong><br>
                    <input value="e.g. &quot;San Francisco, CA&quot;, &quot;94101&quot;, &quot;Cancun, México&quot;" name="dir" type="text" class="ubicacion labelHighlight" id="dir" size="24" onfocus="if(this.value=='e.g. &quot;San Francisco, CA&quot;, &quot;94101&quot;, &quot;Cancun, México&quot;') { this.value = '';} " />
                </div>
                <div class="element left"><br/>
                    <div id="buttons">
                        <a href="#" class="button" id="btnFgm" name="btnFgm" onclick="return false;" ondblclick="return false;">
                            <i18n>LABEL_SEARCH_MAPS</i18n>
                        </a>
                    </div>
                </div>
            <div class="left">
                <div id="fixed_price" class="element show left"><i18n>LABEL_SEARCH_FILTER_PRICE</i18n> (US$)<br/>
                        <select  name="price[min]" title="MIN" id="pricemin" style="width:70px;">
                            <option value="">Min</option>
                            <option value="200">200</option>
                            <option value="400">400</option>
                            <option value="600">600</option>
                            <option value="800">800</option>
                            <option value="1000">1,000</option>
                            <option value="1500">1,500</option>
                            <option value="2000">+2,000</option>
                        </select>
                        <select  name="price[max]" title="MAX" id="pricemax" style="width:70px;">
                            <option value="">Max</option>                       
                            <option value="200">200</option>
                            <option value="400">400</option>
                            <option value="600">600</option>
                            <option value="800">800</option>
                            <option value="1000">1,000</option>
                            <option value="1500">1,500</option>
                            <option value="2000">2,000</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div id="fixed_" class="clear"></div>
    </div>
<div class="clear"></div>
<div id="map"></div>
<div id="listado_propiedades">
    <div id="listado_header"><strong><i18n>LABEL_PROPERTY_RESULTS</i18n></strong><br/>
            <i18n>LABEL_PROPERTY_ACTION_USER</i18n></div>
    <div id="galery"></div>
</div>
<div class="clear"></div>
<div id="data"></div>
<div id="fotostream">
    <div class="linetitle">
        <table>
            <tr>
                <td nowrap="nowrap"><span><i18n>LABEL_SEARCH_FRIENDS_TITLE</i18n></span></td>
                <td width="100%" valign="bottom"><span class="line"></span></td>
                <td align="right" nowrap="nowrap" ><span><a href="<?php echo $this->web_path . $this->url(array('controller'=>'index', 'action'=>'showallfriends')) . "?" . $_SERVER["QUERY_STRING"]; ?>" target="_top"><i18n>LABEL_SEARCH_SEE_ALL</i18n> (<?php echo $this->totalAppUsers; ?>)</a></span></td>
            </tr>
        </table>
    </div>
    <div class="friendApp">
            <?php
            // @todo mejorar estilos y ajustar presentacion segun numero de elementos.
            if(is_array($this->appusers)) {
                $elements = count($this->appusers);
                $j = 0;
                foreach ($this->appusers as $k) {
                    if(!empty($k['pic_square'])) {
                        $foto = $k['pic_square'];
                    } else {
                        $foto = '/img/q_silhouette.gif';
                    }
                    if ($j == 8) {
                        break;
                    } else {
                      echo "<div>";
                      echo '<a href="'. $k['profile_url'].'" target="_parent"><img src="'. $foto .'" alt="'.iconv("UTF-8", "ISO-8859-1",$k['first_name'] .' '.$k['last_name']) .'" /><span>'.iconv("UTF-8", "ISO-8859-1",$k['first_name'] . ' ' .$k['last_name']) .'</span></a>';
                      echo "</div>";
                    }
                    $j = $j+1;

                }
            }

            ?>
    </div>
    <div class="clear" ></div>
</div>
</div>
