<div class="eligirbox" id="holderinquiry">
	<div class="pam uiBoxGray bottomborder">
		<div class="UIImageBlock_Content UIImageBlock_ICON_Content fsm fwn fcg infotext">
			<img src="/img/iconh.png" alt="Housemarket" height="16px" width="16px" class="hmlogo"/>
		</div>
		<i18n>LABEL_SEARCH_CUARTO</i18n>
	</div>
	<div id="loading" class="loading" style="display: none"></div>
	<div class="uiBoxGray blockbtn">
		<div class="btn tengocuartobtn">
			<img src="/img/tengo_cuarto.png" alt="<i18n>LABEL_TENGO_CUARTO</i18n>" height="124px" width="124px"/>
			<b id="<?php echo $this->urltengo?>"><i18n>LABEL_TENGO_CUARTO</i18n></b>
		</div>
		<div class="btn buscocuartobtn">
			
			<img src="/img/busco_cuarto.png" alt="<i18n>LABEL_SEARCH_CUARTO</i18n>" height="124px" width="124px"/>
			<b id="<?php echo $this->urlbusco ?>"><i18n>LABEL_SEARCH_CUARTO</i18n></b>
		</div>
		<div style="display: block; clear:both;" height="100px"></div>
	</div>
</div>
