<?php
//Se trae de la configuracion de la web a que apunta.
$config = Zend_Registry::get('config');
$urlLocal = $config['local_app_url'];
$webChunkShare = "roommates/perfiltengo?valroom=";
$signed_request = $_REQUEST['signed_request'];
$lang = Zend_Registry::get('language');
?>
<script>
    var codigo_cuarto = '<?php echo $_REQUEST['valroom'] ?>';
    var signed = '<?php echo $_REQUEST['signed_request']; ?>';
</script>
    <!--perfil-->
<div id="perfil">
    <div id="perfil">
        <div id="fb_left-column">
            <div id="fb_poster-info">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>">
                    <img  src="<?php echo $this->profile; ?>" alt="<?php echo $this->usernames; ?>" title="<?php echo $this->usernames; ?>" /></a> </div>
            <div class="box">
                <div class="fbtittle"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" ><?php echo $this->usernames; ?></a></div>
                <div id="fb_user-location" class="user-data">
                     <table class="table_section_info">
                        <?php echo $this->occupiers; ?>
                     </table>
                </div>
            </div>
            <div class="box">
                <div class="fbtittle">
                    <span><i18n>LABEL_ROOM_BROKERS_TITLE</i18n></span>
                </div>
                <div class="people clearfix">
                        <div id="allBrokers" class="people-pics">

                        </div>
               </div>
            </div>
            <div class="message-box">
                <b><i18n>REPORT_ABUSE_TITLE</i18n></b><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_ONE</i18n><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_TWO</i18n><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_THREE</i18n> <a href="#" onclick="getReportAbuse('<?php echo $this->fb_path .$webChunkShare. $this->IdProp; ?>');"><i18n>REPORT_ABUSE_BUTTON_REPORT</i18n></a>.
            </div>
        </div>
        <div id="fb_right-column">
            <div class="header">
                <table cellpadding="0" cellspacing="0"><tr>
                        <td width="100%"> <h3><?php echo $this->room->Titulo ; ?></h3></td><td align="right"  width="0%" nowrap="nowrap"><?php echo $this->botonesprop;?></td></tr></table>
                <h4><?php echo "<i18n>ADD_ROOM_BASIC_INFO_RENT</i18n> " . $this->currency->SimboloMoneda . number_format($this->room->MontoRenta, 2) . 
                        ' <abbr title="<i18n>ISO_4217_CURRENCY_CODE_'  .$this->currency->CodigoEstandar .'</i18n>">'
                . $this->currency->CodigoEstandar . ' </abbr>, ' . $this->servicesInRoom . " - " . $this->tipoAlojamiento; ?></h4>
                <div  class="clear"></div>
            </div>
            <?php
            $mainPhoto = $this->urlLocal . "/img/en/ad_no_image.jpg";
                if($this->photos && $this->photos->count() >= 0) {
                    $mainPhoto = $this->urlLocal . "imagenrmt.php?id=".$this->photos->current()->RMTFotoID."&tipo=" . Hm_Pro_Foto::$_PHOTO_TYPES["Principal"];
                    $thumbPhoto = $this->urlLocal . "imagenrmt.php?id=".$this->photos->current()->RMTFotoID."&tipo=" . Hm_Pro_Foto::$_PHOTO_TYPES["Galeria"];
                }
            ?>
            <div class="detail-actions message-box clearfix">
                <div class="likedv">
                    <?php
                    if (!empty($this->room->Correo)) {
                        $param = array();
                        $param['response'] = sprintf("%s%s%u", $this->fb_path, $webChunkShare, $this->room->CodigoCuarto);;
                        $param['ownid'] = $this->room->Uid;
                        $param['id'] = $this->room->CodigoCuarto;
                        $param['property'] = base64_encode($this->room->Titulo . " | "  . $this->room->Estado);
                        $param['photo'] = $thumbPhoto;
                        $param['location'] = base64_encode($this->room->Direccion);
                        ;
                        $params = base64_encode(json_encode($param));
                        ?>                    
                        <a href="/enlistar/sendinquiry?noframe=true&params=<?php echo $params; ?>&signed_request=<?php echo $signed_request; ?>" id="sendinquiry"><span class="button"><i18n>LABEL_IM_INTERESTED</i18n></span></a>
                        <?php } 
                        $urlshare = sprintf("%s%s%u", $config['fb_app_url'], $webChunkShare, $this->IdRoom);
                        $cd = (isset($this->room->Ciudad) && !empty($this->room->Ciudad)) ? $this->room->Ciudad : $this->room->Estado;
                        $contentb = "@hmapp: " . $this->room->Titulo . " | " . $this->currency->SimboloMoneda . number_format($this->room->MontoRenta, 2) . " " . $this->currency->CodigoEstandar . " | " . $cd . ", " . $this->room->ZipCode . ". \n\n ";
                        ?>
                </div>
                <div id="share">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?= $urlshare ?>" data-text="<?= $contentb; ?>" data-count="none" data-lang="<?php echo $lang; ?>" >Tweet</a>
                    <a href="#" type="button" id="perfilShare" name="btnShare"
                       title="<i18n>LABEL_TO</i18n> <?php echo $this->logged_in_user['name']; ?> <i18n>MSG_RMT_SHARE_TITLE_PERFIL</i18n>"
                       caption="<a href='<?php echo $this->fb_path . $webChunkShare. $this->IdRoom; ?>'><?php echo $this->room->Titulo; ?></a>"
                       description="<?php echo $this->translate("LABEL_FOR") . " " . $this->translate("ADD_ROOM_BASIC_INFO_RENT") . " " . $this->currency->SimboloMoneda  . number_format($this->room->MontoRenta, 2) . " " . $this->currency->CodigoEstandar . ", " . $this->servicesInRoom; ?>"
                       location=" <?php echo  $this->translate("LABEL_LOCATED_IN") . ": " .  $this->room->Direccion; ?>"
                       urlFbProperty="<?php echo $this->fb_path . $webChunkShare. $this->IdRoom; ?>"
                       imageSrc="<?php echo $mainPhoto?>"
                       urlSrvProperty="<?php echo $this->fb_path . $webChunkShare. $this->IdRoom; ?>"
                       conditions="<?php echo $this->translate("LABEL_ROOM_STAY_MONTHS"). ": " . $this->room->EstanciaMinima ." | "  .  $this->translate("ADD_ROOM_AVAILABLE_DATE") . ": " . $this->room->FechaDisponible; ?>">
                        <img src="/img/share.png" alt="<i18n>PROFILE_SHARE_BUTTON</i18n>"/>
                    </a>
                </div>&nbsp;
                <?php if($this->showResponde) { ?>
                <div id="responde">
                    <a id="btnResponde" href="#" code="<?php echo $this->IdRoom; ?>"><i18n>PROFILE_RESPONDE_BUTTON</i18n></a>
                </div>
                <?php } ?>
                <div class="poster-contact">
                </div>
            </div>
            <!-- Comienza el cambio en el manejo de fotos hecho a la pagina -->
            <?php if($this->photos) { ?>
            <div id='page'>
                <div id='container'>
                    <!-- Start Advanced Gallery Html Containers -->
                    <div id='gallery' class='content'>
                        <div id='controls' class='controls'></div>
                        <div class='slideshow-container'>
                            <div id='loading' class='loader'></div>
                            <div id='slideshow' class='slideshow'></div>
                        </div>
                        <div id='caption' class='caption-container'></div>
                    </div>
                    <div id='thumbs' class='navigation'>
                        <ul class='thumbs noscript'><?php
                            foreach($this->photos as $photo) {
                                ?><li>
                                <a class='thumb' name='leaf' href='/imagenrmt.php?id=<?php echo $photo["RMTFotoID"]?>&tipo=<?php echo Hm_Pro_Foto::$_PHOTO_TYPES["Principal"] ?>'>
                                    <img src='/imagenrmt.php?id=<?php echo $photo["RMTFotoID"] ?>&tipo=<?php echo Hm_Pro_Foto::$_PHOTO_TYPES["Galeria"] ?>'/>
                                </a>
                                <div class='caption'>
                                    <div class='image-desc'><?php echo $photo["Comentario"]; ?></div>
                                </div>
                            </li><?php
                                }
                                ?></ul>
                    </div>
                    <div style='clear: both;'></div>
                </div>
            </div>
                <?php }else { ?>
            <div id='no-image'><img src='/img/no_img_full.gif' width='529' height='362' /></div>
            <?php }?>
        <div id="detalle">
             <?php
                if($this->room->Descripcion!="") {?>
                    <div class="fbtittle  table_description"><i18n>ADD_ESTATE_ADDITIONAL_INFO_DESCRIPTION</i18n></div>
                    <p>
                        <?    echo $this->room->Descripcion; ?>
                     </p>
               <?php }
             ?>

            <div class="column1">
                <div class="fbtittle table_description"><i18n>ADD_ROOM_ADDITIONAL_INFO_ABOUT</i18n></div>
                <?php echo $this->caracteristicas; ?>
            </div>
            <div class="column2">
               <div class="fbtittle table_description"><i18n>ADD_ROOM_ADDITIONAL_INFO_IDEAL_ROOMMATE</i18n></div>
               <?php echo $this->roommates; ?>
            </div>
            <div class="clear"></div>
            <div class="fbtittle table_description"><i18n>LABEL_LOCATED_IN</i18n>:</div>
            <p>
           <?php
                echo $this->addressRoom;
            ?>
            </p>
            <div id="mapsearch"></div>
        </div><!-- Fin div detalles -->
        </div><!-- Fin div fb_right-column -->
    </div> <!-- Fin div perfil segundo -->
    <div class="clear"></div>
 </div> <!-- Fin div perfil primero -->
 <div class="clear"></div>
                   <!-- <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span> -->
        <input name="zip_code" type="hidden" id="zip_code" style="height:0px;" />
        <input name="latitud" type="hidden" id="latitud" style="height:0px;" />
        <input name="longitud" type="hidden" id="longitud" style="height:0px;"/>
        <input name="userid" type="hidden" id="userid" value="<?=$this->uid?>"/>
        <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
