<?php
//Se trae de la configuracion de la web a que apunta.
$config = Zend_Registry::get('config');
$webChunkShare = "roommates/perfilbusco?valroommate=";
$lang = Zend_Registry::get('language');
?>
<script>
    var actual_roommate = '<?php echo $_REQUEST['valroommate'] ?>';
    var signed = '<?php echo $_REQUEST['signed_request']; ?>';
</script>
    <!--perfil-->
<div id="perfil">
    <div id="perfil">
        <div id="fb_left-column">
            <div id="fb_poster-info">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>">
                    <img  src="<?php echo $this->profile; ?>" alt="<?php echo $this->usernames; ?>" title="<?php echo $this->usernames; ?>" /></a> </div>
            <div class="box">
                <div class="fbtittle"><a target="_blank" href="https://www.facebook.com/profile.php?id=<?php echo $this->uid; ?>" ><?php echo $this->usernames; ?></a></div>
                <div id="fb_user-location" class="user-data">
                    <table class="table_section_info">
                            <?php echo $this->personalInfo; ?>
                         </table>
                </div>
            </div>
            
            <div class="box">
                <div class="fbtittle">
                    <span><i18n>LABEL_RMT_BROKERS_TITLE</i18n></span>
                </div>
                <div class="people clearfix">                        
                        <div id="allBrokers" class="people-pics">

                        </div>
               </div>
            </div>
            <div class="message-box">
                <b><i18n>REPORT_ABUSE_TITLE</i18n></b><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_ONE</i18n><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_TWO</i18n><br />
                <em>*</em> <i18n>REPORT_ABUSE_ADVISE_THREE</i18n> <a href="#" onclick="getReportAbuse('<?php echo $this->fb_path .$webChunkShare. $this->IdRoommate; ?>');"><i18n>REPORT_ABUSE_BUTTON_REPORT</i18n></a>.
            </div>
        </div>
        <div id="fb_right-column">
            <div class="header">
                <table cellpadding="0" cellspacing="0"><tr>
                        <td width="100%"> <h3><?php echo $this->roommate->Titulo ; ?></h3></td><td align="right"  width="0%" nowrap="nowrap"><?php echo $this->botonesprop;?></td></tr></table>
                <h4><?php echo "<i18n>LABEL_RMT_GENERAL_INFO_RENT</i18n> " . $this->currency->SimboloMoneda  . number_format($this->roommate->MontoRenta, 2) .  ' 
                    <abbr title="<i18n>ISO_4217_CURRENCY_CODE_'. $this->currency->CodigoEstandar . '</i18n>">'
                . $this->currency->CodigoEstandar . " </abbr> - " . $this->tipoBusqueda ?></h4>
                <div  class="clear"></div>
            </div>
            <div class="detail-actions message-box clearfix">
                <div class="likedv">
                    <?php
                    if (!empty($this->roommate->Correo)) {
                        $param = array();
                        $param['response'] = sprintf("%s%s%u", $this->fb_path, $webChunkShare, $this->roommate->CodigoRoommate);;
                        $param['ownid'] = $this->roommate->Uid;
                        $param['id'] = $this->roommate->CodigoRoommate;
                        $param['property'] = base64_encode($this->roommate->Titulo . " | "  . $this->roommate->Estado);
                        $param['location'] = base64_encode($this->roommate->Direccion);
                        $param['origin'] = "roommate";
                        $params = base64_encode(json_encode($param));
                        ?>                    
                        <a href="/enlistar/sendinquiry?noframe=true&params=<?php echo $params; ?>&signed_request=<?php echo $_REQUEST['signed_request'] ; ?>" id="sendinquiry"><span class="button"><i18n>LABEL_IM_INTERESTED</i18n></span></a>
                        <?php } 
                        $urlshare = sprintf("%s%s%u", $config['fb_app_url'], $webChunkShare, $this->roommate->CodigoRoommate);
                        $cd = (isset($this->roommate->Ciudad) && !empty($this->roommate->Ciudad)) ? $this->roommate->Ciudad : $this->roommate->Estado;
                        $contentb = "@hmapp: " . $this->roommate->Titulo . " | " . $this->currency->SimboloMoneda . number_format($this->roommate->MontoRenta, 2) . " " . $this->currency->CodigoEstandar . " | " . $cd . ", " . $this->roommate->ZipCode . ". \n\n ";
                        ?>
                </div>
                <div id="share">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?= $urlshare ?>" data-text="<?= $contentb; ?>" data-count="none" data-lang="<?php echo $lang; ?>" >Tweet</a>
                    <a href="#" type="button" id="perfilShare" name="btnShare"
                       title="<i18n>LABEL_TO</i18n> <?php echo $this->logged_in_user['name']; ?> <i18n>MSG_RMT_SHARE_TITLE_PERFIL</i18n>"
                       caption="<?php echo $this->roommate->Titulo . " - " .   $this->translate("LABEL_RMT_GENERAL_INFO_RENT") . " " . $this->currency->SimboloMoneda  . number_format($this->roommate->MontoRenta, 2) . " " . $this->currency->CodigoEstandar;?>"
                       description="<?php echo $this->translate("LABEL_ROOM_STAY_MONTHS"). ": " . $this->roommate->EstanciaMinima ." | "  .  $this->translate("LABEL_RMT_DATE_CHANGE") . ": " . $this->roommate->FechaMudanza; ?>"
                       location="<?php echo $this->translate("LABEL_SEARCH_IN_MAP"). ": " .  $this->roommate->Direccion; ?>"
                       urlFbProperty="<?php echo $this->fb_path . $webChunkShare. $this->roommate->CodigoRoommate; ?>"
                       imageSrc="<?php echo $this->urlLocal?>housemarketlogo.jpg"
                       urlSrvProperty="<?php echo $this->fb_path . $webChunkShare. $this->roommate->CodigoRoommate; ?>"
                       ><img src="/img/share.png" alt="<i18n>PROFILE_SHARE_BUTTON</i18n>"
                       /></a>
                </div>
                <?php if($this->showResponde) { ?>
                <div id="responde">
                    <a id="btnResponde" href="#" code="<?php echo $this->roommate->CodigoRoommate; ?>"><i18n>PROFILE_RESPONDE_BUTTON</i18n></a>
                </div>
                <?php } ?>
                <div class="poster-contact">
                </div>
            </div>
       <div id="detalle">
             <?php
                if($this->roommate->Descripcion!="") {?>
                    <div class="fbtittle table_description"><i18n>ADD_ESTATE_ADDITIONAL_INFO_DESCRIPTION</i18n></div>
                    <p>
                        <?    echo $this->roommate->Descripcion; ?>
                     </p>
               <?php }
             ?>
             <div class="column1">
                <div class="fbtittle table_description"><i18n>ADD_ROOM_ADDITIONAL_INFO_IDEAL_ROOMMATE</i18n>:</div>
                <?php echo $this->idealRoommate; ?>
            </div>
            <div class="column2">
                <div class="fbtittle table_description"><i18n>ADD_ROOM_ADDITIONAL_INFO_IDEAL_ROOM</i18n>:</div>
                <?php echo $this->idealRoom; ?>
            </div>
            <div class="clear"></div>
            <div class="fbtittle table_description"><i18n>LABEL_SEARCH_IN_MAP</i18n>:</div>
            <p>
            <?php
                echo $this->addressRoommate;
            ?>
            </p>
            <div id="mapsearch"></div>
        </div><!-- Fin div detalles -->
       <!-- <fb:comments xid="109002199131499<?php echo $this->IdRoommate; ?>"
                     send_notification_uid="<?php echo $this->uid; ?>"
                     canpost="true"
                     url="<?php echo $this->fb_path . $webChunkShare. $this->IdRoommate; ?>"
                     showform="true"
                     numposts="2"
                     reverse="true"
                     css="<?php echo $this->urlLocal; ?>/css/fb_comments.css">
            <fb:title><div class="fbtittle"><i18n>LABEL_PROPERTY_COMMENT</i18n></div></fb:title>
        </fb:comments> -->
        </div><!-- Fin div fb_right-column -->
    </div> <!-- Fin div perfil segundo -->
    <div class="clear"></div>
 </div> <!-- Fin div perfil primero -->
 <div class="clear"></div>
                   <!-- <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span> -->
        <input name="zip_code" type="hidden" id="zip_code" style="height:0px;" />
        <input name="latitud" type="hidden" id="latitud" style="height:0px;" />
        <input name="longitud" type="hidden" id="longitud" style="height:0px;"/>
        <input name="userid" type="hidden" id="userid" value="<?=$this->uid?>"/>
        <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
