<link href="/administrador/css/search.css" rel="stylesheet" type="text/css" />
<script src="<?php echo $this->web_path; ?>/js/clientes.js" charset="ISO-8859-1" type="text/javascript"></script>

<?php if(isset($this->message)){?>
<div><?php echo $this->message;?></div>
<?php }?>
<a href="/administrador/index.php/servedor/clearcache" class="button" id="crebt" name="crebt">Clear Cache</a>