<?php
//Zend_Debug::dump($this->messages);
if(count($this->messages) > 0) :
?>
<div class="flash_msg">
    <?php
    $msg = $this->messages;
    echo '<ul>';
    foreach ($msg as $m) {
        echo '<li>' . $this->escape($m) . '</li>';
    }
    echo '</ul>';
    ?>
</div>
<?php endif; ?>
<?php
echo $this->form;
?>